Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/helpers/search_helper.rb
  spec/helpers/search_helper_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  app/helpers/search_helper.rb
  spec/helpers/search_helper_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/jira_connect/subscriptions/components/group_item_name.vue
  app/presenters/import/pending_reassignment_alert_presenter.rb
  app/services/bulk_imports/create_service.rb
  app/uploaders/pages/deployment_uploader.rb
  app/views/projects/settings/slacks/edit.html.haml
  config/feature_flags/beta/bulk_import_importer_user_mapping.yml
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  doc/api/repository_files.md
  doc/api/snippets.md
  doc/update/versions/gitlab_18_changes.md
  doc/user/group/import/direct_transfer_migrations.md
  doc/user/group/import/migrated_items.md
  doc/user/project/import/_index.md
  lib/event_filter.rb
  lib/gitlab/data_builder/pipeline.rb
  lib/gitlab/database/capture/storage.rb
  lib/gitlab/database/capture/storage_connectors/gcs.rb
  lib/gitlab/database/capture/storage_connectors/local.rb
  qa/qa/specs/features/browser_ui/1_manage/migration/gitlab_migration_user_contribution_reassignment_spec.rb
  spec/frontend/jira_connect/subscriptions/components/__snapshots__/group_item_name_spec.js.snap
  spec/lib/event_filter_spec.rb
  spec/lib/gitlab/data_builder/pipeline_spec.rb
  spec/lib/gitlab/database/capture/storage_connectors/gcs_spec.rb
  spec/lib/gitlab/database/capture/storage_spec.rb
  spec/presenters/import/pending_reassignment_alert_presenter_spec.rb
  spec/services/bulk_imports/create_service_spec.rb
  spec/tooling/danger/stable_branch_spec.rb
  tooling/danger/stable_branch.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/assets/javascripts/security_configuration/index.js
  app/assets/javascripts/whats_new/components/featured_carousel.vue
  app/assets/javascripts/wikis/wiki_notes/components/wiki_discussion_locked.vue
  app/assets/javascripts/wikis/wiki_notes/index.js
  app/assets/stylesheets/components/featured_card_component.scss
  app/models/cells.rb
  app/models/cells/outstanding_lease.rb
  app/models/concerns/use_sql_function_for_primary_key_lookups.rb
  app/policies/wiki_page_policy.rb
  app/views/projects/security/configuration/show.html.haml
  app/views/shared/wikis/show.html.haml
  config/bounded_contexts.yml
  db/docs/cells_outstanding_leases.yml
  db/migrate/20250902170829_create_cells_outstanding_leases.rb
  db/schema_migrations/20250902170829
  db/structure.sql
  doc/api/graphql/reference/_index.md
  doc/api/openapi/openapi_v2.yaml
  doc/api/rest/_index.md
  doc/ci/yaml/_index.md
  doc/development/fe_guide/accessibility/_index.md
  doc/development/fe_guide/accessibility/feature_tests.md
  lib/api/files.rb
  lib/api/helpers/snippets_helpers.rb
  lib/api/submodules.rb
  locale/gitlab.pot
  spec/features/whats_new_spec.rb
  spec/frontend/security_configuration/mock_data.js
  spec/frontend/whats_new/components/featured_carousel_spec.js
  spec/frontend/wikis/notes/components/wiki_discussion_locked_spec.js
  spec/views/shared/wikis/show.html.haml_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  qa/gdk/Dockerfile.gdk
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  scripts/release_environment/update_merge_requests_label.rb
  spec/scripts/release_environment/update_merge_requests_label_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  spec/tooling/danger/stable_branch_spec.rb
  tooling/danger/stable_branch.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  spec/tooling/danger/stable_branch_spec.rb
  tooling/danger/stable_branch.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/graphql/resolvers/namespaces/shared_groups_resolver.rb
  app/graphql/types/namespaces/group_sort_enum.rb
  app/models/concerns/import/has_import_source.rb
  app/services/observability/access_request_service.rb
  app/workers/gitlab/jira_import/import_issue_worker.rb
  doc/api/graphql/reference/_index.md
  lib/gitlab/database/collation_checker.rb
  lib/gitlab/database/repair_index.rb
  lib/gitlab/jira_import/issue_serializer.rb
  locale/gitlab.pot
  spec/graphql/types/namespaces/group_sort_enum_spec.rb
  spec/lib/gitlab/jira_import/issue_serializer_spec.rb
  spec/requests/api/graphql/current_user/groups_query_spec.rb
  spec/requests/api/graphql/group/shared_groups_spec.rb
  spec/services/observability/access_request_service_spec.rb
  spec/workers/gitlab/jira_import/import_issue_worker_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  vendor/gems/gitlab-duo-workflow-service-client/Gemfile.lock
  vendor/gems/gitlab-duo-workflow-service-client/lib/gitlab/duo_workflow_service/version.rb
  vendor/gems/gitlab-duo-workflow-service-client/lib/proto/contract/contract_pb.rb
  vendor/gems/gitlab-duo-workflow-service-client/lib/proto/contract/contract_services_pb.rb
  vendor/gems/gitlab-duo-workflow-service-client/lib/proto/contract_pb.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/issues/list/index.js
  app/assets/javascripts/pages/projects/shared/permissions/components/gitlab_duo_settings.vue
  app/assets/javascripts/work_items/components/work_item_detail.vue
  app/assets/javascripts/work_items/index.js
  app/helpers/projects_helper.rb
  app/models/group.rb
  db/docs/batched_background_migrations/delete_twitter_identities.yml
  db/post_migrate/20250908232216_finalize_hk_delete_twitter_identities.rb
  db/post_migrate/20250911201452_add_multi_parent_constraint_on_notes.rb
  db/schema_migrations/20250908232216
  db/schema_migrations/20250911201452
  db/structure.sql
  doc/administration/gitlab_duo_self_hosted/configure_duo_features.md
  doc/administration/gitlab_duo_self_hosted/supported_models_and_hardware_requirements.md
  doc/api/openapi/openapi_v2.yaml
  doc/api/projects.md
  doc/user/compliance/audit_events.md
  doc/user/duo_agent_platform/_index.md
  doc/user/duo_agent_platform/flows/_index.md
  doc/user/duo_agent_platform/flows/convert_to_gitlab_ci.md
  doc/user/duo_agent_platform/flows/issue_to_mr.md
  doc/user/duo_agent_platform/troubleshooting.md
  doc/user/gitlab_duo/turn_on_off.md
  locale/gitlab.pot
  package.json
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
  spec/frontend/pages/projects/shared/permissions/components/gitlab_duo_settings_spec.js
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
  spec/frontend/work_items/router_spec.js
  spec/lib/gitlab/background_migration/backfill_note_discussion_id_spec.rb
  spec/lib/gitlab/background_migration/backfill_resource_link_events_spec.rb
  spec/lib/gitlab/markdown_cache/active_record/extension_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  app/assets/javascripts/ci/common/pipelines_table.vue
  app/assets/javascripts/homepage/components/greeting_header.vue
  app/assets/javascripts/work_items/components/work_item_detail.vue
  app/assets/stylesheets/framework/application-chrome.scss
  app/graphql/types/group_type.rb
  app/graphql/types/project_type.rb
  config/application_setting_columns/help_page_documentation_base_url.yml
  config/application_setting_columns/prevent_merge_requests_author_approval.yml
  config/application_setting_columns/push_event_hooks_limit.yml
  config/application_setting_columns/remember_me_enabled.yml
  config/application_setting_columns/security_and_compliance_settings.yml
  config/application_setting_columns/usage_ping_generation_enabled.yml
  config/application_setting_columns/workspaces_oauth_application_id.yml
  doc/api/graphql/reference/_index.md
  doc/development/cells/application_settings_analysis.md
  doc/development/documentation/styleguide/img/admin_access_level_v15_9.png
  doc/development/documentation/styleguide/word_list.md
  doc/integration/advanced_search/elasticsearch.md
  doc/update/upgrade_paths.md
  doc/user/discussions/_index.md
  locale/gitlab.pot
  package.json
  spec/graphql/types/group_type_spec.rb
  spec/graphql/types/project_type_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/uploaders/pages/deployment_uploader.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  app/assets/javascripts/ci/pipeline_new/components/pipeline_variables_form.vue
  spec/frontend/ci/pipeline_new/components/pipeline_variables_form_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  scripts/release_environment/update_merge_requests_label.rb
  spec/scripts/release_environment/update_merge_requests_label_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  app/uploaders/pages/deployment_uploader.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  scripts/release_environment/update_merge_requests_label.rb
  spec/scripts/release_environment/update_merge_requests_label_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  .gitlab/lint/unused_helper_methods/potential_methods_to_remove.yml
  .gitlab/lint/unused_methods/excluded_methods.yml
  .gitlab/lint/unused_methods/potential_methods_to_remove.yml
  app/assets/javascripts/ci/common/pipelines_table.vue
  app/assets/javascripts/vue_shared/components/markdown/markdown_editor.vue
  app/assets/javascripts/vue_shared/components/markdown/toolbar.vue
  app/assets/stylesheets/framework/ds_experiments.scss
  app/services/ci/retry_job_service.rb
  doc/administration/settings/slack_app.md
  doc/administration/settings/vscode_extension_marketplace.md
  doc/api/graphql/reference/_index.md
  doc/editor_extensions/gitlab_cli/_index.md
  doc/user/enterprise_user/_index.md
  doc/user/gitlab_duo/model_selection.md
  doc/user/group/saml_sso/_index.md
  doc/user/profile/preferences.md
  doc/user/project/import/_index.md
  doc/user/project/integrations/gitlab_slack_app_troubleshooting.md
  doc/user/project/integrations/gitlab_slack_application.md
  doc/user/project/web_ide/_index.md
  doc/user/workspace/_index.md
  locale/gitlab.pot
  package.json
  scripts/lint/unused_methods.rb
  spec/dot_gitlab_ci/rules_spec.rb
  spec/services/ci/retry_job_service_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  Gemfile.next.checksum
  Gemfile.next.lock
  app/assets/javascripts/ci/job_details/job_app.vue
  app/assets/javascripts/diffs/components/diff_stats.vue
  app/assets/javascripts/super_sidebar/super_sidebar_bundle.js
  app/assets/stylesheets/page_bundles/build.scss
  app/graphql/resolvers/concerns/resolves_groups.rb
  app/models/namespace_setting.rb
  app/views/projects/diffs/_file.html.haml
  config/authz/permissions/definitions_todo.txt
  config/authz/permissions/subgroup_epic/read.yml
  doc/api/settings.md
  doc/editor_extensions/gitlab_cli/_index.md
  doc/user/workspace/_index.md
  lib/banzai/filter/references/label_reference_filter.rb
  locale/gitlab.pot
  spec/features/admin/admin_groups_spec.rb
  spec/lib/banzai/filter/references/label_reference_filter_spec.rb
  spec/requests/api/graphql/groups_query_spec.rb
  spec/support/shared_examples/requests/api/graphql/groups_query_examples.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/models/ci/build.rb
  app/models/ci/build_metadata.rb
  config/feature_flags/gitlab_com_derisk/ci_use_new_job_update_timeout_state.yml
  spec/lib/gitlab/database/repair_index_spec.rb
  spec/models/ci/build_metadata_spec.rb
  spec/models/ci/build_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/integration/advanced_search/elasticsearch.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  scripts/duo_workflows/run-smoke-test-suite.sh
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/super_sidebar/components/flyout_menu.vue
  app/assets/javascripts/super_sidebar/components/nav_item.vue
  app/helpers/application_helper.rb
  doc/api/personal_access_tokens.md
  doc/api/service_accounts.md
  doc/user/profile/account/two_factor_authentication_troubleshooting.md
  doc/user/profile/personal_access_tokens.md
  doc/user/profile/user_passwords.md
  lib/gitlab/ci/parsers/sbom/cyclonedx.rb
  spec/frontend/super_sidebar/components/flyout_menu_spec.js
  spec/lib/gitlab/ci/parsers/sbom/cyclonedx_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/ci/runner_manager.rb
  app/validators/json_schemas/ci_runner_labels.json
  db/migrate/20250826152430_add_labels_to_ci_runner_machines.rb
  db/schema_migrations/20250826152430
  db/structure.sql
  doc/api/graphql/reference/_index.md
  doc/api/openapi/openapi_v2.yaml
  doc/development/definition_of_done.md
  lib/api/ci/helpers/runner.rb
  lib/api/ci/runner.rb
  spec/models/ci/runner_manager_spec.rb
  spec/requests/api/ci/runner/jobs_request_post_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  doc/api/graphql/reference/_index.md
  locale/gitlab.pot
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  lib/gitlab/database/schema_cleaner.rb
  spec/fixtures/gitlab/database/structure_example.sql
  spec/lib/gitlab/database/schema_cleaner_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  app/components/layouts/page_heading_component.haml
  app/models/integrations/gitlab_slack_application.rb
  app/services/concerns/integrations/propagation/bulk_operation_hashes.rb
  app/services/integrations/propagation/bulk_create_service.rb
  app/services/integrations/propagation/bulk_update_service.rb
  app/views/shared/integrations/gitlab_slack_application/_slack_integration_form.html.haml
  app/views/shared/issuable/form/_metadata_issuable_assignee.html.haml
  doc/api/openapi/openapi_v2.yaml
  doc/api/projects.md
  lib/api/entities/project.rb
  lib/api/helpers/projects_helpers.rb
  lib/gitlab/slash_commands/global_slack_handler.rb
  locale/gitlab.pot
  package.json
  spec/features/admin/integrations/admin_manages_gitlab_for_slack_app_spec.rb
  spec/features/groups/integrations/user_manages_gitlab_for_slack_app_spec.rb
  spec/features/projects/settings/slack_application_spec.rb
  spec/lib/api/entities/project_spec.rb
  spec/lib/gitlab/slash_commands/global_slack_handler_spec.rb
  spec/requests/api/project_attributes.yml
  spec/requests/api/projects_spec.rb
  spec/services/integrations/propagation/bulk_update_service_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  app/assets/javascripts/super_sidebar/super_sidebar_collapsed_state_manager.js
  app/assets/javascripts/work_items/components/work_item_breadcrumb.vue
  app/controllers/graphql_controller.rb
  app/controllers/projects/issues_controller.rb
  config/feature_flags/gitlab_com_derisk/mcp_server_new_implementation.yml
  config/initializers/health_check.rb
  db/docs/audit_events_streaming_http_instance_namespace_filters.yml
  doc/administration/dedicated/releases.md
  doc/administration/moderate_users.md
  doc/architecture/blueprints/cloud_connector/_index.md
  doc/architecture/blueprints/cloud_connector/decisions/001_lb_entry_point.md
  doc/ci/jobs/fine_grained_permissions.md
  doc/development/ai_features/_index.md
  doc/development/cloud_connector/_index.md
  doc/development/cloud_connector/architecture.md
  doc/development/cloud_connector/configuration.md
  doc/user/gitlab_duo/model_selection.md
  lib/api/api.rb
  lib/api/mcp/base.rb
  lib/api/mcp/server.rb
  lib/tasks/ci/job_tokens_task.rb
  scripts/decomposition/generate-loose-foreign-key
  spec/controllers/graphql_controller_spec.rb
  spec/features/admin/admin_health_check_spec.rb
  spec/features/boards/issue_ordering_spec.rb
  spec/features/work_items/detail/work_item_detail_spec.rb
  spec/frontend/work_items/components/work_item_breadcrumb_spec.js
  spec/lib/gitlab/database/no_cross_db_foreign_keys_spec.rb
  spec/requests/api/mcp/base_spec.rb
  spec/requests/api/mcp/handlers/call_tool_request_spec.rb
  spec/requests/api/mcp/handlers/call_tool_spec.rb
  spec/requests/api/mcp/handlers/list_tools_request_spec.rb
  spec/requests/api/mcp/handlers/list_tools_spec.rb
  spec/requests/api/mcp/server_spec.rb
  spec/requests/projects/issues_controller_spec.rb
  spec/tasks/ci/job_tokens_task_spec.rb
  tooling/ci/job_tokens/docs/templates/fine_grained_permissions.md.erb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  app/uploaders/pages/deployment_uploader.rb
Due: none
