Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

cng-helm-cache:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}-kubectl-${KUBECTL_VERSION}-helm-${HELM_VERSION}-kind-${KIND_VERSIO
  ...

gdk-instance-gitaly-transactions:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}
  stage: test
  services:
  ...

verify_lockfile:
  stage: test
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.7.2-git-2.29-lfs-2.9-node-12.18-yarn-1.22-graphicsmagick-1.3.34
  needs: []
  script:
  - npm config set @dappelt:registry https://gitlab.com/api/v4/projects/22564149/packages/npm/
  ...

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/projects/settings/components/branch_rule_modal.vue
  app/graphql/mutations/ci/project_ci_cd_settings_update.rb
  app/graphql/types/ci/ci_cd_setting_type.rb
  app/models/project.rb
  app/models/project_ci_cd_setting.rb
  db/migrate/20250804161406_add_display_pipeline_variables_to_project_ci_cd_settings.rb
  db/post_migrate/20250805184424_validate_ci_job_artifacts_exposed_as_text_constraint.rb
  db/schema_migrations/20250804161406
  db/schema_migrations/20250805184424
  db/structure.sql
  doc/administration/settings/git_http_rate_limits.md
  doc/api/graphql/reference/_index.md
  doc/ci/secrets/aws_secrets_manager.md
  doc/development/exact_code_search.md
  doc/user/application_security/policies/merge_request_approval_policies.md
  lib/gitlab/quick_actions/spend_time_and_date_separator.rb
  locale/gitlab.pot
  spec/graphql/types/ci/ci_cd_setting_type_spec.rb
  spec/models/project_ci_cd_setting_spec.rb
  spec/models/project_spec.rb
  spec/requests/api/graphql/ci/ci_cd_setting_spec.rb
  spec/requests/api/graphql/mutations/ci/project_ci_cd_settings_update_spec.rb
  spec/requests/api/project_attributes.yml
  spec/services/quick_actions/interpret_service_spec.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/packages_and_registries/package_registry/components/list/package_list_row.vue
  app/assets/javascripts/work_items/components/work_item_by_email.vue
  app/assets/javascripts/work_items/components/work_item_metadata_provider.vue
  app/assets/javascripts/work_items/graphql/namespace_regenerate_new_work_item_email_address.mutation.graphql
  app/assets/javascripts/work_items/graphql/work_item_metadata.query.graphql
  app/assets/javascripts/work_items/pages/work_items_list_app.vue
  app/graphql/types/namespaces/link_paths.rb
  doc/administration/troubleshooting/diagnostics_tools.md
  doc/api/graphql/reference/_index.md
  doc/development/organization/_index.md
  locale/gitlab.pot
  spec/features/work_items/list/user_resets_their_incoming_email_token_spec.rb
  spec/frontend/packages_and_registries/package_registry/components/list/package_list_row_spec.js
  spec/frontend/work_items/components/work_item_by_email_spec.js
  spec/frontend/work_items/list/components/work_items_list_app_spec.js
  spec/support/shared_examples/graphql/types/namespaces/link_paths_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/assets/javascripts/admin/groups/index/constants.js
  app/assets/javascripts/admin/groups/index/graphql/fragments/admin_group.fragment.graphql
  app/assets/javascripts/admin/groups/index/graphql/queries/groups.query.graphql
  app/assets/javascripts/admin/projects/index/constants.js
  app/assets/javascripts/groups/your_work/graphql/queries/groups.query.graphql
  app/assets/javascripts/groups/your_work/graphql/utils.js
  app/assets/javascripts/groups/your_work/utils.js
  app/assets/javascripts/vue_shared/components/groups_list/formatter.js
  app/assets/javascripts/vue_shared/components/projects_list/formatter.js
  spec/frontend/admin/groups/index/components/app_spec.js
  spec/frontend/admin/projects/index/components/app_spec.js
  spec/frontend/fixtures/admin.rb
  spec/frontend/groups/your_work/components/app_spec.js
  spec/frontend/groups/your_work/graphql/resolvers_spec.js
  spec/frontend/groups/your_work/utils_spec.js
  spec/frontend/projects/your_work/components/app_spec.js
  spec/frontend/vue_shared/components/groups_list/formatter_spec.js
  spec/frontend/vue_shared/components/groups_list/group_list_item_actions_spec.js
  spec/frontend/vue_shared/components/groups_list/groups_list_item_spec.js
  spec/frontend/vue_shared/components/groups_list/mock_data.js
  spec/frontend/vue_shared/components/projects_list/formatter_spec.js
  spec/frontend/vue_shared/components/resource_lists/list_item_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/assets/javascripts/ide/lib/gitlab_web_ide/get_web_ide_workbench_config.js
  doc/user/project/web_ide/_index.md
  package.json
  qa/qa/page/project/web_ide/vscode.rb
  spec/frontend/ide/lib/gitlab_web_ide/get_web_ide_workbench_config_spec.js
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  tooling/danger/stable_branch.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  app/controllers/projects/runners_controller.rb
  app/models/chat_name.rb
  spec/controllers/projects/runners_controller_spec.rb
  spec/models/chat_name_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  app/controllers/projects/runners_controller.rb
  app/models/chat_name.rb
  spec/controllers/projects/runners_controller_spec.rb
  spec/models/chat_name_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-2-stable-ee
  app/controllers/projects/runners_controller.rb
  app/models/chat_name.rb
  spec/controllers/projects/runners_controller_spec.rb
  spec/models/chat_name_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  app/models/application_setting.rb
  app/models/application_setting_implementation.rb
  app/models/ci/pipeline.rb
  config/application_setting_columns/wiki_page_max_content_bytes.yml
  db/migrate/20250729233543_update_wiki_page_max_content_bytes_to_5_megabytes.rb
  db/post_migrate/20250729233545_change_wiki_page_max_content_bytes_default_to_5_megabytes.rb
  db/schema_migrations/20250729233543
  db/schema_migrations/20250729233545
  db/structure.sql
  doc/administration/wikis/_index.md
  doc/api/settings.md
  lib/api/ci/helpers/runner.rb
  lib/gitlab/ci/jwt.rb
  lib/gitlab/ci/jwt_v2.rb
  spec/lib/gitlab/ci/jwt_spec.rb
  spec/lib/gitlab/ci/jwt_v2_spec.rb
  spec/models/application_setting_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/requests/api/ci/runner/jobs_artifacts_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  app/assets/javascripts/blob/viewer/index.js
  app/assets/javascripts/code_navigation/utils/dom_utils.js
  app/models/group.rb
  app/models/release.rb
  app/policies/group_policy.rb
  app/policies/project_policy.rb
  doc/user/permissions.md
  lib/api/issues.rb
  spec/frontend/code_navigation/utils/index_spec.js
  spec/models/release_spec.rb
  spec/policies/group_policy_spec.rb
  spec/requests/api/graphql/mutations/work_items/delete_spec.rb
  spec/requests/api/issues/issues_spec.rb
  spec/services/work_items/delete_service_spec.rb
  spec/support/shared_contexts/policies/group_policy_shared_context.rb
  spec/support/shared_contexts/policies/project_policy_shared_context.rb
  spec/support/shared_examples/policies/group_level_work_items_shared_examples.rb
  spec/support/shared_examples/policies/project_level_work_items_shared_examples.rb
  spec/support/shared_examples/policies/project_policy_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/assets/javascripts/repository/components/header_area/breadcrumbs.vue
  spec/frontend/repository/components/header_area/breadcrumbs_spec.js
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  .gitlab/ci/rules.gitlab-ci.yml
  app/assets/javascripts/work_items/components/work_item_title.vue
  app/models/application_setting.rb
  app/models/application_setting_implementation.rb
  app/models/ci/pipeline.rb
  config/application_setting_columns/wiki_page_max_content_bytes.yml
  db/migrate/20250729233543_update_wiki_page_max_content_bytes_to_5_megabytes.rb
  db/post_migrate/20250729233545_change_wiki_page_max_content_bytes_default_to_5_megabytes.rb
  db/schema_migrations/20250729233543
  db/schema_migrations/20250729233545
  db/structure.sql
  doc/administration/wikis/_index.md
  doc/api/settings.md
  lib/api/ci/helpers/runner.rb
  lib/gitlab/ci/jwt.rb
  lib/gitlab/ci/jwt_v2.rb
  spec/frontend/work_items/components/work_item_title_spec.js
  spec/lib/gitlab/ci/jwt_spec.rb
  spec/lib/gitlab/ci/jwt_v2_spec.rb
  spec/models/application_setting_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/requests/api/ci/runner/jobs_artifacts_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  app/assets/javascripts/blob/viewer/index.js
  app/assets/javascripts/code_navigation/utils/dom_utils.js
  app/models/group.rb
  app/models/release.rb
  app/policies/group_policy.rb
  app/policies/project_policy.rb
  doc/user/permissions.md
  lib/api/issues.rb
  spec/frontend/code_navigation/utils/index_spec.js
  spec/models/release_spec.rb
  spec/policies/group_policy_spec.rb
  spec/requests/api/graphql/mutations/work_items/delete_spec.rb
  spec/requests/api/issues/issues_spec.rb
  spec/services/work_items/delete_service_spec.rb
  spec/support/shared_contexts/policies/group_policy_shared_context.rb
  spec/support/shared_contexts/policies/project_policy_shared_context.rb
  spec/support/shared_examples/policies/group_level_work_items_shared_examples.rb
  spec/support/shared_examples/policies/project_level_work_items_shared_examples.rb
  spec/support/shared_examples/policies/project_policy_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Group-Stage-Category-Change.md
  .rubocop_todo/layout/array_alignment.yml
  app/assets/javascripts/lib/apollo/instrumentation_link.js
  app/assets/javascripts/usage_quotas/components/usage_quotas_app.vue
  app/assets/javascripts/usage_quotas/import/tab_metadata.js
  app/assets/javascripts/usage_quotas/storage/utils.js
  app/assets/javascripts/wikis/wiki_notes/components/wiki_comment_form.vue
  app/assets/javascripts/wikis/wiki_notes/components/wiki_note.vue
  app/assets/stylesheets/page_bundles/notes/_timeline.scss
  app/serializers/group_child_entity.rb
  doc/administration/dedicated/hosted_runners.md
  doc/administration/gitaly/img/disk_iops_read_v18_2.png
  doc/administration/gitaly/img/disk_iops_write_v18_2.png
  doc/solutions/components/img/jira_dora_creation_flow_v18_1.png
  doc/solutions/components/img/jira_dora_resolution_flow_v18_1.png
  doc/topics/runner_fleet_design_guides/img/metrics_v18_2.png
  doc/update/background_migrations_troubleshooting.md
  doc/update/package/downgrade.md
  doc/update/package/package_troubleshooting.md
  doc/update/troubleshooting_and_rolling_back.md
  qa/qa/tools/ci/pipeline_creator.rb
  qa/spec/tools/ci/pipeline_creator_spec.rb
  spec/frontend/lib/apollo/instrumentation_link_spec.js
  spec/frontend/usage_quotas/components/usage_quotas_app_spec.js
  spec/frontend/usage_quotas/mock_data.js
  spec/serializers/group_child_entity_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  app/assets/javascripts/repository/commits_service.js
  app/assets/javascripts/repository/utils/url_utility.js
  spec/frontend/repository/commits_service_spec.js
  spec/frontend/repository/utils/url_utility_spec.js
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@18-2-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  app/assets/javascripts/repository/commits_service.js
  app/assets/javascripts/repository/utils/url_utility.js
  spec/frontend/repository/commits_service_spec.js
  spec/frontend/repository/utils/url_utility_spec.js
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/assets/javascripts/repository/commits_service.js
  app/assets/javascripts/repository/utils/url_utility.js
  spec/frontend/repository/commits_service_spec.js
  spec/frontend/repository/utils/url_utility_spec.js
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-0-stable-ee
  tooling/danger/stable_branch.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  tooling/danger/stable_branch.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  tooling/danger/stable_branch.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  tooling/danger/stable_branch.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rules.gitlab-ci.yml
  app/assets/javascripts/admin/projects/index/graphql/queries/projects.query.graphql
  app/assets/javascripts/graphql_shared/fragments/project.fragment.graphql
  app/assets/javascripts/graphql_shared/fragments/project_fragment.fragment.graphql
  app/assets/javascripts/organizations/shared/graphql/queries/projects.query.graphql
  app/assets/javascripts/pages/admin/projects/index/components/delete_project_modal.vue
  app/assets/javascripts/pages/admin/projects/index/index.js
  app/assets/javascripts/projects/your_work/graphql/queries/projects.query.graphql
  app/assets/javascripts/projects/your_work/graphql/queries/user_projects.query.graphql
  app/assets/javascripts/vue_shared/components/projects_list/formatter.js
  app/assets/javascripts/vue_shared/components/projects_list/projects_list_item.vue
  app/controllers/admin/projects_controller.rb
  app/graphql/resolvers/projects_resolver.rb
  app/graphql/types/project_type.rb
  app/graphql/types/projects/project_interface.rb
  app/services/observability/access_request_service.rb
  app/views/admin/projects/_projects.html.haml
  app/views/admin/projects/index.html.haml
  config/feature_flags/beta/admin_projects_vue.yml
  doc/api/graphql/reference/_index.md
  doc/user/application_security/policies/enforcement/compliance_and_security_policy_groups.md
  doc/user/application_security/vulnerabilities/validity_check.md
  doc/user/enterprise_user/_index.md
  doc/user/storage_usage_quotas.md
  locale/gitlab.pot
  package.json
  spec/controllers/admin/projects_controller_spec.rb
  spec/features/admin/admin_projects_spec.rb
  spec/features/admin/admin_sees_projects_statistics_spec.rb
  spec/graphql/types/projects/project_interface_spec.rb
  spec/requests/groups/observability/access_requests_spec.rb
  spec/services/observability/access_request_service_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/glql/components/presenters/field.vue
  spec/frontend/glql/mock_data.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/release-environments/security.gitlab-ci.yml
  config/events/authenticate_to_ldap_with_git_over_https_when_prevent_ldap_sign_in_is_enabled.yml
  config/metrics/counts_all/count_total_authenticate_to_ldap_with_git_over_https_when_prevent_ldap_sign_in_is_enabled.yml
  db/docs/projects.yml
  lib/gitlab/auth.rb
  scripts/release_environment/update_merge_requests_label.rb
  spec/lib/gitlab/auth_spec.rb
  spec/scripts/release_environment/update_merge_requests_label_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/assets/javascripts/batch_comments/components/review_drawer.vue
  app/views/projects/merge_requests/_page.html.haml
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/clusters_list/components/clusters.vue
  app/assets/javascripts/deployments/components/deployment_header.vue
  app/assets/javascripts/vue_shared/components/resizable_chart/skeleton_loader.vue
  app/assets/javascripts/work_items/components/work_item_sticky_header.vue
  app/controllers/projects/deployments_controller.rb
  db/click_house/migrate/main/20250622120000_migrate_ai_events_to_ai_usage_events.rb
  doc/user/project/repository/mirror/_index.md
  locale/gitlab.pot
  package.json
  spec/controllers/projects/deployments_controller_spec.rb
  spec/features/projects/pipelines/pipelines_spec.rb
  yarn.lock
Due: verify_lockfile

Path conditions:
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock
