Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/vue_merge_request_widget/components/deployment/constants.js
  app/assets/javascripts/vue_merge_request_widget/components/deployment/deployment.vue
  app/assets/stylesheets/framework/application-chrome.scss
  app/helpers/application_helper.rb
  app/models/concerns/ci/metadatable.rb
  app/serializers/environment_status_entity.rb
  doc/api/merge_requests.md
  doc/development/code_review.md
  doc/development/documentation/testing/_index.md
  doc/user/project/repository/mirror/push.md
  locale/gitlab.pot
  spec/frontend/vue_merge_request_widget/deployment/deployment_spec.js
  spec/helpers/application_helper_spec.rb
  spec/models/concerns/ci/metadatable_spec.rb
  spec/serializers/environment_status_entity_spec.rb
  spec/tooling/danger/batched_background_migration_modification_checks_helper_spec.rb
  tooling/danger/batched_background_migration_modification_checks_helper.rb
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@18-4-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  lib/gitlab/database/load_balancing/host.rb
  spec/lib/gitlab/database/load_balancing/host_list_spec.rb
  spec/lib/gitlab/database/load_balancing/host_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-3-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-2-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
  app/graphql/resolvers/blobs_resolver.rb
  app/graphql/types/repository/blob_type.rb
  app/policies/ci/build_policy.rb
  app/presenters/blob_presenter.rb
  config/initializers/net_http.rb
  gems/gitlab-http/lib/gitlab/http_v2/exceptions.rb
  lib/gitlab/http.rb
  lib/gitlab/json/stream_validator.rb
  lib/gitlab/logging/json_metadata_helper.rb
  lib/gitlab/middleware/json_validation.rb
  spec/graphql/resolvers/blobs_resolver_spec.rb
  spec/graphql/types/repository/blob_type_spec.rb
  spec/initializers/net_http_spec.rb
  spec/lib/gitlab/json/stream_validator_spec.rb
  spec/lib/gitlab/logging/json_metadata_helper_spec.rb
  spec/lib/gitlab/middleware/json_validation_spec.rb
  spec/policies/ci/build_policy_spec.rb
  spec/presenters/blob_presenter_spec.rb
  spec/requests/api/graphql/project/repository/blobs_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  app/models/wiki.rb
  spec/support/shared_examples/models/wiki_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  app/models/concerns/integrations/base/integration.rb
  app/models/integrations/gitlab_slack_application.rb
  app/models/slack_integration.rb
  app/services/integrations/slack_installation/instance_service.rb
  spec/models/integration_spec.rb
  spec/models/integrations/gitlab_slack_application_spec.rb
  spec/models/slack_integration_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  app/models/namespaces/preloaders/namespace_root_ancestor_preloader.rb
  spec/models/namespaces/preloaders/namespace_root_ancestor_preloader_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  app/models/namespaces/preloaders/namespace_root_ancestor_preloader.rb
  spec/models/namespaces/preloaders/namespace_root_ancestor_preloader_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  app/models/namespaces/preloaders/namespace_root_ancestor_preloader.rb
  spec/models/namespaces/preloaders/namespace_root_ancestor_preloader_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  app/models/integrations/gitlab_slack_application.rb
  app/services/concerns/integrations/propagation/bulk_operation_hashes.rb
  app/services/integrations/propagation/bulk_create_service.rb
  app/services/integrations/propagation/bulk_update_service.rb
  app/views/shared/integrations/gitlab_slack_application/_slack_integration_form.html.haml
  lib/gitlab/slash_commands/global_slack_handler.rb
  locale/gitlab.pot
  spec/features/admin/integrations/admin_manages_gitlab_for_slack_app_spec.rb
  spec/features/groups/integrations/user_manages_gitlab_for_slack_app_spec.rb
  spec/features/projects/settings/slack_application_spec.rb
  spec/lib/gitlab/slash_commands/global_slack_handler_spec.rb
  spec/services/integrations/propagation/bulk_update_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  GITLAB_PAGES_VERSION
  app/assets/javascripts/security_configuration/components/pipeline_secret_detection_feature_card.vue
  app/services/personal_access_tokens/create_service.rb
  app/services/work_items/data_sync/handlers/notes/copy_service.rb
  config/events/collect_ds_analyzer_scan_java_sr_coverage_metrics_from_pipeline.yml
  db/post_migrate/20251006203434_add_system_note_metadata_organization_id_index_sync.rb
  db/post_migrate/20251006203435_add_system_note_metadata_namespace_id_index_sync.rb
  db/post_migrate/20251006204042_add_system_note_metadata_organization_id_foreign_key.rb
  db/post_migrate/20251006204111_add_system_note_metadata_namespace_id_foreign_key.rb
  db/schema_migrations/20251006203434
  db/schema_migrations/20251006203435
  db/schema_migrations/20251006204042
  db/schema_migrations/20251006204111
  db/structure.sql
  doc/api/graphql/reference/_index.md
  doc/api/saml.md
  doc/user/application_security/vulnerabilities/validity_check.md
  lib/gitlab/auth.rb
  locale/gitlab.pot
  package.json
  spec/db/schema_spec.rb
  spec/frontend/security_configuration/components/pipeline_secret_detection_feature_card_spec.js
  spec/lib/gitlab/auth_spec.rb
  spec/requests/openid_connect_spec.rb
  spec/services/personal_access_tokens/create_service_spec.rb
  spec/services/work_items/data_sync/handlers/notes/copy_service_spec.rb
  spec/support/shared_examples/requests/applications_controller_shared_examples.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/gitlab/bounded_contexts.yml
  .rubocop_todo/search/namespaced_class.yml
  app/assets/javascripts/vue_shared/components/resource_lists/list_item_description.vue
  app/assets/javascripts/work_items/graphql/cache_utils.js
  app/assets/stylesheets/framework/application-chrome.scss
  app/models/plan_limits.rb
  app/models/user.rb
  doc/administration/gitaly/praefect/_index.md
  doc/administration/instance_limits.md
  doc/api/job_artifacts.md
  doc/api/openapi/openapi_v2.yaml
  doc/ci/jobs/ci_job_token.md
  doc/user/application_security/continuous_vulnerability_scanning/_index.md
  lib/api/admin/plan_limits.rb
  lib/api/entities/plan_limit.rb
  lib/gitlab/usage_data_counters/ci_template_unique_counter.rb
  lib/observability/o11y_provisioning_client.rb
  locale/gitlab.pot
  spec/frontend/vue_shared/components/groups_list/groups_list_item_spec.js
  spec/frontend/vue_shared/components/projects_list/projects_list_item_spec.js
  spec/frontend/vue_shared/components/resource_lists/list_item_description_spec.js
  spec/frontend/vue_shared/components/resource_lists/list_item_spec.js
  spec/frontend/work_items/mock_data.js
  spec/lib/api/entities/plan_limit_spec.rb
  spec/lib/observability/o11y_provisioning_client_spec.rb
  spec/models/plan_limits_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/admin/plan_limits_spec.rb
  spec/services/admin/plan_limits/update_service_spec.rb
  spec/support/shared_examples/features/mr_analytics_dashboard_shared_examples.rb
  spec/workers/observability/create_group_o11y_setting_worker_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/gitlab/bounded_contexts.yml
  .rubocop_todo/rspec/no_expectation_example.yml
  .rubocop_todo/style/class_and_module_children.yml
  .rubocop_todo/style/guard_clause.yml
  .rubocop_todo/style/if_unless_modifier.yml
  .rubocop_todo/style/inline_disable_annotation.yml
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  app/assets/javascripts/analytics/shared/components/metric_popover.vue
  config/authz/permissions/admin_data_management/read.yml
  db/migrate/20251004114941_add_index_to_virtual_registries_container_cache_entries.rb
  db/schema_migrations/20251004114941
  db/structure.sql
  doc/api/graphql/assign_gitlab_duo_seats.md
  doc/user/gitlab_com/_index.md
  lib/banzai/filter/escaped_char_filter.rb
  lib/banzai/filter/markdown_engines/glfm_markdown.rb
  lib/banzai/filter/references/merge_request_reference_filter.rb
  lib/banzai/pipeline/gfm_pipeline.rb
  lib/gitlab/cycle_analytics/summary/deployment_frequency.rb
  locale/gitlab.pot
  scripts/frontend/jest_ci.js
  spec/frontend/analytics/shared/components/metric_popover_spec.js
  spec/frontend/analytics/shared/mock_data.js
  spec/lib/banzai/filter/escaped_char_filter_spec.rb
  spec/lib/banzai/filter/markdown_engines/glfm_markdown_spec.rb
  spec/lib/banzai/filter/references/merge_request_reference_filter_spec.rb
  spec/support/rspec_order_todo.yml
Due: none

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  .rubocop_todo/lint/constant_definition_in_block.yml
  .rubocop_todo/rspec/example_without_description.yml
  .rubocop_todo/rspec/receive_messages.yml
  lib/api/search.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  package.json
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  doc/user/application_security/dependency_scanning/static_reachability.md
  doc/user/application_security/sast/clangsa.md
  doc/user/application_security/sast/gitlab_advanced_sast.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/gitlab/rspec/misplaced_ee_spec_file.yml
  .rubocop_todo/layout/line_end_string_concatenation_indentation.yml
  .rubocop_todo/layout/line_length.yml
  .rubocop_todo/rspec/be_eq.yml
  .rubocop_todo/rspec/context_wording.yml
  .rubocop_todo/rspec/named_subject.yml
  .rubocop_todo/rspec/pending_without_reason.yml
  .rubocop_todo/rspec/receive_messages.yml
  .rubocop_todo/rspec/return_from_stub.yml
  .rubocop_todo/rspec/verified_doubles.yml
  .rubocop_todo/style/if_unless_modifier.yml
  doc/user/application_security/api_fuzzing/_index.md
  doc/user/application_security/secret_detection/secret_push_protection/_index.md
  spec/support/rspec_order_todo.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab-ci.yml
  .gitlab/ci/as-if-foss.gitlab-ci.yml
  .gitlab/ci/rails.gitlab-ci.yml
  .gitlab/ci/rails/rspec-predictive.gitlab-ci.yml.erb
  .gitlab/ci/rules.gitlab-ci.yml
  app/assets/javascripts/analytics/shared/constants.js
  app/assets/stylesheets/framework/application-chrome.scss
  app/views/layouts/_page.html.haml
  app/views/layouts/nav/_top_bar.html.haml
  config/feature_flags/beta/mirroring_lfs_optimization.yml
  config/feature_flags/gitlab_com_derisk/auto_spp_public_com_projects.yml
  config/feature_flags/gitlab_com_derisk/maven_packages_unauthorized_with_public_registries.yml
  doc-locale/ja-jp/administration/_index.md
  doc-locale/ja-jp/api/_index.md
  doc-locale/ja-jp/api/members.md
  doc-locale/ja-jp/ci/pipelines/pipeline_security.md
  doc-locale/ja-jp/install/docker/_index.md
  doc-locale/ja-jp/install/docker/upgrade.md
  doc-locale/ja-jp/install/installation.md
  doc-locale/ja-jp/subscriptions/_index.md
  doc-locale/ja-jp/topics/build_your_application.md
  doc/api/project_pull_mirroring.md
  doc/user/application_security/sast/cpp_advanced_sast.md
  doc/user/application_security/sast/gitlab_advanced_sast.md
  doc/user/project/import/_index.md
  lib/api/maven_packages.rb
  lib/gitlab/ci/templates/Jobs/SAST.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/SAST.latest.gitlab-ci.yml
  locale/gitlab.pot
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
  spec/requests/api/maven_packages_spec.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  app/models/concerns/encrypted_user_password.rb
  app/models/user.rb
  spec/models/concerns/encrypted_user_password_spec.rb
  spec/models/user_spec.rb
  vendor/gems/devise-pbkdf2-encryptable/lib/devise/models/two_factor_backupable_pbkdf2.rb
  vendor/gems/devise-pbkdf2-encryptable/lib/devise/pbkdf2_encryptable/model.rb
  vendor/gems/devise-pbkdf2-encryptable/spec/lib/models/two_factor_backupable_pbkdf2_spec.rb
  vendor/gems/devise-pbkdf2-encryptable/spec/lib/pbkdf2_encryptable/model_spec.rb
Due: none
