Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

cng-helm-cache:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/${BUILD_OS}-${OS_VERSION}-ruby-${RUBY_VERSION}:git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}-kubectl-${KUBECTL_VERSION}-helm-${HELM_VERSION}-kind-${KIND_VERSION}
  stage: test
  needs:
  - build-cng
  ...

gdk-instance-gitaly-transactions:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}
  stage: test
  services:
  ...

verify_lockfile:
  stage: test
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.7.2-git-2.29-lfs-2.9-node-12.18-yarn-1.22-graphicsmagick-1.3.34
  needs: []
  script:
  - npm config set @dappelt:registry https://gitlab.com/api/v4/projects/22564149/packages/npm/
  ...

Add latest changes from gitlab-org/gitlab@17-11-stable-ee
  .gitlab/ci/rules.gitlab-ci.yml
  scripts/build_qa_image
Due: none

Add latest changes from gitlab-org/gitlab@18-0-stable-ee
  .gitlab/ci/rules.gitlab-ci.yml
  scripts/build_qa_image
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  app/assets/javascripts/persistent_user_callout.js
  app/assets/javascripts/super_sidebar/components/user_menu.vue
  app/assets/javascripts/vue_shared/access_tokens/components/access_token.vue
  app/assets/javascripts/vue_shared/access_tokens/components/access_token_form.vue
  app/assets/stylesheets/components/upload_dropzone/upload_dropzone.scss
  app/assets/stylesheets/page_bundles/merge_request.scss
  app/assets/stylesheets/page_bundles/merge_request_creation_rapid_diffs.scss
  app/helpers/search_helper.rb
  app/services/search/project_service.rb
  app/services/search_service.rb
  db/docs/batched_background_migrations/backfill_archived_and_traversal_ids_to_vulnerability_statistics.yml
  db/post_migrate/20250620051921_requeue_backfill_archived_and_traversal_ids_to_vulnerability_statistics_again.rb
  doc/administration/dedicated/configure_instance/users_notifications.md
  doc/api/protected_environments.md
  doc/security/tokens/_index.md
  doc/user/permissions.md
  lib/gitlab/project_search_results.rb
  locale/gitlab.pot
  qa/qa/page/component/access_tokens.rb
  scripts/frontend/quarantined_vue3_specs.txt
  spec/frontend/persistent_user_callout_spec.js
  spec/frontend/super_sidebar/components/user_menu_spec.js
  spec/frontend/vue_shared/access_tokens/components/access_token_spec.js
  spec/lib/gitlab/project_search_results_spec.rb
  spec/migrations/20250620051921_requeue_backfill_archived_and_traversal_ids_to_vulnerability_statistics_again_spec.rb
  spec/support/helpers/features/access_token_helpers.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  app/assets/javascripts/vue_shared/access_tokens/components/access_token.vue
  app/assets/javascripts/vue_shared/access_tokens/components/access_token_form.vue
  qa/qa/page/component/access_tokens.rb
  spec/frontend/vue_shared/access_tokens/components/access_token_spec.js
  spec/support/helpers/features/access_token_helpers.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .eslint_todo/vue-no-unused-properties.mjs
  app/assets/javascripts/homepage/components/merge_requests_widget.vue
  app/assets/javascripts/notebook/cells/output/error.vue
  app/assets/javascripts/notebook/cells/prompt.vue
  app/assets/javascripts/notes/components/note_header.vue
  app/assets/javascripts/vue_shared/components/time_ago_tooltip.vue
  app/views/projects/milestones/show.html.haml
  db/docs/batched_background_migrations/backfill_requirements_management_test_reports_project_id.yml
  db/migrate/20250617212113_remove_new_epic_worker_job_instances.rb
  db/post_migrate/20250620171734_finalize_backfill_requirements_management_test_reports_project_id.rb
  db/schema_migrations/20250617212113
  db/schema_migrations/20250620171734
  doc/development/token_authenticatable.md
  doc/install/requirements.md
  doc/solutions/components/_index.md
  doc/solutions/components/guide_on_sod.md
  doc/update/versions/gitlab_17_changes.md
  doc/update/versions/gitlab_18_changes.md
  locale/gitlab.pot
  package.json
  scripts/mlops/run-smoke-test-suite.sh
  scripts/remote_development/run-smoke-test-suite.sh
  spec/frontend/design_management/components/list/__snapshots__/item_spec.js.snap
  spec/frontend/homepage/components/merge_requests_widget_spec.js
  spec/frontend/notebook/cells/output/error_spec.js
  spec/frontend/notes/components/note_header_spec.js
  spec/frontend/repository/components/table/__snapshots__/row_spec.js.snap
  spec/frontend/work_items/components/design_management/__snapshots__/design_item_spec.js.snap
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  app/assets/javascripts/ai/catalog/ai_catalog_app.vue
  app/assets/javascripts/ai/catalog/components/ai_catalog_nav_tabs.vue
  app/assets/javascripts/ai/catalog/graphql/ai_catalog_agents.query.graphql
  app/assets/javascripts/ai/catalog/graphql/user_workflows.query.graphql
  app/assets/javascripts/ai/catalog/index.js
  app/assets/javascripts/ai/catalog/pages/ai_catalog_agents.vue
  app/assets/javascripts/ai/catalog/pages/ai_catalog_index.vue
  app/assets/javascripts/ai/catalog/router/constants.js
  app/assets/javascripts/ai/catalog/router/index.js
  app/assets/javascripts/content_editor/extensions/task_item.js
  app/assets/javascripts/feature_flags/components/feature_flags_table.vue
  app/assets/javascripts/import_entities/import_groups/components/import_table.vue
  app/assets/javascripts/issues/dashboard/components/issues_dashboard_app.vue
  app/assets/javascripts/issues/dashboard/index.js
  app/assets/stylesheets/framework/typography.scss
  app/helpers/issues_helper.rb
  db/migrate/20250617210028_remove_validate_epic_work_items_sync_worker_job_instances.rb
  db/schema_migrations/20250617210028
  doc/development/integrations/secure.md
  doc/development/integrations/secure_partner_integration.md
  doc/user/application_security/continuous_vulnerability_scanning/_index.md
  doc/user/application_security/dependency_scanning/_index.md
  doc/user/application_security/dependency_scanning/dependency_scanning_sbom/_index.md
  doc/user/application_security/dependency_scanning/static_reachability.md
  doc/user/application_security/detect/roll_out_security_scanning.md
  doc/user/application_security/get-started-security.md
  doc/user/application_security/offline_deployments/_index.md
  doc/user/compliance/license_scanning_of_cyclonedx_files/_index.md
  locale/gitlab.pot
  spec/frontend/ai/catalog/components/ai_catalog_nav_tabs_spec.js
  spec/frontend/ai/catalog/pages/ai_catalog_agents_spec.js
  spec/frontend/ai/catalog/pages/ai_catalog_index_spec.js
  spec/frontend/content_editor/extensions/task_item_spec.js
  spec/frontend/issues/dashboard/components/issues_dashboard_app_spec.js
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/helpers/merge_requests_helper.rb
  app/models/resource_label_event.rb
  app/models/user.rb
  config/feature_flags/gitlab_com_derisk/merge_request_dashboard_author_or_assignee.yml
  lib/tasks/gitlab/click_house/migration.rake
  lib/tasks/gitlab/click_house/schema.rake
  locale/gitlab.pot
  spec/models/user_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@17-11-stable-ee
  app/assets/javascripts/members/components/table/drawer/utils.js
  app/validators/certificate_fingerprint_validator.rb
  lib/api/markdown_uploads.rb
  locale/gitlab.pot
  spec/frontend/members/components/table/drawer/utils_spec.js
  spec/requests/api/markdown_uploads_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  app/assets/javascripts/members/components/table/drawer/utils.js
  app/validators/certificate_fingerprint_validator.rb
  lib/api/markdown_uploads.rb
  locale/gitlab.pot
  spec/frontend/members/components/table/drawer/utils_spec.js
  spec/requests/api/markdown_uploads_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  app/assets/javascripts/members/components/table/drawer/utils.js
  app/policies/work_item_policy.rb
  app/validators/certificate_fingerprint_validator.rb
  lib/api/markdown_uploads.rb
  locale/gitlab.pot
  spec/frontend/members/components/table/drawer/utils_spec.js
  spec/policies/work_item_policy_spec.rb
  spec/requests/api/graphql/mutations/work_items/update_spec.rb
  spec/requests/api/markdown_uploads_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  app/policies/work_item_policy.rb
  spec/policies/work_item_policy_spec.rb
  spec/requests/api/graphql/mutations/work_items/update_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@17-11-stable-ee
  app/policies/work_item_policy.rb
  spec/policies/work_item_policy_spec.rb
  spec/requests/api/graphql/mutations/work_items/update_spec.rb
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@17-11-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci/pipeline_editor/components/job_assistant_drawer/accordion_items/rules_item.vue
  app/assets/javascripts/pages/import/bulk_imports/history/components/bulk_imports_history_app.vue
  app/assets/javascripts/work_items/components/work_item_notes.vue
  config/events/e2e_tests_selected_for_execution_gitlab_pipeline.yml
  doc/user/workspace/_index.md
  locale/gitlab.pot
  package.json
  qa/tasks/ci.rake
  scripts/frontend/quarantined_vue3_specs.txt
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@17-11-stable-ee
  qa/qa/specs/features/browser_ui/4_verify/ci_components_catalog/release_with_glab_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-0-stable-ee
  qa/qa/specs/features/browser_ui/4_verify/ci_components_catalog/release_with_glab_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  qa/qa/specs/features/browser_ui/4_verify/ci_components_catalog/release_with_glab_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-0-stable-ee
  qa/qa/specs/features/browser_ui/4_verify/ci_components_catalog/release_with_glab_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@17-11-stable-ee
  qa/qa/specs/features/browser_ui/4_verify/ci_components_catalog/release_with_glab_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  Gemfile.next.checksum
  Gemfile.next.lock
  app/assets/javascripts/pages/projects/blob/show/index.js
  app/assets/javascripts/wikis/wiki_notes/components/note_actions.vue
  app/helpers/blob_helper.rb
  app/views/projects/blob/_blob.html.haml
  doc/.vale/gitlab_base/Uppercase.yml
  doc/user/application_security/sast/_index.md
  doc/user/compliance/compliance_frameworks/compliance_standards.md
  gems/gitlab-backup-cli/Gemfile.lock
  gems/gitlab-backup-cli/gitlab-backup-cli.gemspec
  locale/gitlab.pot
  package.json
  spec/frontend/wikis/notes/components/note_actions_spec.js
  spec/helpers/blob_helper_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  spec/lib/gitlab/legacy_github_import/user_formatter_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-0-stable-ee
  spec/lib/gitlab/legacy_github_import/user_formatter_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@17-11-stable-ee
  spec/lib/gitlab/legacy_github_import/user_formatter_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-0-stable-ee
  spec/lib/gitlab/git/repository_spec.rb
Due: none

Path conditions:
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-cng/lib/gitlab/cng/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock
