Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

cng-helm-cache:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}-kubectl-${KUBECTL_VERSION}-helm-${HELM_VERSION}-kind-${KIND_VERSIO
  ...

gdk-instance-gitaly-transactions:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}
  stage: test
  services:
  ...

verify_lockfile:
  stage: test
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.7.2-git-2.29-lfs-2.9-node-12.18-yarn-1.22-graphicsmagick-1.3.34
  needs: []
  script:
  - npm config set @dappelt:registry https://gitlab.com/api/v4/projects/22564149/packages/npm/
  ...

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  doc/api/graphql/reference/_index.md
  doc/api/packages/nuget.md
  doc/development/fe_guide/graphql.md
  doc/user/packages/yarn_repository/_index.md
  doc/user/project/clusters/add_existing_cluster.md
  locale/gitlab.pot
  qa/qa/support/formatters/test_metrics_formatter.rb
  qa/spec/support/formatters/test_metrics_formatter_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  qa/qa/page/admin/settings/component/usage_statistics.rb
  qa/qa/specs/features/browser_ui/14_analytics/service_ping_default_enabled_spec.rb
  qa/qa/specs/features/browser_ui/14_analytics/service_ping_disabled_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  qa/qa/page/admin/settings/component/usage_statistics.rb
  qa/qa/specs/features/browser_ui/14_analytics/service_ping_default_enabled_spec.rb
  qa/qa/specs/features/browser_ui/14_analytics/service_ping_disabled_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  qa/qa/tools/ci/pipeline_creator.rb
  qa/spec/tools/ci/pipeline_creator_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/controllers/groups_controller.rb
  app/controllers/organizations/groups_controller.rb
  app/controllers/projects_controller.rb
  app/views/groups/settings/_advanced.html.haml
  app/views/groups/settings/_immediately_remove.html.haml
  app/views/projects/_delete.html.haml
  app/views/projects/_delete_card_body.html.haml
  config/feature_flags/gitlab_com_derisk/disallow_immediate_deletion.yml
  doc/development/fips_gitlab.md
  doc/update/_index.md
  doc/update/troubleshooting_and_rolling_back.md
  doc/update/versions/_index.md
  doc/update/versions/gitlab_15_changes.md
  doc/update/versions/gitlab_16_changes.md
  doc/update/versions/gitlab_17_changes.md
  doc/update/versions/gitlab_18_changes.md
  lib/api/groups.rb
  lib/api/projects.rb
  lib/tasks/gitlab/db.rake
  scripts/duo_workflows/run-smoke-test-suite.sh
  scripts/mlops/run-smoke-test-suite.sh
  scripts/remote_development/run-smoke-test-suite.sh
  spec/controllers/groups_controller_spec.rb
  spec/controllers/projects_controller_spec.rb
  spec/features/groups/group_settings_spec.rb
  spec/requests/api/groups_spec.rb
  spec/requests/api/projects_spec.rb
  spec/requests/organizations/groups_controller_spec.rb
  spec/tasks/gitlab/db_rake_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  config/initializers/click_house.rb
  spec/lib/gitlab/database/click_house_client_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  app/controllers/import/gitea_controller.rb
  app/controllers/projects/raw_controller.rb
  app/controllers/projects/repositories_controller.rb
  app/graphql/resolvers/projects/snippets_resolver.rb
  app/graphql/types/ci/job_type.rb
  app/graphql/types/snippets/blob_type.rb
  app/helpers/tree_helper.rb
  app/policies/ci/build_policy.rb
  app/views/projects/_tree_content.html.haml
  app/views/projects/branches/_branch.html.haml
  app/views/projects/buttons/_code.html.haml
  app/views/projects/buttons/_download.html.haml
  app/views/projects/empty.html.haml
  app/views/projects/tags/_tag.html.haml
  app/views/projects/tags/show.html.haml
  lib/gitlab/application_rate_limiter.rb
  lib/gitlab/git/repository.rb
  spec/controllers/import/gitea_controller_spec.rb
  spec/controllers/projects/raw_controller_spec.rb
  spec/graphql/resolvers/projects/snippets_resolver_spec.rb
  spec/helpers/tree_helper_spec.rb
  spec/lib/gitlab/git/repository_spec.rb
  spec/policies/ci/build_policy_spec.rb
  spec/requests/api/graphql/ci/manual_variables_spec.rb
  spec/requests/api/graphql/snippets_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-2-stable-ee
  app/controllers/import/gitea_controller.rb
  app/controllers/projects/raw_controller.rb
  app/controllers/projects/repositories_controller.rb
  app/graphql/resolvers/projects/snippets_resolver.rb
  app/graphql/types/ci/job_type.rb
  app/graphql/types/snippets/blob_type.rb
  app/helpers/tree_helper.rb
  app/policies/ci/build_policy.rb
  app/views/projects/_tree_content.html.haml
  app/views/projects/branches/_branch.html.haml
  app/views/projects/buttons/_code.html.haml
  app/views/projects/buttons/_download.html.haml
  app/views/projects/empty.html.haml
  app/views/projects/tags/_tag.html.haml
  app/views/projects/tags/show.html.haml
  lib/gitlab/application_rate_limiter.rb
  lib/gitlab/git/repository.rb
  spec/controllers/import/gitea_controller_spec.rb
  spec/controllers/projects/raw_controller_spec.rb
  spec/graphql/resolvers/projects/snippets_resolver_spec.rb
  spec/helpers/tree_helper_spec.rb
  spec/lib/gitlab/git/repository_spec.rb
  spec/policies/ci/build_policy_spec.rb
  spec/requests/api/graphql/ci/manual_variables_spec.rb
  spec/requests/api/graphql/snippets_spec.rb
Due: none

Add latest changes from gitlab-org/security/gitlab@18-3-stable-ee
  app/controllers/import/gitea_controller.rb
  app/controllers/projects/raw_controller.rb
  app/controllers/projects/repositories_controller.rb
  app/graphql/resolvers/projects/snippets_resolver.rb
  app/graphql/types/ci/job_type.rb
  app/graphql/types/snippets/blob_type.rb
  app/helpers/tree_helper.rb
  app/policies/ci/build_policy.rb
  app/views/projects/_tree_content.html.haml
  app/views/projects/branches/_branch.html.haml
  app/views/projects/buttons/_code.html.haml
  app/views/projects/buttons/_download.html.haml
  app/views/projects/empty.html.haml
  app/views/projects/tags/_tag.html.haml
  app/views/projects/tags/show.html.haml
  lib/gitlab/application_rate_limiter.rb
  lib/gitlab/git/repository.rb
  spec/controllers/import/gitea_controller_spec.rb
  spec/controllers/projects/raw_controller_spec.rb
  spec/graphql/resolvers/projects/snippets_resolver_spec.rb
  spec/helpers/tree_helper_spec.rb
  spec/lib/gitlab/git/repository_spec.rb
  spec/policies/ci/build_policy_spec.rb
  spec/requests/api/graphql/ci/manual_variables_spec.rb
  spec/requests/api/graphql/snippets_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  config/initializers/click_house.rb
  spec/lib/gitlab/database/click_house_client_spec.rb
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@18-3-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-2-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-1-stable-ee
  .gitlab/ci/release-environments/security.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/security/gitlab@18-1-stable-ee
  .gitlab/ci/release-environments/security.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  GITLAB_SHELL_VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/qa-common/main.gitlab-ci.yml
  .gitlab/ci/qa-common/variables.gitlab-ci.yml
  db/docs/sbom_vulnerability_scans.yml
  db/migrate/20250812100221_create_sbom_vulnerability_scans.rb
  db/schema_migrations/20250812100221
  db/structure.sql
  doc/development/uploads/working_with_uploads.md
  qa/qa/specs/features/browser_ui/3_create/web_ide/add_first_file_in_web_ide_spec.rb
  qa/qa/specs/features/browser_ui/3_create/web_ide/add_new_directory_in_web_ide_spec.rb
  qa/qa/specs/features/browser_ui/3_create/web_ide/closing_web_ide_with_unsaved_changes_spec.rb
  qa/qa/specs/features/browser_ui/3_create/web_ide/upload_new_file_in_web_ide_spec.rb
  spec/db/schema_spec.rb
  spec/lib/gitlab/database/sharding_key_spec.rb
Due: cng-helm-cache

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  GITLAB_SHELL_VERSION
Due: none

Add latest changes from gitlab-org/gitlab@18-3-stable-ee
  app/assets/javascripts/merge_requests/components/reviewers/reviewer_dropdown.vue
  app/assets/javascripts/merge_requests/components/reviewers/update_reviewers.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewer_title.vue
  app/assets/javascripts/sidebar/components/reviewers/sidebar_reviewers.vue
  locale/gitlab.pot
  spec/frontend/merge_requests/components/reviewers/reviewer_dropdown_spec.js
  spec/frontend/sidebar/components/reviewers/reviewer_title_spec.js
Due: none

Add latest changes from gitlab-org/security/gitlab@18-2-stable-ee
  GITLAB_SHELL_VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/lint/unused_helper_methods/potential_methods_to_remove.yml
  app/helpers/sidebars_helper.rb
  app/policies/wiki_page_policy.rb
  app/services/work_items/data_sync/handlers/notes/copy_service.rb
  app/validators/json_schemas/user_detail_onboarding_status.json
  doc/administration/raketasks/spdx.md
  doc/api/projects.md
  doc/editor_extensions/jetbrains_ide/_index.md
  doc/user/clusters/agent/work_with_agent.md
  doc/user/compliance/license_approval_policies.md
  scripts/lint/unused_helper_methods.rb
  spec/helpers/sidebars_helper_spec.rb
  spec/models/user_detail_spec.rb
  spec/policies/wiki_page_policy_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/projects/commits/components/commit_list_breadcrumb.vue
  app/assets/javascripts/projects/commits/init_commit_list_app.js
  app/assets/javascripts/projects/commits/router.js
  app/controllers/groups/labels_controller.rb
  app/controllers/projects/labels_controller.rb
  app/helpers/commits_helper.rb
  app/views/projects/labels/index.html.haml
  app/views/shared/labels/_nav.html.haml
  doc/user/project/merge_requests/merge_request_troubleshooting.md
  locale/gitlab.pot
  spec/controllers/groups/labels_controller_spec.rb
  spec/controllers/projects/labels_controller_spec.rb
  spec/frontend/projects/commits/components/commit_list_breadcrumb_spec.js
  spec/frontend/projects/commits/router_spec.js
  spec/helpers/commits_helper_spec.rb
  spec/views/projects/labels/index.html.haml_spec.rb
  spec/views/shared/labels/_nav_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/rails/strong_params.yml
  .rubocop_todo/style/inline_disable_annotation.yml
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  app/assets/javascripts/analytics/shared/constants.js
  app/assets/javascripts/analytics/shared/utils.js
  app/assets/javascripts/projects/pipelines/charts/components/pipelines_stats.vue
  app/assets/javascripts/projects/pipelines/charts/format_utils.js
  app/controllers/concerns/work_items_collections.rb
  app/controllers/groups/work_items_controller.rb
  app/services/update_container_registry_info_service.rb
  app/views/groups/work_items/rss.atom.builder
  config/feature_flags/gitlab_com_derisk/use_registry_statistics_endpoint.yml
  config/routes/group.rb
  spec/features/rss/group_work_items_spec.rb
  spec/frontend/analytics/shared/utils_spec.js
  spec/frontend/projects/pipelines/charts/format_utils_spec.js
  spec/services/update_container_registry_info_service_spec.rb
Due: gdk-instance-gitaly-transactions

Path conditions:
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock
