Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@18-0-stable-ee
  app/assets/javascripts/merge_requests/list/components/merge_requests_list_app.vue
  app/assets/javascripts/merge_requests/list/index.js
  app/helpers/merge_requests_helper.rb
  spec/frontend/merge_requests/list/components/merge_requests_list_app_spec.js
  spec/helpers/merge_requests_helper_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-0-stable-ee
  .gitlab/ci/release-environments/security.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/gitlab/namespaced_class.yml
  .rubocop_todo/rspec/factory_bot/avoid_create.yml
  .rubocop_todo/rspec/verified_doubles.yml
  app/assets/javascripts/glql/components/common/actions.vue
  app/assets/javascripts/glql/components/common/facade.vue
  app/assets/javascripts/glql/components/common/pagination.vue
  app/assets/javascripts/glql/utils/copy_as_gfm.js
  app/models/ci/build.rb
  app/models/ci/build_metadata.rb
  app/models/ci/pipeline.rb
  app/models/concerns/ci/metadatable.rb
  app/serializers/merge_request_serializer.rb
  app/serializers/merge_request_sidebar_basic_entity.rb
  app/services/ci/find_exposed_artifacts_service.rb
  config/feature_flags/gitlab_com_derisk/ci_stop_using_has_exposed_artifacts_metadata_col.yml
  doc/user/application_security/security_inventory/_index.md
  doc/user/application_security/triage/_index.md
  doc/user/gitlab_com/_index.md
  doc/user/glql/_index.md
  locale/gitlab.pot
  spec/frontend/glql/components/common/actions_spec.js
  spec/frontend/glql/components/common/facade_spec.js
  spec/models/ci/build_spec.rb
  spec/serializers/merge_request_sidebar_basic_entity_spec.rb
  spec/support/rspec_order_todo.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/gitlab/bounded_contexts.yml
  .rubocop_todo/gitlab/namespaced_class.yml
  .rubocop_todo/sidekiq/enforce_database_health_signal_deferral.yml
  .rubocop_todo/sidekiq_load_balancing/worker_data_consistency.yml
  .rubocop_todo/style/inline_disable_annotation.yml
  app/assets/javascripts/whats_new/components/featured_carousel.vue
  app/policies/global_policy.rb
  app/validators/json_schemas/admin_role_permissions.json
  app/validators/json_schemas/member_role_permissions.json
  config/events/click_learn_more_in_duo_core_featured_update_card.yml
  config/feature_flags/gitlab_com_derisk/optimize_rate_limiter_redis_expiry.yml
  config/sidekiq_queues.yml
  doc/api/graphql/reference/_index.md
  doc/api/openapi/openapi_v2.yaml
  doc/install/docker/upgrade.md
  doc/update/package/_index.md
  doc/update/upgrading_from_source.md
  doc/user/custom_roles/abilities.md
  lib/gitlab/application_rate_limiter/increment_per_action.rb
  lib/gitlab/application_rate_limiter/increment_per_actioned_resource.rb
  lib/gitlab/application_rate_limiter/increment_resource_usage_per_action.rb
  spec/features/whats_new_spec.rb
  spec/frontend/whats_new/components/featured_card_spec.js
  spec/lib/gitlab/application_rate_limiter/increment_per_action_spec.rb
  spec/lib/gitlab/application_rate_limiter/increment_per_actioned_resource_spec.rb
  spec/lib/gitlab/application_rate_limiter/increment_resource_usage_per_action_spec.rb
  spec/policies/global_policy_spec.rb
  spec/support/helpers/user_with_namespace_shim.yml
  spec/support/rspec_order_todo.yml
  spec/workers/every_sidekiq_worker_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/graphql/resolvers/namespaces/work_item_state_counts_resolver.rb
  app/graphql/types/namespace_type.rb
  db/post_migrate/20250716050552_remove_sent_notifications_namespace_id_index.rb
  db/schema_migrations/20250716050552
  doc/api/graphql/reference/_index.md
  doc/development/ai_features/developing_ai_features_for_duo_self_hosted.md
  doc/user/application_security/api_fuzzing/_index.md
  doc/user/application_security/container_scanning/_index.md
  doc/user/application_security/coverage_fuzzing/_index.md
  doc/user/application_security/dast/_index.md
  doc/user/application_security/dast/browser/_index.md
  doc/user/application_security/dependency_list/_index.md
  doc/user/application_security/dependency_scanning/_index.md
  doc/user/application_security/policies/_index.md
  doc/user/application_security/sast/_index.md
  doc/user/application_security/secret_detection/exclusions.md
  doc/user/application_security/security_dashboard/_index.md
  doc/user/application_security/vulnerability_report/_index.md
  doc/user/markdown.md
  keeps/delete_old_feature_flags.rb
  spec/keeps/delete_old_feature_flags_spec.rb
  spec/requests/api/graphql/namespace/work_items_state_counts_spec.rb
  spec/support/shared_examples/graphql/work_item_state_counts_shared_examples.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  .eslint_todo/vue-no-unused-properties.mjs
  app/assets/javascripts/blob/filepath_form/components/template_selector.vue
  app/models/concerns/enums/security.rb
  app/models/description_version.rb
  app/models/resource_milestone_event.rb
  app/models/resource_state_event.rb
  app/models/resource_timebox_event.rb
  app/workers/bulk_imports/entity_worker.rb
  app/workers/gitlab/bitbucket_server_import/stage/finish_import_worker.rb
  app/workers/gitlab/github_import/advance_stage_worker.rb
  app/workers/gitlab/github_import/stage/finish_import_worker.rb
  db/docs/approval_merge_request_rules_approved_approvers.yml
  db/migrate/20250716221908_add_license_configuration_to_project_security_settings.rb
  db/post_migrate/20250710194031_add_approval_merge_request_rules_approved_approvers_project_id_not_null.rb
  db/schema_migrations/20250710194031
  db/schema_migrations/20250716221908
  db/structure.sql
  doc/user/duo_agent_platform/_index.md
  doc/user/duo_agent_platform/software_development_flow.md
  doc/user/duo_agent_platform/troubleshooting.md
  doc/user/gitlab_duo_chat/agentic_chat.md
  doc/user/snippets.md
  lib/gitlab/legacy_github_import/importer.rb
  spec/lib/gitlab/legacy_github_import/importer_spec.rb
  spec/models/description_version_spec.rb
  spec/models/group_group_link_spec.rb
  spec/tooling/lib/tooling/predictive_tests/changed_files_spec.rb
  spec/tooling/lib/tooling/predictive_tests/metrics_exporter_spec.rb
  spec/workers/bulk_imports/entity_worker_spec.rb
  spec/workers/gitlab/bitbucket_server_import/stage/finish_import_worker_spec.rb
  spec/workers/gitlab/github_import/advance_stage_worker_spec.rb
  spec/workers/import/load_placeholder_references_worker_spec.rb
  tooling/bin/predictive_tests
  tooling/lib/tooling/find_files_using_feature_flags.rb
  tooling/lib/tooling/predictive_tests/changed_files.rb
  tooling/lib/tooling/predictive_tests/metrics_exporter.rb
  tooling/lib/tooling/predictive_tests/test_selector.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/controllers/application_controller.rb
  app/controllers/base_action_controller.rb
  app/controllers/oauth/authorizations_controller.rb
  app/graphql/types/notes/discussion_type.rb
  data/whats_new/202507170001_18_02.yml
  db/docs/snippet_user_mentions.yml
  db/post_migrate/20250714212858_add_multi_column_not_null_constraint_to_snippet_user_mentions.rb
  db/schema_migrations/20250714212858
  db/structure.sql
  doc/user/application_security/policies/pipeline_execution_policies.md
  doc/user/application_security/policies/security_policy_projects.md
  doc/user/application_security/policies/vulnerability_management_policy_schema.md
  lib/gitlab/current/organization.rb
  locale/gitlab.pot
  package.json
  spec/controllers/application_controller_spec.rb
  spec/lib/gitlab/current/organization_spec.rb
  yarn.lock
Due: gdk-instance-gitaly-transactions, verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  Gemfile.checksum
  Gemfile.lock
  Gemfile.next.checksum
  Gemfile.next.lock
  app/models/diff_note.rb
  doc/administration/admin_area.md
  doc/administration/instance_limits.md
  doc/api/graphql/reference/_index.md
  doc/install/installation.md
  lib/gitlab/gitaly_client/diff.rb
  package.json
  qa/qa/page/project/web_ide/vscode.rb
  spec/lib/gitlab/gitaly_client/diff_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/rspec/scattered_let.yml
  app/assets/javascripts/repository/components/code_dropdown/code_dropdown_clone_item.vue
  app/models/merge_request/commits_metadata.rb
  app/models/merge_request_diff_commit.rb
  config/feature_flags/wip/merge_request_diff_commits_dedup.yml
  doc/administration/dedicated/create_instance/_index.md
  doc/api/search.md
  doc/ci/environments/kubernetes_dashboard.md
  doc/ci/yaml/artifacts_reports.md
  doc/user/application_security/sast/_index.md
  doc/user/compliance/compliance_pipelines.md
  lib/gitlab/color_modes.rb
  lib/gitlab/fp/message_support.rb
  locale/gitlab.pot
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
  spec/factories/merge_request_commits_metadata.rb
  spec/frontend/repository/components/code_dropdown/code_dropdown_clone_item_spec.js
  spec/helpers/preferences_helper_spec.rb
  spec/lib/gitlab/color_modes_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/merge_request/commits_metadata_spec.rb
  spec/models/merge_request_diff_commit_spec.rb
  spec/support/shared_examples/models/jsonb_column_validation_todo.yml
  spec/views/layouts/_head.html.haml_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/internal_affairs/cop_description_with_example.yml
  GITALY_SERVER_VERSION
  app/assets/javascripts/glql/components/common/facade.vue
  app/assets/javascripts/glql/components/common/footnote.vue
  app/assets/stylesheets/framework/typography.scss
  app/graphql/mutations/work_items/bulk_update.rb
  app/graphql/resolvers/project_jobs_resolver.rb
  app/models/concerns/issuable.rb
  app/models/project.rb
  db/post_migrate/20250714141308_validate_foreign_key_for_instance_type_ci_runner_machines_runner_id.rb
  db/post_migrate/20250714141309_validate_foreign_key_for_group_type_ci_runner_machines_runner_id.rb
  db/post_migrate/20250714141310_validate_foreign_key_for_project_type_ci_runner_machines_runner_id.rb
  db/schema_migrations/20250714141308
  db/schema_migrations/20250714141309
  db/schema_migrations/20250714141310
  db/structure.sql
  doc/administration/auth/ldap/ldap-troubleshooting.md
  doc/administration/geo/disaster_recovery/planned_failover.md
  doc/administration/geo/replication/datatypes.md
  doc/api/graphql/reference/_index.md
  doc/development/fe_guide/pinia.md
  lib/gitlab/application_rate_limiter.rb
  lib/gitlab/application_rate_limiter/base_strategy.rb
  lib/gitlab/circuit_breaker/store.rb
  lib/gitlab/rack_attack/store.rb
  lib/gitlab/redis/rate_limiting.rb
  rubocop/cop/background_migration/dictionary_file.rb
  rubocop/cop/background_migration/feature_category.rb
  spec/graphql/resolvers/project_jobs_resolver_spec.rb
  spec/graphql/types/project_type_spec.rb
  spec/lib/gitlab/application_rate_limiter_spec.rb
  spec/lib/gitlab/circuit_breaker/store_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/lib/gitlab/rack_attack/store_spec.rb
  spec/lib/gitlab/redis/rate_limiting_spec.rb
  spec/models/project_spec.rb
  spec/support/shared_examples/loose_foreign_keys/have_loose_foreign_key.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  Gemfile.next.checksum
  Gemfile.next.lock
  app/assets/javascripts/ci/job_details/components/sidebar/sidebar_job_details_container.vue
  app/assets/javascripts/projects/pipelines/charts/components/pipelines_dashboard_clickhouse_filters.vue
  app/presenters/observability/observability_presenter.rb
  config/metrics/counts_all/20210502050942_ci_runners_online.yml
  doc/operations/observability.md
  lib/gitlab/usage/metrics/instrumentations/count_ci_runners_online_metric.rb
  locale/gitlab.pot
  package.json
  spec/frontend/ci/job_details/components/sidebar/sidebar_job_details_container_spec.js
  spec/frontend/projects/pipelines/charts/components/pipelines_dashboard_clickhouse_filters_spec.js
  spec/lib/gitlab/usage/metrics/instrumentations/count_ci_runners_group_type_active_online_metric_spec.rb
  spec/lib/gitlab/usage/metrics/instrumentations/count_ci_runners_instance_type_active_metric_spec.rb
  spec/lib/gitlab/usage/metrics/instrumentations/count_ci_runners_instance_type_active_online_metric_spec.rb
  spec/lib/gitlab/usage/metrics/instrumentations/count_ci_runners_online_metric_spec.rb
  spec/lib/gitlab/usage/metrics/instrumentations/count_ci_runners_project_type_active_metric_spec.rb
  spec/lib/gitlab/usage/metrics/instrumentations/count_ci_runners_project_type_active_online_metric_spec.rb
  spec/presenters/observability/observability_presenter_spec.rb
  spec/support/shared_examples/config/metrics/every_metric_definition_shared_examples.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  app/assets/javascripts/pages/shared/form_error_tracker.js
  app/models/merge_request.rb
  lib/gitlab/redis/wrapper.rb
  lib/tasks/gitlab/tw/codeowners.rake
  spec/frontend/pages/shared/form_error_tracker_spec.js
  spec/models/merge_request_spec.rb
  spec/support/shared_examples/redis/redis_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  lib/gitlab/database/repair_index.rb
  spec/lib/gitlab/database/repair_index_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc-locale/ja-jp/user/project/badges.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  app/models/packages/composer/package.rb
  lib/gitlab/composer/version_index.rb
  spec/factories/packages/composer/packages.rb
  spec/models/packages/composer/package_spec.rb
  spec/services/packages/composer/create_package_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  db/docs/ci_gitlab_hosted_runner_monthly_usages.yml
  db/docs/cluster_agent_migrations.yml
  db/docs/cluster_groups.yml
  db/docs/cluster_projects.yml
  db/docs/deployment_clusters.yml
  db/docs/excluded_merge_requests.yml
  db/docs/group_deploy_keys.yml
  db/docs/group_deploy_keys_groups.yml
  db/docs/scim_oauth_access_tokens.yml
  db/docs/uploads_9ba88c4165.yml
  doc/administration/backup_restore/migrate_to_new_server.md
  doc/api/model_registry.md
  spec/lib/gitlab/database/no_cross_db_foreign_keys_spec.rb
  spec/lib/gitlab/database/no_new_tables_with_gitlab_main_schema_spec.rb
  spec/lib/gitlab/database/sharding_key_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/vue_shared/components/projects_list/project_list_item_description.vue
  app/assets/javascripts/vue_shared/components/projects_list/projects_list_item.vue
  app/assets/javascripts/vue_shared/components/resource_lists/list_item.vue
  app/assets/javascripts/vue_shared/components/resource_lists/list_item_description.stories.js
  app/assets/javascripts/vue_shared/components/resource_lists/list_item_description.vue
  app/graphql/types/namespace_type.rb
  app/graphql/types/namespaces/available_features_type.rb
  app/models/user.rb
  db/docs/batched_background_migrations/backfill_partitioned_uploads.yml
  db/post_migrate/20250717035404_finalize_partitioned_uploads_backfill.rb
  db/schema_migrations/20250717035404
  doc/api/graphql/reference/_index.md
  locale/gitlab.pot
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
  spec/frontend/vue_shared/components/projects_list/project_list_item_description_spec.js
  spec/frontend/vue_shared/components/projects_list/projects_list_item_spec.js
  spec/frontend/vue_shared/components/resource_lists/list_item_description_spec.js
  spec/frontend/vue_shared/components/resource_lists/list_item_spec.js
  spec/graphql/types/namespace_type_spec.rb
  spec/graphql/types/namespaces/available_features_type_spec.rb
  spec/models/user_spec.rb
  spec/support/shared_examples/graphql/types/namespaces/available_features_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  .eslint_todo/vue-no-unused-properties.mjs
  app/assets/javascripts/releases/components/app_edit_new.vue
  app/assets/javascripts/releases/components/tag_field_new.vue
  app/assets/javascripts/releases/components/tag_search.vue
  db/docs/batched_background_migrations/backfill_resource_iteration_events_namespace_id.yml
  db/post_migrate/20250717232435_finalize_hk_backfill_resource_iteration_events_namespace_id.rb
  db/schema_migrations/20250717232435
  doc/api/projects.md
  doc/ci/testing/metrics_reports.md
  doc/integration/saml.md
  doc/subscriptions/manage_users_and_seats.md
  doc/user/project/merge_requests/auto_merge.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .eslint_todo/vue-no-unused-properties.mjs
  Gemfile.lock
  Gemfile.next.lock
  app/assets/javascripts/lib/utils/touch_detection.js
  app/assets/javascripts/stars/components/star_count.vue
  app/assets/javascripts/super_sidebar/components/brand_logo.vue
  app/assets/javascripts/super_sidebar/components/super_sidebar_toggle.vue
  app/helpers/work_items_helper.rb
  danger/finalize_batched_background_migrations/Dangerfile
  danger/plugins/finalize_batched_background_migration_validator.rb
  db/docs/batched_background_migrations/backfill_resource_label_events_namespace_id_and_clean_invalid.yml
  db/docs/label_links.yml
  db/docs/resource_iteration_events.yml
  db/docs/resource_label_events.yml
  db/docs/resource_state_events.yml
  db/docs/sent_notifications.yml
  db/docs/system_note_metadata.yml
  db/post_migrate/20250714214345_queue_backfill_resource_label_events_namespace_id_and_clean_invalid.rb
  db/schema_migrations/20250714214345
  doc/administration/auditor_users.md
  doc/administration/settings/localization.md
  doc/ci/pipelines/_index.md
  doc/development/database/batched_background_migrations.md
  doc/user/project/deploy_keys/_index.md
  doc/user/project/merge_requests/widgets.md
  lib/gitlab/background_migration/backfill_resource_label_events_namespace_id_and_clean_invalid.rb
  lib/gitlab/ci/variables/builder.rb
  spec/frontend/lib/utils/touch_detection_spec.js
  spec/frontend/super_sidebar/components/brand_logo_spec.js
  spec/frontend/super_sidebar/components/super_sidebar_toggle_spec.js
  spec/lib/gitlab/background_migration/backfill_resource_label_events_namespace_id_and_clean_invalid_spec.rb
  spec/lib/gitlab/ci/variables/builder_spec.rb
  spec/migrations/20250714214345_queue_backfill_resource_label_events_namespace_id_and_clean_invalid_spec.rb
  spec/tooling/danger/finalize_batched_background_migration_validator_helper_spec.rb
  tooling/danger/finalize_batched_background_migration_validator_helper.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-2-stable-ee
  qa/qa/fixtures/mocks/import/github_import.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Actionable Insight - Exploration needed.md
  .gitlab/issue_templates/Actionable Insight - Product change.md
  .gitlab/issue_templates/User Journey.md
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  Gemfile.next.checksum
  Gemfile.next.lock
  app/assets/javascripts/content_editor/components/content_editor.vue
  app/assets/javascripts/work_items/components/create_work_item.vue
  app/assets/stylesheets/page_bundles/work_items.scss
  app/controllers/groups/observability_controller.rb
  app/graphql/resolvers/kas/agent_connections_resolver.rb
  app/views/groups/observability/show.html.haml
  app/views/shared/milestones/_milestone_complete_alert.html.haml
  app/views/shared/milestones/_top.html.haml
  db/docs/batched_background_migrations/backfill_compliance_violation_null_target_project_ids.yml
  db/docs/batched_background_migrations/backfill_issue_customer_relations_contacts_namespace_id.yml
  db/post_migrate/20250529232840_finalize_hk_backfill_issue_customer_relations_contacts_namespace_id.rb
  db/post_migrate/20250714153817_finalize_backfill_compliance_violation_target_project_ids.rb
  db/post_migrate/20250714153822_validate_target_project_id_compliance_violations.rb
  db/schema_migrations/20250529232840
  db/schema_migrations/20250714153817
  db/schema_migrations/20250714153822
  db/structure.sql
  doc/administration/settings/visibility_and_access_controls.md
  lib/gitlab/kas/client.rb
  lib/gitlab/middleware/handle_malformed_strings.rb
  locale/gitlab.pot
  spec/features/clusters/create_agent_spec.rb
  spec/features/projects/cluster_agents_spec.rb
  spec/graphql/resolvers/kas/agent_connections_resolver_spec.rb
  spec/lib/gitlab/kas/client_spec.rb
  spec/lib/gitlab/middleware/handle_malformed_strings_spec.rb
  spec/requests/api/graphql/project/cluster_agents_spec.rb
  spec/requests/groups/observability_controller_spec.rb
  spec/support/shared_examples/features/work_items/work_items_shared_examples.rb
Due: none
