Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gdk-qa-smoke-with-load-balancer, gdk-qa-reliable-with-load-balancer, verify_lockfile

gdk-qa-smoke-with-load-balancer:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/debian-${DEBIAN_VERSION}-ruby-${RUBY_VERSION}:bundler-2.3-git-2.36-lfs-2.9-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}-gcloud-383-kubectl-1.23
  stage: test
  services:
  - docker:${DOCKER_VERSION}-dind
  tags:
  - e2e
  variables:
  ...

gdk-qa-reliable-with-load-balancer:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/debian-${DEBIAN_VERSION}-ruby-${RUBY_VERSION}:bundler-2.3-git-2.36-lfs-2.9-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}-gcloud-383-kubectl-1.23
  stage: test
  services:
  - docker:${DOCKER_VERSION}-dind
  tags:
  - e2e
  variables:
  ...

verify_lockfile:
  stage: test
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.7.2-git-2.29-lfs-2.9-node-12.18-yarn-1.22-graphicsmagick-1.3.34
  needs: []
  script:
  - npm config set @dappelt:registry https://gitlab.com/api/v4/projects/22564149/packages/npm/
  ...

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci/pipelines_page/components/pipelines_status_badge.vue
  app/assets/javascripts/issues/index.js
  app/assets/javascripts/issues/service_desk/filtered_search_service_desk.js
  app/assets/javascripts/issues/service_desk/index.js
  app/assets/javascripts/organizations/index/components/app.vue
  app/assets/javascripts/organizations/index/components/organizations_view.vue
  app/assets/javascripts/pages/projects/issues/service_desk/index.js
  qa/qa/page/component/ci_badge_link.rb
  qa/qa/page/project/pipeline/index.rb
  spec/frontend/organizations/index/components/app_spec.js
  spec/frontend/organizations/index/components/organizations_view_spec.js
  spec/requests/api/graphql/ci/ci_cd_setting_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/assets/javascripts/invite_members/components/invite_members_modal.vue
  app/assets/javascripts/projects/components/shared/delete_button.vue
  app/assets/javascripts/projects/settings/components/transfer_project_form.vue
  app/assets/javascripts/tracking/constants.js
  app/assets/javascripts/tracking/internal_events.js
  app/helpers/issuables_helper.rb
  app/mailers/emails/profile.rb
  app/views/projects/_export.html.haml
  app/views/projects/_transfer.html.haml
  app/views/projects/edit.html.haml
  app/views/projects/settings/_archive.html.haml
  app/views/projects/settings/_general.html.haml
  app/views/projects/settings/merge_requests/show.html.haml
  db/post_migrate/20230929063124_sync_foreign_key_for_ci_sources_pipelines_pipeline_id_bigint.rb
  db/post_migrate/20230929063406_sync_foreign_key_for_ci_sources_pipelines_source_pipeline_id_bigint.rb
  db/schema_migrations/20230929063124
  db/schema_migrations/20230929063406
  db/structure.sql
  doc/architecture/blueprints/cells/impacted_features/personal-namespaces.md
  doc/user/compliance/compliance_center/index.md
  locale/gitlab.pot
  qa/qa/page/project/settings/advanced.rb
  qa/qa/page/project/settings/main.rb
  spec/frontend/invite_members/components/invite_members_modal_spec.js
  spec/frontend/projects/components/__snapshots__/project_delete_button_spec.js.snap
  spec/frontend/tracking/internal_events_spec.js
  spec/helpers/issuables_helper_spec.rb
  spec/mailers/emails/profile_spec.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rules.gitlab-ci.yml
  app/assets/javascripts/search/store/constants.js
  app/assets/javascripts/search/topbar/components/app.vue
  app/assets/javascripts/search/topbar/constants.js
  app/assets/javascripts/search/topbar/index.js
  app/assets/javascripts/tracking/internal_events.js
  app/views/search/show.html.haml
  doc/architecture/blueprints/ci_builds_runner_fleet_metrics/index.md
  doc/development/go_guide/go_upgrade.md
  doc/drawers/exact_code_search_syntax.md
  lib/gitlab/application_rate_limiter.rb
  locale/gitlab.pot
  spec/frontend/search/topbar/components/app_spec.js
  spec/frontend/tracking/internal_events_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/batch_comments/components/preview_dropdown.vue
  app/assets/javascripts/boards/components/board_list_header.vue
  app/assets/javascripts/boards/graphql/cache_updates.js
  app/assets/javascripts/boards/stores/actions.js
  app/helpers/safe_format_helper.rb
  app/helpers/todos_helper.rb
  app/models/bulk_import.rb
  app/models/integrations/bamboo.rb
  app/policies/project_policy.rb
  app/services/chat_names/find_user_service.rb
  app/services/users/signup_service.rb
  app/views/dashboard/todos/index.html.haml
  app/views/layouts/nav/_top_bar.html.haml
  app/workers/bulk_import_worker.rb
  doc/architecture/blueprints/cells/index.md
  doc/security/token_overview.md
  doc/security/two_factor_authentication.md
  doc/user/group/saml_sso/troubleshooting.md
  lib/api/helpers/packages/maven.rb
  locale/gitlab.pot
  qa/qa/mobile/page/sub_menus/common.rb
  qa/qa/page/project/sub_menus/common.rb
  spec/factories/bulk_import.rb
  spec/features/dashboard/todos/todos_spec.rb
  spec/frontend/batch_comments/components/preview_dropdown_spec.js
  spec/frontend/boards/mock_data.js
  spec/lib/gitlab/ci/config/interpolation/inputs_spec.rb
  spec/models/bulk_import_spec.rb
  spec/models/chat_name_spec.rb
  spec/models/integrations/bamboo_spec.rb
  spec/policies/project_policy_spec.rb
  spec/requests/api/maven_packages_spec.rb
  spec/services/chat_names/find_user_service_spec.rb
  spec/services/users/signup_service_spec.rb
  spec/workers/bulk_import_worker_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Feature Flag Cleanup.md
  .haml-lint.yml
  .rubocop.yml
  .rubocop_todo/gitlab/avoid_gitlab_instance_checks.yml
  app/assets/javascripts/vue_shared/components/segmented_control_button_group.vue
  app/models/pages/lookup_path.rb
  app/services/issuable/clone/base_service.rb
  doc/development/contributing/merge_request_workflow.md
  doc/development/fe_guide/sentry.md
  doc/development/identity_verification.md
  doc/development/internal_analytics/index.md
  doc/development/spam_protection_and_captcha/exploratory_testing.md
  doc/development/spam_protection_and_captcha/graphql_api.md
  doc/development/spam_protection_and_captcha/index.md
  doc/development/spam_protection_and_captcha/model_and_services.md
  doc/development/spam_protection_and_captcha/rest_api.md
  doc/development/spam_protection_and_captcha/web_ui.md
  doc/development/testing_guide/frontend_testing.md
  doc/integration/recaptcha.md
  doc/user/ai_features.md
  doc/user/group/manage.md
  lib/gitlab/github_import/exceptions.rb
  lib/gitlab/github_import/importer/diff_note_importer.rb
  lib/gitlab/github_import/importer/issue_importer.rb
  lib/gitlab/github_import/importer/note_importer.rb
  locale/gitlab.pot
  rubocop/cop/gitlab/avoid_gitlab_instance_checks.rb
  scripts/utils.sh
  spec/frontend/vue_shared/components/segmented_control_button_group_spec.js
  spec/lib/gitlab/github_import/importer/diff_note_importer_spec.rb
  spec/lib/gitlab/github_import/importer/issue_importer_spec.rb
  spec/lib/gitlab/github_import/importer/note_importer_spec.rb
  spec/migrations/20230726144458_swap_notes_id_to_bigint_for_self_managed_spec.rb
  spec/models/pages/lookup_path_spec.rb
  spec/requests/api/internal/pages_spec.rb
  spec/rubocop/cop/gitlab/avoid_gitlab_instance_checks_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/layout/array_alignment.yml
  .rubocop_todo/layout/first_array_element_indentation.yml
  .rubocop_todo/layout/line_end_string_concatenation_indentation.yml
  .rubocop_todo/layout/line_length.yml
  .rubocop_todo/lint/ambiguous_operator_precedence.yml
  .rubocop_todo/rails/output_safety.yml
  .rubocop_todo/rspec/before_all_role_assignment.yml
  .rubocop_todo/rspec/context_wording.yml
  .rubocop_todo/rspec/factory_bot/avoid_create.yml
  .rubocop_todo/rspec/missing_feature_category.yml
  .rubocop_todo/rspec/return_from_stub.yml
  .rubocop_todo/rspec/scattered_let.yml
  .rubocop_todo/style/format_string.yml
  .rubocop_todo/style/if_unless_modifier.yml
  .rubocop_todo/style/string_concatenation.yml
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  app/graphql/resolvers/analytics/cycle_analytics/base_issue_resolver.rb
  app/mailers/emails/in_product_marketing.rb
  app/mailers/notify.rb
  doc/api/graphql/reference/index.md
  lib/gitlab/email/message/in_product_marketing/helper.rb
  lib/gitlab/middleware/path_traversal_check.rb
  locale/gitlab.pot
  spec/lib/gitlab/email/message/in_product_marketing/helper_spec.rb
  spec/lib/gitlab/middleware/path_traversal_check_spec.rb
  spec/mailers/emails/in_product_marketing_spec.rb
  spec/support/rspec_order_todo.yml
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/concerns/enums/issuable_link.rb
  app/models/concerns/issuable_link.rb
  app/models/work_items/related_link_restriction.rb
  config/events/i_code_review_saved_replies_create.yml
  config/events/i_code_review_saved_replies_use.yml
  config/events/i_code_review_saved_replies_use_in_mr.yml
  config/events/i_code_review_saved_replies_use_in_other.yml
  config/metrics/counts_all/20230725195335_i_code_review_saved_replies_count_use.yml
  config/metrics/counts_all/20230725200123_i_code_review_saved_replies_count_create.yml
  config/metrics/counts_all/20230809194308_i_code_review_saved_replies_use_in_mr.yml
  config/metrics/counts_all/20230815054809_i_code_review_saved_replies_use_in_other.yml
  db/docs/work_item_related_link_restrictions.yml
  db/migrate/20230930094139_add_related_link_restrictions.rb
  db/schema_migrations/20230930094139
  db/structure.sql
  doc/api/users.md
  doc/ci/yaml/signing_examples.md
  doc/user/application_security/dast/checks/94.4.md
  doc/user/application_security/dast/checks/index.md
  gems/activerecord-gitlab/lib/active_record/gitlab_patches/partitioning.rb
  gems/activerecord-gitlab/lib/active_record/gitlab_patches/partitioning/base.rb
  gems/activerecord-gitlab/spec/active_record/gitlab_patches/partitioning/locking_spec.rb
  gems/activerecord-gitlab/spec/support/database.rb
  gems/activerecord-gitlab/spec/support/models.rb
  lib/api/entities/user_basic.rb
  spec/factories/work_items/related_link_restrictions.rb
  spec/fixtures/api/schemas/entities/note_user_entity.json
  spec/fixtures/api/schemas/entities/user.json
  spec/fixtures/api/schemas/public_api/v4/issue.json
  spec/frontend/users_select/test_helper.js
  spec/lib/api/entities/user_spec.rb
  spec/models/work_items/related_link_restriction_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/graphql/resolvers/base_resolver.rb
  app/views/shared/integrations/edit.html.haml
  config/feature_flags/development/resolve_ambiguous_archives.yml
  doc/user/application_security/iac_scanning/index.md
  doc/user/infrastructure/iac/index.md
  lib/gitlab/git/repository.rb
  spec/lib/gitlab/git/repository_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/group.rb
  app/models/members/group_member.rb
  app/models/members/last_group_owner_assigner.rb
  db/post_migrate/20230920154302_change_epics_hierarchy_restrictions.rb
  db/schema_migrations/20230920154302
  doc/administration/monitoring/performance/grafana_configuration.md
  doc/administration/object_storage.md
  doc/update/versions/gitlab_16_changes.md
  lib/gitlab/database_importers/work_items/hierarchy_restrictions_importer.rb
  spec/migrations/20230920154302_change_epics_hierarchy_restrictions_spec.rb
  spec/models/members/last_group_owner_assigner_spec.rb
  spec/support/helpers/migrations_helpers/work_item_types_helper.rb
  spec/support/shared_examples/work_item_hierarchy_restrictions_importer.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/helpers/ci/status_helper.rb
  app/models/badges/group_badge.rb
  app/models/upload.rb
  app/views/ci/status/_icon.html.haml
  app/views/projects/merge_requests/_mr_title.html.haml
  locale/gitlab.pot
  spec/features/commits_spec.rb
  spec/features/dashboard/projects_spec.rb
  spec/support/rspec_order_todo.yml
  spec/views/projects/commits/_commit.html.haml_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/ci/yaml/index.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/administration/geo/replication/troubleshooting.md
  doc/administration/reference_architectures/10k_users.md
  doc/administration/reference_architectures/1k_users.md
  doc/administration/reference_architectures/25k_users.md
  doc/administration/reference_architectures/2k_users.md
  doc/administration/reference_architectures/3k_users.md
  doc/administration/reference_architectures/50k_users.md
  doc/administration/reference_architectures/5k_users.md
  doc/administration/reference_architectures/index.md
  doc/user/project/repository/managing_large_repositories.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  config/feature_flags/development/scan_execution_policy_pipelines.yml
  doc/api/graphql/reference/index.md
  doc/development/sec/cyclonedx_property_taxonomy.md
  doc/user/application_security/policies/scan-execution-policies.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/storage/hashed.rb
  app/models/storage/legacy_project.rb
  app/services/projects/after_rename_service.rb
  doc/administration/settings/jira_cloud_app.md
  doc/api/graphql/getting_started.md
  doc/architecture/blueprints/organization/index.md
  doc/development/policies.md
  doc/integration/advanced_search/elasticsearch.md
  doc/user/free_push_limit.md
  spec/services/projects/after_rename_service_spec.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/test-on-gdk/main.gitlab-ci.yml
  workhorse/.tool-versions
Due: gdk-qa-smoke-with-load-balancer, gdk-qa-reliable-with-load-balancer

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/gitlab/avoid_gitlab_instance_checks.yml
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  app/assets/images/jobs-empty-state.svg
  app/helpers/groups_helper.rb
  app/models/integrations/hangouts_chat.rb
  app/views/admin/jobs/index.html.haml
  app/views/projects/jobs/index.html.haml
  app/views/search/results/_error.html.haml
  app/views/search/results/_timeout.html.haml
  config/feature_flags/development/ai_self_discover.yml
  config/initializers/hangouts_chat_http_override.rb
  doc/api/project_access_tokens.md
  doc/development/ai_features/index.md
  doc/user/application_security/configuration/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/compliance/license_scanning_of_cyclonedx_files/index.md
  lib/gitlab/patch/hangouts_chat_http_override.rb
  spec/features/groups_spec.rb
  spec/frontend/ci/jobs_page/components/jobs_table_empty_state_spec.js
  spec/helpers/groups_helper_spec.rb
  spec/initializers/hangouts_chat_http_override_spec.rb
  spec/models/integrations/hangouts_chat_spec.rb
  spec/views/groups/show.html.haml_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  app/assets/javascripts/vue_shared/new_namespace/new_namespace_page.vue
  app/models/concerns/protected_ref_access.rb
  app/views/layouts/header/_super_sidebar_logged_out.haml
  app/workers/ci/unlock_pipelines_in_queue_worker.rb
  config/feature_flags/development/check_membership_in_protected_ref_access.yml
  config/sidekiq_queues.yml
  db/click_house/main/20230705124511_create_events.sql
  doc/administration/application_settings_cache.md
  doc/administration/monitoring/ip_allowlist.md
  doc/administration/monitoring/performance/index.md
  doc/administration/monitoring/performance/performance_bar.md
  doc/administration/monitoring/prometheus/gitlab_exporter.md
  doc/administration/monitoring/prometheus/web_exporter.md
  doc/administration/sidekiq/sidekiq_memory_killer.md
  doc/development/cached_queries.md
  doc/development/real_time.md
  doc/user/project/repository/branches/index.md
  doc/user/project/repository/reducing_the_repo_size_using_git.md
  lib/gitlab/sidekiq_middleware/extra_done_log_metadata.rb
  lib/tasks/gitlab/tw/codeowners.rake
  package.json
  spec/lib/gitlab/database/click_house_client_spec.rb
  spec/lib/gitlab/sidekiq_middleware/extra_done_log_metadata_spec.rb
  spec/support/shared_examples/models/concerns/protected_ref_access_examples.rb
  spec/workers/ci/unlock_pipelines_in_queue_worker_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  app/models/group.rb
  app/models/members/group_member.rb
  app/models/members/last_group_owner_assigner.rb
  doc/user/okrs.md
  doc/user/project/quick_actions.md
  spec/models/members/last_group_owner_assigner_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/assets/javascripts/vue_shared/components/web_ide_link.vue
  app/graphql/types/packages/helm/dependency_type.rb
  app/graphql/types/packages/helm/metadata_type.rb
  app/graphql/types/security/codequality_reports_comparer_type.rb
  app/models/member.rb
  app/services/jira_connect/sync_service.rb
  app/services/members/create_service.rb
  app/services/members/creator_service.rb
  app/workers/jira_connect/sync_project_worker.rb
  app/workers/tasks_to_be_done/create_worker.rb
  doc/administration/gitaly/configure_gitaly.md
  doc/api/invitations.md
  doc/api/members.md
  doc/development/feature_flags/controls.md
  doc/user/project/integrations/servicenow.md
  doc/user/project/repository/managing_large_repositories.md
  lib/api/invitations.rb
  lib/api/members.rb
  lib/atlassian/jira_connect/serializers/pull_request_entity.rb
  lib/atlassian/jira_connect/serializers/reviewer_entity.rb
  lib/gitlab/graphql/deprecations/deprecation.rb
  qa/qa/specs/features/browser_ui/1_manage/login/login_via_oauth_and_oidc_with_gitlab_as_idp_spec.rb
  spec/fixtures/api/schemas/jira_connect/pull_request.json
  spec/fixtures/api/schemas/jira_connect/reviewer.json
  spec/lib/atlassian/jira_connect/serializers/pull_request_entity_spec.rb
  spec/lib/atlassian/jira_connect/serializers/reviewer_entity_spec.rb
  spec/lib/gitlab/graphql/deprecations/deprecation_spec.rb
  spec/models/group_spec.rb
  spec/models/member_spec.rb
  spec/models/project_team_spec.rb
  spec/requests/api/invitations_spec.rb
  spec/requests/api/members_spec.rb
  spec/services/jira_connect/sync_service_spec.rb
  spec/services/members/create_service_spec.rb
  spec/services/members/invite_service_spec.rb
  spec/support/shared_examples/models/member_shared_examples.rb
  spec/workers/tasks_to_be_done/create_worker_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  .rubocop_todo/layout/line_length.yml
  .rubocop_todo/lint/unused_block_argument.yml
  .rubocop_todo/rails/file_path.yml
  .rubocop_todo/rspec/context_wording.yml
  .rubocop_todo/rspec/expect_in_hook.yml
  .rubocop_todo/rspec/instance_variable.yml
  .rubocop_todo/rspec/missing_feature_category.yml
  GITALY_SERVER_VERSION
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  config/feature_flags/development/use_gitlab_http_v2.yml
  config/initializers_before_autoloader/004_zeitwerk.rb
  config/object_store_settings.rb
  doc/api/projects.md
  gems/gitlab-http/lib/gitlab/http_v2/client.rb
  lib/api/entities/project.rb
  lib/api/helpers/projects_helpers.rb
  lib/gitlab/http.rb
  lib/gitlab/legacy_http.rb
  spec/config/object_store_settings_spec.rb
  spec/lib/gitlab/http_spec.rb
  spec/lib/gitlab/legacy_http_spec.rb
  spec/models/integrations/jira_spec.rb
  spec/requests/api/project_attributes.yml
  spec/requests/api/projects_spec.rb
  spec/services/projects/lfs_pointers/lfs_download_service_spec.rb
  spec/services/projects/update_service_spec.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile.lock
  app/assets/javascripts/search/sidebar/components/app.vue
  app/assets/javascripts/search/sidebar/components/archived_filter/data.js
  app/assets/javascripts/search/sidebar/components/issues_filters.vue
  app/assets/javascripts/search/sidebar/components/merge_requests_filters.vue
  app/assets/javascripts/search/sidebar/components/milestones_filters.vue
  app/assets/javascripts/search/sidebar/constants/index.js
  app/controllers/projects/issues_controller.rb
  app/controllers/search_controller.rb
  app/helpers/routing/projects_helper.rb
  app/views/projects/work_items/show.html.haml
  config/feature_flags/development/search_commits_hide_archived_projects.yml
  config/routes/project.rb
  doc/administration/file_hooks.md
  gems/rspec_flaky/Gemfile.lock
  gems/rspec_flaky/rspec_flaky.gemspec
  package.json
  qa/qa/runtime/env.rb
  qa/qa/service/cluster_provider/gcloud.rb
  qa/qa/specs/features/api/1_manage/import/import_large_github_repo_spec.rb
  qa/qa/specs/features/api/1_manage/migration/gitlab_migration_large_project_spec.rb
  qa/qa/specs/features/browser_ui/3_create/merge_request/create_merge_request_spec.rb
  spec/controllers/projects/issues_controller_spec.rb
  spec/controllers/projects/work_items_controller_spec.rb
  spec/factories/packages/protection/rules.rb
  spec/features/projects/work_items/linked_work_items_spec.rb
  spec/features/projects/work_items/work_item_spec.rb
  spec/fixtures/markdown.md.erb
  spec/frontend/search/sidebar/components/app_spec.js
  spec/frontend/search/sidebar/components/issues_filters_spec.js
  spec/frontend/search/sidebar/components/merge_requests_filters_spec.js
  spec/frontend/search/sidebar/components/milestones_filters_spec.js
  spec/presenters/issue_presenter_spec.rb
  spec/requests/projects/issue_links_controller_spec.rb
  spec/requests/projects/work_items_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/issue_board_entity_spec.rb
  spec/serializers/issue_entity_spec.rb
  spec/serializers/linked_project_issue_entity_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci/pipelines_page/components/pipeline_labels.vue
  app/assets/javascripts/super_sidebar/components/user_name_group.vue
  app/finders/projects_finder.rb
  app/helpers/appearances_helper.rb
  app/models/project.rb
  app/serializers/ci/pipeline_entity.rb
  app/serializers/merge_requests/pipeline_entity.rb
  app/services/projects/create_service.rb
  app/views/layouts/header/_title.html.haml
  app/views/shared/_logo.svg
  app/views/shared/_logo_with_black_text.svg
  app/views/shared/_logo_with_white_text.svg
  db/post_migrate/20231004053341_add_index_for_group_vulnerabilities_aysnc.rb
  db/schema_migrations/20231004053341
  doc/administration/settings/usage_statistics.md
  doc/development/internal_analytics/index.md
  doc/development/internal_analytics/internal_event_instrumentation/local_setup_and_debugging.md
  doc/development/internal_analytics/review_guidelines.md
  doc/development/internal_analytics/service_ping/implement.md
  doc/development/internal_analytics/service_ping/review_guidelines.md
  doc/development/internal_analytics/snowplow/review_guidelines.md
  gems/gitlab-schema-validation/lib/gitlab/schema/validation/sources/database.rb
  lib/gitlab/github_import/settings.rb
  locale/gitlab.pot
  spec/frontend/ci/pipelines_page/components/pipeline_labels_spec.js
  spec/helpers/appearances_helper_spec.rb
  spec/lib/gitlab/github_import/settings_spec.rb
  spec/lib/gitlab/import_export/importer_spec.rb
  spec/support/helpers/stub_configuration.rb
  spec/support/shared_examples/lib/gitlab/import/advance_stage_shared_examples.rb
  tooling/danger/analytics_instrumentation.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  GITALY_SERVER_VERSION
  app/assets/javascripts/ci/runner/components/runner_details.vue
  app/assets/javascripts/ci/runner/graphql/show/runner_details_shared.fragment.graphql
  app/assets/javascripts/diffs/components/app.vue
  app/assets/javascripts/environments/components/canary_ingress.vue
  app/models/group.rb
  app/models/members/group_member.rb
  app/models/members/last_group_owner_assigner.rb
  db/post_migrate/20231010011850_drop_index_deployments_on_project_id_and_ref.rb
  db/schema_migrations/20231010011850
  db/structure.sql
  doc/api/environments.md
  doc/api/group_protected_branches.md
  doc/development/contributing/first_contribution.md
  doc/development/fe_guide/sentry.md
  doc/development/secure_coding_guidelines.md
  doc/install/installation.md
  doc/security/reset_user_password.md
  doc/update/patch_versions.md
  doc/update/upgrading_from_ce_to_ee.md
  doc/update/upgrading_from_source.md
  doc/user/packages/yarn_repository/index.md
  doc/user/project/deploy_keys/index.md
  lib/tasks/gitlab/password.rake
  qa/gdk/Dockerfile.gdk
  scripts/allowed_warnings.txt
  spec/features/admin/admin_runners_spec.rb
  spec/frontend/ci/runner/admin_runner_show/admin_runner_show_app_spec.js
  spec/frontend/ci/runner/components/runner_details_spec.js
  spec/frontend/ci/runner/group_runner_show/group_runner_show_app_spec.js
  spec/frontend/environments/canary_ingress_spec.js
  spec/models/group_spec.rb
  spec/models/members/last_group_owner_assigner_spec.rb
  spec/services/ci/delete_objects_service_spec.rb
  spec/support/protected_branch_helpers.rb
  spec/tasks/gitlab/password_rake_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Security developer workflow.md
  GITALY_SERVER_VERSION
  doc/administration/dedicated/index.md
  doc/api/graphql/reference/index.md
  doc/user/application_security/policies/scan-result-policies.md
  lib/api/helpers/import_github_helpers.rb
  lib/api/import_github.rb
  lib/gitlab/ci/templates/Docker.gitlab-ci.yml
  package.json
  spec/lib/api/helpers/import_github_helpers_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/assets/javascripts/observability/client.js
  app/controllers/concerns/enforces_two_factor_authentication.rb
  app/models/ci/build.rb
  app/models/ci/job_artifact.rb
  app/models/system/broadcast_message.rb
  app/workers/run_pipeline_schedule_worker.rb
  config/feature_flags/development/fast_forward_merge_trains_support.yml
  db/migrate/20220602130306_add_namespace_type_index.rb
  db/post_migrate/20220530082653_add_traversal_id_type_group_index.rb
  db/post_migrate/20230110172751_add_partial_index_on_group_path_id.rb
  db/post_migrate/20230420120431_create_namespaces_by_top_level_namespace_index.rb
  db/post_migrate/20230614182049_add_index_to_namespaces_organization_id.rb
  doc/administration/dedicated/index.md
  doc/administration/package_information/supported_os.md
  doc/ci/pipelines/merge_trains.md
  doc/ci/testing/fail_fast_testing.md
  doc/development/pipelines/index.md
  doc/subscriptions/gitlab_dedicated/index.md
  doc/update/versions/gitlab_14_changes.md
  doc/update/versions/gitlab_15_changes.md
  doc/update/versions/gitlab_16_changes.md
  package.json
  qa/gdk/Dockerfile.gdk
  qa/qa/specs/features/api/1_manage/import/import_large_github_repo_spec.rb
  rubocop/cop/migration/prevent_index_creation.rb
  spec/frontend/observability/client_spec.js
  spec/rubocop/cop/migration/prevent_index_creation_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@16-4-stable-ee
  db/post_migrate/20230823145126_swap_notes_id_to_bigint_for_self_managed.rb
  spec/migrations/20230726144458_swap_notes_id_to_bigint_for_self_managed_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/services/todo_service.rb
  doc/administration/reference_architectures/index.md
  doc/user/ai_features.md
  doc/user/project/repository/managing_large_repositories.md
  spec/requests/api/issues/put_projects_issues_spec.rb
  spec/services/issues/update_service_spec.rb
  spec/services/merge_requests/update_service_spec.rb
  spec/services/todo_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/pages/projects/find_file/ref_switcher/index.js
  app/assets/javascripts/pages/projects/find_file/ref_switcher/ref_switcher_utils.js
  app/assets/javascripts/pages/projects/find_file/show/index.js
  app/assets/javascripts/projects/project_find_file.js
  app/controllers/projects/find_file_controller.rb
  app/graphql/types/user_state_enum.rb
  app/helpers/application_helper.rb
  app/helpers/projects_helper.rb
  app/views/projects/_find_file_link.html.haml
  app/views/projects/find_file/show.html.haml
  doc/api/graphql/reference/index.md
  doc/architecture/blueprints/gitaly_transaction_management/index.md
  doc/ci/components/catalog.md
  doc/ci/components/index.md
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
  doc/ci/index.md
  doc/ci/secrets/convert-to-id-tokens.md
  doc/ci/secrets/index.md
  doc/update/versions/gitlab_15_changes.md
  doc/user/project/import/github.md
  lib/gitlab/ci/templates/Jobs/DAST-Default-Branch-Deploy.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Deploy.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Deploy.latest.gitlab-ci.yml
  qa/Gemfile
  qa/Gemfile.lock
  spec/frontend/pages/projects/find_file/ref_switcher/ref_switcher_utils_spec.js
  spec/frontend/projects/project_find_file_spec.js
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/helpers/auth_helper.rb
  app/services/ci/catalog/resources/validate_service.rb
  app/services/ci/catalog/validate_resource_service.rb
  app/services/releases/create_service.rb
  app/views/layouts/_google_tag_manager_head.html.haml
  app/workers/concerns/worker_attributes.rb
  config/feature_flags/ops/gtm_nonce.yml
  db/post_migrate/20230908033511_swap_columns_for_ci_pipeline_chat_data_pipeline_id_bigint.rb
  db/schema_migrations/20230908033511
  db/structure.sql
  doc/administration/settings/usage_statistics.md
  doc/api/graphql/reference/index.md
  doc/development/internal_analytics/internal_event_instrumentation/architecture.md
  doc/development/internal_analytics/internal_event_instrumentation/index.md
  doc/development/internal_analytics/internal_event_tracking/architecture.md
  doc/user/group/manage.md
  lib/gitlab/ci/templates/Jobs/DAST-Default-Branch-Deploy.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Deploy.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Deploy.latest.gitlab-ci.yml
  package.json
  qa/qa/specs/features/api/1_manage/migration/gitlab_migration_large_project_spec.rb
  spec/helpers/auth_helper_spec.rb
  spec/migrations/20230908033511_swap_columns_for_ci_pipeline_chat_data_pipeline_id_bigint_spec.rb
  spec/services/ci/catalog/resources/validate_service_spec.rb
  yarn.lock
Due: verify_lockfile

Path conditions:
  gdk-qa-smoke-with-load-balancer: any of: .gitlab/ci/test-on-gdk/**, lib/gitlab/database/load_balancing/**/*
  gdk-qa-reliable-with-load-balancer: any of: .gitlab/ci/test-on-gdk/**, lib/gitlab/database/load_balancing/**/*
  verify_lockfile: any of: yarn.lock
