Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: untamper-fe-islands-lockfile, cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  untamper-fe-islands-lockfile: any of: ee/frontend_islands/yarn.lock
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  app/assets/javascripts/authentication/password/components/password_input.vue
  app/assets/javascripts/authentication/webauthn/components/passkey_registration.vue
  app/assets/javascripts/lib/logger/index.js
  app/assets/javascripts/lib/utils/vue3compat/vue.js
  app/controllers/explore/projects_controller.rb
  app/models/namespace_setting.rb
  app/services/ci/register_job_service.rb
  config/feature_flags/gitlab_com_derisk/ci_build_confirm_pending_state.yml
  config/feature_flags/wip/retire_trending_projects.yml
  config/lint/deprecations.yml
  data/deprecations/14-8-secure-and-protect-analyzer-bump.yml
  data/deprecations/15-9-secure-analyzers-bump.yml
  doc/ci/environments/deployment_approvals.md
  doc/security/hardening_nist_800_53.md
  doc/topics/autodevops/_index.md
  doc/topics/autodevops/cloud_deployments/auto_devops_with_eks.md
  doc/topics/autodevops/cloud_deployments/auto_devops_with_gke.md
  doc/topics/autodevops/stages.md
  doc/update/deprecations.md
  doc/user/application_security/dast/_index.md
  doc/user/application_security/dast/browser/_index.md
  doc/user/application_security/dast/on-demand_scan.md
  doc/user/application_security/dast/profiles.md
  doc/user/application_security/dependency_scanning/dependency_scanning_sbom/_index.md
  doc/user/application_security/detect/_index.md
  doc/user/application_security/detect/vulnerability_scanner_maintenance.md
  doc/user/compliance/compliance_center/compliance_standards_adherence_dashboard.md
  doc/user/compliance/compliance_frameworks/_index.md
  spec/controllers/explore/projects_controller_spec.rb
  spec/features/explore/user_explores_projects_spec.rb
  spec/frontend/authentication/webauthn/components/passkey_registration_spec.js
  spec/services/ci/register_job_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  app/assets/javascripts/issues/list/components/empty_state_without_any_issues.vue
  app/assets/javascripts/rapid_diffs/adapters/discussions.js
  app/assets/javascripts/rapid_diffs/app/discussions/diff_discussions.vue
  app/assets/javascripts/rapid_diffs/app/discussions/diff_line_discussions.vue
  app/assets/javascripts/rapid_diffs/app/discussions/new_line_discussion_form.vue
  app/assets/javascripts/rapid_diffs/app/discussions/noteable_discussion.vue
  app/assets/javascripts/rapid_diffs/stores/diff_discussions.js
  app/assets/javascripts/search/sidebar/components/shared/searchable_dropdown.vue
  app/workers/database/background_operation/base_scheduler_worker.rb
  app/workers/database/background_work_schedulable.rb
  db/docs/deleted_tables/virtual_registries_packages_maven_cache_local_entries.yml
  db/post_migrate/20251211090520_drop_package_file_foreign_key_from_virtual_registries_pkgs_mvn_cache_local_entries.rb
  db/post_migrate/20251211091519_drop_upstream_foreign_key_from_virtual_registries_pkg_mvn_cache_local_entries.rb
  db/post_migrate/20251211092343_drop_group_foreign_key_from_virtual_registries_pkg_mvn_cache_local_entries.rb
  db/post_migrate/20251211092720_drop_virtual_registries_packages_maven_cache_local_entries.rb
  db/schema_migrations/20251211090520
  db/schema_migrations/20251211091519
  db/schema_migrations/20251211092343
  db/schema_migrations/20251211092720
  db/structure.sql
  doc/api/issues.md
  doc/development/callouts.md
  doc/user/application_security/sast/gitlab_advanced_sast.md
  lib/gitlab/database/background_operation/common_worker.rb
  spec/frontend/__helpers__/simulate_typing.js
  spec/frontend/issues/list/components/empty_state_without_any_issues_spec.js
  spec/frontend/rapid_diffs/adapters/discussions_spec.js
  spec/frontend/rapid_diffs/app/discussions/diff_discussions_spec.js
  spec/frontend/rapid_diffs/app/discussions/diff_line_discussions_spec.js
  spec/frontend/rapid_diffs/app/discussions/new_line_discussion_form_spec.js
  spec/frontend/rapid_diffs/app/discussions/noteable_discussion_spec.js
  spec/frontend/rapid_diffs/stores/diff_discussions_spec.js
  spec/frontend/search/sidebar/components/searchable_dropdown_spec.js
  spec/lib/gitlab/database/background_operation/worker_shared_examples.rb
  spec/models/users/project_studio_spec.rb
  spec/support/shared_examples/workers/background_operation_scheduler_worker_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  package.json
  yarn.lock
Due: verify_lockfile

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  .gitlab/lint/unused_methods/potential_methods_to_remove.yml
  app/graphql/types/member_access_level_enum.rb
  app/models/project.rb
  app/views/shared/blob/_markdown_buttons.html.haml
  doc-locale/ja-jp/user/gitlab_duo/context.md
  doc/administration/geo/replication/troubleshooting/synchronization_verification.md
  doc/administration/operations/moving_repositories.md
  doc/development/rake_tasks.md
  doc/editor_extensions/_index.md
  doc/editor_extensions/eclipse/_index.md
  doc/editor_extensions/jetbrains_ide/_index.md
  doc/editor_extensions/neovim/_index.md
  doc/editor_extensions/security_considerations.md
  doc/editor_extensions/visual_studio/_index.md
  doc/editor_extensions/visual_studio_code/_index.md
  doc/security/hardening_nist_800_53.md
  doc/security/ssh_keys_restrictions.md
  doc/user/application_security/policies/vulnerability_management_policy.md
  doc/user/application_security/policies/vulnerability_management_policy_schema.md
  doc/user/ssh.md
  lib/tasks/gitlab/tw/codeowners.rake
  locale/gitlab.pot
  scripts/lint/unused_methods.rb
  spec/lib/gitlab/access_spec.rb
  spec/models/group_spec.rb
  spec/models/project_spec.rb
  spec/models/user_highest_role_spec.rb
  spec/presenters/group_member_presenter_spec.rb
  spec/presenters/member_presenter_spec.rb
  spec/requests/api/ci/jobs_spec.rb
  spec/spec_helper.rb
  spec/support/helpers/roles_helpers.rb
  spec/support/known_rspec_metadata_keys.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITLAB_KAS_VERSION
  app/helpers/namespaces/deletable_helper.rb
  app/models/group.rb
  app/models/label.rb
  app/models/member.rb
  app/models/project.rb
  app/models/project_team.rb
  app/validators/exactly_one_present_validator.rb
  app/workers/run_pipeline_schedule_worker.rb
  db/docs/cluster_providers_aws.yml
  db/docs/cluster_providers_gcp.yml
  db/docs/clusters_kubernetes_namespaces.yml
  doc/ci/pipelines/schedules.md
  doc/install/package/ubuntu.md
  doc/user/application_security/container_scanning/multi_container_scanning.md
  doc/user/application_security/sast/advanced_sast_cpp.md
  doc/user/application_security/sast/gitlab_advanced_sast.md
  doc/user/group/_index.md
  doc/user/project/working_with_projects.md
  locale/gitlab.pot
  qa/Gemfile
  qa/Gemfile.lock
  spec/factories/groups.rb
  spec/factories/members.rb
  spec/factories/projects.rb
  spec/factories/users.rb
  spec/features/projects_spec.rb
  spec/helpers/namespaces/deletable_helper_spec.rb
  spec/lib/gitlab/github_import/bulk_importing_spec.rb
  spec/lib/gitlab/organizations/sharding_key_spec.rb
  spec/models/group_spec.rb
  spec/models/label_spec.rb
  spec/models/member_spec.rb
  spec/models/project_spec.rb
  spec/models/project_team_spec.rb
  spec/support/helpers/roles_helpers.rb
  spec/validators/exactly_one_present_validator_spec.rb
  spec/workers/run_pipeline_schedule_worker_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/controllers/dashboard_controller.rb
  app/graphql/mutations/users/personal_access_tokens/rotate.rb
  app/graphql/types/mutation_type.rb
  app/models/import/offline/export.rb
  app/workers/all_queues.yml
  app/workers/import/offline/configuration_purge_worker.rb
  config/sidekiq_queues.yml
  doc/api/graphql/reference/_index.md
  doc/development/labels/_index.md
  doc/user/application_security/dependency_scanning/static_reachability.md
  spec/frontend/homepage/components/activity_widget_spec.js
  spec/models/import/offline/export_spec.rb
  spec/requests/api/graphql/mutations/users/personal_access_tokens/rotate_spec.rb
  spec/requests/dashboard_controller_spec.rb
  spec/workers/import/offline/configuration_purge_worker_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-7-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  CHANGELOG.md
  GITALY_SERVER_VERSION
  app/graphql/types/namespace_type.rb
  app/graphql/types/namespaces/available_features_type.rb
  app/models/work_items/saved_views/user_saved_view.rb
  data/deprecations/14-6-deprecation-license-compliance-api-terms.yml
  data/deprecations/14-7-deprecate-godep-support-in-license-compliance.yml
  data/deprecations/15-9-license-check.yml
  data/deprecations/15-9-license-compliance-ci-template.yml
  doc/administration/settings/security_and_compliance.md
  doc/api/graphql/reference/_index.md
  doc/development/database/multiple_databases.md
  doc/development/permissions/predefined_roles.md
  doc/solutions/components/oss_license_check.md
  doc/update/deprecations.md
  doc/user/compliance/license_scanning_of_cyclonedx_files/_index.md
  doc/user/project/merge_requests/widgets.md
  spec/graphql/types/namespace_type_spec.rb
  spec/graphql/types/namespaces/available_features_type_spec.rb
  spec/models/work_items/saved_views/user_saved_view_spec.rb
  spec/support/shared_examples/graphql/types/namespaces/available_features_shared_examples.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/super_sidebar/components/help_center.vue
  app/helpers/application_helper.rb
  app/helpers/sidebars_helper.rb
  app/models/users/group_callout.rb
  app/views/layouts/group.html.haml
  app/views/layouts/project.html.haml
  doc/administration/gitlab_duo_self_hosted/supported_models_and_hardware_requirements.md
  doc/api/graphql/reference/_index.md
  doc/api/openapi/openapi_v2.yaml
  doc/development/documentation/backporting.md
  doc/development/documentation/experiment_beta.md
  doc/development/documentation/feature_flags.md
  doc/development/documentation/redirects.md
  doc/development/documentation/restful_api_styleguide.md
  doc/development/documentation/styleguide/_index.md
  doc/development/documentation/styleguide/availability_details.md
  doc/development/documentation/styleguide/deprecations_and_removals.md
  doc/development/documentation/topic_types/troubleshooting.md
  doc/development/documentation/workflow.md
  doc/integration/advanced_search/elasticsearch.md
  locale/gitlab.pot
  spec/frontend/super_sidebar/components/help_center_spec.js
  spec/frontend/super_sidebar/mock_data.js
  spec/requests/rack_attack_global_spec.rb
  spec/support/shared_examples/helpers/super_sidebar_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/content_editor/extensions/code.js
  app/assets/javascripts/work_items/pages/work_items_list_app.vue
  app/controllers/projects/compare_controller.rb
  app/graphql/resolvers/users/personal_access_tokens_resolver.rb
  app/graphql/types/authz/personal_access_tokens/personal_access_token_type.rb
  config/authz/permission_groups/assignable_permissions/repository/protected_tag/create.yml
  config/authz/permission_groups/assignable_permissions/repository/protected_tag/delete.yml
  config/authz/permission_groups/assignable_permissions/repository/protected_tag/read.yml
  config/authz/permissions/protected_tag/_metadata.yml
  config/authz/permissions/protected_tag/create.yml
  config/authz/permissions/protected_tag/delete.yml
  config/authz/permissions/protected_tag/read.yml
  config/feature_flags/gitlab_com_derisk/limit_commit_markdown_preload.yml
  doc/api/graphql/reference/_index.md
  lib/api/protected_tags.rb
  spec/controllers/projects/compare_controller_spec.rb
  spec/frontend/content_editor/extensions/code_spec.js
  spec/requests/api/graphql/authz/personal_access_tokens/personal_access_tokens_query_spec.rb
  spec/requests/api/protected_tags_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  workhorse/_support/lint_last_known_acceptable.txt
  workhorse/internal/ai_assist/duoworkflow/actions.go
  workhorse/internal/ai_assist/duoworkflow/actions_test.go
  workhorse/internal/ai_assist/duoworkflow/handler.go
  workhorse/internal/ai_assist/duoworkflow/handler_test.go
  workhorse/internal/ai_assist/duoworkflow/runner.go
  workhorse/internal/ai_assist/duoworkflow/runner_test.go
  workhorse/internal/upstream/routes.go
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  workhorse/_support/lint_last_known_acceptable.txt
  workhorse/internal/ai_assist/duoworkflow/actions.go
  workhorse/internal/ai_assist/duoworkflow/actions_test.go
  workhorse/internal/ai_assist/duoworkflow/handler.go
  workhorse/internal/ai_assist/duoworkflow/handler_test.go
  workhorse/internal/ai_assist/duoworkflow/runner.go
  workhorse/internal/ai_assist/duoworkflow/runner_test.go
  workhorse/internal/upstream/routes.go
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  lib/tasks/gitlab/db.rake
Due: none

Add latest changes from gitlab-org/gitlab@18-7-stable-ee
  app/assets/javascripts/super_sidebar/constants.js
Due: none
