Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: untamper-fe-islands-lockfile, cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  untamper-fe-islands-lockfile: any of: ee/frontend_islands/yarn.lock
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  config/audit_events/types/feature_access_rules_updated.yml
  config/feature_flags/beta/validity_check_es_filter.yml
  db/click_house/main.sql
  db/click_house/post_migrate/main/20260106071306_alter_ci_finished_builds_engine.rb
  db/click_house/schema_migrations/main/20260106071306
  doc-locale/ja-jp/user/duo_agent_platform/agents/custom.md
  doc-locale/ja-jp/user/duo_agent_platform/agents/external.md
  doc-locale/ja-jp/user/duo_agent_platform/agents/flow_examples.md
  doc-locale/ja-jp/user/duo_agent_platform/agents/third_party.md
  doc-locale/ja-jp/user/duo_agent_platform/flows/custom.md
  doc-locale/ja-jp/user/duo_agent_platform/flows/foundational_flows/_index.md
  doc-locale/ja-jp/user/duo_agent_platform/flows/foundational_flows/convert_to_gitlab_ci.md
  doc-locale/ja-jp/user/duo_agent_platform/flows/foundational_flows/fix_pipeline.md
  doc-locale/ja-jp/user/duo_agent_platform/flows/foundational_flows/issue_to_mr.md
  doc-locale/ja-jp/user/duo_agent_platform/flows/foundational_flows/software_development.md
  doc-locale/ja-jp/user/duo_agent_platform/security.md
  doc-locale/ja-jp/user/duo_agent_platform/triggers/_index.md
  doc-locale/ja-jp/user/duo_agent_platform/troubleshooting_ide.md
  doc/administration/operations/fast_ssh_key_lookup.md
  doc/api/settings.md
  doc/user/application_security/vulnerability_report/_index.md
  doc/user/compliance/audit_event_types.md
  doc/user/gitlab_duo/turn_on_off.md
  doc/user/profile/account/two_factor_authentication_troubleshooting.md
  doc/user/ssh.md
  doc/user/ssh_advanced.md
  doc/user/ssh_troubleshooting.md
  locale/gitlab.pot
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/services/authz/redaction_service.rb
  config/feature_flags/beta/pipeline_execution_policy_empty_pipeline_behavior.yml
  config/gitlab_loose_foreign_keys.yml
  db/docs/security_finding_enrichments.yml
  db/migrate/20251202185409_create_security_finding_enrichments.rb
  db/schema_migrations/20251202185409
  db/structure.sql
  doc-locale/ja-jp/topics/autodevops/cicd_variables.md
  doc/api/openapi/openapi_v2.yaml
  doc/api/openapi/openapi_v2.yaml.generated
  lib/api/helpers/merge_requests_helpers.rb
  lib/api/merge_requests.rb
  lib/gitlab/database/gitlab_schema.rb
  locale/gitlab.pot
  spec/db/schema_spec.rb
  spec/lib/gitlab/database/bump_sequences_spec.rb
  spec/lib/gitlab/database/gitlab_schema_spec.rb
  spec/lib/gitlab/database/migration_helpers/automatic_lock_writes_on_tables_spec.rb
  spec/lib/gitlab/database/no_cross_db_foreign_keys_spec.rb
  spec/lib/gitlab/database/query_analyzers/restrict_allowed_schemas_spec.rb
  spec/lib/gitlab/database/tables_locker_spec.rb
  spec/requests/api/mcp/handlers/list_tools_spec.rb
  spec/services/authz/redaction_service_spec.rb
  spec/tooling/danger/gitlab_schema_validation_suggestion_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/gitlab/avoid_const_default_organization_id.yml
  .rubocop_todo/gitlab/json_safe_parse.yml
  app/assets/javascripts/behaviors/markdown/render_iframe.js
  app/controllers/groups/application_controller.rb
  app/controllers/groups_controller.rb
  app/controllers/projects/application_controller.rb
  app/controllers/projects_controller.rb
  doc/api/graphql/reference/_index.md
  lib/gitlab/gon_helper.rb
  spec/features/markdown/iframe_spec.rb
  spec/frontend/behaviors/markdown/render_iframe_spec.js
  spec/lib/banzai/filter/iframe_link_filter_spec.rb
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@18-7-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-6-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-5-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  spec/features/projects/import_export/import_file_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-7-stable-ee
  spec/features/projects/import_export/import_file_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  spec/features/projects/import_export/import_file_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  app/assets/javascripts/search/sidebar/components/shared/searchable_dropdown.vue
  spec/frontend/__helpers__/simulate_typing.js
  spec/frontend/search/sidebar/components/searchable_dropdown_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  app/assets/javascripts/search/sidebar/components/shared/searchable_dropdown.vue
  spec/frontend/__helpers__/simulate_typing.js
  spec/frontend/search/sidebar/components/searchable_dropdown_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@18-7-stable-ee
  app/assets/javascripts/search/sidebar/components/shared/searchable_dropdown.vue
  spec/frontend/__helpers__/simulate_typing.js
  spec/frontend/search/sidebar/components/searchable_dropdown_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  .rubocop_todo/gitlab/bounded_contexts.yml
  .rubocop_todo/style/super_arguments.yml
  app/services/jira/requests/issues/cloud_list_service.rb
  app/services/jira/requests/issues/list_service.rb
  app/services/jira/requests/issues/server_list_service.rb
  app/workers/gitlab/jira_import/stage/import_issues_worker.rb
  lib/gitlab/jira_import.rb
  lib/gitlab/jira_import/issue_serializer.rb
  lib/gitlab/jira_import/issues_importer.rb
  lib/gitlab/rack_attack/request.rb
  lib/gitlab/throttle.rb
  package.json
  qa/qa/specs/features/api/3_create/repository/files_spec.rb
  spec/lib/gitlab/jira_import/issue_serializer_spec.rb
  spec/lib/gitlab/jira_import/issues_importer_spec.rb
  spec/lib/gitlab/jira_import_spec.rb
  spec/lib/gitlab/rack_attack/request_spec.rb
  spec/lib/gitlab/throttle_spec.rb
  spec/services/jira/requests/issues/cloud_list_service_spec.rb
  spec/services/jira/requests/issues/list_service_spec.rb
  spec/services/jira/requests/issues/server_list_service_spec.rb
  spec/support/shared_examples/services/jira/requests/issues/list_service_shared_examples.rb
  spec/workers/gitlab/jira_import/stage/import_issues_worker_spec.rb
  workhorse/_support/lint_last_known_acceptable.txt
  workhorse/internal/ai_assist/duoworkflow/actions.go
  workhorse/internal/ai_assist/duoworkflow/actions_test.go
  workhorse/internal/ai_assist/duoworkflow/handler.go
  workhorse/internal/ai_assist/duoworkflow/handler_test.go
  workhorse/internal/ai_assist/duoworkflow/runner.go
  workhorse/internal/ai_assist/duoworkflow/runner_test.go
  workhorse/internal/upstream/routes.go
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/lib/utils/datetime/date_format_utility.js
  spec/frontend/ci/pipeline_details/header/pipeline_header_spec.js
  spec/frontend/fixtures/autocomplete.rb
  spec/frontend/fixtures/autocomplete_sources.rb
  spec/frontend/fixtures/labels.rb
  spec/frontend/lib/utils/datetime/date_format_utility_spec.js
  spec/requests/api/groups_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rules.gitlab-ci.yml
  .rubocop_todo/api/description_success_response.yml
  .rubocop_todo/api/description_tags.yml
  .rubocop_todo/cop/user_admin.yml
  .rubocop_todo/database/avoid_using_pluck_without_limit.yml
  .rubocop_todo/gitlab/bounded_contexts.yml
  .rubocop_todo/gitlab/json_safe_parse.yml
  .rubocop_todo/internal_affairs/node_type_multiple_predicates.yml
  .rubocop_todo/layout/line_length.yml
  .rubocop_todo/lint/unused_method_argument.yml
  .rubocop_todo/metrics/perceived_complexity.yml
  .rubocop_todo/rspec/context_wording.yml
  .rubocop_todo/rspec/feature_category.yml
  .rubocop_todo/rspec/named_subject.yml
  .rubocop_todo/rspec/receive_messages.yml
  .rubocop_todo/rspec/repeated_example_group_description.yml
  .rubocop_todo/rspec/verified_doubles.yml
  .rubocop_todo/style/if_unless_modifier.yml
  .rubocop_todo/style/inline_disable_annotation.yml
  .rubocop_todo/style/symbol_proc.yml
  spec/tooling/danger/spec_only_spec.rb
  tooling/danger/spec_only.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/administration/admin_area.md
  doc/update/versions/gitlab_15_changes.md
  spec/lib/gitlab/ci/yaml_processor/test_cases/include_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  lib/gitlab/database/repair_index.rb
  spec/lib/gitlab/database/repair_index_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-7-stable-ee
  db/post_migrate/20260105202306_recreate_p_sent_notifications_reply_key_index.rb
  db/schema_migrations/20260105202306
  db/structure.sql
Due: none

Add latest changes from gitlab-org/gitlab@18-7-stable-ee
  lib/gitlab/database/repair_index.rb
  spec/lib/gitlab/database/repair_index_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-7-stable-ee
  app/controllers/health_check_controller.rb
  config/initializers/health_check.rb
  spec/controllers/health_check_controller_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci/merge_requests/components/pipelines_table_wrapper.vue
  app/assets/javascripts/ci/pipelines_page/graphql/subscriptions/ci_pipeline_statuses_updated.subscription.graphql
  app/assets/javascripts/diffs/components/diff_file.vue
  app/assets/javascripts/security_configuration/graphql/security_tracked_refs.query.graphql
  app/controllers/projects/merge_requests_controller.rb
  app/services/ci/inputs/processor_service.rb
  app/services/ci/retry_job_service.rb
  db/docs/batched_background_migrations/delete_orphaned_relation_export_uploads.yml
  db/post_migrate/20251117110002_queue_delete_orphaned_relation_export_uploads.rb
  db/post_migrate/20260108110056_requeue_delete_orphaned_relation_export_uploads.rb
  db/schema_migrations/20260108110056
  doc/user/analytics/duo_and_sdlc_trends.md
  doc/user/duo_agent_platform/flows/foundational_flows/code_review.md
  doc/user/project/merge_requests/duo_in_merge_requests.md
  locale/gitlab.pot
  spec/frontend/ci/merge_requests/components/pipelines_table_wrapper_spec.js
  spec/frontend/security_configuration/components/ref_tracking_list_spec.js
  spec/frontend/security_configuration/components/ref_tracking_selection_spec.js
  spec/frontend/security_configuration/mock_data.js
  spec/migrations/20260108110056_requeue_delete_orphaned_relation_export_uploads_spec.rb
  spec/services/ci/inputs/processor_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/style/inline_disable_annotation.yml
  app/assets/javascripts/graphql_shared/possible_types.json
  app/assets/javascripts/personal_access_tokens/components/app.vue
  app/assets/javascripts/personal_access_tokens/components/personal_access_token_statistics.vue
  app/assets/javascripts/personal_access_tokens/constants.js
  app/assets/javascripts/personal_access_tokens/graphql/get_user_personal_access_token_statistics.query.graphql
  app/assets/javascripts/personal_access_tokens/graphql/get_user_personal_access_tokens.query.graphql
  app/assets/javascripts/personal_access_tokens/utils.js
  app/assets/javascripts/projects/new/components/app.vue
  app/finders/keys_finder.rb
  app/views/groups/group_members/index.html.haml
  app/views/layouts/devise.html.haml
  app/views/projects/project_members/index.html.haml
  data/deprecations/17-1-container-registry-notifications-threshold.yml
  doc/administration/openbao/_index.md
  doc/administration/packages/container_registry.md
  doc/api/graphql/reference/_index.md
  doc/api/openapi/openapi_v2.yaml
  doc/ci/secrets/secrets_manager/_index.md
  doc/update/deprecations.md
  lib/api/project_container_registry_protection_tag_rules.rb
  locale/gitlab.pot
  spec/frontend/personal_access_tokens/components/app_spec.js
  spec/frontend/personal_access_tokens/components/personal_access_token_statistics_spec.js
  spec/frontend/personal_access_tokens/mock_data.js
  spec/frontend/vue_shared/spa/index_spec.js
  spec/requests/api/project_container_registry_protection_tag_rules_spec.rb
  spec/requests/api/projects_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITLAB_PAGES_VERSION
  README.md
  app/assets/javascripts/graphql_shared/fragments/group.fragment.graphql
  app/assets/javascripts/graphql_shared/fragments/project.fragment.graphql
  app/assets/javascripts/groups/show/graphql/resolvers.js
  app/assets/javascripts/groups/your_work/graphql/utils.js
  app/assets/javascripts/vue_shared/components/groups_list/utils.js
  app/assets/javascripts/vue_shared/components/projects_list/utils.js
  app/models/application_setting.rb
  app/services/namespaces/groups/archive_service.rb
  app/services/projects/archive_service.rb
  app/services/search/global_service.rb
  app/services/search/project_service.rb
  config/authz/permission_groups/assignable_permissions/package_and_registry/dependency_proxy_cache/delete.yml
  config/authz/permissions/dependency_proxy_cache/_metadata.yml
  config/authz/permissions/dependency_proxy_cache/delete.yml
  config/feature_flags/beta/merge_requests_merge_data_dual_write.yml
  config/feature_flags/gitlab_com_derisk/search_scope_registry.yml
  lib/api/dependency_proxy.rb
  lib/gitlab/metrics/global_search_slis.rb
  lib/gitlab/search/abuse_detection.rb
  lib/search/navigation.rb
  locale/gitlab.pot
  spec/frontend/groups/show/graphql/resolvers_spec.js
  spec/frontend/groups/your_work/graphql/resolvers_spec.js
  spec/frontend/vue_shared/components/groups_list/utils_spec.js
  spec/frontend/vue_shared/components/projects_list/utils_spec.js
  spec/lib/gitlab/metrics/global_search_slis_spec.rb
  spec/lib/gitlab/search/abuse_detection_spec.rb
  spec/lib/search/navigation_spec.rb
  spec/models/application_setting_spec.rb
  spec/requests/api/dependency_proxy_spec.rb
  spec/requests/api/projects_spec.rb
  spec/services/projects/archive_service_spec.rb
  spec/services/search/global_service_spec.rb
  spec/services/search/project_service_spec.rb
Due: none
