Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: untamper-fe-islands-lockfile, cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

untamper-fe-islands-lockfile:
  after_script:
  - untamper-my-lockfile --lockfile ee/frontend_islands/yarn.lock

cng-helm-cache:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}-kubectl-${KUBECTL_VERSION}-helm-${HELM_VERSION}-kind-${KIND_VERSIO
  ...

gdk-instance-gitaly-transactions:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}
  stage: test
  services:
  ...

verify_lockfile:
  stage: test
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.7.2-git-2.29-lfs-2.9-node-12.18-yarn-1.22-graphicsmagick-1.3.34
  needs: []
  script:
  - npm config set @dappelt:registry https://gitlab.com/api/v4/projects/22564149/packages/npm/
  ...

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  GITLAB_PAGES_VERSION
  app/assets/javascripts/graphql_shared/possible_types.json
  app/assets/javascripts/rapid_diffs/adapters/expand_lines.js
  app/graphql/types/current_user_type.rb
  app/graphql/types/query_type.rb
  app/services/git/tag_hooks_service.rb
  config/feature_flags/experiment/bypass_tag_commit_check_during_tag_hooks.yml
  db/migrate/20251124174123_add_not_null_constraint_on_spam_logs_user_id.rb
  db/migrate/20251124174127_add_foreign_key_to_users_on_spam_logs.rb
  db/post_migrate/20251124174132_remove_orphaned_spam_logs.rb
  db/post_migrate/20251124182336_prepare_async_check_not_null_constraint_on_spam_logs_for_user_id.rb
  db/post_migrate/20251124182820_prepare_async_foreign_key_constraint_on_spam_logs_for_user_id.rb
  db/schema_migrations/20251124174123
  db/schema_migrations/20251124174127
  db/schema_migrations/20251124174132
  db/schema_migrations/20251124182336
  db/schema_migrations/20251124182820
  db/structure.sql
  doc/api/graphql/reference/_index.md
  doc/development/organization/_index.md
  spec/db/schema_spec.rb
  spec/features/merge_request/user_creates_image_diff_notes_spec.rb
  spec/frontend/rapid_diffs/adapters/expand_lines_spec.js
  spec/graphql/types/current_user_type_spec.rb
  spec/graphql/types/query_type_spec.rb
  spec/migrations/20251113203202_remove_orphaned_spam_logs_spec.rb
  spec/services/git/tag_hooks_service_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/vue_shared/components/badges/beta_badge.stories.js
  app/assets/javascripts/vue_shared/components/badges/beta_badge.vue
  app/assets/javascripts/vue_shared/components/badges/hover_badge.stories.js
  app/assets/javascripts/vue_shared/components/badges/hover_badge.vue
  app/graphql/resolvers/users/personal_access_tokens_resolver.rb
  app/models/instance_configuration.rb
  app/views/help/instance_configuration/_rate_limits.html.haml
  config/audit_events/types/ip_restricted_group_accessed.yml
  config/gitlab_loose_foreign_keys.yml
  db/docs/vulnerability_detection_transitions.yml
  db/migrate/20251126190948_create_vulnerability_detection_transitions.rb
  db/schema_migrations/20251126190948
  db/structure.sql
  doc/api/graphql/reference/_index.md
  doc/user/compliance/audit_event_types.md
  locale/gitlab.pot
  spec/frontend/vue_shared/components/badges/__snapshots__/beta_badge_spec.js.snap
  spec/frontend/vue_shared/components/badges/beta_badge_spec.js
  spec/frontend/vue_shared/components/badges/hover_badge_spec.js
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/instance_configuration_spec.rb
  spec/requests/api/graphql/authz/personal_access_tokens/personal_access_tokens_query_spec.rb
  spec/views/help/instance_configuration.html.haml_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  app/controllers/jwks_controller.rb
  app/controllers/oauth/protected_resource_metadata_controller.rb
  spec/requests/jwks_controller_spec.rb
  spec/requests/oauth/protected_resource_metadata_controller_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  db/docs/bulk_import_batch_trackers.yml
  doc/api/pipelines.md
  doc/development/fe_guide/frontend_goals.md
  doc/development/fe_guide/graphql.md
  doc/development/namespaces.md
  doc/user/application_security/dast/browser/configuration/overriding_analyzer_jobs.md
  doc/user/application_security/dast/browser/configuration/variables.md
  doc/user/application_security/dast/browser/troubleshooting.md
  lib/gitlab/security/dast_variables.rb
  locale/gitlab.pot
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
  spec/lib/gitlab/database/sharding_key_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  .gitlab/duo/mr-review-instructions.yaml
  .rubocop_todo/layout/line_length.yml
  app/assets/javascripts/merge_requests/components/reviewers/reviewer_dropdown.vue
  app/views/projects/_stat_anchor_list.html.haml
  db/docs/batched_background_migrations/migrate_epic_label_links_to_work_items.yml
  db/docs/enabled_foundational_flows.yml
  db/migrate/20251114000001_update_unset_has_issues_on_vulnerability_reads_function.rb
  db/migrate/20251114000002_update_unset_has_merge_request_on_vulnerability_reads_function.rb
  db/migrate/20251125150714_add_license_occurrence_uuids_index_to_security_policy_dismissals.rb
  db/migrate/20251127081712_create_enabled_foundational_flows.rb
  db/migrate/20251127104442_add_foundational_flow_reference_to_ai_catalog_items.rb
  db/migrate/20251128100336_add_foreign_key_to_enabled_foundational_flows_namespace.rb
  db/migrate/20251128100524_add_foreign_key_to_enabled_foundational_flows_project.rb
  db/post_migrate/20251125163204_queue_migrate_epic_label_links_to_work_items.rb
  db/schema_migrations/20251114000001
  db/schema_migrations/20251114000002
  db/schema_migrations/20251125150714
  db/schema_migrations/20251125163204
  db/schema_migrations/20251127081712
  db/schema_migrations/20251127104442
  db/schema_migrations/20251128100336
  db/schema_migrations/20251128100524
  db/structure.sql
  doc/ci/runners/new_creation_workflow.md
  doc/development/database/dbcheck-migrations-job.md
  doc/update/versions/gitlab_18_changes.md
  doc/user/application_security/container_scanning/_index.md
  doc/user/application_security/detect/security_configuration.md
  doc/user/application_security/offline_deployments/_index.md
  doc/user/clusters/agent/_index.md
  lib/gitlab/background_migration/migrate_epic_label_links_to_work_items.rb
  lib/gitlab/import_export/project/import_export.yml
  spec/lib/gitlab/background_migration/migrate_epic_label_links_to_work_items_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/migrations/20251125163204_queue_migrate_epic_label_links_to_work_items_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  vendor/assets/javascripts/vue-virtual-scroller/src/components/RecycleScroller.vue
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  vendor/assets/javascripts/vue-virtual-scroller/src/components/RecycleScroller.vue
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/models/import/offline/configuration.rb
  app/models/import/offline/export.rb
  app/services/import/offline/exports/create_service.rb
  app/validators/json_schemas/import_offline_configuration_aws_s3_credentials.json
  app/validators/json_schemas/import_offline_configuration_minio_credentials.json
  db/docs/batched_background_migrations/migrate_duplicate_push_rules_to_project_push_rules.yml
  db/docs/import_offline_configurations.yml
  db/migrate/20251028183722_create_import_offline_configurations.rb
  db/migrate/20251105180355_add_offline_export_foreign_key_to_import_offline_configurations.rb
  db/migrate/20251105180409_add_organization_foreign_key_to_import_offline_configurations.rb
  db/post_migrate/20251112075144_queue_migrate_duplicate_push_rules_to_project_push_rules.rb
  db/schema_migrations/20251028183722
  db/schema_migrations/20251105180355
  db/schema_migrations/20251105180409
  db/schema_migrations/20251112075144
  db/structure.sql
  doc/ci/runners/git_submodules.md
  doc/ci/testing/code_coverage/cobertura.md
  doc/ci/testing/code_coverage/jacoco.md
  doc/user/duo_agent_platform/agents/external.md
  doc/user/duo_agent_platform/agents/flow_examples.md
  doc/user/duo_agent_platform/sessions/_index.md
  lib/gitlab/background_migration/migrate_duplicate_push_rules_to_project_push_rules.rb
  lib/import/clients/object_storage.rb
  locale/gitlab.pot
  package.json
  spec/factories/import/offline/configurations.rb
  spec/lib/gitlab/background_migration/migrate_duplicate_push_rules_to_project_push_rules_spec.rb
  spec/lib/import/clients/object_storage_spec.rb
  spec/migrations/20251112075144_queue_migrate_duplicate_push_rules_to_project_push_rules_spec.rb
  spec/models/import/offline/configuration_spec.rb
  spec/models/import/offline/export_spec.rb
  spec/services/import/offline/exports/create_service_spec.rb
  yarn.lock
Due: gdk-instance-gitaly-transactions, verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  doc/_index.md
  doc/administration/auth/ldap/_index.md
  doc/administration/feature_flags/list.md
  doc/api/group_push_rules.md
  doc/development/database/adding_database_indexes.md
  doc/development/redis/new_redis_instance.md
  doc/development/work_items.md
  doc/drawers/advanced_search_syntax.md
  doc/integration/arkose.md
  doc/topics/autodevops/cicd_variables.md
  doc/user/application_security/container_scanning/container_scanning_troubleshooting.md
  doc/user/application_security/dependency_scanning/experiment_libbehave_dependency.md
  doc/user/application_security/sast/gitlab_advanced_sast.md
  doc/user/application_security/secret_detection/detected_secrets.md
  doc/user/application_security/secret_detection/pipeline/_index.md
  doc/user/application_security/secret_detection/pipeline/configure.md
  doc/user/compliance/license_scanning_of_cyclonedx_files/_index.md
  doc/user/markdown.md
  doc/user/search/_index.md
  doc/user/search/advanced_search.md
  lib/gitlab/git/repository.rb
  lib/gitlab/gitaly_client/operation_service.rb
  spec/lib/gitlab/git/repository_spec.rb
  spec/lib/gitlab/gitaly_client/operation_service_spec.rb
  spec/models/repository_spec.rb
  spec/support/rspec_order_todo.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/administration/file_hooks.md
  doc/ci/yaml/_index.md
  doc/user/application_security/container_scanning/_index.md
  doc/user/application_security/continuous_vulnerability_scanning/_index.md
  qa/qa/specs/features/browser_ui/2_plan/issue/export_as_csv_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  doc/api/graphql/reference/_index.md
  qa/qa/resource/project.rb
  workhorse/internal/ai_assist/duoworkflow/lock.go
  workhorse/internal/ai_assist/duoworkflow/runner.go
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  .gitlab/lint/unused_methods/potential_methods_to_remove.yml
  GITALY_SERVER_VERSION
  db/docs/cluster_platforms_kubernetes.yml
  doc/api/openapi/openapi_v2.yaml
  doc/api/runners.md
  doc/development/product_qualified_lead_guide/_index.md
  doc/subscriptions/gitlab_dedicated/_index.md
  doc/user/duo_agent_platform/security.md
  doc/user/project/repository/code_suggestions/supported_extensions.md
  lib/api/ci/helpers/runner.rb
  lib/api/ci/runner.rb
  lib/api/entities/ci/job_router/discovery_information.rb
  locale/gitlab.pot
  spec/lib/api/ci/helpers/runner_spec.rb
  spec/lib/gitlab/database/sharding_key_spec.rb
  spec/requests/api/ci/runners_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  .gitlab/ci/version.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  .rubocop_todo/api/description_summary.yml
  app/assets/javascripts/ci/pipeline_editor/components/drawer/sections/getting_started_section.vue
  db/migrate/20250902170829_create_cells_outstanding_leases.rb
  doc/administration/dedicated/configure_instance/_index.md
  doc/administration/dedicated/tenant_overview.md
  doc/administration/gitlab_duo/setup.md
  doc/administration/settings/sign_up_restrictions.md
  doc/ci/pipelines/merge_request_pipelines.md
  doc/ci/yaml/_index.md
  doc/ci/yaml/includes.md
  doc/development/api_styleguide.md
  doc/user/application_security/policies/enforcement/_index.md
  doc/user/application_security/policies/pipeline_execution_policies.md
  doc/user/application_security/policies/scan_execution_policies.md
  doc/user/duo_agent_platform/flows/custom.md
  doc/user/group/manage.md
  doc/user/project/members/sharing_projects_groups.md
  lib/gitlab/github_import/attachments_downloader.rb
  lib/gitlab/github_import/markdown/attachment.rb
  locale/gitlab.pot
  qa/qa/specs/features/shared_contexts/audit_event_streaming_shared_context.rb
  qa/qa/specs/features/shared_examples/audit_event_streaming_shared_examples.rb
  qa/qa/tools/test_resources_handler.rb
  rubocop/cop/api/description_summary.rb
  spec/frontend/ci/pipeline_editor/components/drawer/sections/getting_started_section_spec.js
  spec/lib/gitlab/github_import/attachments_downloader_spec.rb
  spec/lib/gitlab/github_import/markdown/attachment_spec.rb
  spec/rubocop/cop/api/description_summary_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  .gitlab/ci/version.yml
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  .gitlab/ci/version.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/qa-common/omnibus.gitlab-ci.yml
  .gitlab/ci/version.yml
  .rubocop_todo/rspec/receive_messages.yml
  GITLAB_KAS_VERSION
  app/assets/javascripts/entrypoints/super_sidebar.js
  app/assets/javascripts/super_sidebar/components/user_menu.vue
  app/assets/javascripts/super_sidebar/components/user_menu_project_studio_section.vue
  app/assets/javascripts/super_sidebar/graphql/queries/set_project_studio_enabled.mutation.graphql
  app/assets/javascripts/super_sidebar/super_sidebar_bundle.js
  app/helpers/application_helper.rb
  app/models/users/project_studio.rb
  app/policies/global_policy.rb
  doc/administration/settings/security_and_compliance.md
  doc/api/openapi/openapi_v2.yaml
  doc/user/application_security/dependency_scanning/static_reachability.md
  doc/user/compliance/compliance_center/compliance_violations_report.md
  doc/user/interface_redesign.md
  doc/user/project/import/github.md
  lib/gitlab/gon_helper.rb
  locale/gitlab.pot
  qa/qa/flow/login.rb
  qa/qa/page/main/login.rb
  qa/qa/page/main/menu.rb
  spec/frontend/super_sidebar/components/user_menu_project_studio_section_spec.js
  spec/frontend/super_sidebar/components/user_menu_spec.js
  spec/helpers/application_helper_spec.rb
  spec/models/users/project_studio_spec.rb
  spec/policies/global_policy_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  lib/gitlab/github_import/representation/diff_note.rb
  spec/lib/gitlab/github_import/representation/diff_note_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  Gemfile
  Gemfile.checksum
  Gemfile.lock
  Gemfile.next.checksum
  Gemfile.next.lock
  qa/Gemfile
  qa/Gemfile.lock
  qa/qa/specs/spec_helper.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-6-stable-ee
  spec/features/merge_request/user_creates_image_diff_notes_spec.rb
Due: none

Path conditions:
  untamper-fe-islands-lockfile: any of: ee/frontend_islands/yarn.lock
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock
