Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: untamper-fe-islands-lockfile, cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

untamper-fe-islands-lockfile:
  after_script:
  - untamper-my-lockfile --lockfile ee/frontend_islands/yarn.lock

cng-helm-cache:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}-kubectl-${KUBECTL_VERSION}-helm-${HELM_VERSION}-kind-${KIND_VERSIO
  ...

gdk-instance-gitaly-transactions:
  image: ${REGISTRY_HOST}/${REGISTRY_GROUP}/gitlab-build-images/ci/${BUILD_OS}-${OS_VERSION}-slim-ruby-${RUBY_VERSION}:rubygems-${RUBYGEMS_VERSION}-git-${GIT_VERSION}-lfs-${LFS_VERSION}-chrome-${CHROME_VERSION}-docker-${DOCKER_VERSION}
  stage: test
  services:
  ...

verify_lockfile:
  stage: test
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:ruby-2.7.2-git-2.29-lfs-2.9-node-12.18-yarn-1.22-graphicsmagick-1.3.34
  needs: []
  script:
  - npm config set @dappelt:registry https://gitlab.com/api/v4/projects/22564149/packages/npm/
  ...

Add latest changes from gitlab-org/gitlab@master
  app/workers/concerns/worker_attributes.rb
  config/feature_flags/gitlab_com_derisk/use_max_concurrency_limit_percentage_as_default_limit.yml
  db/post_migrate/20251110012104_prepare_indexes_for_merge_requests_bigint_conversion_stage_two.rb
  db/schema_migrations/20251110012104
  doc/development/ai_features/glossary.md
  lib/gitlab/sidekiq_middleware/concurrency_limit/workers_map.rb
  spec/lib/gitlab/sidekiq_middleware/concurrency_limit/workers_map_spec.rb
  spec/workers/concerns/worker_attributes_spec.rb
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@18-5-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-4-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@18-3-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/graphql_shared/possible_types.json
  app/graphql/resolvers/users/personal_access_tokens_resolver.rb
  app/graphql/types/authz/access_tokens/granular_scope_access_enum.rb
  app/graphql/types/authz/access_tokens/granular_scope_type.rb
  app/graphql/types/authz/access_tokens/legacy_scope_type.rb
  app/graphql/types/authz/access_tokens/permission_type.rb
  app/graphql/types/authz/access_tokens/sort_enum.rb
  app/graphql/types/authz/access_tokens/state_enum.rb
  app/graphql/types/authz/personal_access_tokens/personal_access_token_type.rb
  app/graphql/types/authz/personal_access_tokens/scope_type.rb
  app/graphql/types/user_interface.rb
  app/helpers/labels_helper.rb
  doc-locale/ja-jp/install/aws/_index.md
  doc/api/graphql/reference/_index.md
  doc/api/project_forks.md
  doc/user/gitlab_duo/model_context_protocol/_index.md
  doc/user/gitlab_duo/model_context_protocol/mcp_clients.md
  doc/user/gitlab_duo/model_context_protocol/mcp_server.md
  doc/user/gitlab_duo/model_context_protocol/mcp_server_troubleshooting.md
  doc/user/gitlab_duo_chat/agentic_chat.md
  doc/user/profile/service_accounts.md
  doc/user/project/repository/forking_workflow.md
  lib/banzai/filter/references/label_reference_filter.rb
  lib/gitlab/database/background_operation/common_job.rb
  lib/gitlab/database/background_operation/executor.rb
  spec/graphql/types/authz/access_tokens/granular_scope_access_enum_spec.rb
  spec/graphql/types/authz/access_tokens/granular_scope_type_spec.rb
  spec/graphql/types/authz/access_tokens/legacy_scope_type_spec.rb
  spec/graphql/types/authz/access_tokens/sort_enum_spec.rb
  spec/graphql/types/authz/access_tokens/state_enum_spec.rb
  spec/graphql/types/authz/personal_access_tokens/personal_access_token_type_spec.rb
  spec/graphql/types/authz/personal_access_tokens/scope_type_spec.rb
  spec/helpers/labels_helper_spec.rb
  spec/lib/banzai/filter/references/label_reference_filter_spec.rb
  spec/lib/gitlab/database/background_operation/executor_spec.rb
  spec/requests/api/graphql/authz/access_tokens/permissions_query_spec.rb
  spec/requests/api/graphql/authz/personal_access_tokens/personal_access_tokens_query_spec.rb
  spec/support/shared_examples/cells/claims_shared_examples.rb
  spec/support/shared_examples/graphql/types/merge_request_interactions_type_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci/runner/components/registration/registration_dropdown.vue
  app/assets/javascripts/ci/runner/components/registration/registration_token.vue
  app/assets/javascripts/oauth_application/components/oauth_secret.vue
  app/assets/javascripts/vue_shared/components/input_copy_toggle_visibility/input_copy_toggle_visibility.vue
  app/assets/stylesheets/print.scss
  app/models/ci/pipeline.rb
  app/policies/user_policy.rb
  app/services/authn/passkey/authenticate_service.rb
  app/services/authn/passkey/destroy_service.rb
  app/services/authn/passkey/register_service.rb
  config/authz/permissions/passkey/disable.yml
  db/post_migrate/20251104070000_add_web_hook_index_on_nil_foreign_key.rb
  db/post_migrate/20251104070010_remove_invalid_webhook_records.rb
  db/post_migrate/20251104070020_remove_web_hook_index_on_nil_foreign_key.rb
  db/schema_migrations/20251104070000
  db/schema_migrations/20251104070010
  db/schema_migrations/20251104070020
  doc/administration/operations/moving_repositories.md
  doc/administration/settings/import_and_export_settings.md
  doc/api/cluster_agents.md
  doc/api/code_suggestions.md
  doc/api/instance_clusters.md
  doc/api/packages/debian.md
  doc/api/packages/go_proxy.md
  doc/api/packages/maven.md
  doc/api/project_clusters.md
  doc/user/infrastructure/iac/terraform_state.md
  doc/user/profile/personal_access_tokens.md
  doc/user/project/import/_index.md
  locale/gitlab.pot
  qa/qa/page/admin/applications.rb
  spec/factories/users.rb
  spec/frontend/ci/runner/components/registration/registration_token_spec.js
  spec/frontend/vue_shared/components/form/input_copy_toggle_visibility_spec.js
  spec/migrations/20251104070010_remove_invalid_webhook_records_spec.rb
  spec/policies/user_policy_spec.rb
  spec/services/authn/passkey/authenticate_service_spec.rb
  spec/services/authn/passkey/destroy_service_spec.rb
  spec/services/authn/passkey/register_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/emoji/index.js
  doc/user/analytics/value_streams_dashboard.md
  spec/frontend/emoji/index_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/repository/components/table/index.vue
  app/assets/stylesheets/page_bundles/tree.scss
Due: none

Add latest changes from gitlab-org/gitlab@18-4-stable-ee
  lib/gitlab/ci/parsers/sbom/component.rb
  lib/gitlab/ci/parsers/sbom/license/common.rb
  lib/gitlab/ci/parsers/sbom/license/container_scanning.rb
  spec/lib/gitlab/ci/parsers/sbom/component_spec.rb
  spec/lib/gitlab/ci/parsers/sbom/license/common_spec.rb
  spec/lib/gitlab/ci/parsers/sbom/license/container_scanning_spec.rb
  spec/support/shared_examples/lib/gitlab/ci/parsers/sbom/license/sbom_licenses_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  lib/gitlab/ci/parsers/sbom/component.rb
  lib/gitlab/ci/parsers/sbom/license/common.rb
  lib/gitlab/ci/parsers/sbom/license/container_scanning.rb
  spec/lib/gitlab/ci/parsers/sbom/component_spec.rb
  spec/lib/gitlab/ci/parsers/sbom/license/common_spec.rb
  spec/lib/gitlab/ci/parsers/sbom/license/container_scanning_spec.rb
  spec/support/shared_examples/lib/gitlab/ci/parsers/sbom/license/sbom_licenses_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  app/services/git/branch_push_service.rb
  spec/services/git/branch_push_service_spec.rb
  spec/services/git/process_ref_changes_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .eslint_todo/vue-no-unused-properties.mjs
  .eslint_todo/vue-require-name-property.mjs
  GITALY_SERVER_VERSION
  app/assets/javascripts/homepage/components/user_items_count_widget.vue
  app/models/members/project_member.rb
  app/models/merge_request_diff.rb
  db/docs/abuse_events.yml
  db/migrate/20251106205320_add_sharding_key_trigger_to_abuse_events.rb
  db/migrate/20251106205827_add_not_null_constraint_to_abuse_events_on_organization_id.rb
  db/post_migrate/20251106210216_backfill_abuse_events_organization_id.rb
  db/post_migrate/20251106211446_validate_organization_id_on_abuse_events.rb
  db/schema_migrations/20251106205320
  db/schema_migrations/20251106205827
  db/schema_migrations/20251106210216
  db/schema_migrations/20251106211446
  db/structure.sql
  doc-locale/ja-jp/tutorials/issue_triage_group/_index.md
  doc-locale/ja-jp/tutorials/kanban/_index.md
  doc-locale/ja-jp/tutorials/left_sidebar/_index.md
  doc-locale/ja-jp/tutorials/merge_requests/homepage.md
  doc-locale/ja-jp/tutorials/observability/observability_django_tutorial.md
  doc-locale/ja-jp/tutorials/observability/observability_dotnet_tutorial.md
  doc-locale/ja-jp/tutorials/observability/observability_java_tutorial.md
  doc-locale/ja-jp/tutorials/observability/observability_nodejs_tutorial.md
  doc-locale/ja-jp/tutorials/observability/observability_rails_tutorial.md
  doc-locale/ja-jp/tutorials/personal_homepage/_index.md
  doc/development/database/batched_background_migrations.md
  doc/user/duo_agent_platform/agents/_index.md
  doc/user/duo_agent_platform/triggers/_index.md
  doc/user/gitlab_duo/feature_summary.md
  doc/user/gitlab_duo_chat/agentic_chat.md
  locale/gitlab.pot
  qa/gdk/Dockerfile.gdk
  scripts/frontend/generate_eslint_todo_list.mjs
  spec/factories/anti_abuse/event.rb
  spec/helpers/preferences_helper_spec.rb
  spec/initializers/1_settings_spec.rb
  spec/migrations/backfill_abuse_events_organization_id_spec.rb
  spec/models/members/project_member_spec.rb
  spec/presenters/project_member_presenter_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  GITLAB_ELASTICSEARCH_INDEXER_VERSION
  doc/api/graphql/reference/_index.md
  doc/api/packages/composer.md
  lefthook.yml
  locale/gitlab.pot
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  .gitlab/ci/rules.gitlab-ci.yml
  app/services/merge_requests/refresh_service.rb
  config/authz/permissions/service_account/read.yml
  config/feature_flags/wip/log_merge_request_reset_approvals_duration.yml
  config/feature_flags/wip/log_refresh_service_duration.yml
  lib/tasks/gitlab/tw/codeowners.rake
  locale/gitlab.pot
  qa/qa/tools/ci/pipeline_creator.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/frontend.gitlab-ci.yml
  app/assets/javascripts/security_configuration/components/ref_tracking_selection.vue
  app/assets/javascripts/security_configuration/security_attributes/api/refs_api.js
  config/feature_flags/ops/concurrency_limit_eager_resume_processing.yml
  db/click_house/main.sql
  db/click_house/migrate/main/20251023183152_create_code_suggestion_events_daily_new.rb
  db/click_house/migrate/main/20251023184154_create_code_suggestion_events_daily_new_mv.rb
  db/click_house/migrate/main/20251023184515_backfill_code_suggestion_events_daily_new.rb
  db/click_house/schema_migrations/main/20251023183152
  db/click_house/schema_migrations/main/20251023184154
  db/click_house/schema_migrations/main/20251023184515
  doc/user/gitlab_duo/model_context_protocol/mcp_server.md
  doc/user/group/import/_index.md
  doc/user/project/import/_index.md
  doc/user/project/import/bitbucket.md
  doc/user/project/import/bitbucket_server.md
  doc/user/project/import/clearcase.md
  doc/user/project/import/cvs.md
  doc/user/project/import/fogbugz.md
  doc/user/project/import/gitea.md
  doc/user/project/import/github.md
  doc/user/project/import/jira.md
  doc/user/project/import/manifest.md
  doc/user/project/import/perforce.md
  doc/user/project/import/repo_by_url.md
  doc/user/project/import/tfvc.md
  doc/user/project/import/troubleshooting_github_import.md
  doc/user/project/settings/import_export.md
  jest.config.base.js
  lib/gitlab/sidekiq_middleware/concurrency_limit/queue_manager.rb
  locale/gitlab.pot
  scripts/frontend/jest_json_reporter.js
  scripts/frontend/jest_test_map_reporter.js
  spec/db/click_house/migrate/20251023184515_backfill_code_suggestion_events_daily_new_spec.rb
  spec/frontend/scripts/frontend/jest_test_map_reporter.spec.js
  spec/frontend/security_configuration/components/ref_tracking_selection_spec.js
  spec/frontend/security_configuration/security_attributes/api/refs_api_spec.js
  spec/lib/gitlab/sidekiq_middleware/concurrency_limit/queue_manager_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci/common/pipeline_inputs/graphql/queries/pipeline_creation_inputs.query.graphql
  app/assets/javascripts/ci/common/pipeline_inputs/pipeline_inputs_form.vue
  app/assets/javascripts/ci/common/pipeline_inputs/utils.js
  app/assets/javascripts/diffs/utils/diff_file.js
  app/assets/javascripts/repository/components/header_area.vue
  app/assets/javascripts/repository/components/header_area/breadcrumbs.vue
  app/assets/javascripts/search/topbar/components/app.vue
  doc/administration/admin_area.md
  doc/administration/dedicated/tenant_overview.md
  doc/api/topics.md
  doc/user/project/project_topics.md
  locale/gitlab.pot
  qa/qa/page/project/issue/index.rb
  qa/qa/specs/features/browser_ui/2_plan/issue/export_as_csv_spec.rb
  scripts/frontend/quarantined_vue3_specs.txt
  spec/frontend/__helpers__/vue_test_utils_helper_spec.js
  spec/frontend/ci/common/pipeline_inputs/mock_data.js
  spec/frontend/ci/common/pipeline_inputs/pipeline_inputs_form_spec.js
  spec/frontend/ci/common/pipeline_inputs/utils_spec.js
  spec/frontend/diffs/utils/diff_file_spec.js
  spec/frontend/repository/components/header_area/breadcrumbs_spec.js
  spec/frontend/search/topbar/components/app_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  app/assets/javascripts/lib/utils/constants.js
  doc-locale/ja-jp/security/compliance_security_policy_management.md
  doc-locale/ja-jp/security/compromised_password_detection.md
  doc-locale/ja-jp/security/email_verification.md
  doc-locale/ja-jp/security/hardening_cicd_recommendations.md
  doc-locale/ja-jp/security/identity_verification.md
  doc-locale/ja-jp/security/password_length_limits.md
  doc-locale/ja-jp/security/tokens/token_troubleshooting.md
  doc-locale/ja-jp/security/unlock_user.md
  doc-locale/ja-jp/user/application_security/security_inventory/_index.md
  doc/api/graphql/reference/_index.md
  doc/ci/yaml/_index.md
  doc/user/permissions.md
  lib/tasks/gitlab/tw/codeowners.rake
  locale/gitlab.pot
  scripts/frontend/quarantined_vue3_specs.txt
  spec/frontend/design_management/pages/design/__snapshots__/index_spec.js.snap
  spec/frontend/design_management/pages/design/index_spec.js
  spec/frontend/design_management/pages/index_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  db/schema_migrations/20251103132313
  package.json
  qa/gdk/Dockerfile.gdk
  qa/qa/page/main/menu.rb
  scripts/trigger-build.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@18-5-stable-ee
  config/feature_flags/beta/split_refresh_approval_worker.yml
  config/feature_flags/beta/split_refresh_worker_pipeline.yml
  config/feature_flags/beta/split_refresh_worker_web_hooks.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rails.gitlab-ci.yml
  .rubocop.yml
  .rubocop_todo/gitlab/rspec/misplaced_ee_spec_file.yml
  GITLAB_KAS_VERSION
  app/assets/javascripts/integrations/beyond_identity/components/exclusions_list.vue
  app/controllers/groups_controller.rb
  app/controllers/projects/issues_controller.rb
  app/controllers/projects/pipelines_controller.rb
  config/events/p_analytics_ci_cd_lead_time.yml
  config/events/removed/p_analytics_ci_cd_deployment_frequency.yml
  config/events/removed/p_analytics_ci_cd_lead_time.yml
  config/events/removed/visit_ci_cd_failure_rate_tab.yml
  config/events/removed/visit_ci_cd_time_to_restore_service_tab.yml
  config/metrics/counts_28d/20211126090835_p_analytics_ci_cd_deployment_frequency_monthly.yml
  config/metrics/counts_28d/20211126091206_p_analytics_ci_cd_lead_time_monthly.yml
  config/metrics/counts_7d/20211126090829_p_analytics_ci_cd_deployment_frequency_weekly.yml
  config/metrics/counts_7d/20211126091200_p_analytics_ci_cd_lead_time_weekly.yml
  config/metrics/counts_all/p_analytics_ci_cd_change_failure_rate.yml
  config/metrics/counts_all/p_analytics_ci_cd_time_to_restore_service.yml
  doc/development/ai_features/availability.md
  doc/development/documentation/styleguide/_index.md
  doc/user/duo_agent_platform/agents/foundational_agents/_index.md
  doc/user/duo_agent_platform/agents/foundational_agents/planner.md
  doc/user/duo_agent_platform/agents/foundational_agents/security_analyst_agent.md
  doc/user/gitlab_duo/model_context_protocol/mcp_server.md
  doc/user/gitlab_duo/model_context_protocol/mcp_server_troubleshooting.md
  lib/gitlab/usage_data_counters/hll_redis_key_overrides.yml
  lib/gitlab/usage_data_counters/hll_redis_legacy_events.yml
  spec/controllers/groups_controller_spec.rb
  spec/controllers/projects/issues_controller_spec.rb
  spec/controllers/projects/pipelines_controller_spec.rb
  spec/features/groups/step_up_auth_spec.rb
  spec/features/work_items/list/redirect_from_issues_spec.rb
  spec/frontend/integrations/beyond_identity/components/add_exclusions_drawer_spec.js
  spec/requests/projects/issues_controller_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/test-on-gdk/main.gitlab-ci.yml
  .gitlab/issue_templates/Plan - Spike.md
  .gitlab/issue_templates/UX Theme.md
  Gemfile.checksum
  Gemfile.lock
  Gemfile.next.checksum
  Gemfile.next.lock
  app/assets/javascripts/ci/pipelines_page/pipelines_graphql.vue
  app/assets/javascripts/projects/new_v2/components/ci_cd_project_form.vue
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  app/models/users/project_studio.rb
  config/feature_flags/beta/paneled_view.yml
  config/feature_flags/beta/project_studio_early_access.yml
  config/feature_flags/gitlab_com_derisk/new_ui_dot_com_rollout.yml
  doc/administration/gitlab_duo_self_hosted/supported_models_and_hardware_requirements.md
  doc/api/graphql/reference/_index.md
  doc/user/application_security/iac_scanning/_index.md
  doc/user/gitlab_duo/feature_summary.md
  doc/user/interface_redesign.md
  lib/gitlab/gon_helper.rb
  locale/gitlab.pot
  qa/qa/runtime/env.rb
  qa/qa/specs/features/browser_ui/10_software_supply_chain_security/login/2fa_recovery_spec.rb
  qa/qa/specs/features/browser_ui/10_software_supply_chain_security/login/log_in_with_2fa_spec.rb
  scripts/internal_events/cli/flows/metric_definer.rb
  scripts/internal_events/cli/metric.rb
  scripts/internal_events/cli/subflows/database_metric_definer.rb
  scripts/internal_events/cli/text/metric_definer.rb
  spec/fixtures/scripts/internal_events/metric_definer_database_examples.yml
  spec/fixtures/scripts/internal_events/metrics/database_metric.yml
  spec/frontend/ci/pipelines_page/pipelines_graphql_spec.js
  spec/frontend/projects/new_v2/components/ci_cd_project_form_spec.js
  spec/helpers/application_helper_spec.rb
  spec/models/users/project_studio_spec.rb
  spec/requests/application_controller_spec.rb
  spec/scripts/internal_events/cli/flows/metric_definer_spec.rb
  spec/scripts/internal_events/cli/metric_spec.rb
  spec/simplecov_env_core.rb
Due: none

Path conditions:
  untamper-fe-islands-lockfile: any of: ee/frontend_islands/yarn.lock
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock
