Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: untamper-fe-islands-lockfile, cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  untamper-fe-islands-lockfile: any of: ee/frontend_islands/yarn.lock
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@19-2-stable-ee
  .gitlab/ci/global.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/gitlab@19-0-stable-ee
  .gitlab/ci/global.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/qa-common/variables.gitlab-ci.yml
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  app/assets/javascripts/gfm_auto_complete.js
  app/models/abuse_report.rb
  app/models/anti_abuse/reports/individual_note_discussion.rb
  app/models/anti_abuse/reports/user_mention.rb
  app/models/concerns/noteable.rb
  app/models/note.rb
  config/application.rb
  config/feature_flags/gitlab_com_derisk/merge_request_detailed_failure_reasons.yml
  config/organizations/transfer_support.yml
  db/docs/deleted_tables/abuse_report_user_mentions.yml
  db/migrate/20260812021900_remove_abuse_report_user_mentions_note_id_fk.rb
  db/migrate/20260812022000_remove_abuse_report_user_mentions_abuse_report_id_fk.rb
  db/migrate/20260812022100_remove_abuse_report_user_mentions_organization_id_fk.rb
  db/post_migrate/20260812022200_drop_abuse_report_user_mentions_table.rb
  db/schema_migrations/20260812021900
  db/schema_migrations/20260812022000
  db/schema_migrations/20260812022100
  db/schema_migrations/20260812022200
  db/structure.sql
  lib/gitlab/url_builder.rb
  qa/gdk/Dockerfile.gdk
  qa/qa/specs/features/api/4_verify/prevent_duplicate_mr_pipelines_spec.rb
  qa/qa/specs/features/browser_ui/4_verify/ci_job_artifacts/job_artifacts_access_keyword_spec.rb
  qa/qa/specs/features/browser_ui/4_verify/pipeline/pipeline_with_image_pull_policy_spec.rb
  qa/qa/specs/features/browser_ui/5_package/package_registry/nuget/nuget_group_level_spec.rb
  qa/qa/specs/features/browser_ui/6_deploy/auto_devops/auto_devops_templates_spec.rb
  qa/qa/specs/features/browser_ui/6_deploy/deploy_key/clone_using_deploy_key_spec.rb
  scripts/lint/keela_baseline.yml
  spec/factories/anti_abuse/abuse_report_user_mentions.rb
  spec/frontend/gfm_auto_complete_spec.js
  spec/models/abuse_report_spec.rb
  spec/models/anti_abuse/reports/user_mention_spec.rb
  spec/models/note_spec.rb
  workhorse/.tool-versions
  workhorse/go.mod
  workhorse/go.sum
Due: cng-helm-cache

Add latest changes from gitlab-org/gitlab@18-11-stable-ee
  .gitlab/ci/global.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/gitlab@18-11-stable-ee
  config/helpers/vite_plugin_vue3_infection.mjs
  config/plugins/webpack_vue3_infection_plugin.js
  package.json
  scripts/compile_assets
  scripts/frontend/infection_scanner/infection_scanner.mjs
Due: none

Add latest changes from gitlab-org/security/gitlab@18-11-stable-ee
  .gitlab/ci/global.gitlab-ci.yml
  config/helpers/vite_plugin_vue3_infection.mjs
  config/plugins/webpack_vue3_infection_plugin.js
  package.json
  scripts/compile_assets
  scripts/frontend/infection_scanner/infection_scanner.mjs
Due: none

Add latest changes from gitlab-org/security/gitlab@19-1-stable-ee
  .gitlab/ci/global.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/security/gitlab@19-0-stable-ee
  .gitlab/ci/global.gitlab-ci.yml
Due: none

Add latest changes from gitlab-org/security/gitlab@19-2-stable-ee
  .gitlab/ci/global.gitlab-ci.yml
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@18-11-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@19-0-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@19-1-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/security/gitlab@19-2-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  GITLAB_PAGES_VERSION
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/lib/utils/path_helpers/group.js
  app/assets/javascripts/lib/utils/path_helpers/project.js
  app/assets/javascripts/observability/components/app.vue
  app/assets/javascripts/observability/constants.js
  app/assets/javascripts/observability/index.js
  app/controllers/concerns/observability/session_actions.rb
  app/controllers/concerns/observability/show_actions.rb
  app/controllers/groups/observability/sessions_controller.rb
  app/controllers/groups/observability_controller.rb
  app/controllers/projects/observability/sessions_controller.rb
  app/controllers/projects/observability_controller.rb
  app/models/application_setting.rb
  app/models/packages/conan/jwt_signing_key.rb
  app/views/groups/observability/show.html.haml
  app/views/projects/observability/show.html.haml
  app/views/shared/observability/_iframe.html.haml
  config/feature_flags/development/observability_per_user_bff_auth.yml
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  config/routes/group.rb
  config/routes/project.rb
  db/docs/packages_conan_jwt_signing_keys.yml
  lib/gitlab/application_rate_limiter/labkit_adapter/supported_rate_limits.rb
  lib/observability/o11y_bff_session.rb
  locale/gitlab.pot
  spec/frontend/observability/components/app_spec.js
  spec/initializers/1_settings_spec.rb
  spec/lib/observability/o11y_bff_session_spec.rb
  spec/requests/groups/observability/sessions_controller_spec.rb
  spec/requests/projects/observability/sessions_controller_spec.rb
  spec/support/shared_examples/requests/observability/session_actions_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/services/ci/timed_out_builds/drop_running_service.rb
  spec/features/milestones/user_deletes_milestone_spec.rb
  spec/services/ci/timed_out_builds/drop_running_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  locale/gitlab.pot
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/user/project/import/github.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .eslint_todo/vue-custom-event-name-casing.mjs
  .eslint_todo/vue-v-on-event-hyphenation.mjs
  app/assets/javascripts/work_items/components/create_work_item.vue
  app/assets/javascripts/work_items/components/design_management/design_preview/design_details.vue
  app/assets/javascripts/work_items/components/design_management/design_preview/design_toolbar.vue
  app/assets/javascripts/work_items/components/shared/todos_toggle.vue
  app/assets/javascripts/work_items/components/work_item_description.vue
  app/assets/javascripts/work_items/components/work_item_description_template_listbox.vue
  app/assets/javascripts/work_items/components/work_item_detail.vue
  app/assets/javascripts/work_items/components/work_item_milestone.vue
  app/assets/javascripts/work_items/components/work_item_parent.vue
  spec/frontend/work_items/components/design_management/design_preview/design_details_spec.js
  spec/frontend/work_items/components/design_management/design_preview/design_toolbar_spec.js
  spec/frontend/work_items/components/shared/todos_toggle_spec.js
  spec/frontend/work_items/components/work_item_description_spec.js
  spec/frontend/work_items/components/work_item_description_template_listbox_spec.js
  spec/frontend/work_items/components/work_item_milestone_spec.js
  spec/frontend/work_items/components/work_item_parent_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/qa-common/variables.gitlab-ci.yml
  .vale.ini
  app/assets/javascripts/authentication/sessions/components/email_code.vue
  app/views/shared/issuable/_issuable.atom.builder
  app/views/work_items/_work_item_detail.atom.builder
  doc/development/bulk_imports/contributing.md
  doc/user/application_security/dast/browser/configuration/authentication_scripts.md
  doc/user/application_security/policies/merge_request_approval_policies.md
  doc/user/application_security/policies/scan_execution_policies.md
  doc/user/application_security/secret_detection/gitlab_secret_scanner/_index.md
  lib/gitlab/blob_embed.rb
  lib/gitlab/blob_embed/renderer.rb
  lib/gitlab/markdown_cache.rb
  spec/features/atom/dashboard_issues_spec.rb
  spec/frontend/authentication/sessions/components/email_code_spec.js
  spec/lib/gitlab/blob_embed/renderer_spec.rb
  spec/lib/gitlab/blob_embed_spec.rb
  spec/lib/gitlab/markdown_cache_spec.rb
Due: cng-helm-cache
