Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: untamper-fe-islands-lockfile, cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  untamper-fe-islands-lockfile: any of: ee/frontend_islands/yarn.lock
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@master
  spec/features/work_items/issues/list/filtered_search/visual_tokens_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  lib/tasks/gitlab/assets.rake
  scripts/lib/assets_heap_sizing.rb
  spec/scripts/lib/assets_heap_sizing_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  spec/features/projects/blobs/blob_show_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/graphql/mutations/work_items/saved_views/delete.rb
  app/graphql/mutations/work_items/saved_views/subscribe.rb
  app/graphql/mutations/work_items/saved_views/unsubscribe.rb
  app/models/work_items/saved_views/user_saved_view.rb
  app/services/work_items/saved_views/create_service.rb
  app/services/work_items/saved_views/update_service.rb
  config/events/saved_view_delete.yml
  config/events/saved_view_subscribe.yml
  config/events/saved_view_unsubscribe.yml
  config/metrics/counts_all/count_distinct_user_id_from_saved_view_delete.yml
  config/metrics/counts_all/count_distinct_user_id_from_saved_view_subscribe.yml
  config/metrics/counts_all/count_distinct_user_id_from_saved_view_unsubscribe.yml
  lib/gitlab/work_items/instrumentation/event_actions.rb
  lib/gitlab/work_items/instrumentation/tracking_service.rb
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
  spec/graphql/mutations/work_items/saved_views/delete_spec.rb
  spec/graphql/mutations/work_items/saved_views/subscribe_spec.rb
  spec/graphql/mutations/work_items/saved_views/unsubscribe_spec.rb
  spec/lib/gitlab/work_items/instrumentation/tracking_service_spec.rb
  spec/models/work_items/saved_views/user_saved_view_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile.lock
  Gemfile.next.lock
  doc/user/application_security/dast/browser/configuration/variables.md
  lib/gitlab/security/dast_variables.rb
  locale/gitlab.pot
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rules.gitlab-ci.yml
  doc/api/graphql/reference/_index.md
  doc/development/organization/sharding/_index.md
  locale/gitlab.pot
  public/-/graphql/introspection_result.json
  spec/frontend/environment.js
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
  spec/frontend/repository/components/header_area/blob_overflow_menu_spec.js
  spec/frontend/repository/components/header_area/blob_repository_actions_group_spec.js
  spec/frontend/vue_render_warnings_spec.js
  spec/lib/gitlab/organizations/sharding_key_spec.rb
  spec/support/helpers/sharding_key_spec_helpers.rb
  workhorse/cmd/gitlab-workhorse/config_test.go
  workhorse/config.toml.example
  workhorse/internal/ai_assist/duoworkflow/handler.go
  workhorse/internal/ai_assist/duoworkflow/handler_test.go
  workhorse/internal/api/api.go
  workhorse/internal/config/config.go
  workhorse/internal/upstream/routes.go
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  GITLAB_PAGES_VERSION
  Gemfile.lock
  Gemfile.next.lock
  app/assets/javascripts/explore/analytics_dashboards/pages/details.vue
  lib/api/helpers/work_items/authorization.rb
  lib/api/helpers/work_items/preloads.rb
  lib/api/helpers/work_items/rendering.rb
  lib/api/work_items/award_emoji.rb
  lib/api/work_items/children.rb
  lib/api/work_items/closing_merge_requests.rb
  lib/api/work_items/create.rb
  lib/api/work_items/current_user_todos.rb
  lib/api/work_items/delete.rb
  lib/api/work_items/discussions.rb
  lib/api/work_items/email_participants.rb
  lib/api/work_items/linked_items.rb
  lib/api/work_items/linked_resources.rb
  lib/api/work_items/list.rb
  lib/api/work_items/notes.rb
  lib/api/work_items/related_branches.rb
  lib/api/work_items/related_merge_requests.rb
  lib/api/work_items/show.rb
  lib/api/work_items/update.rb
  spec/features/work_items/list/user_applies_work_items_list_filters_spec.rb
  spec/frontend/explore/analytics_dashboards/mock_data.js
  spec/frontend/explore/analytics_dashboards/pages/details_spec.js
  spec/lib/api/helpers/work_items/authorization_spec.rb
  spec/lib/api/helpers/work_items/preloads_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/qa-common/main.gitlab-ci.yml
  GITLAB_KAS_VERSION
  doc/ci/components/_index.md
  doc/development/testing_guide/end_to_end/_index.md
Due: none

Add latest changes from gitlab-org/gitlab@19-2-stable-ee
  app/controllers/admin/plan_limits_controller.rb
  app/helpers/plan_limits_helper.rb
  app/views/admin/application_settings/_ci_cd.html.haml
  doc/administration/cicd/limits.md
  locale/gitlab.pot
  spec/controllers/admin/plan_limits_controller_spec.rb
  spec/features/admin/settings/ci_cd_settings_spec.rb
  spec/helpers/plan_limits_helper_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  app/services/groups/create_service.rb
  spec/services/groups/create_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/global.gitlab-ci.yml
  .rubocop_todo/style/accessor_grouping.yml
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  app/assets/javascripts/vue_merge_request_widget/components/checks/constants.js
  app/assets/javascripts/vue_merge_request_widget/components/checks/message.vue
  app/services/organizations/transfer/concerns/organization_updater.rb
  app/services/organizations/transfer/groups_service.rb
  app/services/organizations/transfer/users_service.rb
  config/helpers/context_aliases_shared.js
  config/helpers/vue3_infection_shared.js
  doc/administration/geo/replication/datatypes.md
  doc/ci/variables/_index.md
  doc/subscriptions/gitlab_credits.md
  doc/user/duo_agent_platform/model_selection.md
  locale/gitlab.pot
  scripts/utils.sh
  spec/frontend/scripts/infection_scanner/vue3_infection_shared_spec.mjs
  spec/frontend/vue_merge_request_widget/components/checks/message_spec.js
  spec/services/organizations/transfer/groups_service_spec.rb
  spec/services/organizations/transfer/users_service_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/services/organizations/transfer/groups_service.rb
  config/routing/gitlab_routes.json
  db/post_migrate/20260901041958_swap_cd_rollout_environments_environment_id_index.rb
  db/schema_migrations/20260901041958
  db/structure.sql
  doc/api/graphql/reference/_index.md
  doc/releases/19/gitlab-19-4-released/goal-command-duo-cli.md
  doc/user/gitlab_duo/turn_on_off.md
  public/-/graphql/introspection_result.json
  scripts/lint/keela_excluded.yml
  spec/services/organizations/transfer/groups_service_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/lib/utils/common_utils.js
  doc/ci/secrets/secrets_manager/_index.md
  doc/development/testing_guide/end_to_end/best_practices/rspec_metadata_tests.md
  doc/user/application_security/remediate/dependency_scanning_auto_remediation.md
  doc/user/application_security/secret_detection/gitlab_secret_scanner/_index.md
  locale/gitlab.pot
  qa/qa/runtime/env.rb
  qa/qa/specs/features/api/3_create/repository/tag_revision_trigger_prereceive_hook_spec.rb
  qa/qa/specs/features/browser_ui/10_software_supply_chain_security/login/login_via_oauth_and_oidc_with_gitlab_as_idp_spec.rb
  qa/qa/specs/features/browser_ui/1_manage/integrations/jenkins/jenkins_build_status_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_ssh_file_size_spec.rb
  qa/qa/specs/runner.rb
  qa/spec/runtime/env_spec.rb
  qa/spec/specs/runner_spec.rb
  spec/frontend/lib/utils/common_utils_spec.js
  workhorse/cmd/gitlab-workhorse/channel_test.go
  workhorse/internal/ai_assist/duoworkflow/handler.go
  workhorse/internal/ai_assist/duoworkflow/handler_test.go
  workhorse/internal/channel/channel.go
  workhorse/internal/origincheck/origincheck.go
  workhorse/internal/origincheck/origincheck_test.go
  workhorse/internal/upstream/routes.go
Due: none

Add latest changes from gitlab-org/gitlab@master
  .ai/principles/manifest.yml
  .claude/skills/gitlab-coding-principles/SKILL.md
  .gitlab/CODEOWNERS
  app/assets/javascripts/super_sidebar/components/help_center.vue
  app/assets/javascripts/super_sidebar/components/promo_menu.vue
  app/assets/javascripts/super_sidebar/components/super_topbar.vue
  app/assets/javascripts/super_sidebar/components/user_menu.vue
  app/assets/javascripts/super_sidebar/components/user_menu_profile_item.vue
  app/assets/stylesheets/framework/duo_chat.scss
  app/helpers/nav/new_dropdown_helper.rb
  app/helpers/sidebars_helper.rb
  app/models/ci/build.rb
  config/feature_flags/beta/parallel_test_balancing.yml
  doc/administration/auth/ldap/ldap_synchronization.md
  doc/administration/semantic_code_search.md
  doc/api/graphql/reference/_index.md
  doc/api/openapi/openapi_v3.yaml
  doc/api/test_balancing.md
  doc/auth/tokens/fine_grained_access_tokens_rest.md
  doc/ci/jobs/fine_grained_permissions.md
  gems/gitlab-utils/lib/gitlab/utils/job.rb
  gems/gitlab-utils/spec/gitlab/utils/job_spec.rb
  lib/gitlab/ci/variables/builder.rb
  locale/gitlab.pot
  public/-/graphql/introspection_result.json
  qa/qa/page/project/monitor/incidents/show.rb
  scripts/lint/keela_excluded.yml
  spec/models/ci/build_spec.rb
  spec/support/database/destroy_service_foreign_keys_todo.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/migration/foreign_keys_to_destroy_service_tables.yml
  .rubocop_todo/rspec/named_subject.yml
  app/assets/javascripts/lib/utils/table_sticky_header.js
  app/assets/javascripts/merge_request_dashboard/components/search_list.vue
  app/assets/javascripts/merge_request_dashboard/queries/search/get_merge_requests.query.graphql
  app/assets/stylesheets/framework/typography.scss
  app/graphql/resolvers/projects/unprotected_branches_resolver.rb
  app/graphql/types/project_type.rb
  app/helpers/merge_requests_helper.rb
  app/models/protectable_dropdown.rb
  app/validators/json_schemas/application_setting_rate_limits.json
  app/views/help/instance_configuration/_rate_limits.html.haml
  config/gitlab_loose_foreign_keys.yml
  db/docs/duo_agent_platform_functional_verification_runs.yml
  db/migrate/20260826205517_create_duo_agent_platform_functional_verification_runs.rb
  db/schema_migrations/20260826205517
  db/structure.sql
  doc/administration/settings/rate-limit-on-audit-events-api.md
  doc/api/graphql/reference/_index.md
  doc/api/openapi/openapi_v3.yaml
  doc/subscriptions/gitlab_credits_dashboard.md
  lib/gitlab/git/finders/refs_finder.rb
  lib/gitlab/gitaly_client/ref_service.rb
  locale/gitlab.pot
  package.json
  public/-/graphql/introspection_result.json
  spec/db/schema_spec.rb
  spec/frontend/behaviors/markdown/render_markdown_tables_spec.js
  spec/frontend/merge_request_dashboard/components/search_list_spec.js
  spec/graphql/resolvers/projects/unprotected_branches_resolver_spec.rb
  spec/graphql/types/project_type_spec.rb
  spec/lib/gitlab/git/finders/refs_finder_spec.rb
  spec/lib/gitlab/gitaly_client/ref_service_spec.rb
  spec/models/protectable_dropdown_spec.rb
  spec/requests/api/graphql/project/merge_request_spec.rb
  spec/requests/api/graphql/project/unprotected_branches_spec.rb
  spec/support/helpers/graphql_helpers.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  app/graphql/gitlab_schema.rb
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  spec/graphql/all_queries_spec.rb
  spec/graphql/gitlab_schema_spec.rb
Due: none
