Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: untamper-fe-islands-lockfile, cng-helm-cache, gdk-instance-gitaly-transactions, verify_lockfile

Path conditions:
  untamper-fe-islands-lockfile: any of: ee/frontend_islands/yarn.lock
  cng-helm-cache: any of: .gitlab/ci/qa-common/variables.gitlab-ci.yml, qa/gems/gitlab-orchestrator/lib/gitlab/orchestrator/lib/kind/cluster.rb
  gdk-instance-gitaly-transactions: any of: GITALY_SERVER_VERSION
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@19-2-stable-ee
  app/services/groups/create_service.rb
  spec/services/groups/create_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  Gemfile.lock
Due: none

Add latest changes from gitlab-org/gitlab@19-2-stable-ee
  Gemfile.lock
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/rspec/avoid_wait_for_requests.yml
  GITALY_SERVER_VERSION
  app/assets/stylesheets/page_bundles/work_items.scss
  doc/administration/postgresql/external_upgrade.md
  doc/api/audit_events.md
  doc/api/graphql/reference/_index.md
  doc/api/settings.md
  doc/rate_limits/api/_index.md
  lib/gitlab/email/handler/service_desk_handler.rb
  locale/gitlab.pot
  public/-/graphql/introspection_result.json
  scripts/lint/keela_excluded.yml
  spec/features/admin/admin_jobs_spec.rb
  spec/lib/gitlab/email/handler/service_desk_handler_spec.rb
  spec/support/shared_examples/features/glql/glql_shared_examples.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  doc/user/project/integrations/slack.md
Due: none

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  db/post_migrate/20260820194936_add_index_job_artifact_states_reverification.rb
  db/schema_migrations/20260820194936
  db/structure.sql
  spec/migrations/20260820194936_add_index_job_artifact_states_reverification_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile.lock
  Gemfile.next.lock
  app/helpers/application_helper.rb
  app/views/projects/merge_requests/_page.html.haml
  doc/user/duo_agent_platform/triggers/_index.md
  locale/gitlab.pot
  qa/qa/factories/releases.rb
  qa/qa/resource/integrations/web_hook/smockerable.rb
  qa/qa/resource/project_web_hook.rb
  qa/qa/resource/release.rb
  qa/qa/specs/features/api/1_manage/integrations/webhook_events_spec.rb
  spec/features/projects/fork_spec.rb
  spec/helpers/admin/user_actions_helper_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/projects/merge_requests_controller_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/qa-common/variables.gitlab-ci.yml
  .gitlab/ci/test-on-cng/caproni.gitlab-ci.yml
  app/assets/javascripts/analytics/analytics_dashboards/components/visualizations/glql.vue
  app/assets/javascripts/graphql_shared/possible_types.json
  app/graphql/mutations/commits/create.rb
  doc/api/graphql/reference/_index.md
  locale/gitlab.pot
  public/-/graphql/introspection_result.json
  public/-/graphql/introspection_result_no_deprecated.json
  qa/caproni/README.md
  rubocop/cop/graphql/id_type.rb
  spec/fixtures/snowplow_tracking_journeys/change_dap_land_default_credits.yml
  spec/frontend/analytics/analytics_dashboards/components/visualizations/glql_spec.js
  spec/frontend/boards/mock_data.js
  spec/requests/api/graphql/mutations/commits/create_spec.rb
Due: cng-helm-cache

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  app/assets/javascripts/analytics/analytics_dashboards/data_sources/glql.js
  app/assets/javascripts/explore/analytics_dashboards/components/date_range_filter.vue
  app/assets/javascripts/explore/analytics_dashboards/components/scope_picker.stories.js
  app/assets/javascripts/explore/analytics_dashboards/components/scope_picker.vue
  app/assets/javascripts/explore/analytics_dashboards/components/scope_picker_item.vue
  app/assets/javascripts/explore/analytics_dashboards/components/utils.js
  app/assets/javascripts/explore/analytics_dashboards/graphql/get_group_children.query.graphql
  app/assets/javascripts/explore/analytics_dashboards/graphql/get_subgroup_projects.query.graphql
  app/assets/javascripts/explore/analytics_dashboards/graphql/get_top_level_groups.query.graphql
  app/assets/javascripts/explore/analytics_dashboards/graphql/search_namespaces.query.graphql
  app/assets/javascripts/explore/analytics_dashboards/graphql/search_namespaces_global.query.graphql
  app/assets/javascripts/explore/analytics_dashboards/pages/details.vue
  app/assets/javascripts/pages/projects/pipelines/charts/vue3_migration.yml
  app/services/organizations/transfer/users_service.rb
  config/organizations/transfer_support.yml
  doc/api/graphql/reference/_index.md
  doc/subscriptions/gitlab_credits.md
  doc/user/duo_agent_platform/model_selection.md
  lib/gitlab/unicode.rb
  lib/rouge/formatters/html_gitlab.rb
  locale/gitlab.pot
  public/-/graphql/introspection_result.json
  spec/features/projects/pipelines/charts_spec.rb
  spec/frontend/analytics/analytics_dashboards/components/data_sources/glql_spec.js
  spec/frontend/explore/analytics_dashboards/components/date_range_filter_spec.js
  spec/frontend/explore/analytics_dashboards/components/scope_picker_item_spec.js
  spec/frontend/explore/analytics_dashboards/components/scope_picker_spec.js
  spec/frontend/explore/analytics_dashboards/components/utils_spec.js
  spec/frontend/explore/analytics_dashboards/pages/details_spec.js
  spec/lib/gitlab/unicode_spec.rb
  spec/lib/rouge/formatters/html_gitlab_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  config/audit_events/types/secrets_manager_add_on_enable.yml
  db/migrate/20260903200951_add_add_on_requested_at_to_secrets_manager_namespace_enrollments.rb
  db/schema_migrations/20260903200951
  db/structure.sql
  doc/api/graphql/reference/_index.md
  doc/auth/tokens/fine_grained_access_tokens_graphql.md
  doc/user/compliance/audit_event_types.md
  public/-/graphql/introspection_result.json
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/rails/strong_params.yml
  app/assets/javascripts/work_items/components/design_management/design_management_widget.vue
  app/assets/javascripts/work_items/components/design_management/design_notes/design_discussion.vue
  app/assets/javascripts/work_items/components/design_management/design_preview/design_sidebar.vue
  app/assets/javascripts/work_items/components/design_management/design_preview/design_toolbar.vue
  app/assets/javascripts/work_items/components/work_item_actions.vue
  app/assets/javascripts/work_items/components/work_item_detail.vue
  app/controllers/projects/alert_management_controller.rb
  app/controllers/projects/alerting/notifications_controller.rb
  app/controllers/projects/boards_controller.rb
  app/controllers/projects/discussions_controller.rb
  app/controllers/projects/incident_management/pager_duty_incidents_controller.rb
  app/controllers/projects/incidents_controller.rb
  app/controllers/projects/issue_links_controller.rb
  app/controllers/projects/issues_controller.rb
  app/controllers/projects/labels_controller.rb
  app/controllers/projects/milestones_controller.rb
  app/controllers/projects/notes_controller.rb
  app/controllers/projects/starrers_controller.rb
  app/controllers/projects/todos_controller.rb
  spec/controllers/projects/issues_controller_spec.rb
  spec/controllers/projects/labels_controller_spec.rb
  spec/controllers/projects/notes_controller_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  db/migrate/20260818120646_create_ai_flow_schedules.rb
  scripts/lint/keela_excluded.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  doc/api/openapi/openapi_v3.yaml
  lib/gitlab/auth/otp/strategies/duo_auth/manual_otp.rb
  spec/lib/gitlab/auth/otp/strategies/duo_auth/manual_otp_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/services/ci/partitions/sync_service.rb
  lib/gitlab/ci/pipeline/partition_cache.rb
  spec/lib/gitlab/ci/pipeline/partition_cache_spec.rb
  spec/services/ci/partitions/sync_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/rails/strong_params.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  locale/gitlab.pot
  qa/knapsack/example_runtimes/master_report.json
  qa/knapsack/master_report.json
Due: none

docs: update reference web index and resources
  README.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  locale/gitlab.pot
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/duo/mr-review-instructions.yaml
  db/post_migrate/20260903000001_remove_fk_from_cd_artifact_sources_on_group_id.rb
  db/post_migrate/20260903000002_remove_fk_from_cd_versions_on_group_id.rb
  db/post_migrate/20260903000003_remove_fk_from_cd_version_sets_on_group_id.rb
  db/post_migrate/20260903000004_remove_fk_from_cd_version_set_entries_on_group_id.rb
  db/post_migrate/20260903000005_remove_group_id_from_cd_artifact_sources.rb
  db/post_migrate/20260903000006_remove_group_id_from_cd_versions.rb
  db/post_migrate/20260903000007_remove_group_id_from_cd_version_sets.rb
  db/post_migrate/20260903000008_remove_group_id_from_cd_version_set_entries.rb
  db/schema_migrations/20260903000001
  db/schema_migrations/20260903000002
  db/schema_migrations/20260903000003
  db/schema_migrations/20260903000004
  db/schema_migrations/20260903000005
  db/schema_migrations/20260903000006
  db/schema_migrations/20260903000007
  db/schema_migrations/20260903000008
  db/structure.sql
  doc/policy/maintenance.md
  doc/user/model_context_protocol/mcp_server_tools.md
  spec/support/database/destroy_service_foreign_keys_todo.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/assets/javascripts/content_editor/services/upload_helpers.js
  app/graphql/queries/mcp/work_items/get_work_item.query.graphql
  app/services/mcp/tools/work_items/get_work_item_service.rb
  app/services/mcp/tools/work_items/get_work_item_tool.rb
  db/structure.sql
  doc/development/duo_agent_platform/mcp/_index.md
  doc/user/model_context_protocol/mcp_server_tools.md
  lib/gitlab/collaborative_editing/document_store.rb
  lib/tasks/gitlab/siphon/check_replication_slots_task.rb
  lib/tasks/gitlab/siphon/setup.rake
  locale/gitlab.pot
  spec/features/work_items/list/user_applies_work_items_list_filters_spec.rb
  spec/frontend/content_editor/extensions/attachment_spec.js
  spec/lib/gitlab/collaborative_editing/document_store_spec.rb
  spec/services/mcp/tools/work_items/get_work_item_service_spec.rb
  spec/services/mcp/tools/work_items/get_work_item_tool_spec.rb
  spec/tasks/gitlab/siphon/check_replication_slots_rake_spec.rb
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/rspec/named_subject.yml
  app/graphql/resolvers/merge_requests_count_resolver.rb
  app/graphql/types/work_items/widgets/development_type.rb
  config/routing/gitlab_routes.json
  doc/api/graphql/reference/_index.md
  doc/auth/tokens/fine_grained_access_tokens_rest.md
  lib/api/rpm_project_packages.rb
  lib/api/work_items/notes.rb
  lib/gitlab/internal_events_tracking.rb
  public/-/graphql/introspection_result.json
  public/-/graphql/introspection_result_no_deprecated.json
  scripts/lint/keela_excluded.yml
  spec/graphql/resolvers/merge_requests_count_resolver_spec.rb
  spec/graphql/types/work_items/widgets/development_type_spec.rb
  spec/lib/gitlab/internal_events_tracking_spec.rb
  spec/requests/api/graphql/project/work_items_spec.rb
  spec/requests/api/work_items/notes_spec.rb
  workhorse/go.mod
  workhorse/go.sum
Due: none

Add latest changes from gitlab-org/gitlab@master
  .ai/principles/distilled/security.md
  app/assets/javascripts/import/offline_transfer/export/history/app.vue
  app/services/issue_email_participants/create_service.rb
  app/services/notification_service.rb
  config/feature_flags/wip/service_desk_email_rate_limit.yml
  config/routing/gitlab_routes.json
  db/post_migrate/20260904000001_remove_fk_from_cd_rollouts_on_group_id.rb
  db/post_migrate/20260904000002_remove_fk_from_cd_deployments_on_group_id.rb
  db/post_migrate/20260904000003_remove_fk_from_cd_services_on_group_id.rb
  db/post_migrate/20260904000004_remove_group_id_from_cd_rollouts.rb
  db/post_migrate/20260904000005_remove_group_id_from_cd_deployments.rb
  db/post_migrate/20260904000006_remove_group_id_from_cd_services.rb
  db/post_migrate/20260907000001_remove_principal_id_from_cd_deployment_transitions.rb
  db/post_migrate/20260907000002_remove_principal_id_from_cd_rollout_transitions.rb
  db/schema_migrations/20260904000001
  db/schema_migrations/20260904000002
  db/schema_migrations/20260904000003
  db/schema_migrations/20260904000004
  db/schema_migrations/20260904000005
  db/schema_migrations/20260904000006
  db/schema_migrations/20260907000001
  db/schema_migrations/20260907000002
  db/structure.sql
  doc/administration/instance_limits.md
  doc/user/gitlab_com/_index.md
  lib/gitlab/application_rate_limiter/labkit_adapter/supported_rate_limits.rb
  lib/gitlab/email/handler/service_desk_handler.rb
  lib/service_desk/email_rate_limiter.rb
  lib/tasks/gitlab/cells/routes.rake
  locale/gitlab.pot
  package.json
  spec/db/schema_spec.rb
  spec/frontend/import/offline_transfer/export/history/app_spec.js
  spec/lib/gitlab/application_rate_limiter/labkit_adapter/supported_rate_limits_spec.rb
  spec/lib/gitlab/email/handler/service_desk_handler_spec.rb
  spec/lib/service_desk/email_rate_limiter_spec.rb
  spec/services/issue_email_participants/create_service_spec.rb
  spec/services/notification_service_spec.rb
  spec/support/database/destroy_service_foreign_keys_todo.yml
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/content_editor/extensions/copy_paste.js
  doc/.vale/gitlab_base/BoldEmphasis.yml
  doc/administration/gitlab_duo_self_hosted/troubleshooting.md
  doc/api/graphql/reference/_index.md
  doc/development/aggregation_engines.md
  doc/development/api_styleguide.md
  doc/development/database/adding_database_indexes.md
  doc/development/documentation/styleguide/word_list.md
  doc/development/fe_guide/graphql.md
  doc/development/graphql_guide/array_argument_validation.md
  doc/development/merge_request_concepts/performance.md
  public/-/graphql/introspection_result.json
  spec/frontend/content_editor/extensions/copy_paste_spec.js
  spec/support/shared_examples/features/rich_text_editor/copy_paste_shared_examples.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .ai/principles/distilled/clickhouse.md
  .rubocop_todo/rspec/named_subject.yml
  GITALY_SERVER_VERSION
  GITLAB_KAS_VERSION
  app/assets/javascripts/authentication/password/constants.js
  app/assets/javascripts/authentication/sessions/components/webauthn_authentication.vue
  app/assets/javascripts/authentication/two_factor_auth/components/email_otp_action_confirm.vue
  app/assets/javascripts/authentication/two_factor_auth/components/two_factor_action_confirm.vue
  app/assets/javascripts/authentication/webauthn/components/passkey_registration.vue
  app/assets/javascripts/authentication/webauthn/components/registration.vue
  app/assets/javascripts/commons/gitlab_ui.js
  app/assets/javascripts/import/offline_transfer/components/object_storage_fields.vue
  doc/administration/cicd/job_artifacts.md
  doc/administration/feature_flags/_index.md
  doc/administration/geo/disaster_recovery/_index.md
  doc/administration/geo/disaster_recovery/failover_troubleshooting.md
  doc/administration/geo/replication/configuration.md
  doc/administration/geo/replication/troubleshooting/client_http.md
  doc/administration/geo/replication/troubleshooting/common.md
  doc/administration/geo/replication/troubleshooting/synchronization_verification.md
  doc/administration/geo/setup/database.md
  doc/administration/geo/setup/external_database.md
  doc/administration/geo/setup/two_single_node_external_services.md
  doc/administration/geo/setup/two_single_node_sites.md
  doc/administration/get_started.md
  doc/administration/gitlab_duo_self_hosted/troubleshooting.md
  doc/administration/monitoring/prometheus/_index.md
  doc/administration/nfs.md
  doc/administration/object_storage.md
  doc/administration/pages/_index.md
  doc/administration/pages/source.md
  doc/administration/polling.md
  doc/administration/raketasks/maintenance.md
  doc/api/graphql/reference/_index.md
  locale/gitlab.pot
  public/-/graphql/introspection_result.json
  spec/frontend/authentication/sessions/components/webauthn_authentication_spec.js
  spec/frontend/authentication/two_factor_auth/components/email_otp_action_confirm_spec.js
  spec/frontend/authentication/two_factor_auth/components/two_factor_action_confirm_spec.js
  spec/frontend/import/offline_transfer/components/object_storage_fields_spec.js
Due: gdk-instance-gitaly-transactions

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  lib/gitlab/identifier.rb
  spec/lib/gitlab/identifier_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  app/services/ci/partitions/sync_service.rb
  lib/gitlab/ci/pipeline/partition_cache.rb
  spec/lib/gitlab/ci/pipeline/partition_cache_spec.rb
  spec/services/ci/partitions/sync_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@19-1-stable-ee
  app/services/ci/partitions/sync_service.rb
  lib/gitlab/ci/pipeline/partition_cache.rb
  spec/lib/gitlab/ci/pipeline/partition_cache_spec.rb
  spec/services/ci/partitions/sync_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@19-3-stable-ee
  lib/import/bitbucket_import/client_factory.rb
  spec/lib/import/bitbucket_import/client_factory_spec.rb
Due: none
