Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  lib/quality/helm3_client.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  cable/config.ru
  changelogs/unreleased/sluongngoc-decouple-partial-clone.yml
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  config/initializers/action_cable.rb
  lib/api/internal/base.rb
  lib/gitlab/runtime.rb
  qa/qa/resource/api_fabricator.rb
  qa/qa/support/api.rb
  spec/lib/gitlab/runtime_spec.rb
  spec/requests/api/internal/base_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/workers/all_queues.yml
  app/workers/cluster_configure_worker.rb
  app/workers/cluster_project_configure_worker.rb
  changelogs/unreleased/27481-remove-unused-cluster-workers.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/clusters/applications/ingress.rb
  app/models/clusters/cluster.rb
  app/services/clusters/applications/ingress_modsecurity_usage_service.rb
  changelogs/unreleased/32358-add-initial-stats-for-modsecurity-installations.yml
  db/migrate/20200402115013_add_index_on_modsecurity_to_ingress.rb
  db/migrate/20200402115623_add_index_on_successful_deployment_and_environment_id_to_deployments.rb
  db/migrate/20200420141733_add_index_on_enabled_clusters.rb
  db/structure.sql
  doc/api/pipelines.md
  doc/user/admin_area/settings/usage_statistics.md
  lib/gitlab/database/batch_count.rb
  lib/gitlab/usage_data.rb
  spec/factories/clusters/applications/helm.rb
  spec/lib/gitlab/database/batch_count_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/services/clusters/applications/ingress_modsecurity_usage_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-10-stable-ee
  doc/topics/git/partial_clone.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  app/assets/javascripts/behaviors/markdown/render_mermaid.js
  app/assets/javascripts/ide/components/ide.vue
  app/controllers/ide_controller.rb
  app/models/project_ci_cd_setting.rb
  app/services/ci/register_job_service.rb
  app/workers/gitlab/jira_import/import_issue_worker.rb
  db/migrate/20200215222507_drop_forked_project_links_fk.rb
  db/migrate/20200304024025_add_sprint_id_index_to_issues.rb
  db/migrate/20200304024042_add_sprint_id_index_to_merge_requests.rb
  db/migrate/20200407171133_add_protected_tag_create_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154331_add_protected_branch_merge_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154411_add_path_locks_user_id_foreign_key.rb
  db/migrate/20200408154455_add_protected_branch_push_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154604_add_u2f_registrations_user_id_foreign_key.rb
  db/migrate/20200420172752_add_sprints_foreign_key_to_projects.rb
  db/migrate/20200420172927_add_sprints_foreign_key_to_groups.rb
  db/migrate/20200423081441_add_foreign_key_from_users_to_metrics_users_starred_dashboars.rb
  db/migrate/20200423081519_add_foreign_key_from_projects_to_metrics_users_starred_dashboars.rb
  db/post_migrate/20200424043515_drop_namespaces_plan_id.rb
  doc/development/code_review.md
  doc/development/migration_style_guide.md
  lib/gitlab/ci/config/entry/trigger.rb
  rubocop/cop/migration/with_lock_retries_disallowed_method.rb
  rubocop/cop/migration/with_lock_retries_without_ddl_transaction.rb
  scripts/regenerate-schema
  spec/lib/gitlab/ci/config/entry/trigger_spec.rb
  spec/models/project_ci_cd_setting_spec.rb
  spec/rubocop/cop/migration/with_lock_retries_disallowed_method_spec.rb
  spec/rubocop/cop/migration/with_lock_retries_without_ddl_transaction_spec.rb
  spec/workers/gitlab/jira_import/import_issue_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.10.3
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.10.3
  CHANGELOG.md
  changelogs/unreleased/215700-fix-incorrect-commits-number-in-commits-list.yml
  changelogs/unreleased/215902-ci-job-jwt-handle-signing-key-issues.yml
  changelogs/unreleased/ph-215917-escapeRef.yml
  changelogs/unreleased/sh-clean-up-public-visiblity-level-check.yml
  changelogs/unreleased/sh-disable-schema-dump-prod.yml
  changelogs/unreleased/sh-fix-create-projects-with-prometheus-service.yml
  changelogs/unreleased/sh-fix-lfs-badge-feature-flag.yml
Due: none

Update VERSION to 12.10.3
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@12-10-stable-ee
  CHANGELOG-EE.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/filtered_search/filtered_search_manager.js
  app/assets/javascripts/monitoring/components/alert_widget_form.vue
  app/helpers/search_helper.rb
  app/views/projects/settings/_general.html.haml
  app/views/shared/issuable/_search_bar.html.haml
  changelogs/unreleased/210232-select-the-first-option-if-there-is-only-one-metric-option-on-a.yml
  changelogs/unreleased/214301-change-placeholder-in-search-input-for-analytics-features.yml
  changelogs/unreleased/topics-optional.yml
  changelogs/unreleased/vij-snippet-code-references.yml
  doc/administration/gitaly/praefect.md
  doc/administration/logs.md
  doc/administration/packages/container_registry.md
  doc/administration/troubleshooting/kubernetes_cheat_sheet.md
  doc/api/oauth2.md
  doc/integration/oauth_provider.md
  doc/user/application_security/threat_monitoring/index.md
  doc/user/gitlab_com/index.md
  doc/user/project/status_page/index.md
  lib/api/project_snippets.rb
  locale/gitlab.pot
  package.json
  spec/frontend/monitoring/components/alert_widget_form_spec.js
  spec/requests/api/project_snippets_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/graphql/resolvers/issues_resolver.rb
  app/graphql/types/issuable_sort_enum.rb
  app/models/clusters/applications/knative.rb
  changelogs/unreleased/38296-graphql-add-milestone_due_asc-sort-for-issuables.yml
  changelogs/unreleased/sh-revert-codeowners-check.yml
  db/structure.sql
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  spec/graphql/resolvers/issues_resolver_spec.rb
  spec/graphql/types/issuable_sort_enum_spec.rb
  spec/graphql/types/issue_sort_enum_spec.rb
  spec/requests/api/graphql/project/issues_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/helpers/preferences_helper.rb
  app/services/concerns/spam_check_methods.rb
  app/services/spam/spam_action_service.rb
  doc/administration/operations/extra_sidekiq_processes.md
  lib/gitlab/i18n.rb
  locale/gitlab.pot
  spec/graphql/mutations/issues/update_spec.rb
  spec/helpers/preferences_helper_spec.rb
  spec/services/spam/spam_action_service_spec.rb
  spec/support/matchers/graphql_matchers.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/user/application_security/dast/index.md
  doc/user/application_security/index.md
  doc/user/group/epics/index.md
  locale/gitlab.pot
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-9-stable-ee
  changelogs/unreleased/216345-add-project-group-to-group-list-when-specified-as-owner.yml
Due: none

Add latest changes from gitlab-org/gitlab@12-10-stable-ee
  changelogs/unreleased/216345-add-project-group-to-group-list-when-specified-as-owner.yml
Due: none

Update CHANGELOG.md for 12.10.4
  CHANGELOG.md
  changelogs/unreleased/216345-add-project-group-to-group-list-when-specified-as-owner.yml
Due: none

Update GITALY_SERVER_VERSION to 12.10.4
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update VERSION to 12.10.4
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ide/lib/themes/index.js
  app/assets/javascripts/ide/lib/themes/solarized_light.js
  app/assets/javascripts/vue_merge_request_widget/components/mr_widget_terraform_plan.vue
  app/assets/stylesheets/page_bundles/_ide_monaco_overrides.scss
  app/graphql/mutations/branches/create.rb
  app/graphql/resolvers/branch_commit_resolver.rb
  app/graphql/types/branch_type.rb
  app/graphql/types/mutation_type.rb
  changelogs/add-name-parameter-to-project-environments-api.yml
  changelogs/unreleased/201930-webide-solarized.yml
  changelogs/unreleased/215617_mutation_to_add_a_new_branch.yml
  changelogs/unreleased/emilyring-terraform-mr-fix.yml
  changelogs/unreleased/fix-missing-rss-feed-events.yml
  changelogs/unreleased/mw-pa-title-cleanup.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  locale/gitlab.pot
  spec/features/dashboard/snippets_spec.rb
  spec/features/merge_request/user_sees_notes_from_forked_project_spec.rb
  spec/frontend/vue_mr_widget/components/mr_widget_terraform_plan_spec.js
  spec/graphql/mutations/branches/create_spec.rb
  spec/graphql/resolvers/branch_commit_resolver_spec.rb
  spec/graphql/types/branch_type_spec.rb
  spec/requests/api/graphql/mutations/branches/create_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.9.6
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.9.6
  CHANGELOG.md
  changelogs/unreleased/216345-add-project-group-to-group-list-when-specified-as-owner.yml
Due: none

Update CHANGELOG.md for 12.9.6
  CHANGELOG.md
Due: none

Update VERSION to 12.9.6
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@12-9-stable-ee
  CHANGELOG-EE.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/rails.gitlab-ci.yml
  app/assets/javascripts/registry/explorer/constants.js
  app/assets/javascripts/registry/explorer/pages/details.vue
  app/assets/javascripts/registry/explorer/pages/index.vue
  app/assets/javascripts/registry/explorer/stores/actions.js
  app/models/group.rb
  app/models/group_wiki.rb
  app/views/projects/issues/show.html.haml
  app/views/projects/static_site_editor/show.html.haml
  changelogs/unreleased/214477-reactor-toast-to-alert-in-image-repository-details-page.yml
  changelogs/unreleased/fix-issue-details-row-emoji-block.yml
  changelogs/unreleased/sh-revert-codeowners-check.yml
  doc/development/testing_guide/review_apps.md
  lib/gitlab/metrics/samplers/ruby_sampler.rb
  lib/gitlab/metrics/system.rb
  lib/gitlab/static_site_editor/config.rb
  lib/gitlab/url_builder.rb
  locale/gitlab.pot
  package.json
  spec/factories/groups.rb
  spec/factories/wikis.rb
  spec/features/groups/members/leave_group_spec.rb
  spec/frontend/registry/explorer/pages/details_spec.js
  spec/frontend/registry/explorer/pages/index_spec.js
  spec/frontend/registry/explorer/stores/actions_spec.js
  spec/lib/gitlab/metrics/samplers/ruby_sampler_spec.rb
  spec/lib/gitlab/metrics/system_spec.rb
  spec/lib/gitlab/repository_url_builder_spec.rb
  spec/lib/gitlab/static_site_editor/config_spec.rb
  spec/lib/gitlab/url_builder_spec.rb
  spec/models/group_spec.rb
  spec/models/group_wiki_spec.rb
  spec/models/wiki_page_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/stylesheets/framework/dropdowns.scss
  app/presenters/ci/build_runner_presenter.rb
  app/services/merge_requests/base_service.rb
  changelogs/unreleased/psi-dropdown-item-check.yml
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/index.md
  spec/presenters/ci/build_runner_presenter_spec.rb
  spec/services/merge_requests/create_service_spec.rb
  spec/services/merge_requests/refresh_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/administration/gitaly/praefect.md
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/user/application_security/dast/index.md
  doc/user/application_security/dependency_scanning/index.md
  lib/gitlab/usage_data.rb
  lib/gitlab/usage_data_counters/base_counter.rb
  lib/gitlab/usage_data_counters/note_counter.rb
  lib/gitlab/usage_data_counters/search_counter.rb
  lib/gitlab/usage_data_counters/web_ide_counter.rb
  spec/controllers/projects/usage_ping_controller_spec.rb
  spec/lib/gitlab/usage_data_counters/web_ide_counter_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/project.rb
  app/models/project_repository_storage_move.rb
  app/services/projects/update_repository_storage_service.rb
  app/workers/project_update_repository_storage_worker.rb
  changelogs/unreleased/ajk-fix-extra-sleep-exclusive-lease.yml
  changelogs/unreleased/initial_repository_storage_move.yml
  db/migrate/20200407222647_create_project_repository_storage_moves.rb
  db/migrate/20200429015603_add_fk_to_project_repository_storage_moves.rb
  db/structure.sql
  doc/user/application_security/dast/index.md
  doc/user/incident_management/index.md
  lib/gitlab/exclusive_lease.rb
  lib/gitlab/exclusive_lease_helpers.rb
  lib/gitlab/exclusive_lease_helpers/sleeping_lock.rb
  qa/Rakefile
  qa/qa/tools/delete_test_ssh_keys.rb
  spec/factories/project_repository_storage_moves.rb
  spec/lib/gitlab/exclusive_lease_helpers/sleeping_lock_spec.rb
  spec/lib/gitlab/exclusive_lease_helpers_spec.rb
  spec/lib/gitlab/exclusive_lease_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/project_repository_storage_move_spec.rb
  spec/models/project_spec.rb
  spec/services/projects/fork_service_spec.rb
  spec/services/projects/update_repository_storage_service_spec.rb
  spec/support/helpers/exclusive_lease_helpers.rb
  spec/support/shared_examples/services/projects/update_repository_storage_service_shared_examples.rb
  spec/workers/project_update_repository_storage_worker_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
