Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/reports.gitlab-ci.yml
  app/assets/javascripts/boards/components/board_card.vue
  app/assets/javascripts/frequent_items/components/frequent_items_list_item.vue
  app/assets/javascripts/ide/components/nav_dropdown_button.vue
  app/assets/javascripts/right_sidebar.js
  app/assets/javascripts/vue_merge_request_widget/components/deployment/deployment_view_button.vue
  changelogs/unreleased/13810-cluster-environments-table.yml
  changelogs/unreleased/195969-multi-select-on-issue-boards-inconsistent-erratic.yml
  changelogs/unreleased/205435.yml
  changelogs/unreleased/28560_cleanup_optimistic_locking_db.yml
  db/post_migrate/20200128210353_cleanup_optimistic_locking_nulls.rb
  db/schema.rb
  doc/.linting/vale/styles/gitlab/OxfordComma.yml
  doc/.linting/vale/styles/gitlab/SentenceSpacing.yml
  doc/README.md
  doc/administration/git_protocol.md
  doc/administration/job_artifacts.md
  doc/api/groups.md
  doc/ci/parent_child_pipelines.md
  doc/user/application_security/container_scanning/index.md
  doc/user/group/issues_analytics/index.md
  lib/gitlab/background_migration/cleanup_optimistic_locking_nulls.rb
  lib/gitlab/database/migration_helpers.rb
  spec/features/projects/navbar_spec.rb
  spec/frontend/frequent_items/components/frequent_items_list_item_spec.js
  spec/frontend/frequent_items/mock_data.js
  spec/javascripts/frequent_items/components/frequent_items_list_item_spec.js
  spec/lib/gitlab/database/migration_helpers_spec.rb
  spec/migrations/cleanup_optimistic_locking_nulls_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/assets/javascripts/import_projects/components/import_projects_table.vue
  app/assets/javascripts/notes.js
  app/presenters/projects/prometheus/alert_presenter.rb
  app/services/concerns/incident_management/settings.rb
  app/services/issues/close_service.rb
  app/services/projects/alerting/notify_service.rb
  app/views/dashboard/merge_requests.html.haml
  changelogs/unreleased/199400-send-email-notifications-for-generic-alerts.yml
  changelogs/unreleased/26556-create-merge-request-button-extends-past-edge-on-mobile.yml
  changelogs/unreleased/rk4bir-master-patch-60164.yml
  doc/development/migration_style_guide.md
  generator_templates/active_record/migration/create_table_migration.rb
  generator_templates/active_record/migration/migration.rb
  generator_templates/rails/post_deployment_migration/migration.rb
  locale/gitlab.pot
  spec/javascripts/notes/components/noteable_note_spec.js
  spec/lib/gitlab/alerting/alert_spec.rb
  spec/presenters/projects/prometheus/alert_presenter_spec.rb
  spec/requests/api/access_requests_spec.rb
  spec/requests/api/appearance_spec.rb
  spec/requests/api/applications_spec.rb
  spec/requests/api/award_emoji_spec.rb
  spec/requests/api/badges_spec.rb
  spec/requests/api/boards_spec.rb
  spec/requests/api/branches_spec.rb
  spec/requests/api/broadcast_messages_spec.rb
  spec/requests/api/commit_statuses_spec.rb
  spec/requests/api/commits_spec.rb
  spec/requests/api/deploy_keys_spec.rb
  spec/requests/api/deployments_spec.rb
  spec/requests/api/discussions_spec.rb
  spec/requests/api/doorkeeper_access_spec.rb
  spec/requests/api/environments_spec.rb
  spec/requests/api/events_spec.rb
  spec/requests/api/features_spec.rb
  spec/requests/api/files_spec.rb
  spec/services/issues/close_service_spec.rb
  spec/services/merge_requests/merge_service_spec.rb
  spec/services/projects/alerting/notify_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/error_tracking/components/error_details.vue
  app/assets/javascripts/notifications_dropdown.js
  app/assets/stylesheets/pages/error_details.scss
  app/controllers/sessions_controller.rb
  app/models/commit.rb
  app/models/project_services/chat_message/base_message.rb
  app/models/project_services/chat_message/push_message.rb
  app/models/project_services/microsoft_teams_service.rb
  changelogs/unreleased/199908-use-only-the-first-line-of-the-commit-message-on-chat-service-noti.yml
  changelogs/unreleased/202271-migrate-fa-spinner-for-notifications_dropdown-js.yml
  changelogs/unreleased/38414.yml
  changelogs/unreleased/refactor-disable-csrf-in-session-destroy.yml
  doc/development/migration_style_guide.md
  lib/gitlab/data_builder/push.rb
  qa/qa/git/repository.rb
  qa/spec/git/repository_spec.rb
  spec/javascripts/boards/list_spec.js
  spec/models/project_services/chat_message/push_message_spec.rb
  spec/requests/sessions_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.8.0
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update VERSION to 12.8.0
  VERSION
Due: none

Update VERSION to 12.9.0-pre
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci_variable_list/components/ci_variable_modal.vue
  app/assets/javascripts/ci_variable_list/components/ci_variable_settings.vue
  app/assets/javascripts/ci_variable_list/components/ci_variable_table.vue
  app/assets/javascripts/ci_variable_list/constants.js
  app/assets/javascripts/ci_variable_list/index.js
  app/assets/javascripts/ci_variable_list/store/utils.js
  app/assets/javascripts/pages/groups/settings/ci_cd/show/index.js
  app/assets/javascripts/pages/projects/settings/ci_cd/show/index.js
  app/assets/stylesheets/pages/settings.scss
  doc/development/fe_guide/principles.md
  locale/gitlab.pot
  spec/frontend/ci_variable_list/components/ci_variable_modal_spec.js
  spec/frontend/ci_variable_list/components/ci_variable_settings_spec.js
  spec/frontend/ci_variable_list/components/ci_variable_table_spec.js
  spec/frontend/ci_variable_list/services/mock_data.js
  spec/frontend/ci_variable_list/store/utils_spec.js
  spec/frontend/self_monitor/components/__snapshots__/self_monitor_form_spec.js.snap
  spec/frontend/self_monitor/components/self_monitor_form_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/projects/repositories_controller.rb
  changelogs/unreleased/sh-rate-limit-archive-endpoint.yml
  lib/api/repositories.rb
  lib/gitlab/application_rate_limiter.rb
  lib/gitlab/rate_limit_helpers.rb
  spec/controllers/projects/repositories_controller_spec.rb
  spec/lib/gitlab/rate_limit_helpers_spec.rb
  spec/requests/api/repositories_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/concerns/static_object_external_storage_csp.rb
  app/controllers/ide_controller.rb
  changelogs/unreleased/add-static-object-external-storage-url-to-csp-rules.yml
  config/initializers/0_inflections.rb
  spec/features/ide/static_object_external_storage_csp_spec.rb
  spec/features/projects/sourcegraph_csp_spec.rb
  spec/support/shared_examples/csp.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  lib/gitlab/rate_limit_helpers.rb
  spec/lib/gitlab/rate_limit_helpers_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/administration/monitoring/gitlab_self_monitoring_project/index.md
  doc/development/documentation/styleguide.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/cat-fix-env-passthrough-sast-205694.yml
  doc/user/packages/maven_repository/index.md
  lib/gitlab/ci/templates/Security/SAST.gitlab-ci.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/api/members.md
  doc/development/geo.md
  doc/integration/bitbucket.md
  doc/integration/kerberos.md
  doc/integration/omniauth.md
  doc/integration/saml.md
  doc/integration/shibboleth.md
  doc/university/training/topics/subtree.md
  doc/user/application_security/container_scanning/index.md
  doc/user/group/saml_sso/index.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/controllers/concerns/issuable_actions.rb
  app/controllers/concerns/notes_actions.rb
  app/models/ci/job_artifact.rb
  app/models/discussion.rb
  app/models/note.rb
  app/models/project.rb
  app/policies/note_policy.rb
  app/policies/personal_snippet_policy.rb
  app/services/notification_service.rb
  app/views/shared/notes/_note.html.haml
  doc/topics/autodevops/index.md
  doc/topics/git/troubleshooting_git.md
  doc/update/README.md
  doc/user/admin_area/settings/usage_statistics.md
  doc/user/packages/nuget_repository/index.md
  lib/api/discussions.rb
  lib/api/helpers/notes_helpers.rb
  lib/api/lsif_data.rb
  lib/api/notes.rb
  lib/banzai/filter/issuable_state_filter.rb
  spec/controllers/snippets/notes_controller_spec.rb
  spec/models/ci/job_artifact_spec.rb
  spec/models/note_spec.rb
  spec/support/shared_examples/models/note_access_check_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/boards/components/issue_card_inner.vue
  app/assets/javascripts/boards/components/issue_due_date.vue
  app/assets/javascripts/boards/models/issue.js
  app/assets/javascripts/diffs/components/diff_file.vue
  app/assets/javascripts/diffs/components/diff_file_header.vue
  app/assets/javascripts/diffs/components/diff_stats.vue
  app/assets/javascripts/diffs/components/image_diff_overlay.vue
  app/assets/javascripts/diffs/components/no_changes.vue
  app/assets/javascripts/diffs/store/utils.js
  app/assets/stylesheets/pages/notes.scss
  app/controllers/projects/graphs_controller.rb
  app/models/clusters/applications/runner.rb
  app/serializers/issue_board_entity.rb
  app/views/award_emoji/_awards_block.html.haml
  app/views/projects/graphs/charts.html.haml
  changelogs/unreleased/205184-change-omniauth-log-format-to-json.yml
  changelogs/unreleased/28627-adjust-commit-stats-over-limit-indication.yml
  changelogs/unreleased/Resolve-Migrate--fa-spinner-app-views-award_emoji.yml
  changelogs/unreleased/closed-issue-weight-grey.yml
  changelogs/unreleased/sh-fix-license-check-migration.yml
  changelogs/unreleased/update-gitlab-runner-helm-chart-to-0-14-0.yml
  config/initializers/0_license.rb
  config/initializers/omniauth.rb
  doc/.linting/vale/styles/gitlab/Contractions.yml
  doc/.linting/vale/styles/gitlab/LatinTerms.yml
  doc/.linting/vale/styles/gitlab/Substitutions.yml
  doc/development/event_tracking/frontend.md
  lib/gitlab/omniauth_logging/json_formatter.rb
  lib/gitlab/reactive_cache_set_cache.rb
  lib/gitlab/repository_set_cache.rb
  lib/gitlab/set_cache.rb
  locale/gitlab.pot
  spec/fixtures/api/schemas/entities/issue_board.json
  spec/frontend/boards/components/issue_due_date_spec.js
  spec/lib/gitlab/omniauth_logging/json_formatter_spec.rb
  spec/lib/gitlab/reactive_cache_set_cache_spec.rb
  spec/support/caching.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  .gitlab/issue_templates/Technical Evaluation.md
  app/assets/javascripts/repository/components/preview/index.vue
  app/services/incident_management/create_issue_service.rb
  changelogs/unreleased/metrics-anomaly-chart-rendering-fails.yml
  changelogs/unreleased/nfriend-fix-edit-release-page.yml
  changelogs/unreleased/pl-incident-issue-hline.yml
  changelogs/unreleased/sh-fix-license-check-migration.yml
  config/initializers/0_license.rb
  doc/administration/pages/source.md
  doc/user/project/integrations/img/prometheus_dashboard_environments_v12_8.png
  doc/user/project/integrations/img/prometheus_monitoring_dashboard_v12_8.png
  doc/user/project/integrations/prometheus.md
  lib/gitlab/ci/config/entry/job.rb
  spec/frontend/repository/components/preview/index_spec.js
  spec/lib/gitlab/ci/yaml_processor_spec.rb
  spec/services/incident_management/create_issue_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  app/graphql/types/user_type.rb
  changelogs/unreleased/ph-207723-userTypeGravatarDisabled.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/features/projects/tree/tree_show_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/repository/components/last_commit.vue
  app/graphql/types/user_type.rb
  changelogs/unreleased/25283-add-masked-param-group-vars-api.yml
  changelogs/unreleased/ph-207723-userTypeGravatarDisabled.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/api/group_level_variables.md
  lib/api/group_variables.rb
  qa/qa/specs/features/browser_ui/2_plan/issue/create_issue_spec.rb
  spec/features/projects/tree/tree_show_spec.rb
  spec/requests/api/group_variables_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.8.1
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.8.1
  CHANGELOG.md
  changelogs/unreleased/metrics-anomaly-chart-rendering-fails.yml
  changelogs/unreleased/nfriend-fix-edit-release-page.yml
  changelogs/unreleased/ph-207723-userTypeGravatarDisabled.yml
  changelogs/unreleased/pl-incident-issue-hline.yml
  changelogs/unreleased/sh-fix-license-check-migration.yml
Due: none

Update CHANGELOG.md for 12.8.1
  CHANGELOG.md
  changelogs/unreleased/ph-207723-userTypeGravatarDisabled.yml
  changelogs/unreleased/pl-incident-issue-hline.yml
  changelogs/unreleased/sh-fix-license-check-migration.yml
Due: none

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  GITALY_SERVER_VERSION
  VERSION
  changelogs/unreleased/metrics-anomaly-chart-rendering-fails.yml
  changelogs/unreleased/nfriend-fix-edit-release-page.yml
  changelogs/unreleased/ph-207723-userTypeGravatarDisabled.yml
  changelogs/unreleased/pl-incident-issue-hline.yml
  changelogs/unreleased/sh-fix-license-check-migration.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update VERSION to 12.8.1
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Security developer workflow.md
  Gemfile
  Gemfile.lock
  app/assets/javascripts/vue_shared/components/sidebar/labels_select/dropdown_title.vue
  app/models/releases/link.rb
  app/policies/project_snippet_policy.rb
  app/views/projects/runners/_runner.html.haml
  changelogs/unreleased/27300-enable-a-direct-link-to-a-release-and-release-assets-2.yml
  changelogs/unreleased/40585-token-disclaimer.yml
  changelogs/unreleased/fix-deployments-pagination.yml
  changelogs/unreleased/fj-207803-fix-project-snippet-policy-bug.yml
  changelogs/unreleased/rk4bir-master-patch-97031.yml
  changelogs/unreleased/sh-cleaup-prom-background-migrations.yml
  changelogs/unreleased/sh-upgrade-bootsnap-1-4-6.yml
  changelogs/unreleased/sy-alert-embeds.yml
  db/migrate/20200219105209_add_filepath_to_release_links.rb
  db/migrate/20200221144534_drop_activate_prometheus_services_background_jobs.rb
  db/schema.rb
  lib/api/deployments.rb
  lib/banzai/filter/inline_metrics_redactor_filter.rb
  locale/gitlab.pot
  spec/factories/releases/link.rb
  spec/features/markdown/metrics_spec.rb
  spec/frontend/vue_shared/components/sidebar/labels_select/dropdown_title_spec.js
  spec/lib/gitlab/import_export/safe_model_attributes.yml
  spec/migrations/drop_activate_prometheus_services_background_jobs_spec.rb
  spec/models/releases/link_spec.rb
  spec/policies/project_snippet_policy_spec.rb
  spec/requests/api/deployments_spec.rb
  spec/support/helpers/metrics_dashboard_url_helpers.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitignore
  app/assets/javascripts/pages/admin/index.js
  app/controllers/admin/dashboard_controller.rb
  app/views/admin/dashboard/index.html.haml
  changelogs/unreleased/create-puma-rugged-suboptimal-config-checker.yml
  lib/banzai/filter/inline_embeds_filter.rb
  lib/banzai/filter/inline_metrics_filter.rb
  lib/gitlab/config_checker/puma_rugged_checker.rb
  lib/gitlab/git/rugged_impl/use_rugged.rb
  locale/gitlab.pot
  scripts/lint-rugged
  spec/lib/gitlab/config_checker/puma_rugged_checker_spec.rb
  spec/lib/gitlab/git/rugged_impl/use_rugged_spec.rb
  spec/serializers/build_details_entity_spec.rb
  spec/serializers/container_repository_entity_spec.rb
  spec/serializers/container_tag_entity_spec.rb
  spec/serializers/deployment_serializer_spec.rb
  spec/serializers/merge_request_serializer_spec.rb
  spec/serializers/namespace_basic_entity_spec.rb
  spec/serializers/pipeline_details_entity_spec.rb
  spec/serializers/pipeline_entity_spec.rb
  spec/serializers/pipeline_serializer_spec.rb
  spec/serializers/project_import_entity_spec.rb
  spec/serializers/project_serializer_spec.rb
  spec/tasks/gitlab/web_hook_rake_spec.rb
  spec/views/shared/milestones/_top.html.haml_spec.rb
  spec/workers/detect_repository_languages_worker_spec.rb
  spec/workers/expire_build_instance_artifacts_worker_spec.rb
  spec/workers/expire_job_cache_worker_spec.rb
  spec/workers/mail_scheduler/notification_service_worker_spec.rb
  spec/workers/pipeline_schedule_worker_spec.rb
  spec/workers/remote_mirror_notification_worker_spec.rb
  spec/workers/run_pipeline_schedule_worker_spec.rb
  spec/workers/update_external_pull_requests_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/api/project_snippets.md
  doc/development/README.md
  qa/qa/specs/features/browser_ui/4_verify/ci_variable/add_remove_ci_variable_spec.rb
  spec/support/helpers/metrics_dashboard_url_helpers.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/stylesheets/framework/dropdowns.scss
  app/controllers/admin/serverless/domains_controller.rb
  app/models/pages_domain.rb
  changelogs/unreleased/add-feature-flags-version.yml
  config/initializers/0_eager_load_http_cookie.rb
  config/routes/admin.rb
  db/migrate/20200224163804_add_version_to_feature_flags_table.rb
  db/schema.rb
  lib/gitlab/git/blob.rb
  lib/gitlab/import_export/after_export_strategies/move_file_strategy.rb
  lib/gitlab/profiler.rb
  lib/gitlab/sidekiq_config/cli_methods.rb
  lib/gitlab/sidekiq_middleware/request_store_middleware.rb
  lib/gitlab/utils/measuring.rb
  lib/gitlab/with_request_store.rb
  lib/tasks/gitlab/import_export/export.rake
  lib/tasks/gitlab/import_export/import.rake
  locale/gitlab.pot
  package.json
  spec/controllers/admin/serverless/domains_controller_spec.rb
  spec/frontend/clusters/components/__snapshots__/remove_cluster_confirmation_spec.js.snap
  spec/lib/gitlab/git/blob_spec.rb
  spec/lib/gitlab/sidekiq_config/cli_methods_spec.rb
  spec/models/pages_domain_spec.rb
  spec/support/shared_examples/tasks/gitlab/import_export/measurable_shared_examples.rb
  spec/tasks/gitlab/import_export/export_rake_spec.rb
  spec/tasks/gitlab/import_export/import_rake_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/views/admin/application_settings/ci_cd.html.haml
  app/views/projects/ci/builds/_build.html.haml
  changelogs/unreleased/198052-in-the-jobs-page-the-allowed-to-fail-badge-looks-like-an-error.yml
  doc/administration/static_objects_external_storage.md
  doc/api/groups.md
  doc/api/users.md
  doc/integration/bitbucket.md
  doc/integration/elasticsearch.md
  doc/integration/saml.md
  doc/integration/shibboleth.md
  doc/update/patch_versions.md
  doc/update/upgrading_from_ce_to_ee.md
  lib/quality/test_level.rb
  locale/gitlab.pot
  spec/lib/quality/test_level_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance
