Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*

Add latest changes from gitlab-org/gitlab@master
  GITLAB_WORKHORSE_VERSION
  app/models/alerting/project_alerting_setting.rb
  app/models/project.rb
  doc/ci/ci_cd_for_external_repos/index.md
  doc/user/img/new_personal_snippet_from_project_v12_10.png
  doc/user/img/new_personal_snippet_v12_10.png
  doc/user/img/new_project_snippet_from_project_v12_10.png
  doc/user/project/repository/repository_mirroring.md
  doc/user/snippets.md
  spec/factories/project_alerting_settings.rb
  spec/models/alerting/project_alerting_setting_spec.rb
  spec/models/project_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/project.rb
  db/migrate/20200311141943_insert_ci_pipeline_schedules_plan_limits.rb
  doc/administration/monitoring/performance/grafana_configuration.md
  doc/api/oauth2.md
  doc/api/pages.md
  doc/api/pages_domains.md
  doc/ci/examples/artifactory_and_gitlab/index.md
  doc/development/documentation/index.md
  doc/development/documentation/styleguide.md
  doc/development/documentation/workflow.md
  doc/development/integrations/secure_partner_integration.md
  doc/development/scalability.md
  doc/development/shell_commands.md
  doc/development/testing_guide/end_to_end/quick_start_guide.md
  doc/install/installation.md
  doc/policy/maintenance.md
  doc/subscriptions/index.md
  doc/topics/web_application_firewall/index.md
  doc/university/README.md
  doc/user/admin_area/settings/account_and_limit_settings.md
  doc/user/analytics/value_stream_analytics.md
  doc/user/clusters/applications.md
  doc/user/gitlab_com/index.md
  doc/user/group/index.md
  doc/user/markdown.md
  doc/user/project/issues/crosslinking_issues.md
  doc/user/project/merge_requests/reviewing_and_managing_merge_requests.md
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/registry/explorer/components/registry_breadcrumb.vue
  app/assets/javascripts/registry/explorer/router.js
  doc/administration/geo/replication/docker_registry.md
  doc/development/fe_guide/graphql.md
  doc/topics/autodevops/index.md
  doc/user/clusters/applications.md
  doc/user/clusters/management_project.md
  doc/user/project/operations/error_tracking.md
  spec/features/projects/container_registry_spec.rb
  spec/frontend/registry/explorer/components/registry_breadcrumb_spec.js
  spec/tasks/gitlab/backup_rake_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/pages/search/show/highlight_blob_search_result.js
  app/assets/javascripts/pages/search/show/search.js
  app/controllers/admin/serverless/domains_controller.rb
  app/services/labels/promote_service.rb
  app/views/shared/notes/_hints.html.haml
  changelogs/unreleased/196384-highlight-code-search-result-line.yml
  changelogs/unreleased/23206-board-lists-lose-their-filter-label-when-said-label-becomes-a-group.yml
  changelogs/unreleased/Resolve-Migrate--fa-spinner-app-views-shared-notes.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  lib/api/users.rb
  spec/frontend/fixtures/search.rb
  spec/frontend/pages/search/show/highlight_blob_search_result_spec.js
  spec/frontend/search_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/diffs/components/diff_file.vue
  app/assets/javascripts/diffs/components/diff_file_header.vue
  app/assets/javascripts/diffs/components/tree_list.vue
  app/assets/javascripts/diffs/store/modules/diff_state.js
  app/assets/javascripts/diffs/store/mutations.js
  app/assets/javascripts/vue_shared/components/file_row.vue
  app/assets/stylesheets/pages/diff.scss
  app/models/project_services/teamcity_service.rb
  app/services/projects/lfs_pointers/lfs_list_service.rb
  app/workers/authorized_keys_worker.rb
  app/workers/gitlab_shell_worker.rb
  changelogs/unreleased/208923-enable-batch-counting-for-some-individual-queries-2.yml
  changelogs/unreleased/212178-fix-authorized-keys-worker.yml
  changelogs/unreleased/24629.yml
  changelogs/unreleased/29825-reactivecaching-sidekiq-queue-overloaded-teamcity.yml
  db/migrate/20200316162648_add_index_on_namespace_id_and_id_to_projects.rb
  db/migrate/20200323075043_add_max_personal_access_token_lifetime_to_namespaces.rb
  db/structure.sql
  doc/development/code_review.md
  doc/development/contributing/merge_request_workflow.md
  doc/user/project/integrations/img/panel_context_menu_v12_10.png
  doc/user/project/integrations/img/panel_context_menu_v12_8.png
  doc/user/project/integrations/prometheus.md
  lib/gitlab/git/lfs_changes.rb
  lib/gitlab/http.rb
  package.json
  spec/frontend/cycle_analytics/banner_spec.js
  spec/frontend/cycle_analytics/total_time_component_spec.js
  spec/frontend/diffs/components/diff_file_header_spec.js
  spec/frontend/vue_shared/components/file_row_spec.js
  spec/lib/gitlab/http_spec.rb
  spec/models/project_services/teamcity_service_spec.rb
  spec/services/ci/create_cross_project_pipeline_service_spec.rb
  spec/workers/authorized_keys_worker_spec.rb
  spec/workers/gitlab_shell_worker_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-9-stable-ee
  app/workers/authorized_keys_worker.rb
  app/workers/gitlab_shell_worker.rb
  changelogs/unreleased/212178-fix-authorized-keys-worker.yml
  spec/workers/authorized_keys_worker_spec.rb
  spec/workers/gitlab_shell_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-9-stable-ee
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/gfm_auto_complete.js
  app/assets/javascripts/pages/projects/show/index.js
  app/assets/javascripts/vue_shared/components/commit.vue
  app/assets/javascripts/vue_shared/components/content_viewer/viewers/image_viewer.vue
  app/assets/javascripts/vue_shared/components/diff_viewer/viewers/image_diff/swipe_viewer.vue
  app/assets/javascripts/vue_shared/components/issue/issue_warning.vue
  app/assets/javascripts/vue_shared/components/markdown/field.vue
  app/assets/javascripts/vue_shared/components/project_selector/project_list_item.vue
  app/assets/javascripts/vue_shared/components/project_selector/project_selector.vue
  app/assets/javascripts/vue_shared/components/split_button.vue
  app/assets/javascripts/vue_shared/mixins/related_issuable_mixin.js
  app/services/snippets/create_service.rb
  app/services/snippets/update_service.rb
  changelogs/unreleased/209059-fix-project-show-file-upload-not-working.yml
  changelogs/unreleased/210005-fix-assignee-quickaction-on-new-issue.yml
  changelogs/unreleased/georgekoltsov-fix-issues-mrs-state.yml
  changelogs/unreleased/resolve_gitlab_issue_196641.yml
  doc/user/compliance/license_compliance/index.md
  lib/gitlab/import_export/project/import_export.yml
  locale/gitlab.pot
  spec/features/issues/gfm_autocomplete_spec.rb
  spec/features/projects/show/user_uploads_files_spec.rb
  spec/frontend/lib/utils/common_utils_spec.js
  spec/frontend/profile/account/components/delete_account_modal_spec.js
  spec/frontend/profile/account/components/update_username_spec.js
  spec/javascripts/vue_shared/components/project_selector/project_selector_spec.js
  spec/lib/gitlab/asciidoc/include_processor_spec.rb
  spec/services/snippets/create_service_spec.rb
  spec/services/snippets/update_service_spec.rb
  spec/support/shared_examples/features/project_upload_files_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Bug.md
  app/assets/javascripts/commit/pipelines/pipelines_table.vue
  app/assets/javascripts/logs/stores/actions.js
  app/assets/javascripts/monitoring/stores/actions.js
  app/controllers/projects/logs_controller.rb
  app/models/application_setting.rb
  app/services/pod_logs/elasticsearch_service.rb
  app/services/prometheus/proxy_service.rb
  app/services/prometheus/proxy_variable_substitution_service.rb
  app/validators/untrusted_regexp_validator.rb
  changelogs/unreleased/fix_bug_issue_template_markdown_handling.yml
  doc/administration/geo/replication/external_database.md
  doc/user/analytics/value_stream_analytics.md
  lib/gitlab/prometheus/queries/deployment_query.rb
  lib/gitlab/prometheus/queries/environment_query.rb
  lib/gitlab/prometheus/queries/knative_invocation_query.rb
  lib/gitlab/prometheus/queries/matched_metric_query.rb
  lib/gitlab/prometheus/queries/query_additional_metrics.rb
  lib/gitlab/prometheus_client.rb
  locale/gitlab.pot
  qa/qa/resource/project.rb
  qa/qa/runtime/env.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_http_spec.rb
  qa/spec/runtime/env_spec.rb
  spec/frontend/commit/pipelines/pipelines_spec.js
  spec/frontend/logs/stores/actions_spec.js
  spec/frontend/monitoring/store/actions_spec.js
  spec/lib/gitlab/prometheus/queries/additional_metrics_deployment_query_spec.rb
  spec/lib/gitlab/prometheus/queries/additional_metrics_environment_query_spec.rb
  spec/lib/gitlab/prometheus/queries/deployment_query_spec.rb
  spec/lib/gitlab/prometheus/queries/knative_invocation_query_spec.rb
  spec/lib/gitlab/prometheus_client_spec.rb
  spec/models/application_setting_spec.rb
  spec/services/pod_logs/elasticsearch_service_spec.rb
  spec/support/helpers/prometheus_helpers.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/subscriptions/index.md
  doc/user/project/clusters/serverless/aws.md
Due: none

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  GITLAB_WORKHORSE_VERSION
  Gemfile.lock
  app/controllers/import/fogbugz_controller.rb
  app/controllers/projects/mirrors_controller.rb
  app/models/issue.rb
  app/serializers/merge_request_poll_widget_entity.rb
  app/uploaders/object_storage.rb
  app/views/projects/mirrors/_mirror_repos.html.haml
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  changelogs/unreleased/security-193100-ignore-duplicate-multipart-params.yml
  changelogs/unreleased/security-disable-mirroring-fix.yml
  changelogs/unreleased/security-docker-blocked-users.yml
  changelogs/unreleased/security-fogbugz-importer-deny-localhost-requests.yml
  changelogs/unreleased/security-mr-pipeline-status-permission-check.yml
  changelogs/unreleased/security-path-traversal-master.yml
  changelogs/unreleased/security-restrict-project-pipeline-metrics.yml
  changelogs/unreleased/security-update-nokogiri-cve-2020-7595.yml
  changelogs/unreleased/security-updating-description-of-trigger-by-other-maintainer.yml
  lib/api/triggers.rb
  lib/gitlab/auth.rb
  lib/gitlab/gfm/uploads_rewriter.rb
  locale/gitlab.pot
  spec/controllers/import/fogbugz_controller_spec.rb
  spec/controllers/projects/mirrors_controller_spec.rb
  spec/features/projects/settings/repository_settings_spec.rb
  spec/lib/banzai/filter/reference_redactor_filter_spec.rb
  spec/lib/gitlab/auth_spec.rb
  spec/lib/gitlab/gfm/uploads_rewriter_spec.rb
  spec/models/issue_spec.rb
  spec/policies/issue_policy_spec.rb
  spec/requests/api/triggers_spec.rb
  spec/requests/jwt_controller_spec.rb
  spec/serializers/merge_request_poll_widget_entity_spec.rb
  spec/support/helpers/workhorse_helpers.rb
  spec/uploaders/object_storage_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  app/assets/javascripts/frequent_items/utils.js
  app/models/group.rb
  changelogs/unreleased/security-59-prevent-create-api-snippet.yml
  changelogs/unreleased/security-backend-xss-admin-email.yml
  changelogs/unreleased/security-mask-gh-service-password.yml
  changelogs/unreleased/security-xss-vulnerability-in-admin-send-email-notification.yml
  lib/api/snippets.rb
  lib/gitlab/regex.rb
  spec/controllers/groups_controller_spec.rb
  spec/javascripts/frequent_items/utils_spec.js
  spec/lib/banzai/filter/label_reference_filter_spec.rb
  spec/lib/gitlab/regex_spec.rb
  spec/models/group_spec.rb
  spec/requests/api/groups_spec.rb
  spec/requests/api/project_snippets_spec.rb
  spec/requests/api/snippets_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-6-stable-ee
  app/models/issue.rb
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  spec/lib/banzai/filter/reference_redactor_filter_spec.rb
  spec/models/issue_spec.rb
  spec/policies/issue_policy_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  changelogs/unreleased/security-ssrf-attachment-url.yml
  lib/gitlab/import_export/attribute_cleaner.rb
  spec/lib/gitlab/import_export/attribute_cleaner_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-8-stable-ee
  changelogs/unreleased/security-ssrf-attachment-url.yml
  lib/gitlab/import_export/attribute_cleaner.rb
  spec/lib/gitlab/import_export/attribute_cleaner_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-9-stable-ee
  changelogs/unreleased/security-ssrf-attachment-url.yml
  lib/gitlab/import_export/attribute_cleaner.rb
  spec/lib/gitlab/import_export/attribute_cleaner_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  app/finders/releases_finder.rb
  app/helpers/projects_helper.rb
  app/models/concerns/has_repository.rb
  app/models/project.rb
  app/models/snippet.rb
  app/services/ci/create_job_artifacts_service.rb
  changelogs/unreleased/211394-releases-page-in-not-loading-on-pagination.yml
  changelogs/unreleased/add-missing-track-exception-call.yml
  changelogs/unreleased/fj-ensure-freshness-snippet-creation.yml
  changelogs/unreleased/improve-lfs-toggle-message.yml
  changelogs/unreleased/nicolasdular-add-max-namepsace-storage-limit-column.yml
  db/fixtures/development/17_cycle_analytics.rb
  db/migrate/20200324115359_add_namespace_storage_size_limit_to_application_settings.rb
  db/structure.sql
  doc/administration/geo/replication/configuration.md
  doc/administration/geo/replication/index.md
  doc/administration/lfs/manage_large_binaries_with_git_lfs.md
  doc/api/group_import_export.md
  doc/development/contributing/issue_workflow.md
  doc/development/database_review.md
  doc/development/documentation/styleguide.md
  doc/topics/git/index.md
  lib/gitlab/database/batch_count.rb
  locale/gitlab.pot
  spec/finders/releases_finder_spec.rb
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
  spec/models/project_spec.rb
  spec/models/snippet_spec.rb
  spec/support/shared_examples/models/concerns/has_repository_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-8-stable-ee
  app/controllers/concerns/hotlink_interceptor.rb
  app/controllers/projects/repositories_controller.rb
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  lib/api/helpers.rb
  lib/api/repositories.rb
  lib/gitlab/hotlinking_detector.rb
  spec/controllers/projects/repositories_controller_spec.rb
  spec/lib/gitlab/hotlinking_detector_spec.rb
  spec/requests/api/repositories_spec.rb
  spec/support/shared_examples/controllers/hotlink_interceptor_shared_examples.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  app/controllers/concerns/hotlink_interceptor.rb
  app/controllers/projects/repositories_controller.rb
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  lib/api/helpers.rb
  lib/api/repositories.rb
  lib/gitlab/hotlinking_detector.rb
  spec/controllers/projects/repositories_controller_spec.rb
  spec/lib/gitlab/hotlinking_detector_spec.rb
  spec/requests/api/repositories_spec.rb
  spec/support/shared_examples/controllers/hotlink_interceptor_shared_examples.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-9-stable-ee
  app/controllers/concerns/hotlink_interceptor.rb
  app/controllers/projects/repositories_controller.rb
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  lib/api/helpers.rb
  lib/api/repositories.rb
  lib/gitlab/hotlinking_detector.rb
  spec/controllers/projects/repositories_controller_spec.rb
  spec/lib/gitlab/hotlinking_detector_spec.rb
  spec/requests/api/repositories_spec.rb
  spec/support/shared_examples/controllers/hotlink_interceptor_shared_examples.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  app/models/concerns/bulk_insert_safe.rb
  app/services/projects/import_export/export_service.rb
  app/services/projects/prometheus/alerts/notify_service.rb
  changelogs/unreleased/211818-enable-streaming-serializer-ff.yml
  changelogs/unreleased/dblessing_okta_scim.yml
  config/initializers/active_record_schema_versions.rb
  db/structure.sql
  doc/development/chatops_on_gitlabcom.md
  lib/api/releases.rb
  lib/gitlab/database/postgresql_adapter/schema_versions_copy_mixin.rb
  lib/gitlab/profiler.rb
  lib/gitlab/profiler/total_time_flat_printer.rb
  lib/gitlab/setup_helper.rb
  lib/tasks/gitlab/gitaly.rake
  lib/uploaded_file.rb
  package.json
  qa/qa/specs/features/browser_ui/3_create/merge_request/rebase_merge_request_spec.rb
  scripts/gitaly-test-build
  scripts/gitaly-test-spawn
  scripts/gitaly_test.rb
  spec/lib/gitlab/database/postgresql_adapter/schema_versions_copy_mixin_spec.rb
  spec/lib/uploaded_file_spec.rb
  spec/models/concerns/bulk_insert_safe_spec.rb
  spec/requests/api/releases_spec.rb
  spec/services/projects/prometheus/alerts/notify_service_spec.rb
  spec/support/helpers/test_env.rb
  spec/support/praefect.rb
  spec/support/shared_examples/models/concerns/bulk_insert_safe_shared_examples.rb
  yarn.lock
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/assets/javascripts/clusters/components/applications.vue
  app/assets/javascripts/clusters/components/remove_cluster_confirmation.vue
  app/helpers/broadcast_messages_helper.rb
  app/services/merge_requests/build_service.rb
  bin/secpick
  changelogs/unreleased/nicolasdular-broadcast-placeholders-ff.yml
  doc/api/access_requests.md
  doc/development/performance.md
  doc/development/testing_guide/end_to_end/rspec_metadata_tests.md
  doc/development/testing_guide/frontend_testing.md
  doc/user/analytics/value_stream_analytics.md
  doc/user/profile/account/two_factor_authentication.md
  qa/qa/specs/features/browser_ui/4_verify/pipeline/create_and_process_pipeline_spec.rb
  qa/qa/specs/features/browser_ui/4_verify/runner/register_runner_spec.rb
  qa/qa/specs/features/browser_ui/6_release/deploy_key/clone_using_deploy_key_spec.rb
  spec/features/broadcast_messages_spec.rb
  spec/frontend/mocks/mocks_helper.js
  spec/frontend/mocks/mocks_helper_spec.js
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update README.md
  README.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/merge_request.rb
  app/services/clusters/applications/prometheus_health_check_service.rb
  changelogs/unreleased/197955-projects-api-improve-api-response-time-for-archived-true.yml
  changelogs/unreleased/abrowne-prometheus-healthy-column.yml
  db/migrate/20200303181648_add_healthy_to_clusters_applications_prometheus.rb
  db/migrate/20200323134519_add_api_indexes_for_archived_projects.rb
  db/structure.sql
  doc/user/admin_area/broadcast_messages.md
  doc/user/admin_area/img/broadcast_messages.png
  doc/user/admin_area/img/broadcast_messages_banner_v12_10.png
  doc/user/admin_area/img/broadcast_messages_notification_v12_10.png
  doc/user/gitlab_com/index.md
  lib/gitlab/prometheus_client.rb
  spec/lib/gitlab/prometheus_client_spec.rb
  spec/models/merge_request_spec.rb
  spec/services/clusters/applications/prometheus_health_check_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance
