Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*

Add latest changes from gitlab-org/gitlab@master
  doc/administration/gitaly/praefect.md
  doc/administration/troubleshooting/linux_cheat_sheet.md
  doc/administration/troubleshooting/ssl.md
  doc/api/group_badges.md
  doc/api/merge_request_context_commits.md
  doc/api/pipelines.md
  doc/ci/caching/index.md
  doc/ci/jenkins/index.md
  doc/ci/merge_request_pipelines/index.md
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/img/merged_result_pipeline_v12_3.png
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/index.md
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/index.md
  doc/development/api_graphql_styleguide.md
  doc/development/architecture.md
  doc/development/documentation/site_architecture/index.md
  doc/development/documentation/site_architecture/release_process.md
  doc/development/fe_guide/droplab/droplab.md
  doc/development/fe_guide/style/vue.md
  doc/development/geo.md
  doc/development/go_guide/index.md
  doc/development/import_export.md
  doc/development/internal_api.md
  doc/development/merge_request_performance_guidelines.md
  doc/development/sidekiq_style_guide.md
  doc/development/testing_guide/review_apps.md
  doc/integration/elasticsearch.md
  doc/integration/salesforce.md
  doc/integration/vault.md
  doc/topics/web_application_firewall/quick_start_guide.md
  doc/university/process/README.md
  doc/user/discussions/index.md
  doc/user/project/clusters/serverless/aws.md
  doc/user/project/issues/csv_export.md
  doc/user/project/labels.md
  doc/user/project/merge_requests/test_coverage_visualization.md
  doc/user/project/web_ide/index.md
  lib/gitlab/sidekiq_middleware/duplicate_jobs/client.rb
  spec/lib/gitlab/sidekiq_middleware/duplicate_jobs/client_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/pages/groups/settings/integrations/edit/index.js
  app/assets/stylesheets/framework/header.scss
  app/controllers/admin/integrations_controller.rb
  app/controllers/concerns/integrations_actions.rb
  app/controllers/groups/settings/integrations_controller.rb
  app/helpers/services_helper.rb
  app/models/ci/build.rb
  app/models/ci/pipeline.rb
  app/serializers/test_case_entity.rb
  app/views/admin/integrations/_form.html.haml
  app/views/admin/integrations/edit.html.haml
  app/views/layouts/header/_current_user_dropdown.html.haml
  app/views/shared/integrations/_form.html.haml
  app/views/shared/integrations/edit.html.haml
  config/routes/admin.rb
  config/routes/group.rb
  doc/development/README.md
  doc/development/contributing/issue_workflow.md
  doc/development/integrations/jenkins.md
  doc/user/clusters/applications.md
  lib/gitlab/ci/parsers/test/junit.rb
  lib/gitlab/ci/reports/test_case.rb
  lib/gitlab/experimentation.rb
  lib/gitlab/graphql/present.rb
  locale/gitlab.pot
  spec/controllers/admin/integrations_controller_spec.rb
  spec/controllers/groups/settings/integrations_controller_spec.rb
  spec/controllers/projects/pipelines_controller_spec.rb
  spec/factories/ci/test_case.rb
  spec/fixtures/api/schemas/entities/test_case.json
  spec/lib/gitlab/ci/parsers/test/junit_spec.rb
  spec/lib/gitlab/ci/reports/test_case_spec.rb
  spec/serializers/test_case_entity_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

TEST
  .foreman
Due: none

Add latest changes from gitlab-org/security/gitlab@12-9-stable-ee
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
Due: none

Add latest changes from gitlab-org/security/gitlab@12-8-stable-ee
  lib/uploaded_file.rb
  spec/lib/uploaded_file_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-9-stable-ee
  lib/uploaded_file.rb
  spec/lib/uploaded_file_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  lib/uploaded_file.rb
  spec/lib/uploaded_file_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.9.1
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.9.1
  CHANGELOG.md
  changelogs/unreleased/212178-fix-authorized-keys-worker.yml
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  changelogs/unreleased/security-193100-ignore-duplicate-multipart-params.yml
  changelogs/unreleased/security-59-prevent-create-api-snippet.yml
  changelogs/unreleased/security-backend-xss-admin-email.yml
  changelogs/unreleased/security-disable-mirroring-fix.yml
  changelogs/unreleased/security-docker-blocked-users.yml
  changelogs/unreleased/security-fogbugz-importer-deny-localhost-requests.yml
  changelogs/unreleased/security-mr-pipeline-status-permission-check.yml
  changelogs/unreleased/security-path-traversal-master.yml
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-restrict-project-pipeline-metrics.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  changelogs/unreleased/security-ssrf-attachment-url.yml
  changelogs/unreleased/security-update-nokogiri-cve-2020-7595.yml
  changelogs/unreleased/security-updating-description-of-trigger-by-other-maintainer.yml
  changelogs/unreleased/security-xss-vulnerability-in-admin-send-email-notification.yml
Due: none

Update CHANGELOG.md for 12.9.1
  CHANGELOG.md
  changelogs/unreleased/212178-fix-authorized-keys-worker.yml
Due: none

Update CHANGELOG.md for 12.8.8
  CHANGELOG.md
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  changelogs/unreleased/security-193100-ignore-duplicate-multipart-params.yml
  changelogs/unreleased/security-59-prevent-create-api-snippet.yml
  changelogs/unreleased/security-backend-xss-admin-email.yml
  changelogs/unreleased/security-disable-mirroring-fix.yml
  changelogs/unreleased/security-docker-blocked-users.yml
  changelogs/unreleased/security-fogbugz-importer-deny-localhost-requests.yml
  changelogs/unreleased/security-mask-gh-service-password.yml
  changelogs/unreleased/security-mr-pipeline-status-permission-check.yml
  changelogs/unreleased/security-path-traversal-master.yml
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-restrict-project-pipeline-metrics.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  changelogs/unreleased/security-ssrf-attachment-url.yml
  changelogs/unreleased/security-update-nokogiri-cve-2020-7595.yml
  changelogs/unreleased/security-updating-description-of-trigger-by-other-maintainer.yml
  changelogs/unreleased/security-xss-vulnerability-in-admin-send-email-notification.yml
Due: none

Update GITALY_SERVER_VERSION to 12.8.8
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.7.8
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.7.8
  CHANGELOG.md
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  changelogs/unreleased/security-193100-ignore-duplicate-multipart-params.yml
  changelogs/unreleased/security-59-prevent-create-api-snippet.yml
  changelogs/unreleased/security-backend-xss-admin-email.yml
  changelogs/unreleased/security-disable-mirroring-fix.yml
  changelogs/unreleased/security-docker-blocked-users.yml
  changelogs/unreleased/security-fogbugz-importer-deny-localhost-requests.yml
  changelogs/unreleased/security-mask-gh-service-password.yml
  changelogs/unreleased/security-mr-pipeline-status-permission-check.yml
  changelogs/unreleased/security-path-traversal-master.yml
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-restrict-project-pipeline-metrics.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  changelogs/unreleased/security-ssrf-attachment-url.yml
  changelogs/unreleased/security-update-nokogiri-cve-2020-7595.yml
  changelogs/unreleased/security-updating-description-of-trigger-by-other-maintainer.yml
  changelogs/unreleased/security-xss-vulnerability-in-admin-send-email-notification.yml
Due: none

Update VERSION to 12.9.1
  VERSION
Due: none

Update VERSION to 12.8.8
  VERSION
Due: none

Update VERSION to 12.7.8
  VERSION
Due: none

Added package.json
  packages.json
Due: none

Add latest changes from gitlab-org/security/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  GITALY_SERVER_VERSION
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  changelogs/unreleased/security-193100-ignore-duplicate-multipart-params.yml
  changelogs/unreleased/security-59-prevent-create-api-snippet.yml
  changelogs/unreleased/security-backend-xss-admin-email.yml
  changelogs/unreleased/security-disable-mirroring-fix.yml
  changelogs/unreleased/security-docker-blocked-users.yml
  changelogs/unreleased/security-fogbugz-importer-deny-localhost-requests.yml
  changelogs/unreleased/security-mask-gh-service-password.yml
  changelogs/unreleased/security-mr-pipeline-status-permission-check.yml
  changelogs/unreleased/security-path-traversal-master.yml
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-restrict-project-pipeline-metrics.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  changelogs/unreleased/security-ssrf-attachment-url.yml
  changelogs/unreleased/security-update-nokogiri-cve-2020-7595.yml
  changelogs/unreleased/security-updating-description-of-trigger-by-other-maintainer.yml
  changelogs/unreleased/security-xss-vulnerability-in-admin-send-email-notification.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  GITALY_SERVER_VERSION
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  changelogs/unreleased/security-193100-ignore-duplicate-multipart-params.yml
  changelogs/unreleased/security-59-prevent-create-api-snippet.yml
  changelogs/unreleased/security-backend-xss-admin-email.yml
  changelogs/unreleased/security-disable-mirroring-fix.yml
  changelogs/unreleased/security-docker-blocked-users.yml
  changelogs/unreleased/security-fogbugz-importer-deny-localhost-requests.yml
  changelogs/unreleased/security-mask-gh-service-password.yml
  changelogs/unreleased/security-mr-pipeline-status-permission-check.yml
  changelogs/unreleased/security-path-traversal-master.yml
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-restrict-project-pipeline-metrics.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  changelogs/unreleased/security-ssrf-attachment-url.yml
  changelogs/unreleased/security-update-nokogiri-cve-2020-7595.yml
  changelogs/unreleased/security-updating-description-of-trigger-by-other-maintainer.yml
  changelogs/unreleased/security-xss-vulnerability-in-admin-send-email-notification.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-9-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  GITALY_SERVER_VERSION
  changelogs/unreleased/212178-fix-authorized-keys-worker.yml
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  changelogs/unreleased/security-193100-ignore-duplicate-multipart-params.yml
  changelogs/unreleased/security-59-prevent-create-api-snippet.yml
  changelogs/unreleased/security-backend-xss-admin-email.yml
  changelogs/unreleased/security-disable-mirroring-fix.yml
  changelogs/unreleased/security-docker-blocked-users.yml
  changelogs/unreleased/security-fogbugz-importer-deny-localhost-requests.yml
  changelogs/unreleased/security-mr-pipeline-status-permission-check.yml
  changelogs/unreleased/security-path-traversal-master.yml
  changelogs/unreleased/security-repository-archive-hotlinking.yml
  changelogs/unreleased/security-restrict-project-pipeline-metrics.yml
  changelogs/unreleased/security-rf-vulnerability-metadata-fix.yml
  changelogs/unreleased/security-ssrf-attachment-url.yml
  changelogs/unreleased/security-update-nokogiri-cve-2020-7595.yml
  changelogs/unreleased/security-updating-description-of-trigger-by-other-maintainer.yml
  changelogs/unreleased/security-xss-vulnerability-in-admin-send-email-notification.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/repository/components/table/row.vue
  app/graphql/mutations/concerns/mutations/resolves_issuable.rb
  app/models/clusters/applications/runner.rb
  app/models/member.rb
  app/models/user.rb
  changelogs/unreleased/206913-migrate-users-bio.yml
  changelogs/unreleased/georgekoltsov-log-added-team-members-on-import.yml
  changelogs/unreleased/update-gitlab-runner-helm-chart-to-0-15-0.yml
  db/migrate/20200323071918_add_bio_to_user_details.rb
  db/migrate/20200323074147_add_temp_index_on_users_bio.rb
  db/post_migrate/20200323080714_trigger_background_migration_for_users_bio.rb
  db/structure.sql
  doc/install/README.md
  doc/integration/sourcegraph.md
  doc/policy/maintenance.md
  doc/user/gitlab_com/index.md
  doc/user/project/merge_requests/creating_merge_requests.md
  lib/gitlab/background_migration/migrate_users_bio_to_user_details.rb
  lib/gitlab/database/migration_helpers.rb
  lib/gitlab/import_export/members_mapper.rb
  spec/graphql/mutations/concerns/mutations/resolves_issuable_spec.rb
  spec/lib/gitlab/background_migration/migrate_users_bio_to_user_details_spec.rb
  spec/lib/gitlab/database/migration_helpers_spec.rb
  spec/lib/gitlab/import_export/members_mapper_spec.rb
  spec/models/member_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/users_spec.rb
  spec/support/shared_examples/graphql/resolves_issuable_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-9-stable-ee
  CHANGELOG-EE.md
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-7-stable-ee
  CHANGELOG-EE.md
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-6-stable-ee
  app/models/issue.rb
  changelogs/unreleased/security-120026-redact-notes-in-moved-confidential-issues.yml
  spec/lib/banzai/filter/reference_redactor_filter_spec.rb
  spec/models/issue_spec.rb
  spec/policies/issue_policy_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/application_setting.rb
  changelogs/unreleased/199422-maximum-size-for-gitlab-pages-says-to-set-it-to-0-for-unlimited-bu.yml
  changelogs/unreleased/share-redis-cache-connection-pool.yml
  config/application.rb
  lib/gitlab/import_export/json/streaming_serializer.rb
  lib/gitlab/redis/wrapper.rb
  spec/models/application_setting_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/audit_event.rb
  app/services/audit_event_service.rb
  app/services/snippets/create_service.rb
  changelogs/unreleased/212223-snippet-creation-bug.yml
  changelogs/unreleased/33720-add-ds-tpl-remediate-var.yml
  db/fixtures/development/17_cycle_analytics.rb
  doc/user/project/integrations/custom_issue_tracker.md
  lib/gitlab/ci/templates/Security/Dependency-Scanning.gitlab-ci.yml
  qa/qa/page/project/settings/members.rb
  spec/features/snippets/user_creates_snippet_spec.rb
  spec/services/snippets/create_service_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/notes/stores/mutations.js
  changelogs/unreleased/parse-skipped-specs-from-junit-reports.yml
  doc/development/api_graphql_styleguide.md
  doc/development/distributed_tracing.md
  lib/gitlab/ci/parsers/test/junit.rb
  lib/gitlab/git/hook_env.rb
  spec/lib/gitlab/ci/parsers/test/junit_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/setup.gitlab-ci.yml
  app/finders/keys_finder.rb
  app/models/notification_recipient.rb
  app/policies/note_policy.rb
  app/services/notification_recipients/builder/base.rb
  app/services/notification_recipients/builder/new_note.rb
  changelogs/unreleased/cleanup-migration-to-security-scans.yml
  danger/telemetry/Dangerfile
  db/post_migrate/20200323011225_complete_migrate_security_scans.rb
  db/post_migrate/20200323011955_remove_index_used_for_scan_migration.rb
  db/structure.sql
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/development/pipelines.md
  lib/gitlab/database/rename_reserved_paths_migration/v1/rename_namespaces.rb
  lib/gitlab/database/rename_reserved_paths_migration/v1/rename_projects.rb
  lib/gitlab/import_export/base/object_builder.rb
  lib/gitlab/import_export/members_mapper.rb
  locale/gitlab.pot
  spec/lib/gitlab/background_migration/prepare_untracked_uploads_spec.rb
  spec/lib/gitlab/import_export/project/tree_restorer_spec.rb
  spec/migrations/generate_missing_routes_spec.rb
  spec/migrations/migrate_auto_dev_ops_domain_to_cluster_domain_spec.rb
  spec/migrations/nullify_users_role_spec.rb
  spec/migrations/schedule_to_archive_legacy_traces_spec.rb
  spec/policies/note_policy_spec.rb
  spec/requests/api/jobs_spec.rb
  spec/services/emails/create_service_spec.rb
  spec/services/issues/move_service_spec.rb
  spec/services/notification_recipients/builder/new_note_spec.rb
  spec/services/projects/fork_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/197957-projects-api-improve-response-time-for-created_at-desc-order-and-v.yml
  db/migrate/20200215222507_drop_forked_project_links_fk.rb
  db/migrate/20200304085423_add_user_type.rb
  db/migrate/20200325183636_add_api_index_for_internal_projects.rb
  db/structure.sql
  doc/user/packages/container_registry/index.md
  rubocop/cop/migration/with_lock_retries_without_ddl_transaction.rb
  spec/rubocop/cop/migration/with_lock_retries_without_ddl_transaction_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/clusters/components/ingress_modsecurity_settings.vue
  app/assets/javascripts/clusters/stores/clusters_store.js
  app/controllers/projects/merge_requests/diffs_controller.rb
  app/controllers/projects/prometheus/alerts_controller.rb
  changelogs/unreleased/212398-harden-optimie-jira-usage-data.yml
  changelogs/unreleased/add_restriction_for_ingress_update.yml
  db/migrate/20200213100530_add_verification_columns_to_packages.rb
  db/structure.sql
  doc/development/geo/framework.md
  lib/gitlab/usage_data.rb
  spec/controllers/projects/merge_requests/diffs_controller_spec.rb
  spec/controllers/projects/prometheus/alerts_controller_spec.rb
  spec/frontend/clusters/components/ingress_modsecurity_settings_spec.js
  spec/lib/gitlab/usage_data_spec.rb
  spec/support/shared_examples/models/concerns/blob_replicator_strategy_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/stylesheets/framework/sidebar.scss
  app/assets/stylesheets/pages/builds.scss
  app/assets/stylesheets/pages/issuable.scss
  app/assets/stylesheets/pages/wiki.scss
  changelogs/unreleased/196226-rightsidebar-collapsed-always-on-scrollbar.yml
  changelogs/unreleased/212526-oauth-orphan-check.yml
  changelogs/unreleased/dockerfile_swift_template.yml
  danger/changelog/Dangerfile
  doc/api/templates/dockerfiles.md
  lib/gitlab/auth.rb
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_dependent_relationship_spec.rb
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_independent_relationship_spec.rb
  spec/lib/gitlab/auth_spec.rb
  vendor/Dockerfile/Swift.Dockerfile
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/user/group/saml_sso/index.md
  doc/user/group/saml_sso/scim_setup.md
Due: none
