Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ci_variable_list/components/ci_environments_dropdown.vue
  app/assets/javascripts/ci_variable_list/components/ci_variable_modal.vue
  app/assets/javascripts/ci_variable_list/components/ci_variable_table.vue
  app/assets/javascripts/ci_variable_list/constants.js
  app/assets/javascripts/ci_variable_list/store/actions.js
  app/assets/javascripts/ci_variable_list/store/getters.js
  app/assets/javascripts/ci_variable_list/store/index.js
  app/assets/javascripts/ci_variable_list/store/mutation_types.js
  app/assets/javascripts/ci_variable_list/store/mutations.js
  app/assets/javascripts/ci_variable_list/store/state.js
  app/assets/javascripts/droplab/utils.js
  app/assets/javascripts/monitoring/components/panel_type.vue
  app/assets/javascripts/monitoring/constants.js
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/getters.js
  app/assets/javascripts/monitoring/stores/utils.js
  app/uploaders/file_uploader.rb
  app/views/admin/serverless/domains/_form.html.haml
  changelogs/unreleased/209940-geo-fails-to-sync-file-uploads-with-improper-formatted-path.yml
  changelogs/unreleased/rc-use_metric_step.yml
  locale/gitlab.pot
  spec/features/admin/admin_serverless_domains_spec.rb
  spec/frontend/ci_variable_list/components/ci_enviroments_dropdown_spec.js
  spec/frontend/ci_variable_list/services/mock_data.js
  spec/frontend/ci_variable_list/store/getters_spec.js
  spec/frontend/ci_variable_list/store/mutations_spec.js
  spec/frontend/monitoring/mock_data.js
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/monitoring/store/getters_spec.js
  spec/frontend/monitoring/store/mutations_spec.js
  spec/frontend/monitoring/store/utils_spec.js
  spec/uploaders/file_uploader_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  lib/gitlab/ci/reports/test_case.rb
  qa/qa/page/base.rb
  qa/qa/page/main/login.rb
  qa/qa/page/main/menu.rb
  qa/qa/page/validatable.rb
  qa/qa/runtime/env.rb
  qa/spec/spec_helper.rb
  spec/factories/ci/test_case.rb
  spec/lib/gitlab/ci/reports/test_case_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/georgekoltsov-add-metrics-to-importers.yml
  changelogs/unreleased/update-auto-build-image-with-cnb-support.yml
  danger/roulette/Dangerfile
  doc/README.md
  doc/ci/junit_test_reports.md
  doc/ci/multi_project_pipelines.md
  doc/ci/pipelines/index.md
  doc/ci/pipelines/job_artifacts.md
  doc/ci/pipelines/settings.md
  doc/topics/autodevops/index.md
  doc/user/project/clusters/add_remove_clusters.md
  doc/user/project/clusters/runbooks/index.md
  lib/gitlab/bitbucket_import/importer.rb
  lib/gitlab/bitbucket_import/metrics.rb
  lib/gitlab/ci/templates/Jobs/Build.gitlab-ci.yml
  lib/gitlab/danger/helper.rb
  lib/gitlab/import/metrics.rb
  spec/lib/gitlab/bitbucket_import/importer_spec.rb
  spec/lib/gitlab/import/metrics_spec.rb
  spec/services/projects/import_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/controllers/projects/pipelines_controller.rb
  app/views/projects/imports/show.html.haml
  changelogs/unreleased/dblessing-ldap-username-uid-fix.yml
  changelogs/unreleased/fix-approvals-naming.yml
  changelogs/unreleased/updated-spinner-forking-message.yml
  lib/gitlab/auth/ldap/config.rb
  locale/gitlab.pot
  spec/controllers/projects/pipelines_controller_spec.rb
  spec/factories/ci/builds.rb
  spec/factories/ci/job_artifacts.rb
  spec/factories/ci/pipelines.rb
  spec/fixtures/junit/junit_with_attachment.xml.gz
  spec/lib/gitlab/auth/ldap/config_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/snippets/components/snippet_header.vue
  app/models/audit_event.rb
  app/services/audit_event_service.rb
  app/services/groups/deploy_tokens/create_service.rb
  app/services/projects/deploy_tokens/create_service.rb
  app/views/admin/application_settings/_repository_storage.html.haml
  changelogs/unreleased/34079-mirrored-url-visible-for-users-despite-no-access-to-repositories.yml
  changelogs/unreleased/create-token--http-response.yml
  changelogs/unreleased/dmishunov-new-buttons.yml
  changelogs/unreleased/fj-update-repository-shards-admin-copies.yml
  db/migrate/20200330121000_add_confidential_attribute_to_epics.rb
  db/structure.sql
  doc/administration/img/repository_storages_admin_ui.png
  doc/administration/img/repository_storages_admin_ui_v12_10.png
  doc/administration/repository_storage_paths.md
  doc/administration/troubleshooting/debug.md
  doc/api/markdown.md
  doc/development/i18n/externalization.md
  doc/development/i18n/proofreader.md
  doc/development/i18n/translation.md
  doc/development/lfs.md
  doc/development/testing_guide/ci.md
  doc/topics/git/numerous_undo_possibilities_in_git/index.md
  doc/topics/git/troubleshooting_git.md
  doc/user/project/repository/repository_mirroring.md
  locale/gitlab.pot
  spec/controllers/groups/settings/ci_cd_controller_spec.rb
  spec/controllers/projects/settings/ci_cd_controller_spec.rb
  spec/frontend/diffs/components/commit_item_spec.js
  spec/frontend/snippets/components/snippet_header_spec.js
  spec/lib/gitlab/import_export/safe_model_attributes.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .rubocop.yml
  app/assets/stylesheets/framework/secondary_navigation_elements.scss
  app/models/concerns/milestoneish.rb
  app/models/global_milestone.rb
  app/services/ci/daily_report_result_service.rb
  app/views/ci/variables/_index.html.haml
  app/views/projects/issues/_nav_btns.html.haml
  app/views/projects/issues/import_csv/_button.html.haml
  app/views/shared/milestones/_sidebar.html.haml
  changelogs/unreleased/Resolve-Migrate--fa-spinner-app-views-ci-variables.yml
  changelogs/unreleased/admin-routing-spec.yml
  changelogs/unreleased/eb-fix-daily-report-results-upsert.yml
  changelogs/unreleased/include-mr-times.yml
  changelogs/unreleased/validate-dynamic-pipeline-dependencies.yml
  doc/administration/instance_limits.md
  doc/ci/parent_child_pipelines.md
  doc/user/project/milestones/index.md
  lib/gitlab/ci/config/entry/include.rb
  lib/gitlab/ci/yaml_processor.rb
  lib/gitlab/database/batch_count.rb
  lib/gitlab/jira_import/issue_serializer.rb
  locale/gitlab.pot
  spec/controllers/projects/settings/ci_cd_controller_spec.rb
  spec/frontend/ide/components/commit_sidebar/actions_spec.js
  spec/frontend/ide/components/commit_sidebar/empty_state_spec.js
  spec/frontend/ide/components/commit_sidebar/form_spec.js
  spec/frontend/ide/components/commit_sidebar/list_collapsed_spec.js
  spec/frontend/ide/components/commit_sidebar/list_item_spec.js
  spec/frontend/ide/components/commit_sidebar/list_spec.js
  spec/frontend/ide/components/commit_sidebar/new_merge_request_option_spec.js
  spec/frontend/ide/components/commit_sidebar/success_message_spec.js
  spec/javascripts/ide/components/commit_sidebar/actions_spec.js
  spec/lib/gitlab/ci/yaml_processor_spec.rb
  spec/lib/gitlab/jira_import/issue_serializer_spec.rb
  spec/models/concerns/milestoneish_spec.rb
  spec/routing/admin_routing_spec.rb
  spec/services/ci/daily_report_result_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/ide/components/repo_editor.vue
  app/assets/javascripts/notes/components/sort_discussion.vue
  app/controllers/projects/import/jira_controller.rb
  app/models/user.rb
  app/serializers/note_user_entity.rb
  app/views/profiles/show.html.haml
  app/views/projects/import/jira/show.html.haml
  changelogs/unreleased/199081-remove-open-in-file-view-in-web-ide.yml
  changelogs/unreleased/25426_subgroups_runners_in_api.yml
  locale/gitlab.pot
  spec/controllers/projects/import/jira_controller_spec.rb
  spec/frontend/notes/components/sort_discussion_spec.js
  spec/models/user_spec.rb
  spec/requests/api/runners_spec.rb
  spec/views/profiles/show.html.haml_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/clusters/clusters_bundle.js
  app/assets/javascripts/clusters/components/applications.vue
  app/assets/javascripts/clusters/components/knative_domain_editor.vue
  app/assets/javascripts/clusters/stores/clusters_store.js
  app/assets/javascripts/lib/utils/url_utility.js
  app/assets/javascripts/vue_shared/components/clone_dropdown.vue
  app/controllers/admin/integrations_controller.rb
  app/controllers/clusters/applications_controller.rb
  app/controllers/concerns/integrations_actions.rb
  app/controllers/groups/settings/integrations_controller.rb
  app/models/project_services/jira_service.rb
  app/models/project_services/pipelines_email_service.rb
  app/models/service.rb
  changelogs/unreleased/209035-consume-link-lfs-objects-projects.yml
  changelogs/unreleased/212654-can-we-remove-the-index-index_ci_builds_on_name_for_security_repor.yml
  changelogs/unreleased/remove-health-status-epic.yml
  db/migrate/20200330123739_remove_index_ci_builds_on_name_for_security_reports_values.rb
  db/post_migrate/20200319071702_consume_remaining_link_lfs_objects_projects_jobs.rb
  db/structure.sql
  locale/gitlab.pot
  package.json
  spec/controllers/admin/integrations_controller_spec.rb
  spec/controllers/groups/settings/integrations_controller_spec.rb
  spec/frontend/__mocks__/lodash/debounce.js
  spec/frontend/clusters/components/applications_spec.js
  spec/frontend/clusters/components/knative_domain_editor_spec.js
  spec/frontend/clusters/stores/clusters_store_spec.js
  spec/frontend/ide/components/branches/search_list_spec.js
  spec/frontend/ide/components/merge_requests/list_spec.js
  spec/frontend/lib/utils/url_utility_spec.js
  spec/frontend/test_setup.js
  spec/frontend/vue_shared/components/__snapshots__/clone_dropdown_spec.js.snap
  spec/frontend/vue_shared/components/clone_dropdown_spec.js
  spec/models/service_spec.rb
  spec/services/metrics/dashboard/update_dashboard_service_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/development/fe_guide/index.md
  doc/development/fe_guide/style/index.md
  doc/development/new_fe_guide/development/components.md
  doc/security/password_storage.md
  doc/topics/autodevops/index.md
  doc/university/README.md
  doc/update/upgrading_from_source.md
  doc/update/upgrading_postgresql_using_slony.md
  doc/user/analytics/value_stream_analytics.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/clusters/applications.md
  doc/user/clusters/crossplane.md
  doc/user/group/saml_sso/scim_setup.md
  doc/user/markdown.md
  doc/user/packages/npm_registry/index.md
  doc/user/profile/account/two_factor_authentication.md
  doc/user/profile/index.md
  doc/user/project/import/github.md
  doc/user/project/integrations/microsoft_teams.md
  doc/user/project/integrations/prometheus.md
  doc/user/project/issues/crosslinking_issues.md
  doc/user/project/pages/custom_domains_ssl_tls_certification/dns_concepts.md
  doc/user/project/repository/web_editor.md
  doc/user/search/advanced_global_search.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  spec/graphql/resolvers/environments_resolver_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  changelogs/unreleased/gitlab-schema-spec.yml
  changelogs/unreleased/update-large-table-spec.yml
  spec/graphql/gitlab_schema_spec.rb
  spec/rubocop/cop/migration/update_large_table_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/monitoring/components/charts/annotations.js
  app/assets/javascripts/monitoring/components/charts/time_series.vue
  app/assets/javascripts/monitoring/constants.js
  spec/frontend/monitoring/components/charts/annotations_spec.js
  spec/frontend/monitoring/components/charts/time_series_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/ci/junit_test_reports.md
  doc/user/application_security/dast/index.md
  qa/qa/specs/features/browser_ui/7_configure/kubernetes/kubernetes_integration_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/graphql/types/base_field.rb
  app/graphql/types/commit_type.rb
  app/graphql/types/grafana_integration_type.rb
  app/graphql/types/merge_request_type.rb
  app/graphql/types/project_type.rb
  changelogs/unreleased/211620-remove-deprecated-strings-from-descriptions.yml
  changelogs/unreleased/fix-normalize-signature-protocol-attachments.yml
  doc/administration/high_availability/nfs.md
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/development/api_graphql_styleguide.md
  doc/user/project/issues/csv_export.md
  doc/user/project/issues/img/csv_export_button.png
  doc/user/project/issues/img/csv_export_button_v12_9.png
  lib/gitlab/email/attachment_uploader.rb
  spec/fixtures/emails/valid_reply_signed_smime_mixed_protocol_prefix.eml
  spec/graphql/types/base_field_spec.rb
  spec/lib/gitlab/email/attachment_uploader_spec.rb
  spec/lib/gitlab/graphql/docs/renderer_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/QA failure.md
  app/models/jira_import_state.rb
  app/models/project.rb
  doc/development/testing_guide/end_to_end/index.md
  doc/subscriptions/index.md
  doc/topics/airgap/index.md
  doc/topics/airgap/quick_start_guide.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dast/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/offline_deployments/index.md
  doc/user/application_security/sast/index.md
  doc/user/gitlab_com/index.md
  lib/api/internal/pages.rb
  locale/gitlab.pot
  spec/factories/jira_import_states.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/jira_import_state_spec.rb
  spec/models/project_spec.rb
  spec/requests/api/internal/pages_spec.rb
  spec/support/shared_examples/models/jira_import_state_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Migrations.md
  .rubocop.yml
  app/controllers/admin/application_settings_controller.rb
  app/controllers/projects/static_site_editor_controller.rb
  app/models/concerns/has_repository.rb
  app/models/group.rb
  app/models/personal_snippet.rb
  app/models/project.rb
  app/models/project_snippet.rb
  app/models/project_wiki.rb
  app/presenters/commit_presenter.rb
  app/presenters/issue_presenter.rb
  app/presenters/milestone_presenter.rb
  app/services/snippets/update_service.rb
  app/views/projects/static_site_editor/show.html.haml
  changelogs/unreleased/fj-213436-move-update-outside-transaction.yml
  changelogs/unreleased/notification-service-spec.yml
  config/routes/repository.rb
  danger/telemetry/Dangerfile
  doc/administration/logs.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/index.md
  doc/user/application_security/sast/index.md
  doc/user/compliance/license_compliance/index.md
  lib/gitlab/path_regex.rb
  lib/gitlab/url_builder.rb
  lib/gitlab/view/presenter/base.rb
  spec/controllers/projects/static_site_editor_controller_spec.rb
  spec/factories/milestones.rb
  spec/features/projects/snippets/user_updates_snippet_spec.rb
  spec/features/snippets/user_edits_snippet_spec.rb
  spec/frontend/__mocks__/@gitlab/ui.js
  spec/lib/gitlab/url_builder_spec.rb
  spec/models/personal_snippet_spec.rb
  spec/models/project_snippet_spec.rb
  spec/models/project_spec.rb
  spec/models/project_wiki_spec.rb
  spec/services/notification_service_spec.rb
  spec/services/snippets/update_service_spec.rb
  spec/support/shared_examples/models/concerns/has_repository_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/assets/javascripts/vue_shared/components/stacked_progress_bar.vue
  app/assets/stylesheets/utilities.scss
  app/views/admin/groups/_form.html.haml
  app/views/admin/groups/_group.html.haml
  app/views/admin/groups/index.html.haml
  app/views/admin/groups/show.html.haml
  app/views/layouts/nav/sidebar/_admin.html.haml
  changelogs/unreleased/asciidoc-attr.yml
  changelogs/unreleased/user-post-diff-notes.yml
  doc/administration/geo/replication/img/geo_node_dashboard.png
  doc/development/documentation/styleguide.md
  doc/user/admin_area/settings/usage_statistics.md
  doc/user/asciidoc.md
  lib/gitlab/asciidoc.rb
  locale/gitlab.pot
  package.json
  qa/qa.rb
  qa/qa/page/admin/menu.rb
  qa/qa/page/admin/overview/groups/edit.rb
  qa/qa/page/admin/overview/groups/index.rb
  qa/qa/page/admin/overview/groups/show.rb
  qa/qa/runtime/env.rb
  qa/spec/runtime/env_spec.rb
  spec/features/merge_request/user_posts_diff_notes_spec.rb
  spec/javascripts/vue_shared/components/stacked_progress_bar_spec.js
  spec/lib/gitlab/asciidoc_spec.rb
  yarn.lock
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/helpers/application_settings_helper.rb
  app/services/merge_requests/merge_service.rb
  app/services/merge_requests/post_merge_service.rb
  app/services/merge_requests/squash_service.rb
  changelogs/unreleased/213062-disallow-distinct-count-for-the-ordinary-batch-counter.yml
  changelogs/unreleased/32737-make-mergeservice-idempotent.yml
  doc/administration/geo/replication/troubleshooting.md
  doc/user/clusters/applications.md
  doc/user/project/web_ide/index.md
  lib/gitlab/database/batch_count.rb
  locale/gitlab.pot
  spec/controllers/projects/issues_controller_spec.rb
  spec/features/issues/spam_issues_spec.rb
  spec/features/snippets/spam_snippets_spec.rb
  spec/lib/gitlab/database/batch_count_spec.rb
  spec/services/issues/create_service_spec.rb
  spec/services/merge_requests/merge_service_spec.rb
  spec/services/merge_requests/post_merge_service_spec.rb
  spec/services/merge_requests/squash_service_spec.rb
  spec/services/snippets/create_service_spec.rb
  spec/services/spam/spam_check_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/assets/javascripts/diffs/store/mutation_types.js
  app/assets/javascripts/diffs/store/mutations.js
  app/assets/javascripts/notes/components/discussion_counter.vue
  app/assets/javascripts/releases/components/app_edit.vue
  app/controllers/repositories/git_http_controller.rb
  app/helpers/issuables_helper.rb
  app/views/projects/issues/_issue.html.haml
  app/views/projects/merge_requests/_merge_request.html.haml
  changelogs/unreleased/fix-enable-toggle-all-button-when-logged-out.yml
  changelogs/unreleased/fj-replace-snippet-git-message.yml
  changelogs/unreleased/nfriend-document-release-asset-links-editing-again.yml
  doc/development/documentation/styleguide.md
  doc/user/project/releases/img/edit_release_page_v12_10.png
  doc/user/project/releases/index.md
  lib/api/internal/base.rb
  lib/gitlab/usage_data.rb
  locale/gitlab.pot
  spec/controllers/repositories/git_http_controller_spec.rb
  spec/features/projects/releases/user_views_edit_release_spec.rb
  spec/frontend/diffs/store/mutations_spec.js
  spec/frontend/releases/components/app_edit_spec.js
  spec/helpers/issuables_helper_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/requests/api/internal/base_spec.rb
  spec/views/projects/issues/show.html.haml_spec.rb
  spec/views/projects/merge_requests/show.html.haml_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/global.gitlab-ci.yml
  app/models/concerns/spammable.rb
  app/views/shared/issuable/form/_branch_chooser.html.haml
  changelogs/unreleased/213367-snippet-update-error-when-version-feature-flag-disabled.yml
  changelogs/unreleased/approval-by-me-icon.yml
  changelogs/unreleased/sh-flatten-sidekiq-exception-logs.yml
  doc/.vale/gitlab/Spelling.yml
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/ci/caching/index.md
  doc/subscriptions/index.md
  lib/api/internal/base.rb
  lib/gitlab/ci/templates/Managed-Cluster-Applications.gitlab-ci.yml
  lib/gitlab/sidekiq_logging/json_formatter.rb
  lib/gitlab/sidekiq_logging/logs_jobs.rb
  locale/gitlab.pot
  qa/qa/page/component/ci_badge_link.rb
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_dependent_relationship_spec.rb
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_independent_relationship_spec.rb
  spec/lib/gitlab/sidekiq_logging/json_formatter_spec.rb
  spec/lib/gitlab/sidekiq_logging/structured_logger_spec.rb
  spec/requests/api/internal/base_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/finders/projects_finder.rb
  app/graphql/resolvers/merge_requests_resolver.rb
  changelogs/unreleased/ab-keyset-ambig-bug.yml
  changelogs/unreleased/remove_api_activity_logging_feature_flag.yml
  db/migrate/20171230123729_init_schema.rb
  db/migrate/20180116193854_create_lfs_file_locks.rb
  db/migrate/20180503131624_create_remote_mirrors.rb
  db/migrate/20200215225103_drop_forked_project_links_table.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/user/project/import/svn.md
  lib/api/api.rb
  lib/gitlab/background_migration/link_lfs_objects.rb
  lib/gitlab/experimentation.rb
  rubocop/cop/migration/datetime.rb
  spec/finders/projects_finder_spec.rb
  spec/requests/api/api_spec.rb
  spec/rubocop/cop/migration/datetime_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  app/controllers/projects/environments_controller.rb
  app/finders/environments_finder.rb
  app/graphql/resolvers/environments_resolver.rb
  app/models/environment.rb
  app/models/users_statistics.rb
  app/services/metrics/dashboard/transient_embed_service.rb
  app/workers/all_queues.yml
  app/workers/users/create_statistics_worker.rb
  changelogs/unreleased/36162-search-by-state.yml
  changelogs/unreleased/add_fluentd_cluster_app_table.yml
  changelogs/unreleased/sy-transient-embeds.yml
  changelogs/unreleased/users_statistics_worker.yml
  config/initializers/1_settings.rb
  db/migrate/20200402185044_create_clusters_applications_fluentd.rb
  db/structure.sql
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/ci/ssh_keys/README.md
  doc/user/application_security/sast/index.md
  lib/api/helpers/internal_helpers.rb
  lib/gitlab/metrics/dashboard/service_selector.rb
  locale/gitlab.pot
  spec/factories/environments.rb
  spec/factories/users_statistics.rb
  spec/features/markdown/metrics_spec.rb
  spec/finders/environments_finder_spec.rb
  spec/graphql/resolvers/environments_resolver_spec.rb
  spec/lib/gitlab/metrics/dashboard/service_selector_spec.rb
  spec/models/users_statistics_spec.rb
  spec/services/metrics/dashboard/transient_embed_service_spec.rb
  spec/workers/users/create_statistics_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/reports.gitlab-ci.yml
  .gitlab/ci/review.gitlab-ci.yml
  app/models/concerns/prometheus_adapter.rb
  app/models/project_services/chat_notification_service.rb
  app/models/project_services/prometheus_service.rb
  app/services/prometheus/create_default_alerts_service.rb
  app/workers/all_queues.yml
  app/workers/prometheus/create_default_alerts_worker.rb
  changelogs/unreleased/118788-automatic-metric-alerts.yml
  changelogs/unreleased/212073-slack-notifications-stop-working-after-updating-gitlab.yml
  config/sidekiq_queues.yml
  spec/models/concerns/prometheus_adapter_spec.rb
  spec/models/project_services/chat_notification_service_spec.rb
  spec/models/project_services/prometheus_service_spec.rb
  spec/services/prometheus/create_default_alerts_service_spec.rb
  spec/workers/prometheus/create_default_alerts_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Migrations.md
  app/controllers/groups/settings/integrations_controller.rb
  app/helpers/groups_helper.rb
  app/helpers/services_helper.rb
  app/models/project_import_state.rb
  app/serializers/diffs_entity.rb
  app/views/admin/application_settings/integrations.html.haml
  app/views/groups/settings/integrations/index.html.haml
  app/views/layouts/nav/sidebar/_group.html.haml
  app/views/shared/integrations/_integrations.html.haml
  changelogs/unreleased/210522-import-status-correlation-id.yml
  config/initializers/sidekiq_cluster.rb
  db/migrate/20200402124802_add_correlation_id_to_project_import_state.rb
  db/structure.sql
  doc/api/epic_links.md
  doc/api/project_import_export.md
  doc/development/foreign_keys.md
  doc/topics/web_application_firewall/img/guide_waf_ingress_installation_v12_10.png
  doc/topics/web_application_firewall/img/guide_waf_ingress_installation_v12_9.png
  doc/topics/web_application_firewall/img/guide_waf_ingress_save_changes_v12_10.png
  doc/topics/web_application_firewall/img/guide_waf_ingress_save_changes_v12_9.png
  doc/topics/web_application_firewall/quick_start_guide.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/sast/index.md
  doc/user/application_security/security_dashboard/index.md
  doc/user/clusters/applications.md
  doc/user/compliance/license_compliance/index.md
  doc/user/project/issue_board.md
  lib/api/entities/project_import_status.rb
  lib/gitlab/sidekiq_cluster/cli.rb
  locale/gitlab.pot
  spec/controllers/groups/settings/integrations_controller_spec.rb
  spec/lib/gitlab/sidekiq_cluster/cli_spec.rb
  spec/lib/gitlab/sidekiq_cluster_spec.rb
  spec/models/project_import_state_spec.rb
  spec/serializers/diffs_entity_spec.rb
  spec/support/shared_contexts/navbar_structure_context.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/custom_metrics/components/custom_metrics_form.vue
  app/assets/javascripts/custom_metrics/components/custom_metrics_form_fields.vue
  app/assets/javascripts/custom_metrics/components/delete_custom_metric_modal.vue
  app/assets/javascripts/custom_metrics/constants.js
  app/assets/javascripts/custom_metrics/index.js
  app/assets/javascripts/dropzone_input.js
  app/assets/javascripts/gl_form.js
  app/assets/javascripts/monitoring/constants.js
  app/assets/javascripts/monitoring/queries/getEnvironments.query.graphql
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/reports/accessibility_report/components/accessibility_issue_body.vue
  app/assets/javascripts/reports/components/issue_body.js
  app/assets/stylesheets/bootstrap_migration.scss
  app/assets/stylesheets/framework/typography.scss
  app/assets/stylesheets/framework/variables_overrides.scss
  app/helpers/groups_helper.rb
  app/uploaders/import_export_uploader.rb
  app/views/layouts/nav/sidebar/_group.html.haml
  changelogs/unreleased/36162-monitoring-dashboard-should-list-only-active-environments-in-dropdo.yml
  changelogs/unreleased/dpisek-use-right-font-weight-for-hN-classes.yml
  doc/administration/high_availability/README.md
  doc/administration/scaling/index.md
  doc/ci/variables/README.md
  doc/subscriptions/index.md
  doc/user/compliance/license_compliance/index.md
  doc/user/group/saml_sso/index.md
  doc/user/group/saml_sso/scim_setup.md
  doc/user/project/issues/csv_export.md
  doc/user/project/issues/index.md
  lib/api/internal/base.rb
  locale/gitlab.pot
  spec/frontend/custom_metrics/components/custom_metrics_form_fields_spec.js
  spec/frontend/custom_metrics/components/custom_metrics_form_spec.js
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/reports/accessibility_report/components/accessibility_issue_body_spec.js
  spec/lib/gitlab/import_export/project/tree_restorer_spec.rb
  spec/lib/gitlab/import_export/project/tree_saver_spec.rb
  spec/requests/api/internal/base_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/ssh/README.md
  doc/user/gitlab_com/index.md
Due: none

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
