Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*

Update CHANGELOG.md for 12.8.5
  CHANGELOG.md
  changelogs/unreleased/207837-circular-encoding.yml
  changelogs/unreleased/207857-fix-web-ide-modal-no-text.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/georgekoltsov-fix-import-export-uploader.yml
  changelogs/unreleased/lm-fix-error-query.yml
  changelogs/unreleased/ph-p207499-fixNonAsciiChars.yml
  changelogs/unreleased/revert-e0613e64.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  changelogs/unreleased/sh-optimize-broadcast-message-redis.yml
  changelogs/unreleased/use-addressable-for-asset-proxy-badge-render.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
Due: none

Update CHANGELOG.md for 12.8.5
  CHANGELOG.md
Due: none

Update VERSION to 12.8.5
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile.lock
  app/helpers/milestones_helper.rb
  app/models/concerns/milestoneish.rb
  app/views/projects/milestones/show.html.haml
  app/views/shared/milestones/_milestone.html.haml
  app/views/shared/milestones/_sidebar.html.haml
  app/views/shared/milestones/_top.html.haml
  changelogs/unreleased/208891-optimize-todos-counters.yml
  changelogs/unreleased/31289-show-issue-summary-on-releases-page.yml
  changelogs/unreleased/replace-undefined-with-unknown.yml
  db/migrate/20200225123228_insert_project_subscriptions_plan_limits.rb
  db/migrate/20200306170531_add_index_on_author_id_and_created_at_to_todos.rb
  db/post_migrate/20200227140242_update_occurrence_severity_column.rb
  db/schema.rb
  doc/development/application_limits.md
  doc/development/experiment_guide/index.md
  doc/subscriptions/index.md
  doc/user/index.md
  lib/gitlab/background_migration/remove_undefined_occurrence_severity_level.rb
  spec/models/concerns/milestoneish_spec.rb
  spec/models/milestone_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/subscriptions/index.md
  lib/api/entities/gpg_key.rb
  lib/api/users.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/concerns/bulk_insertable_associations.rb
  app/models/merge_request_diff.rb
  lib/gitlab/import_export/relation_tree_restorer.rb
  spec/models/concerns/bulk_insertable_associations_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/registry/explorer/components/project_policy_alert.vue
  app/assets/javascripts/registry/explorer/constants.js
  app/assets/javascripts/registry/explorer/pages/list.vue
  app/assets/javascripts/registry/explorer/stores/mutations.js
  app/views/projects/registry/repositories/index.html.haml
  locale/gitlab.pot
  spec/frontend/registry/explorer/components/project_policy_alert_spec.js
  spec/frontend/registry/explorer/stores/mutations_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/policies/group_policy.rb
  changelogs/unreleased/21811-group-delete-deploy-token.yml
  doc/administration/geo/disaster_recovery/background_verification.md
  doc/administration/geo/disaster_recovery/planned_failover.md
  doc/administration/geo/replication/configuration.md
  doc/administration/geo/replication/database.md
  doc/administration/geo/replication/troubleshooting.md
  doc/administration/gitaly/reference.md
  doc/administration/high_availability/database.md
  doc/administration/high_availability/nfs.md
  doc/administration/high_availability/nfs_host_client_setup.md
  doc/administration/high_availability/redis.md
  doc/administration/housekeeping.md
  doc/administration/index.md
  doc/administration/integration/plantuml.md
  doc/administration/lfs/lfs_administration.md
  doc/api/deploy_tokens.md
  lib/api/deploy_tokens.rb
  spec/requests/api/deploy_tokens_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/merge_request_templates/Documentation.md
  doc/ci/multi_project_pipelines.md
  doc/ci/pipelines.md
  doc/ssh/README.md
  doc/user/project/deploy_tokens/index.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/create_merge_request_dropdown.js
  app/assets/javascripts/error_tracking/components/error_tracking_list.vue
  app/assets/javascripts/error_tracking/store/list/actions.js
  app/assets/javascripts/error_tracking/store/list/mutation_types.js
  app/assets/javascripts/error_tracking/store/list/mutations.js
  app/assets/javascripts/error_tracking/store/list/state.js
  app/assets/stylesheets/pages/error_tracking_list.scss
  changelogs/unreleased/209207-spinner-appears-to-be-broken.yml
  changelogs/unreleased/filter-sentry-error-list.yml
  doc/administration/geo/replication/high_availability.md
  doc/development/documentation/workflow.md
  doc/user/project/operations/error_tracking.md
  locale/gitlab.pot
  spec/features/error_tracking/user_filters_errors_by_status_spec.rb
  spec/features/error_tracking/user_searches_sentry_errors_spec.rb
  spec/fixtures/sentry/issues_sample_response.json
  spec/frontend/diffs/components/commit_item_spec.js
  spec/frontend/error_tracking/components/error_tracking_list_spec.js
  spec/frontend/error_tracking/store/list/actions_spec.js
  spec/frontend/error_tracking/store/list/mutation_spec.js
  spec/javascripts/diffs/components/commit_item_spec.js
  spec/lib/sentry/client/issue_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab-ci.yml
  app/assets/javascripts/cycle_analytics/components/stage_nav_item.vue
  app/assets/stylesheets/pages/cycle_analytics.scss
  app/controllers/concerns/snippets_actions.rb
  app/controllers/projects/snippets_controller.rb
  app/controllers/repositories/git_http_controller.rb
  app/controllers/snippets_controller.rb
  app/models/concerns/issuable.rb
  app/serializers/pipeline_serializer.rb
  app/services/snippets/update_service.rb
  changelogs/unreleased/fix-api.yml
  changelogs/unreleased/fj-fix-git-error-message-update-snippet.yml
  changelogs/unreleased/sh-optimize-pipeline-for-mrs.yml
  doc/administration/git_protocol.md
  doc/administration/high_availability/README.md
  doc/administration/packages/container_registry.md
  doc/api/projects.md
  doc/development/pipelines.md
  doc/user/project/integrations/prometheus.md
  lib/api/entities/remote_mirror.rb
  lib/api/helpers.rb
  lib/api/internal/base.rb
  lib/api/projects.rb
  lib/api/remote_mirrors.rb
  lib/gitlab/git_access_snippet.rb
  spec/controllers/projects/pipelines_controller_spec.rb
  spec/controllers/repositories/git_http_controller_spec.rb
  spec/features/projects/snippets/user_updates_snippet_spec.rb
  spec/features/snippets/user_edits_snippet_spec.rb
  spec/fixtures/api/schemas/remote_mirror.json
  spec/lib/gitlab/git_access_snippet_spec.rb
  spec/requests/api/internal/base_spec.rb
  spec/requests/api/projects_spec.rb
  spec/requests/api/remote_mirrors_spec.rb
  spec/services/snippets/update_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/review.gitlab-ci.yml
  .rubocop.yml
  app/models/list.rb
  app/models/project.rb
  app/services/metrics/dashboard/clone_dashboard_service.rb
  app/services/metrics/dashboard/update_dashboard_service.rb
  app/services/test_hooks/base_service.rb
  app/services/test_hooks/project_service.rb
  app/services/test_hooks/system_service.rb
  changelogs/unreleased/199438-fix-logs-encoding.yml
  danger/database/Dangerfile
  lib/gitlab/encoding_helper.rb
  lib/gitlab/request_profiler/middleware.rb
  locale/gitlab.pot
  rubocop/cop/ban_catch_throw.rb
  rubocop/cop/gitlab/keys-first-and-values-first.rb
  spec/lib/gitlab/encoding_helper_spec.rb
  spec/rubocop/cop/ban_catch_throw_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .haml-lint_todo.yml
  app/assets/javascripts/vue_shared/components/gl_mentions.vue
  app/assets/stylesheets/vendors/tribute.scss
  app/workers/namespaces/root_statistics_worker.rb
  app/workers/namespaces/schedule_aggregation_worker.rb
  config/initializers/sidekiq.rb
  config/webpack.config.js
  doc/administration/logs.md
  doc/api/audit_events.md
  doc/development/mass_insert.md
  lib/gitlab/sidekiq_logging/client_logger.rb
  package.json
  spec/frontend/vue_shared/components/gl_mentions_spec.js
  spec/workers/namespaces/root_statistics_worker_spec.rb
  spec/workers/namespaces/schedule_aggregation_worker_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/frontend.gitlab-ci.yml
  app/assets/stylesheets/pages/labels.scss
  changelogs/unreleased/gitlab-middleware-refactoring.yml
  changelogs/unreleased/leipert-drop-node-8-support.yml
  doc/ci/examples/end_to_end_testing_webdriverio/index.md
  doc/development/database_review.md
  doc/development/fe_guide/index.md
  doc/install/installation.md
  doc/install/requirements.md
  lib/api/remote_mirrors.rb
  lib/gitlab/middleware/read_only/controller.rb
  package.json
  spec/requests/api/remote_mirrors_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/epic.rb
  changelogs/unreleased/119107-respect-dnt-for-experiments.yml
  doc/administration/geo/replication/high_availability.md
  doc/development/testing_guide/frontend_testing.md
  doc/development/testing_guide/testing_levels.md
  doc/user/admin_area/settings/usage_statistics.md
  doc/user/project/merge_requests/code_quality.md
  lib/gitlab/experimentation.rb
  spec/lib/gitlab/experimentation_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/helpers/x509_helper.rb
  app/views/projects/commit/x509/_certificate_details.html.haml
  app/workers/concerns/gitlab/github_import/notify_upon_death.rb
  app/workers/concerns/gitlab/github_import/object_importer.rb
  app/workers/concerns/gitlab/notify_upon_death.rb
  changelogs/unreleased/199790-approval-settings-target-branch-api.yml
  changelogs/unreleased/fix-x509-signed-commit.yml
  doc/administration/job_artifacts.md
  doc/administration/pages/index.md
  doc/ci/README.md
  doc/ci/jenkins/index.md
  doc/ci/pipelines/img/job_artifacts_browser.png
  doc/ci/pipelines/img/job_artifacts_browser_button.png
  doc/ci/pipelines/img/job_artifacts_builds_page.png
  doc/ci/pipelines/img/job_artifacts_pipelines_page.png
  doc/ci/pipelines/img/job_latest_artifacts_browser.png
  doc/ci/pipelines/job_artifacts.md
  doc/ci/yaml/README.md
  doc/user/clusters/applications.md
  doc/user/packages/npm_registry/index.md
  doc/user/project/merge_requests/accessibility_testing.md
  doc/user/project/merge_requests/code_quality.md
  doc/user/project/pipelines/job_artifacts.md
  lib/gitlab/x509/commit.rb
  package.json
  spec/helpers/x509_helper_spec.rb
  spec/lib/gitlab/x509/commit_spec.rb
  spec/support/shared_examples/models/cluster_application_status_shared_examples.rb
  spec/support/shared_examples/models/cluster_application_version_shared_examples.rb
  spec/workers/concerns/gitlab/notify_upon_death_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitignore
  app/assets/javascripts/vue_merge_request_widget/components/deployment/constants.js
  app/assets/javascripts/vue_merge_request_widget/components/deployment/deployment.vue
  app/assets/javascripts/vue_merge_request_widget/components/deployment/deployment_action_button.vue
  app/assets/javascripts/vue_merge_request_widget/components/deployment/deployment_actions.vue
  app/assets/javascripts/vue_merge_request_widget/components/deployment/deployment_stop_button.vue
  app/assets/javascripts/vue_merge_request_widget/services/mr_widget_service.js
  app/controllers/projects/merge_requests_controller.rb
  app/graphql/gitlab_schema.rb
  app/services/merge_requests/update_service.rb
  changelogs/unreleased/25351-add-buttons.yml
  db/migrate/20200305121159_add_merge_request_metrics_first_reassigned_at.rb
  db/migrate/20200306095654_add_merge_request_assignee_created_at.rb
  db/schema.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/index.md
  doc/user/project/merge_requests/squash_and_merge.md
  lib/gitlab/danger/commit_linter.rb
  locale/gitlab.pot
  scripts/review_apps/automated_cleanup.rb
  spec/frontend/notes/helpers.js
  spec/frontend/notes/stores/actions_spec.js
  spec/frontend/vue_mr_widget/deployment/deployment_action_button_spec.js
  spec/frontend/vue_mr_widget/deployment/deployment_actions_spec.js
  spec/frontend/vue_mr_widget/deployment/deployment_mock_data.js
  spec/frontend/vue_mr_widget/deployment/deployment_spec.js
  spec/frontend/vue_mr_widget/deployment/deployment_view_button_spec.js
  spec/javascripts/notes/helpers.js
  spec/javascripts/vue_mr_widget/components/deployment_stop_button_spec.js
  spec/lib/gitlab/danger/commit_linter_spec.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .haml-lint_todo.yml
  app/assets/javascripts/error_tracking/components/error_details.vue
  app/controllers/import/gitlab_projects_controller.rb
  app/helpers/application_helper.rb
  app/models/concerns/bulk_insert_safe.rb
  app/models/concerns/bulk_insertable_associations.rb
  app/services/notification_recipients/build_service.rb
  app/views/layouts/_page.html.haml
  app/views/layouts/fullscreen.html.haml
  app/views/shared/_outdated_browser.html.haml
  changelogs/unreleased/118503.yml
  changelogs/unreleased/197480-remove-package-file_type.yml
  changelogs/unreleased/208674-use-wh-acceleration-for-ui-project-import.yml
  changelogs/unreleased/208830-conan-package-reference-fix.yml
  changelogs/unreleased/25995-default-relative-links-to-blobs.yml
  config/gitlab.yml.example
  config/routes/import.rb
  db/post_migrate/20200304211738_remove_file_type_from_packages_package_files.rb
  db/schema.rb
  doc/install/requirements.md
  doc/user/admin_area/settings/usage_statistics.md
  lib/banzai/filter/repository_link_filter.rb
  locale/gitlab.pot
  spec/controllers/import/gitlab_projects_controller_spec.rb
  spec/features/issues/user_creates_issue_spec.rb
  spec/features/projects/tags/user_edits_tags_spec.rb
  spec/features/uploads/user_uploads_file_to_note_spec.rb
  spec/frontend/diffs/components/commit_item_spec.js
  spec/frontend/error_tracking/components/error_details_spec.js
  spec/helpers/markup_helper_spec.rb
  spec/lib/banzai/filter/repository_link_filter_spec.rb
  spec/models/concerns/bulk_insertable_associations_spec.rb
  spec/support/capybara.rb
  spec/support/helpers/test_env.rb
  spec/support/shared_examples/features/wiki_file_attachments_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/confirm_modal.js
  app/assets/javascripts/editor/editor_lite.js
  app/assets/javascripts/vue_shared/components/confirm_modal.vue
  app/assets/stylesheets/framework.scss
  app/assets/stylesheets/framework/editor-lite.scss
  app/controllers/dashboard/projects_controller.rb
  changelogs/unreleased/fix-missing-rss-feed-events.yml
  doc/user/clusters/applications.md
  spec/controllers/dashboard/projects_controller_spec.rb
  spec/frontend/confirm_modal_spec.js
  spec/frontend/vue_shared/components/confirm_modal_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/graphql/gitlab_schema.rb
  app/models/commit.rb
  app/models/users_statistics.rb
  changelogs/unreleased/199197-make-has-been-reverted-check-cheaper.yml
  changelogs/unreleased/208887-optimize-project-counters-mirrored-pipelines.yml
  changelogs/unreleased/33641-fix_smartcard_param_check_in_user_build.yml
  changelogs/unreleased/create_users_statistics.yml
  config/initializers/graphql.rb
  db/migrate/20200221100514_create_users_statistics.rb
  db/migrate/20200309195209_add_index_on_project_id_and_builds_access_level_to_project_features.rb
  db/migrate/20200309195710_add_index_on_mirror_and_creator_id_and_created_at_to_projects.rb
  db/schema.rb
  doc/administration/geo/replication/datatypes.md
  doc/integration/img/jira_dev_panel_setup_com_1.png
  doc/integration/img/jira_dev_panel_setup_com_2.png
  doc/integration/img/jira_dev_panel_setup_com_3.png
  doc/integration/jira_development_panel.md
  doc/user/group/subgroups/index.md
  lib/gitlab/graphql/timeout.rb
  qa/qa/specs/features/browser_ui/3_create/snippet/create_snippet_spec.rb
  spec/lib/gitlab/graphql/timeout_spec.rb
  spec/models/commit_range_spec.rb
  spec/models/commit_spec.rb
  spec/requests/api/graphql/gitlab_schema_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/mo-change-capybara-screenshots-name.yml
  doc/subscriptions/index.md
  qa/qa/runtime/browser.rb
  qa/qa/specs/features/browser_ui/3_create/snippet/create_snippet_spec.rb
  spec/support/capybara.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/policies/group_policy.rb
  changelogs/unreleased/21811-group-list-deploy-tokens.yml
  changelogs/unreleased/auto-deploy-image-v0-12-0.yml
  doc/administration/gitaly/praefect.md
  doc/administration/packages/container_registry.md
  doc/api/deploy_tokens.md
  doc/ci/jenkins/index.md
  doc/development/fe_guide/vuex.md
  doc/topics/autodevops/index.md
  doc/user/group/subgroups/index.md
  doc/user/project/clusters/serverless/aws.md
  jest.config.js
  lib/api/deploy_tokens.rb
  lib/gitlab/ci/templates/Jobs/Deploy.gitlab-ci.yml
  qa/Gemfile
  qa/Gemfile.lock
  scripts/lint-doc.sh
  spec/frontend/__mocks__/monaco-editor/index.js
  spec/requests/api/deploy_tokens_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  app/assets/javascripts/clusters_list/components/clusters.vue
  app/assets/javascripts/error_tracking/components/error_tracking_list.vue
  app/assets/javascripts/lib/utils/datetime_utility.js
  app/assets/javascripts/pages/projects/settings/operations/show/index.js
  app/assets/javascripts/vue_merge_request_widget/components/mr_widget_header.vue
  app/assets/javascripts/vue_merge_request_widget/components/mr_widget_pipeline_container.vue
  app/assets/javascripts/vue_merge_request_widget/components/states/commits_header.vue
  app/assets/javascripts/vue_merge_request_widget/components/states/mr_widget_auto_merge_enabled.vue
  app/assets/javascripts/vue_merge_request_widget/components/states/mr_widget_conflicts.vue
  app/assets/javascripts/vue_merge_request_widget/components/states/ready_to_merge.vue
  app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  app/assets/javascripts/vue_merge_request_widget/stores/mr_widget_store.js
  app/assets/stylesheets/pages/error_list.scss
  app/assets/stylesheets/pages/groups.scss
  app/views/groups/show.html.haml
  app/views/projects/settings/operations/show.html.haml
  changelogs/unreleased/208885-optimize-ci_pipeline-counters-related-to-the-ci-pipeline.yml
  changelogs/unreleased/208936.yml
  db/migrate/20200306170321_add_index_on_user_id_and_created_at_to_ci_pipelines.rb
  db/schema.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/ci/jenkins/index.md
  locale/gitlab.pot
  spec/frontend/clusters_list/mock_data.js
  spec/frontend/lib/utils/datetime_utility_spec.js
  spec/lib/gitlab/project_authorizations_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-8-stable-ee
  app/controllers/concerns/confirm_email_warning.rb
  app/controllers/confirmations_controller.rb
  app/controllers/registrations_controller.rb
  app/models/user.rb
  changelogs/unreleased/security-soft-email-confirmation-revert.yml
  spec/controllers/concerns/confirm_email_warning_spec.rb
  spec/controllers/registrations_controller_spec.rb
  spec/features/invites_spec.rb
  spec/features/users/login_spec.rb
  spec/features/users/signup_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  app/assets/javascripts/deploy_keys/components/key.vue
  app/assets/javascripts/diffs/components/diff_table_cell.vue
  app/assets/stylesheets/pages/diff.scss
  app/controllers/sessions_controller.rb
  app/models/snippet.rb
  changelogs/unreleased/14707-add-nginx-throughput.yml
  changelogs/unreleased/196688-replace-underscore-with-lodash-for-app-assets-javascripts-deploy_k.yml
  changelogs/unreleased/199220-snippet-search.yml
  changelogs/unreleased/202639.yml
  changelogs/unreleased/207808-geo-bug-filedownloaddispatchworker-may-sometimes-excessively-resyn.yml
  changelogs/unreleased/georgekoltsov-bump-project-import-limit.yml
  changelogs/unreleased/sh-use-process-cache-for-feature-flags.yml
  doc/api/releases/index.md
  doc/development/README.md
  doc/development/insert_into_tables_in_batches.md
  doc/gitlab-basics/create-your-ssh-keys.md
  doc/user/project/settings/import_export.md
  lib/api/entities/milestone_with_stats.rb
  lib/api/entities/release.rb
  lib/feature.rb
  lib/gitlab/application_rate_limiter.rb
  lib/gitlab/middleware/multipart.rb
  lib/gitlab/process_memory_cache.rb
  spec/controllers/sessions_controller_spec.rb
  spec/fixtures/api/schemas/public_api/v4/milestone_with_stats.json
  spec/fixtures/api/schemas/public_api/v4/release.json
  spec/fixtures/api/schemas/public_api/v4/release/release_for_guest.json
  spec/frontend/diffs/components/diff_table_cell_spec.js
  spec/lib/feature_spec.rb
  spec/lib/gitlab/middleware/multipart_spec.rb
  spec/models/snippet_spec.rb
  spec/requests/api/releases_spec.rb
  spec/spec_helper.rb
  spec/support/shared_contexts/lib/gitlab/middleware/multipart_shared_contexts.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.8.6
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.8.6
  CHANGELOG.md
  changelogs/unreleased/security-soft-email-confirmation-revert.yml
Due: none

Update CHANGELOG.md for 12.8.6
  CHANGELOG.md
Due: none

Update VERSION to 12.8.6
  VERSION
Due: none
