Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Add latest changes from gitlab-org/gitlab@master
  doc/.vale/gitlab/SubstitutionWarning.yml
  doc/.vale/gitlab/Substitutions.yml
  doc/topics/autodevops/index.md
  doc/user/project/deploy_tokens/index.md
  qa/Rakefile
  qa/qa/page/component/select2.rb
  qa/qa/tools/delete_test_ssh_keys.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/projects/alert_management_controller.rb
  app/views/projects/alert_management/details.html.haml
  changelogs/unreleased/recreate_foreign_key_with_nullify.yml
  config/routes/project.rb
  db/migrate/20200417075843_remove_and_add_foreign_key_to_project_settings.rb
  db/structure.sql
  doc/user/application_security/dast/index.md
  locale/gitlab.pot
  spec/controllers/projects/alert_management_controller_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/boards/models/list.js
  app/assets/javascripts/boards/stores/boards_store.js
  app/assets/javascripts/monitoring/components/charts/heatmap.vue
  app/controllers/search_controller.rb
  app/models/snippet.rb
  app/services/search/snippet_service.rb
  changelogs/unreleased/214773-metrics-dashboadr-heatmap-styles.yml
  changelogs/unreleased/Remove-getIssues-function-logic-from-list-js.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  lib/gitlab/snippet_search_results.rb
  locale/gitlab.pot
  spec/controllers/search_controller_spec.rb
  spec/frontend/boards/boards_store_spec.js
  spec/lib/gitlab/snippet_search_results_spec.rb
  spec/models/snippet_spec.rb
  spec/services/search/snippet_service_spec.rb
  spec/services/search_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Feature proposal.md
  app/assets/javascripts/clusters/clusters_bundle.js
  app/assets/javascripts/clusters/components/applications.vue
  app/assets/javascripts/clusters/components/fluentd_output_settings.vue
  app/assets/javascripts/clusters/stores/clusters_store.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/constants.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/rich_content_editor.vue
  app/models/ci/build.rb
  changelogs/unreleased/213282-add-support-for-vue-routes.yml
  changelogs/unreleased/215902-ci-job-jwt-handle-signing-key-issues.yml
  changelogs/unreleased/update_ui_to_support_cilium_log_checkbox.yml
  config/routes/repository_scoped.rb
  doc/development/README.md
  doc/development/documentation/index.md
  doc/development/documentation/styleguide.md
  doc/development/migration_style_guide.md
  doc/topics/git/index.md
  doc/user/clusters/applications.md
  doc/user/clusters/img/fluentd_v12_10.png
  doc/user/clusters/img/fluentd_v13_0.png
  lib/gitlab/analytics/cycle_analytics/median.rb
  locale/gitlab.pot
  spec/controllers/projects/static_site_editor_controller_spec.rb
  spec/frontend/__mocks__/@toast-ui/vue-editor/index.js
  spec/frontend/clusters/components/fluentd_output_settings_spec.js
  spec/frontend/clusters/stores/clusters_store_spec.js
  spec/frontend/vue_shared/components/rich_content_editor/rich_content_editor_spec.js
  spec/models/ci/build_spec.rb
  spec/routing/project_routing_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Security developer workflow.md
  app/assets/javascripts/blob/components/blob_header_filepath.vue
  app/services/ci/create_job_artifacts_service.rb
  app/services/ci/destroy_expired_job_artifacts_service.rb
  changelogs/unreleased/211637-blob-path-name.yml
  doc/administration/lfs/index.md
  doc/development/README.md
  doc/topics/git/lfs/index.md
  doc/user/admin_area/settings/account_and_limit_settings.md
  doc/user/project/settings/index.md
  package.json
  spec/frontend/blob/components/__snapshots__/blob_header_filepath_spec.js.snap
  spec/frontend/blob/components/blob_header_filepath_spec.js
  spec/frontend/blob/components/mock_data.js
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/.vale/gitlab/Substitutions.yml
  doc/administration/external_database.md
  doc/administration/geo/replication/database.md
  doc/administration/geo/replication/troubleshooting.md
  doc/administration/gitaly/praefect.md
  doc/administration/high_availability/consul.md
  doc/administration/high_availability/database.md
  doc/administration/high_availability/gitlab.md
  doc/administration/high_availability/monitoring_node.md
  doc/administration/high_availability/nfs.md
  doc/administration/high_availability/redis.md
  doc/administration/monitoring/performance/grafana_configuration.md
  doc/administration/monitoring/prometheus/index.md
  doc/administration/pages/index.md
  doc/administration/timezone.md
  doc/administration/troubleshooting/kubernetes_cheat_sheet.md
  doc/development/README.md
  doc/development/contributing/merge_request_workflow.md
  doc/development/testing_guide/testing_levels.md
  doc/install/README.md
  doc/integration/README.md
  doc/integration/elasticsearch.md
  doc/integration/recaptcha.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/graphql/types/grafana_integration_type.rb
  app/models/jira_import_state.rb
  app/models/project.rb
  changelogs/unreleased/196862-drop-plan-id.yml
  changelogs/unreleased/208920-jira-import-usage-data.yml
  changelogs/unreleased/211984-jira-import-connection-test.yml
  db/post_migrate/20200424043515_drop_namespaces_plan_id.rb
  db/structure.sql
  doc/.vale/gitlab/ReferenceLinks.yml
  doc/administration/feature_flags.md
  doc/administration/geo/replication/troubleshooting.md
  doc/administration/scaling/index.md
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/api/repositories.md
  doc/ci/yaml/README.md
  doc/development/documentation/index.md
  doc/development/fe_guide/graphql.md
  doc/user/clusters/applications.md
  doc/user/markdown.md
  lib/gitlab/usage_data.rb
  locale/gitlab.pot
  spec/controllers/projects/import/jira_controller_spec.rb
  spec/factories/usage_data.rb
  spec/lib/gitlab/jira_import/base_importer_spec.rb
  spec/lib/gitlab/jira_import/issues_importer_spec.rb
  spec/lib/gitlab/jira_import/labels_importer_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/models/project_spec.rb
  spec/requests/api/graphql/mutations/jira_import/start_spec.rb
  spec/services/jira_import/start_import_service_spec.rb
  spec/support/helpers/jira_service_helper.rb
  spec/workers/gitlab/jira_import/stage/import_issues_worker_spec.rb
  spec/workers/gitlab/jira_import/stage/import_labels_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Feature proposal.md
  app/assets/javascripts/alert_management/components/alert_management_list.vue
  app/assets/javascripts/alert_management/graphql/fragments/listItem.fragment.graphql
  app/assets/javascripts/alert_management/graphql/queries/getAlerts.query.graphql
  app/assets/javascripts/alert_management/list.js
  app/assets/javascripts/diffs/store/mutation_types.js
  app/assets/javascripts/diffs/store/mutations.js
  app/assets/stylesheets/pages/alerts_list.scss
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/channels/issues_channel.rb
  app/helpers/projects/alert_management_helper.rb
  app/models/active_session.rb
  app/models/application_setting.rb
  app/policies/project_policy.rb
  app/services/issues/update_service.rb
  changelogs/unreleased/allow_public_view_of_pipeline_schedules.yml
  changelogs/unreleased/sh-disable-schema-dump-prod.yml
  config/cable.yml.example
  config/environments/production.rb
  doc/development/fe_guide/style/scss.md
  doc/topics/git/index.md
  lib/gitlab/experimentation.rb
  lib/quality/test_level.rb
  locale/gitlab.pot
  scripts/prepare_build.sh
  spec/channels/application_cable/connection_spec.rb
  spec/channels/issues_channel_spec.rb
  spec/features/security/project/internal_access_spec.rb
  spec/features/security/project/private_access_spec.rb
  spec/features/security/project/public_access_spec.rb
  spec/features/users/signup_spec.rb
  spec/frontend/alert_management/components/alert_management_list_spec.js
  spec/frontend/alert_management/mocks/alerts.json
  spec/frontend/diffs/store/mutations_spec.js
  spec/helpers/projects/alert_management_helper_spec.rb
  spec/lib/quality/test_level_spec.rb
  spec/services/issues/update_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.10.2
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.10.2
  CHANGELOG.md
  changelogs/unreleased/bug-codeowner-diffs.yml
  changelogs/unreleased/security-apply-codeowners-checks-to-web_ui.yml
  changelogs/unreleased/security-branch-permissions.yml
  changelogs/unreleased/security-file-template-project.yml
  changelogs/unreleased/security-fix-CVE-2020-10187.yml
  changelogs/unreleased/security-mask-gh-service-password.yml
  changelogs/unreleased/security-mirror-urls.yml
  changelogs/unreleased/security-validate-use-propery-workhorse-rewritten-fields-for-multipart-up.yml
Due: none

Update CHANGELOG.md for 12.10.2
  CHANGELOG.md
Due: none

Update VERSION to 12.10.2
  VERSION
Due: none

Update GITALY_SERVER_VERSION to 12.9.5
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.9.5
  CHANGELOG.md
  changelogs/unreleased/bug-codeowner-diffs.yml
  changelogs/unreleased/security-apply-codeowners-checks-to-web_ui.yml
  changelogs/unreleased/security-branch-permissions.yml
  changelogs/unreleased/security-file-template-project-12-9.yml
  changelogs/unreleased/security-fix-CVE-2020-10187.yml
  changelogs/unreleased/security-fix-es-credentials-leak.yml
  changelogs/unreleased/security-mask-gh-service-password.yml
  changelogs/unreleased/security-mirror-urls.yml
  changelogs/unreleased/security-validate-use-propery-workhorse-rewritten-fields-for-multipart-up.yml
Due: none

Update CHANGELOG.md for 12.9.5
  CHANGELOG.md
Due: none

Update VERSION to 12.9.5
  VERSION
Due: none

Update GITALY_SERVER_VERSION to 12.8.10
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.8.10
  CHANGELOG.md
  changelogs/unreleased/bug-codeowner-diffs.yml
  changelogs/unreleased/security-branch-permissions.yml
  changelogs/unreleased/security-file-template-project-12-9.yml
  changelogs/unreleased/security-fix-CVE-2020-10187.yml
  changelogs/unreleased/security-fix-es-credentials-leak.yml
  changelogs/unreleased/security-mirror-urls.yml
  changelogs/unreleased/security-validate-use-propery-workhorse-rewritten-fields-for-multipart-up.yml
Due: none

Update CHANGELOG.md for 12.8.10
  CHANGELOG.md
Due: none

Update VERSION to 12.8.10
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@12-9-stable-ee
  CHANGELOG-EE.md
Due: none

Add latest changes from gitlab-org/gitlab@12-10-stable-ee
  CHANGELOG-EE.md
Due: none

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-7-stable-ee
  changelogs/unreleased/security-fix-es-credentials-leak.yml
  config/application.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  CHANGELOG-EE.md
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/details.js
  app/assets/javascripts/behaviors/markdown/render_mermaid.js
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/components/dashboard_panel.vue
  app/assets/javascripts/pages/projects/alert_management/details/index.js
  app/assets/stylesheets/page_bundles/themes/_dark.scss
  app/controllers/clusters/clusters_controller.rb
  app/controllers/oauth/authorized_applications_controller.rb
  app/helpers/projects_helper.rb
  app/serializers/cluster_entity.rb
  app/serializers/cluster_serializer.rb
  app/serializers/remote_mirror_entity.rb
  app/views/projects/alert_management/details.html.haml
  changelogs/unreleased/set-multiple-custom-metrics-edit-path.yml
  config/application.rb
  doc/development/import_export.md
  doc/integration/img/jenkins_gitlab_service_settings.png
  doc/integration/jenkins.md
  lib/api/api.rb
  lib/gitlab/middleware/multipart.rb
  lib/uploaded_file.rb
  locale/gitlab.pot
  qa/qa/specs/features/browser_ui/3_create/snippet/create_snippet_spec.rb
  spec/controllers/admin/clusters_controller_spec.rb
  spec/controllers/groups/clusters_controller_spec.rb
  spec/controllers/oauth/authorized_applications_controller_spec.rb
  spec/controllers/projects/clusters_controller_spec.rb
  spec/fixtures/api/schemas/cluster_list.json
  spec/frontend/alert_management/components/alert_management_detail_spec.js
  spec/frontend/monitoring/components/dashboard_panel_spec.js
  spec/frontend/pipelines/time_ago_spec.js
  spec/helpers/application_helper_spec.rb
  spec/javascripts/pipelines/time_ago_spec.js
  spec/lib/gitlab/middleware/multipart_spec.rb
  spec/lib/uploaded_file_spec.rb
  spec/serializers/cluster_entity_spec.rb
  spec/serializers/remote_mirror_entity_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  app/controllers/projects_controller.rb
  changelogs/unreleased/jivanvl-remove-feature-flag-visibility-toggle-monitoring.yml
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/rails.gitlab-ci.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  spec/fixtures/lib/gitlab/metrics/dashboard/development_metrics.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/sh-revert-codeowners-check.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  lib/rspec_flaky/report.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
