Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Add latest changes from gitlab-org/gitlab@master
  app/views/projects/graphs/charts.html.haml
  changelogs/unreleased/andr3-rails-session-samesite-strict.yml
  changelogs/unreleased/djensen-update-repository-analytics-title.yml
  config/application.rb
  lib/gitlab/middleware/same_site_cookies.rb
  locale/gitlab.pot
  spec/lib/gitlab/middleware/same_site_cookies_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/development/documentation/styleguide.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/sh-disable-archive-rate-throttle-default.yml
  changelogs/unreleased/wc-httio-accept-encoding.yml
  lib/gitlab/http_io.rb
  lib/gitlab/rate_limit_helpers.rb
  spec/lib/gitlab/http_io_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/raketasks/cleanup.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  doc/development/testing_guide/best_practices.md
  spec/lib/gitlab/alerting/alert_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/administration/instance_limits.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/user/markdown.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/controllers/boards/issues_controller.rb
  changelogs/unreleased/Resolve-Migrate--fa-spinner-ee-app-views-projects-settings.yml
  changelogs/unreleased/mk-fix-issue-board-query-dupe.yml
  doc/ci/ci_cd_for_external_repos/bitbucket_integration.md
  doc/ci/ci_cd_for_external_repos/index.md
  doc/ci/docker/using_docker_images.md
  doc/ci/examples/php.md
  doc/ci/git_submodules.md
  doc/ci/pipelines/job_artifacts.md
  doc/ci/quick_start/README.md
  doc/ci/runners/README.md
  doc/ci/services/docker-services.md
  doc/ci/services/postgres.md
  doc/ci/ssh_keys/README.md
  doc/ci/triggers/README.md
  doc/ci/variables/README.md
  doc/ci/variables/predefined_variables.md
  doc/ci/yaml/README.md
  locale/gitlab.pot
  spec/controllers/boards/issues_controller_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/environments/components/confirm_rollback_modal.vue
  app/assets/javascripts/environments/components/environment_item.vue
  app/assets/javascripts/environments/components/environments_table.vue
  app/assets/javascripts/environments/mixins/environments_mixin.js
  app/controllers/projects/issues_controller.rb
  app/graphql/types/project_statistics_type.rb
  app/graphql/types/root_storage_statistics_type.rb
  app/models/container_registry/event.rb
  app/models/container_repository.rb
  app/views/projects/issues/_nav_btns.html.haml
  app/views/projects/issues/show.html.haml
  app/views/shared/empty_states/_issues.html.haml
  changelogs/unreleased/212452-webhooks-do-not-show-when-discussion-lock-changes.yml
  changelogs/unreleased/212463-remove-export-fast-serialize-feature-flag.yml
  changelogs/unreleased/23131-upgrade-statistics-endpoints.yml
  changelogs/unreleased/remove-new-issue-tooltip.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/user/project/integrations/webhooks.md
  doc/user/project/issues/index.md
  lib/api/api.rb
  lib/api/container_registry_event.rb
  lib/gitlab/hook_data/issue_builder.rb
  lib/gitlab/import_export/fast_hash_serializer.rb
  lib/gitlab/import_export/legacy_relation_tree_saver.rb
  spec/lib/gitlab/hook_data/issue_builder_spec.rb
  spec/lib/gitlab/import_export/group/tree_saver_spec.rb
  spec/lib/gitlab/import_export/legacy_relation_tree_saver_spec.rb
  spec/lib/gitlab/import_export/project/legacy_tree_saver_spec.rb
  spec/models/container_registry/event_spec.rb
  spec/models/container_repository_spec.rb
  spec/requests/api/container_registry_event_spec.rb
  spec/requests/api/graphql/namespace/root_storage_statistics_spec.rb
  spec/requests/api/graphql/project/project_statistics_spec.rb
  spec/requests/api/project_templates_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/services/notes/update_service.rb
  doc/administration/high_availability/README.md
  doc/administration/instance_limits.md
  doc/api/deployments.md
  doc/development/documentation/styleguide.md
  doc/user/markdown.md
  spec/services/spam/spam_check_service_spec.rb
  spec/support/shared_examples/spam_check_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/review.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  app/workers/concerns/waitable_worker.rb
  doc/administration/geo/replication/troubleshooting.md
  doc/administration/high_availability/pgbouncer.md
  doc/administration/job_artifacts.md
  doc/administration/monitoring/github_imports.md
  doc/administration/monitoring/ip_whitelist.md
  doc/administration/monitoring/performance/grafana_configuration.md
  doc/administration/monitoring/performance/index.md
  doc/administration/monitoring/performance/influxdb_configuration.md
  doc/administration/monitoring/performance/performance_bar.md
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  doc/administration/monitoring/prometheus/index.md
  doc/administration/monitoring/prometheus/node_exporter.md
  doc/administration/monitoring/prometheus/pgbouncer_exporter.md
  doc/administration/monitoring/prometheus/redis_exporter.md
  doc/administration/pages/index.md
  doc/administration/pages/source.md
  doc/api/jobs.md
  doc/api/pipelines.md
  doc/api/runners.md
  doc/development/integrations/jenkins.md
  doc/development/testing_guide/review_apps.md
  doc/topics/autodevops/index.md
  doc/user/project/canary_deployments.md
  doc/user/project/deploy_boards.md
  doc/user/project/deploy_tokens/index.md
  doc/user/project/new_ci_build_permissions_model.md
  doc/user/project/pages/introduction.md
  lib/gitlab/emoji.rb
  scripts/review_apps/gcp_cleanup.sh
  spec/helpers/emoji_helper_spec.rb
  spec/workers/concerns/waitable_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/assets/javascripts/dirty_submit/dirty_submit_form.js
  app/controllers/repositories/git_http_controller.rb
  changelogs/unreleased/211950-impossible-to-remove-orphan-artifact-files.yml
  changelogs/unreleased/fj-reorder-snippet-before-actions.yml
  doc/administration/repository_storage_paths.md
  doc/api/services.md
  doc/ci/examples/end_to_end_testing_webdriverio/index.md
  doc/development/api_graphql_styleguide.md
  doc/development/architecture.md
  doc/development/documentation/site_architecture/index.md
  doc/development/documentation/styleguide.md
  doc/development/fe_guide/graphql.md
  doc/development/import_project.md
  doc/development/integrations/secure.md
  doc/development/testing_guide/flaky_tests.md
  doc/install/azure/index.md
  doc/install/installation.md
  doc/install/requirements.md
  doc/integration/elasticsearch.md
  doc/integration/ultra_auth.md
  doc/integration/vault.md
  doc/raketasks/README.md
  doc/user/clusters/applications.md
  lib/gitlab/cleanup/orphan_job_artifact_files.rb
  spec/controllers/repositories/git_http_controller_spec.rb
  spec/javascripts/dirty_submit/dirty_submit_form_spec.js
  spec/lib/gitlab/cleanup/orphan_job_artifact_files_spec.rb
  spec/models/concerns/prometheus_adapter_spec.rb
  spec/services/spam/spam_check_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-9-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  GITALY_SERVER_VERSION
  changelogs/unreleased/212264-gcs-job-log-is-stored-with-content-type-invalid-invalid.yml
  changelogs/unreleased/docs-rename-skip-outdated-jobs.yml
  changelogs/unreleased/georgekoltsov-fix-issues-mrs-state.yml
  changelogs/unreleased/issue_11391_2.yml
  changelogs/unreleased/sh-check-features-table-gitaly.yml
  changelogs/unreleased/sh-disable-archive-rate-throttle-default.yml
  changelogs/unreleased/sh-fix-import-by-url-retries.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.9.2
  CHANGELOG.md
Due: none

Update VERSION to 12.9.2
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/controllers/projects/settings/integrations_controller.rb
  app/finders/group_members_finder.rb
  app/models/members/group_member.rb
  app/models/project.rb
  app/models/service.rb
  app/models/system_note_metadata.rb
  changelogs/unreleased/119092-add-scala-to-ds-tpl-2.yml
  doc/development/elasticsearch.md
  doc/user/admin_area/settings/index.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dast/index.md
  doc/user/application_security/index.md
  doc/user/application_security/offline_deployments/index.md
  doc/user/application_security/sast/index.md
  doc/user/project/clusters/add_eks_clusters.md
  doc/user/project/clusters/add_gke_clusters.md
  doc/user/project/clusters/add_remove_clusters.md
  doc/user/project/clusters/eks_and_gitlab/index.md
  doc/user/project/clusters/index.md
  lib/gitlab/ci/templates/Security/Dependency-Scanning.gitlab-ci.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/administration/operations/extra_sidekiq_processes.md
  doc/administration/operations/index.md
  doc/api/epics.md
  doc/api/group_level_variables.md
  doc/api/groups.md
  doc/api/issues.md
  doc/api/project_snippets.md
  doc/api/todos.md
  doc/development/application_limits.md
  doc/user/discussions/index.md
  doc/user/project/badges.md
  doc/user/project/description_templates.md
  doc/user/project/issue_board.md
  doc/user/todos.md
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_http_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/frontend.gitlab-ci.yml
  .markdownlint.json
  app/assets/stylesheets/pages/tree.scss
  app/helpers/nav_helper.rb
  app/helpers/system_note_helper.rb
  app/services/merge_requests/merge_service.rb
  app/services/merge_requests/post_merge_service.rb
  app/services/merge_requests/squash_service.rb
  app/views/layouts/header/_default.html.haml
  changelogs/unreleased/32737-make-mergeservice-idempotent.yml
  doc/administration/geo/disaster_recovery/background_verification.md
  doc/administration/geo/disaster_recovery/bring_primary_back.md
  doc/administration/geo/disaster_recovery/index.md
  doc/administration/geo/disaster_recovery/planned_failover.md
  doc/administration/geo/replication/configuration.md
  doc/administration/geo/replication/database.md
  doc/administration/geo/replication/datatypes.md
  doc/administration/geo/replication/high_availability.md
  doc/administration/geo/replication/troubleshooting.md
  doc/administration/geo/replication/using_a_geo_server.md
  doc/administration/high_availability/database.md
  doc/administration/high_availability/nfs.md
  doc/administration/high_availability/redis.md
  doc/administration/high_availability/redis_source.md
  doc/api/graphql/index.md
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/development/feature_flags/development.md
  doc/development/gitaly.md
  doc/topics/autodevops/upgrading_postgresql.md
  spec/helpers/nav_helper_spec.rb
  spec/services/ci/generate_coverage_reports_service_spec.rb
  spec/services/merge_requests/merge_service_spec.rb
  spec/services/merge_requests/post_merge_service_spec.rb
  spec/services/merge_requests/squash_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/components/embeds/metric_embed.vue
  app/assets/javascripts/monitoring/constants.js
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/mutation_types.js
  app/assets/javascripts/monitoring/stores/mutations.js
  app/assets/javascripts/releases/components/app_index.vue
  app/assets/javascripts/releases/components/release_block.vue
  app/workers/reactive_caching_worker.rb
  changelogs/unreleased/nfriend-fix-guest-user-releases.yml
  changelogs/unreleased/refactor-member-spec.yml
  changelogs/unreleased/refator-wiki-page.yml
  doc/administration/high_availability/README.md
  doc/development/documentation/styleguide.md
  doc/user/application_security/container_scanning/index.md
  doc/user/project/issues/img/issue_health_status_v12_10.png
  doc/user/project/issues/index.md
  locale/gitlab.pot
  qa/qa/runtime/browser.rb
  spec/features/projects/releases/user_views_releases_spec.rb
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/components/embeds/metric_embed_spec.js
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/monitoring/store/mutations_spec.js
  spec/frontend/releases/components/release_block_spec.js
  spec/models/member_spec.rb
  spec/models/wiki_page_spec.rb
  spec/workers/reactive_caching_worker_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/project.rb
  changelogs/unreleased/alexives-25230-add_foreign_key_to_chat_name_service_id.yml
  db/migrate/20200313202430_add_index_chat_name_service_id.rb
  db/migrate/20200313203525_add_invalid_foreign_key_from_chat_name_to_service.rb
  db/post_migrate/20200313203550_remove_orphaned_chat_names.rb
  db/post_migrate/20200313204021_validate_foreign_key_from_chat_name_to_service.rb
  db/structure.sql
  spec/db/schema_spec.rb
  spec/migrations/20200313203550_remove_orphaned_chat_names_spec.rb
  spec/models/chat_name_spec.rb
  spec/models/project_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .markdownlint.json
  app/assets/javascripts/ide/components/commit_sidebar/actions.vue
  app/assets/javascripts/ide/stores/modules/commit/state.js
  doc/ci/merge_request_pipelines/index.md
  doc/user/group/roadmap/img/epics_state_dropdown.png
  doc/user/group/roadmap/img/epics_state_dropdown_v12_10.png
  doc/user/group/roadmap/img/roadmap_view_v12_10.png
  doc/user/group/roadmap/img/roadmap_view_v12_9.png
  doc/user/group/roadmap/index.md
  lib/gitlab/ci/reports/test_reports.rb
  lib/gitlab/ci/reports/test_suite.rb
  spec/factories/ci/test_case.rb
  spec/javascripts/ide/components/commit_sidebar/actions_spec.js
  spec/lib/gitlab/ci/reports/test_reports_spec.rb
  spec/lib/gitlab/ci/reports/test_suite_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/controllers/projects/blob_controller.rb
  app/models/ci/build.rb
  app/serializers/diff_file_entity.rb
  app/serializers/diffs_entity.rb
  app/serializers/paginated_diff_entity.rb
  app/services/metrics/dashboard/base_service.rb
  app/views/projects/blob/_blob.html.haml
  changelogs/unreleased/208890-optimize-notes-and-suggestion-counters.yml
  config/feature_categories.yml
  db/migrate/20200330132913_add_index_on_author_id_and_created_at_and_id_to_notes.rb
  db/structure.sql
  doc/administration/gitaly/img/praefect_storage_v12_10.png
  doc/administration/gitaly/praefect.md
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  lib/gitlab/code_navigation_path.rb
  spec/controllers/projects/blob_controller_spec.rb
  spec/lib/banzai/filter/issuable_state_filter_spec.rb
  spec/lib/gitlab/code_navigation_path_spec.rb
  spec/serializers/diff_file_entity_spec.rb
  spec/serializers/diffs_entity_spec.rb
  spec/serializers/diffs_metadata_entity_spec.rb
  spec/services/metrics/dashboard/custom_dashboard_service_spec.rb
  spec/services/metrics/dashboard/pod_dashboard_service_spec.rb
  spec/services/metrics/dashboard/self_monitoring_dashboard_service_spec.rb
  spec/services/metrics/dashboard/system_dashboard_service_spec.rb
  spec/support/shared_examples/services/metrics/dashboard_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/assets/javascripts/snippets/components/snippet_visibility_edit.vue
  app/controllers/ci/lints_controller.rb
  app/models/award_emoji.rb
  app/models/remote_mirror.rb
  app/views/ci/lints/show.html.haml
  changelogs/unreleased/georgekoltsov-fix-award-emojis-import-export.yml
  changelogs/unreleased/refactor-issuable-spec.yml
  changelogs/unreleased/remove-deprecated-lint-page.yml
  config/routes.rb
  config/routes/ci.rb
  doc/user/packages/maven_repository/index.md
  doc/user/permissions.md
  doc/user/project/integrations/img/copy_link_to_chart_v12_10.png
  doc/user/project/integrations/img/generate_link_to_chart.png
  doc/user/project/integrations/img/panel_context_menu_v12_10.png
  doc/user/project/integrations/prometheus.md
  doc/user/reserved_names.md
  lib/gitlab/git/remote_mirror.rb
  lib/gitlab/gitaly_client/remote_service.rb
  lib/gitlab/path_regex.rb
  locale/gitlab.pot
  spec/lib/gitlab/git/remote_mirror_spec.rb
  spec/lib/gitlab/gitaly_client/remote_service_spec.rb
  spec/models/award_emoji_spec.rb
  spec/models/concerns/issuable_spec.rb
  spec/models/remote_mirror_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
