Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  bin/mail_room
  changelogs/unreleased/201771.yml
  config/routes.rb
  lib/gitlab/sidekiq_logging/structured_logger.rb
  spec/features/groups/navbar_spec.rb
  spec/javascripts/vue_shared/components/content_viewer/content_viewer_spec.js
  spec/lib/gitlab/sidekiq_logging/structured_logger_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/diffs/components/diff_table_cell.vue
  app/assets/stylesheets/pages/diff.scss
  changelogs/unreleased/202639.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  config/initializers/0_marginalia.rb
  doc/administration/troubleshooting/img/AzureAD-basic_SAML.png
  doc/api/README.md
  doc/api/pipeline_triggers.md
  doc/api/releases/links.md
  doc/api/search.md
  doc/api/settings.md
  doc/api/sidekiq_metrics.md
  doc/api/statistics.md
  doc/api/suggestions.md
  doc/api/system_hooks.md
  doc/api/tags.md
  doc/api/templates/dockerfiles.md
  doc/api/templates/licenses.md
  doc/api/todos.md
  doc/api/users.md
  doc/api/version.md
  doc/api/visual_review_discussions.md
  doc/api/vulnerability_findings.md
  doc/api/wikis.md
  doc/user/markdown.md
  doc/user/packages/conan_repository/index.md
  doc/user/packages/npm_registry/index.md
  doc/user/packages/nuget_repository/index.md
  doc/user/project/description_templates.md
  doc/user/project/integrations/gitlab_slack_application.md
  doc/user/project/integrations/hipchat.md
  doc/user/project/integrations/irker.md
  doc/user/project/integrations/jira.md
  doc/user/project/integrations/prometheus_library/kubernetes.md
  doc/user/project/new_ci_build_permissions_model.md
  spec/frontend/diffs/components/diff_table_cell_spec.js
  spec/lib/marginalia_spec.rb
  spec/support_specs/helpers/active_record/query_recorder_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  spec/services/projects/operations/update_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  lib/gitlab/sidekiq_logging/structured_logger.rb
  spec/lib/gitlab/sidekiq_logging/structured_logger_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/kassio-fix-dev-seed.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/administration/gitaly/index.md
  doc/administration/high_availability/README.md
  doc/administration/high_availability/database.md
  doc/administration/high_availability/gitaly.md
  doc/administration/high_availability/object_storage.md
  doc/administration/high_availability/redis.md
  doc/integration/elasticsearch.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/administration/auth/okta.md
  doc/administration/high_availability/README.md
  doc/user/project/new_ci_build_permissions_model.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/34086-es-bulk-incremental-index-updates.yml
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  doc/development/elasticsearch.md
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  spec/support/shared_contexts/features/error_tracking_shared_context.rb
  spec/support/shared_examples/features/error_tracking_shared_example.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/resource_event.rb
  app/models/resource_label_event.rb
  app/models/resource_milestone_event.rb
  app/models/resource_weight_event.rb
  changelogs/unreleased/207126-more-descriptive-error-messages-in-migration-helpers.yml
  doc/api/scim.md
  doc/ci/variables/README.md
  doc/ci/yaml/README.md
  doc/user/project/deploy_tokens/index.md
  doc/user/search/index.md
  lib/gitlab/database/migration_helpers.rb
  spec/lib/gitlab/database/migration_helpers_spec.rb
  spec/models/resource_label_event_spec.rb
  spec/models/resource_weight_event_spec.rb
  spec/support/shared_examples/resource_events.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/administration/auth/oidc.md
  doc/api/services.md
  doc/integration/omniauth.md
  doc/user/markdown.md
  doc/user/profile/account/two_factor_authentication.md
  doc/user/project/clusters/add_remove_clusters.md
  doc/user/project/import/github.md
  doc/user/project/import/index.md
  doc/user/project/index.md
  doc/user/project/integrations/jira.md
  lib/gitlab/sidekiq_middleware.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/notes/stores/getters.js
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
  doc/ci/caching/index.md
  doc/integration/saml.md
  spec/frontend/notes/stores/getters_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/user_bot_type_enums.rb
  changelogs/unreleased/georgekoltsov-fix-epic-issues.yml
  doc/development/README.md
  doc/development/architecture.md
  doc/development/code_review.md
  doc/development/contributing/design.md
  doc/development/database_review.md
  doc/development/documentation/index.md
  doc/development/documentation/site_architecture/index.md
  doc/development/documentation/styleguide.md
  doc/development/documentation/workflow.md
  doc/development/event_tracking/index.md
  doc/development/fe_guide/development_process.md
  doc/development/fe_guide/graphql.md
  doc/development/fe_guide/vuex.md
  doc/development/feature_flags/process.md
  doc/development/new_fe_guide/development/accessibility.md
  doc/development/new_fe_guide/index.md
  doc/development/packages.md
  doc/development/performance.md
  doc/development/redis.md
  doc/development/sidekiq_style_guide.md
  doc/development/testing_guide/end_to_end/quick_start_guide.md
  doc/development/testing_guide/testing_levels.md
  lib/gitlab/import_export/project/import_export.yml
  spec/fixtures/lib/gitlab/import_export/group/project.json
  spec/frontend/boards/components/issue_card_inner_scoped_label_spec.js
  spec/frontend/boards/components/issue_due_date_spec.js
  spec/lib/gitlab/import_export/all_models.yml
  spec/lib/gitlab/import_export/safe_model_attributes.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-8-stable-ee
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  spec/support/shared_contexts/features/error_tracking_shared_context.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  app/controllers/concerns/uploads_actions.rb
  app/uploaders/file_uploader.rb
  changelogs/unreleased/security-709-secret-traversal.yml
  spec/controllers/snippets_controller_spec.rb
  spec/support/shared_examples/controllers/uploads_actions_shared_examples.rb
  spec/uploaders/file_mover_spec.rb
  spec/uploaders/file_uploader_spec.rb
  spec/uploaders/personal_file_uploader_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-6-stable-ee
  app/controllers/concerns/uploads_actions.rb
  app/uploaders/file_uploader.rb
  changelogs/unreleased/security-709-secret-traversal.yml
  spec/controllers/snippets_controller_spec.rb
  spec/support/shared_examples/controllers/uploads_actions_shared_examples.rb
  spec/uploaders/file_mover_spec.rb
  spec/uploaders/file_uploader_spec.rb
  spec/uploaders/personal_file_uploader_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/serializers/diff_file_entity.rb
  changelogs/unreleased/sy-grafana-default-times.yml
  doc/api/members.md
  doc/development/import_export.md
  doc/development/what_requires_downtime.md
  doc/user/project/integrations/prometheus.md
  doc/user/project/settings/import_export.md
  lib/banzai/filter/inline_grafana_metrics_filter.rb
  lib/gitlab/import_export/project/tree_restorer.rb
  lib/gitlab/import_export/project/tree_saver.rb
  lib/gitlab/import_export/relation_rename_service.rb
  lib/grafana/time_window.rb
  qa/qa/page/project/issue/show.rb
  scripts/trigger-build
  spec/features/merge_request/maintainer_edits_fork_spec.rb
  spec/features/merge_request/user_interacts_with_batched_mr_diffs_spec.rb
  spec/fixtures/lib/gitlab/import_export/complex/project.json
  spec/lib/banzai/filter/inline_grafana_metrics_filter_spec.rb
  spec/lib/gitlab/import_export/import_test_coverage_spec.rb
  spec/lib/gitlab/import_export/relation_rename_service_spec.rb
  spec/lib/grafana/time_window_spec.rb
  spec/support/shared_examples/serializers/diff_file_entity_shared_examples.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  GITLAB_SHELL_VERSION
  GITLAB_WORKHORSE_VERSION
  doc/raketasks/backup_restore.md
  doc/raketasks/cleanup.md
  doc/raketasks/features.md
  doc/raketasks/generate_sample_prometheus_data.md
  doc/raketasks/import.md
  doc/raketasks/list_repos.md
  doc/raketasks/user_management.md
  doc/security/crime_vulnerability.md
  doc/security/rack_attack.md
  doc/ssh/README.md
  doc/system_hooks/system_hooks.md
  doc/update/mysql_to_postgresql.md
  doc/update/restore_after_failure.md
  doc/user/analytics/value_stream_analytics.md
  doc/user/profile/account/two_factor_authentication.md
  doc/user/project/issues/index.md
  doc/user/project/pipelines/schedules.md
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/administration/high_availability/README.md
  doc/administration/high_availability/pgbouncer.md
  doc/ci/yaml/README.md
  qa/qa/specs/features/browser_ui/3_create/merge_request/rebase_merge_request_spec.rb
  qa/qa/specs/features/browser_ui/3_create/merge_request/squash_merge_request_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/add_list_delete_branches_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/protocol_v2_push_http_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/protocol_v2_push_ssh_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_mirroring_over_http_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_http_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_protected_branch_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/use_ssh_key_spec.rb
  qa/qa/specs/features/browser_ui/3_create/wiki/create_edit_clone_push_wiki_spec.rb
  spec/services/notification_service_spec.rb
  spec/support/helpers/notification_helpers.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/review.gitlab-ci.yml
  app/models/concerns/bulk_insert_safe.rb
  app/models/merge_request/metrics.rb
  app/models/merge_request_diff_commit.rb
  doc/administration/high_availability/README.md
  doc/administration/high_availability/consul.md
  doc/administration/high_availability/gitlab.md
  doc/administration/high_availability/nfs.md
  doc/ci/docker/using_docker_build.md
  doc/development/api_graphql_styleguide.md
  doc/install/aws/index.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/index.md
  doc/user/application_security/sast/index.md
  doc/user/project/integrations/prometheus.md
  lib/gitlab/auth/o_auth/provider.rb
  spec/models/concerns/bulk_insert_safe_spec.rb
  spec/models/label_link_spec.rb
  spec/models/merge_request_diff_commit_spec.rb
  spec/models/merge_request_diff_file_spec.rb
  spec/support/shared_examples/models/concerns/bulk_insert_safe_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/lib/graphql.js
  app/controllers/projects/forks_controller.rb
  app/finders/fork_targets_finder.rb
  app/models/ci/bridge.rb
  app/models/ci/pipeline.rb
  app/models/snippet.rb
  app/services/ci/create_cross_project_pipeline_service.rb
  changelogs/unreleased/208167-bigfix-unable-to-fork-project-to-the-same-namespace.yml
  changelogs/unreleased/37320-ensure-project-snippet-api-status.yml
  changelogs/unreleased/confapi-repo-push-mirror.yml
  changelogs/unreleased/fix-pipeline-creation-race-conditions.yml
  changelogs/unreleased/groupapi-avatar-support.yml
  changelogs/unreleased/rs-commit-web_url.yml
  changelogs/unreleased/vh-snippets-content-types.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
  doc/administration/audit_events.md
  doc/administration/gitaly/img/praefect_architecture_v12_9.png
  doc/administration/gitaly/praefect.md
  doc/api/commits.md
  doc/api/groups.md
  lib/api/entities/commit.rb
  lib/api/helpers/groups_helpers.rb
  lib/api/project_snippets.rb
  lib/api/remote_mirrors.rb
  lib/gitlab/url_builder.rb
  package.json
  spec/finders/fork_targets_finder_spec.rb
  spec/fixtures/api/schemas/public_api/v4/commit/basic.json
  spec/lib/gitlab/url_builder_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/requests/api/groups_spec.rb
  spec/requests/api/merge_requests_spec.rb
  spec/requests/api/project_snippets_spec.rb
  spec/requests/api/projects_spec.rb
  spec/requests/api/remote_mirrors_spec.rb
  spec/services/ci/create_cross_project_pipeline_service_spec.rb
  spec/services/git/branch_push_service_spec.rb
  spec/services/merge_requests/create_service_spec.rb
  spec/services/merge_requests/refresh_service_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/finders/snippets_finder.rb
  app/views/projects/_activity.html.haml
  app/views/projects/edit.html.haml
  app/views/projects/new.html.haml
  app/views/projects/pipelines/_with_tabs.html.haml
  changelogs/unreleased/202233-migrating-fa-spinner-whithin-top-level-projects.yml
  changelogs/unreleased/208473-fix-pipeline-tab-url.yml
  changelogs/unreleased/vh-snippets-finder-tweak.yml
  danger/karma/Dangerfile
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/development/application_limits.md
  lib/gitlab_danger.rb
  locale/gitlab.pot
  spec/finders/snippets_finder_spec.rb
  spec/lib/gitlab_danger_spec.rb
  spec/requests/api/tags_spec.rb
  spec/requests/api/task_completion_status_spec.rb
  spec/requests/api/templates_spec.rb
  spec/requests/api/todos_spec.rb
  spec/requests/api/triggers_spec.rb
  spec/requests/api/users_spec.rb
  spec/requests/api/variables_spec.rb
  spec/requests/api/version_spec.rb
  spec/requests/api/wikis_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/graphql/types/base_field.rb
  app/helpers/system_note_helper.rb
  app/models/ci/build.rb
  app/models/concerns/ci/metadatable.rb
  app/services/ci/retry_build_service.rb
  changelogs/unreleased/208798-replace-instances-of-the-issue-duplicate-icon-with-the-duplicate-i.yml
  changelogs/unreleased/persist-expanded-environment-name-in-build-metadata.yml
  db/migrate/20200102140148_add_expanded_environment_name_to_ci_build_metadata.rb
  db/migrate/20200225111018_add_index_for_group_and_iid_search_to_epics.rb
  db/schema.rb
  doc/administration/geo/replication/datatypes.md
  doc/administration/geo/replication/troubleshooting.md
  doc/administration/geo/replication/updating_the_geo_nodes.md
  doc/administration/geo/replication/version_specific_updates.md
  doc/api/epics.md
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/api/group_clusters.md
  doc/api/issues.md
  doc/api/issues_statistics.md
  doc/api/merge_requests.md
  doc/api/project_clusters.md
  doc/security/user_email_confirmation.md
  doc/user/admin_area/settings/sign_up_restrictions.md
  lib/gitlab/ci/pipeline/seed/build.rb
  lib/gitlab/ci/pipeline/seed/deployment.rb
  lib/gitlab/ci/pipeline/seed/environment.rb
  locale/gitlab.pot
  spec/factories/ci/builds.rb
  spec/graphql/types/base_field_spec.rb
  spec/lib/gitlab/ci/pipeline/seed/build_spec.rb
  spec/lib/gitlab/ci/pipeline/seed/deployment_spec.rb
  spec/lib/gitlab/ci/pipeline/seed/environment_spec.rb
  spec/models/ci/build_spec.rb
  spec/models/concerns/issuable_spec.rb
  spec/services/ci/retry_build_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/.linting/vale/styles/gitlab/FirstPerson.yml
  doc/.linting/vale/styles/gitlab/Substitutions.yml
  doc/api/commits.md
  doc/api/merge_request_context_commits.md
  doc/api/merge_requests.md
  doc/api/repositories.md
  doc/integration/jira_development_panel.md
  doc/integration/sourcegraph.md
  doc/integration/twitter.md
  doc/integration/ultra_auth.md
  doc/integration/vault.md
  doc/raketasks/import.md
  doc/system_hooks/system_hooks.md
  doc/topics/autodevops/index.md
  doc/topics/autodevops/quick_start_guide.md
  doc/topics/web_application_firewall/index.md
  doc/topics/web_application_firewall/quick_start_guide.md
  doc/user/admin_area/appearance.md
  doc/user/packages/maven_repository/index.md
  doc/user/packages/npm_registry/index.md
  doc/user/packages/nuget_repository/index.md
  doc/user/project/import/gemnasium.md
  doc/user/project/import/github.md
  doc/user/project/import/index.md
  doc/user/project/integrations/webhooks.md
  package.json
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/clusters_list/components/clusters.vue
  app/assets/javascripts/clusters_list/constants.js
  app/assets/javascripts/clusters_list/index.js
  app/assets/javascripts/clusters_list/store/actions.js
  app/assets/javascripts/clusters_list/store/index.js
  app/assets/javascripts/clusters_list/store/mutation_types.js
  app/assets/javascripts/clusters_list/store/mutations.js
  app/assets/javascripts/clusters_list/store/state.js
  app/assets/javascripts/pages/admin/clusters/index/index.js
  app/assets/javascripts/pages/groups/clusters/index/index.js
  app/assets/javascripts/pages/projects/clusters/index/index.js
  app/assets/javascripts/vue_merge_request_widget/stores/mr_widget_store.js
  app/serializers/merge_request_widget_entity.rb
  app/views/clusters/clusters/index.html.haml
  changelogs/unreleased/207181-status-page-settings-backend.yml
  db/migrate/20200224020219_add_status_page_settings.rb
  db/schema.rb
  locale/gitlab.pot
  spec/features/projects/clusters_spec.rb
  spec/frontend/clusters_list/components/clusters_spec.js
  spec/frontend/clusters_list/store/actions_spec.js
  spec/frontend/vue_mr_widget/mock_data.js
  spec/javascripts/vue_mr_widget/stores/mr_widget_store_spec.js
  spec/lib/gitlab/import_export/all_models.yml
  spec/serializers/merge_request_widget_entity_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-8-stable-ee
  app/controllers/concerns/uploads_actions.rb
  app/uploaders/file_uploader.rb
  changelogs/unreleased/security-709-secret-traversal.yml
  spec/controllers/snippets_controller_spec.rb
  spec/support/shared_examples/controllers/uploads_actions_shared_examples.rb
  spec/uploaders/file_mover_spec.rb
  spec/uploaders/file_uploader_spec.rb
  spec/uploaders/personal_file_uploader_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.8.2
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.8.2
  CHANGELOG.md
  changelogs/unreleased/199035-sharing_group_to_update_project_authorization.yml
  changelogs/unreleased/199415-sharing_group_to_respect_member_access_level.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/36805-confidential-issue.yml
  changelogs/unreleased/enfoce-group-member-2fa.yml
  changelogs/unreleased/security-49-xss-branch-names.yml
  changelogs/unreleased/security-709-secret-traversal.yml
  changelogs/unreleased/security-badge-camo.yml
  changelogs/unreleased/security-check-mr-permissions-for-pipeline-widget.yml
  changelogs/unreleased/security-deploy-token-registry-access.yml
  changelogs/unreleased/security-deprecate-lfs-link-service.yml
  changelogs/unreleased/security-disable-pipeline-webhook-recursion.yml
  changelogs/unreleased/security-expire-confirmation-token.yml
  changelogs/unreleased/security-grafana-stored-xss.yml
  changelogs/unreleased/security-graphql-diff-refs-empty-base-sha.yml
  changelogs/unreleased/security-pb-fix-xss-dependency-link.yml
  changelogs/unreleased/security-recalculate_project_authorizations_run_2.yml
  changelogs/unreleased/security-safe-sentry-error-culprit.yml
Due: none

Update CHANGELOG.md for 12.8.2
  CHANGELOG.md
Due: none

Update GITALY_SERVER_VERSION to 12.7.7
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.7.7
  CHANGELOG.md
  changelogs/unreleased/199035-sharing_group_to_update_project_authorization.yml
  changelogs/unreleased/199415-sharing_group_to_respect_member_access_level.yml
  changelogs/unreleased/36805-confidential-issue.yml
  changelogs/unreleased/enfoce-group-member-2fa.yml
  changelogs/unreleased/security-49-xss-branch-names.yml
  changelogs/unreleased/security-709-secret-traversal.yml
  changelogs/unreleased/security-badge-camo.yml
  changelogs/unreleased/security-check-mr-permissions-for-pipeline-widget.yml
  changelogs/unreleased/security-deploy-token-registry-access.yml
  changelogs/unreleased/security-deprecate-lfs-link-service.yml
  changelogs/unreleased/security-disable-pipeline-webhook-recursion.yml
  changelogs/unreleased/security-expire-confirmation-token.yml
  changelogs/unreleased/security-grafana-stored-xss.yml
  changelogs/unreleased/security-graphql-diff-refs-empty-base-sha.yml
  changelogs/unreleased/security-pb-fix-xss-dependency-link.yml
  changelogs/unreleased/security-recalculate_project_authorizations_run_2.yml
  changelogs/unreleased/security-safe-sentry-error-culprit.yml
Due: none

Update GITALY_SERVER_VERSION to 12.6.8
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
