Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*

Add latest changes from gitlab-org/gitlab@12-6-stable-ee
  spec/factories/pages_domains.rb
  spec/features/projects/pages_spec.rb
  spec/fixtures/ssl_certificate.pem
  spec/fixtures/ssl_key.pem
  spec/models/pages_domain_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-7-stable-ee
  spec/factories/pages_domains.rb
  spec/features/projects/pages_spec.rb
  spec/fixtures/ssl_certificate.pem
  spec/fixtures/ssl_key.pem
  spec/models/pages_domain_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/application_controller.rb
  app/controllers/sessions_controller.rb
  app/helpers/broadcast_messages_helper.rb
  app/services/labels/transfer_service.rb
  changelogs/unreleased/210051-optimize-or-remove-ldap_users-counter.yml
  changelogs/unreleased/fix-duplicate-labels-when-moving-projects.yml
  db/migrate/20200313123934_add_index_on_user_id_type_source_type_ldap_and_created_at_to_members.rb
  db/schema.rb
  lib/banzai/filter/broadcast_message_placeholders_filter.rb
  lib/banzai/pipeline/post_process_pipeline.rb
  locale/gitlab.pot
  spec/controllers/sessions_controller_spec.rb
  spec/features/broadcast_messages_spec.rb
  spec/helpers/broadcast_messages_helper_spec.rb
  spec/lib/banzai/filter/broadcast_message_placeholders_filter_spec.rb
  spec/services/labels/transfer_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/services/pod_logs/kubernetes_service.rb
  changelogs/unreleased/ak-fix-multi-pod.yml
  doc/user/clusters/applications.md
  doc/user/clusters/management_project.md
  spec/frontend/create_cluster/gke_cluster/stores/actions_spec.js
  spec/frontend/create_cluster/gke_cluster/stores/mutations_spec.js
  spec/services/pod_logs/base_service_spec.rb
  spec/services/pod_logs/kubernetes_service_spec.rb
  spec/support/helpers/kubernetes_helpers.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .rubocop.yml
  app/models/service.rb
  bin/background_jobs
  bin/background_jobs_sk
  bin/background_jobs_sk_cluster
  changelogs/unreleased/207385-service-project-type-uniqueness-validation.yml
  doc/user/analytics/img/label_based_stage_vsm_v12_9.png
  doc/user/analytics/img/new_vsm_stage_v12_9.png
  doc/user/analytics/img/vsm_stage_list_v12_9.png
  doc/user/analytics/value_stream_analytics.md
  spec/fixtures/lib/gitlab/import_export/complex/project.json
  spec/fixtures/lib/gitlab/import_export/light/project.json
  spec/models/service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  app/controllers/admin/concerns/authenticates_2fa_for_admin_mode.rb
  app/models/user_highest_role.rb
  app/models/users_statistics.rb
  app/workers/error_tracking_issue_link_worker.rb
  changelogs/unreleased/user-creation-count.yml
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/2_gitlab.rb
  config/initializers_before_autoloader/002_zeitwerk.rb
  config/settings.rb
  doc/administration/auth/smartcard.md
  doc/user/admin_area/settings/usage_statistics.md
  doc/user/group/epics/index.md
  doc/user/project/issues/index.md
  doc/user/project/merge_requests/index.md
  lib/gitlab/graphql/docs/helper.rb
  lib/gitlab/graphql/docs/renderer.rb
  lib/gitlab/metrics/exporter/base_exporter.rb
  lib/tasks/gitlab/graphql.rake
  scripts/static-analysis
  spec/factories/user_highest_roles.rb
  spec/fast_spec_helper.rb
  spec/lib/gitlab/fogbugz_import/importer_spec.rb
  spec/lib/gitlab/graphql/docs/renderer_spec.rb
  spec/models/user_highest_role_spec.rb
  spec/services/service_response_spec.rb
  spec/workers/error_tracking_issue_link_worker_spec.rb
  vendor/project_templates/gatsby.tar.gz
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/views/projects/deploy_keys/_index.html.haml
  doc/administration/high_availability/database.md
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
  qa/qa/page/project/settings/ci_cd.rb
  qa/qa/page/project/settings/repository.rb
  qa/qa/resource/deploy_key.rb
  qa/qa/specs/features/browser_ui/6_release/deploy_key/add_deploy_key_spec.rb
  qa/qa/specs/features/browser_ui/6_release/deploy_key/clone_using_deploy_key_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/user/project/merge_requests/code_quality.md
  locale/gitlab.pot
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.9.0-rc42
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update VERSION to 12.9.0-rc42
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/logs/components/environment_logs.vue
  app/assets/stylesheets/pages/builds.scss
  app/models/event.rb
  app/models/project_wiki.rb
  app/models/wiki_page.rb
  app/models/wiki_page/meta.rb
  app/models/wiki_page/slug.rb
  app/policies/wiki_page/meta_policy.rb
  app/services/metrics/dashboard/clone_dashboard_service.rb
  app/services/metrics/dashboard/self_monitoring_dashboard_service.rb
  app/services/metrics/dashboard/system_dashboard_service.rb
  changelogs/unreleased/119208-limit-metric-type-on-list-pd.yml
  changelogs/unreleased/207912-implementing-filtered-search-dropdown-improvement.yml
  changelogs/unreleased/208234-optimize-ldap-keys-in-usage-data.yml
  changelogs/unreleased/30526-a-be-wiki-activity-Models.yml
  config/sidekiq_queues.yml
  db/migrate/20200219135440_add_limit_metric_type_to_list.rb
  db/migrate/20200302152516_add_wiki_slug.rb
  db/migrate/20200316111759_add_index_on_id_and_ldap_key_to_keys.rb
  db/schema.rb
  doc/development/architecture.md
  doc/development/changelog.md
  lib/gitlab/hook_data/wiki_page_builder.rb
  lib/gitlab/metrics/dashboard/stages/custom_metrics_details_inserter.rb
  lib/gitlab/metrics/dashboard/stages/custom_metrics_inserter.rb
  locale/gitlab.pot
  spec/factories/events.rb
  spec/factories/lists.rb
  spec/factories/wiki_pages.rb
  spec/fixtures/api/schemas/list.json
  spec/frontend/logs/components/environment_logs_spec.js
  spec/graphql/types/base_field_spec.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
  spec/lib/gitlab/metrics/dashboard/processor_spec.rb
  spec/models/event_spec.rb
  spec/models/wiki_page/meta_spec.rb
  spec/models/wiki_page/slug_spec.rb
  spec/models/wiki_page_spec.rb
  spec/services/metrics/dashboard/clone_dashboard_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/qa.gitlab-ci.yml
  GITLAB_WORKHORSE_VERSION
  app/assets/javascripts/registry/explorer/pages/details.vue
  app/controllers/import/gitlab_projects_controller.rb
  app/models/ci/build.rb
  app/views/layouts/_head.html.haml
  changelogs/unreleased/197926-add-branch-to-package-title.yml
  changelogs/unreleased/208674-use-wh-accel-only-for-ui-imports.yml
  changelogs/unreleased/refactor-admin-mode-single-session.yml
  changelogs/unreleased/remove-asset-host-prefetch-feature-flag.yml
  lib/gitlab/auth/current_user_mode.rb
  lib/tasks/gitlab/assets.rake
  package.json
  spec/controllers/import/gitlab_projects_controller_spec.rb
  spec/features/groups/navbar_spec.rb
  spec/features/projects/navbar_spec.rb
  spec/features/projects/snippets/user_comments_on_snippet_spec.rb
  spec/frontend/registry/explorer/pages/details_spec.js
  spec/lib/gitlab/auth/current_user_mode_spec.rb
  spec/models/project_services/bugzilla_service_spec.rb
  spec/requests/import/gitlab_projects_controller_spec.rb
  spec/support/helpers/navbar_structure_helper.rb
  spec/support/shared_contexts/navbar_structure_context.rb
  spec/views/layouts/_head.html.haml_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/registry/explorer/components/project_empty_state.vue
  app/assets/javascripts/registry/explorer/components/quickstart_dropdown.vue
  app/assets/javascripts/registry/explorer/constants.js
  app/assets/javascripts/registry/explorer/pages/list.vue
  app/assets/javascripts/registry/explorer/stores/getters.js
  app/controllers/groups/settings/ci_cd_controller.rb
  app/controllers/projects/settings/ci_cd_controller.rb
  app/views/admin/groups/show.html.haml
  app/views/admin/users/_user.html.haml
  app/views/ci/variables/_index.html.haml
  changelogs/unreleased/195309-remove-special-user-action-buttons.yml
  changelogs/unreleased/33905-refactor-package-list-page-from-haml-to-vue.yml
  changelogs/unreleased/fix-ci-delete-variable-bug.yml
  changelogs/unreleased/forking_access_level.yml
  changelogs/unreleased/turn-on-new-variables-ui-ff.yml
  doc/api/group_activity_analytics.md
  doc/api/projects.md
  doc/ci/caching/index.md
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/index.md
  lib/api/entities/project.rb
  lib/api/helpers/projects_helpers.rb
  lib/gitlab/graphql/connections.rb
  lib/gitlab/graphql/pagination/offset_active_record_relation_connection.rb
  lib/gitlab/graphql/pagination/relations/offset_active_record_relation.rb
  locale/gitlab.pot
  spec/features/projects/environments_pod_logs_spec.rb
  spec/frontend/registry/explorer/components/project_empty_state_spec.js
  spec/frontend/registry/explorer/components/quickstart_dropdown_spec.js
  spec/frontend/registry/explorer/pages/list_spec.js
  spec/frontend/registry/explorer/stores/getters_spec.js
  spec/graphql/gitlab_schema_spec.rb
  spec/lib/gitlab/graphql/pagination/offset_active_record_relation_connection_spec.rb
  spec/requests/api/projects_spec.rb
  spec/views/admin/users/_user.html.haml_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/frontend.gitlab-ci.yml
  app/models/concerns/has_unique_internal_users.rb
  app/models/user.rb
  app/models/user_type_enums.rb
  changelogs/unreleased/210025-migrate-ghost-to-user-type.yml
  db/migrate/20200313101649_fill_ghost_user_type.rb
  doc/administration/auth/cognito.md
  doc/development/insert_into_tables_in_batches.md
  doc/development/what_requires_downtime.md
  doc/user/application_security/sast/index.md
  doc/user/group/saml_sso/index.md
  package.json
  spec/models/user_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/dev-fixtures.gitlab-ci.yml
  .gitlab/ci/reports.gitlab-ci.yml
  .gitlab/ci/review.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  app/controllers/admin/services_controller.rb
  app/controllers/concerns/import_url_params.rb
  app/mailers/emails/projects.rb
  app/services/notification_service.rb
  app/views/notify/prometheus_alert_fired_email.html.haml
  app/views/notify/prometheus_alert_fired_email.text.erb
  changelogs/unreleased/sh-fix-import-by-url-retries.yml
  db/migrate/20200318152134_adds_sha256_to_package_files.rb
  db/schema.rb
  doc/development/pipelines.md
  doc/user/admin_area/index.md
  doc/user/project/clusters/serverless/index.md
  scripts/utils.sh
  spec/controllers/concerns/import_url_params_spec.rb
  spec/mailers/emails/projects_spec.rb
  spec/services/notification_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/sh-add-index-unlock-token.yml
  db/migrate/20200319203901_add_index_on_users_unlock_token.rb
  db/schema.rb
  doc/topics/autodevops/index.md
  doc/topics/autodevops/upgrading_postgresql.md
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/vue_shared/components/form/title.vue
  app/models/prometheus_alert.rb
  changelogs/unreleased/1793-add-unlock-membership-to-ldap-column-to-groups.yml
  changelogs/unreleased/207236-snippet-edit-title.yml
  changelogs/unreleased/208923-enable-batch-counting-for-some-individual-queries-3.yml
  db/migrate/20200304124406_add_unlock_membership_to_ldap_of_groups.rb
  db/schema.rb
  spec/frontend/vue_shared/components/form/__snapshots__/title_spec.js.snap
  spec/frontend/vue_shared/components/form/title_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/graphql/types/base_field.rb
  app/graphql/types/commit_type.rb
  app/graphql/types/grafana_integration_type.rb
  app/graphql/types/merge_request_type.rb
  app/models/namespace.rb
  app/views/shared/issuable/_sort_dropdown.html.haml
  changelogs/unreleased/211615-scope-waf-transaction-id-to-env-external-url.yml
  doc/administration/repository_storage_types.md
  doc/administration/server_hooks.md
  doc/administration/troubleshooting/debug.md
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/development/api_graphql_styleguide.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/sast/index.md
  spec/graphql/types/base_field_spec.rb
  spec/lib/gitlab/graphql/docs/renderer_spec.rb
  spec/models/namespace_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  Procfile
  app/assets/javascripts/filtered_search/dropdown_operator.js
  app/assets/javascripts/groups/components/group_folder.vue
  app/assets/javascripts/groups/constants.js
  app/assets/javascripts/pages/admin/broadcast_messages/broadcast_message.js
  app/assets/javascripts/repository/log_tree.js
  app/assets/javascripts/repository/router.js
  app/assets/stylesheets/pages/groups.scss
  app/controllers/concerns/snippets_actions.rb
  app/controllers/projects/snippets_controller.rb
  app/controllers/snippets_controller.rb
  app/views/groups/_subgroups_and_projects.html.haml
  changelogs/unreleased/211641-store-external-issue-identifier-on-import.yml
  changelogs/unreleased/filtered-search-bug.yml
  changelogs/unreleased/fj-fix-snippet-edit-page.yml
  changelogs/unreleased/ph-209033-chineseCharsInVueRouter.yml
  db/migrate/20200318162148_add_external_key_to_issues_table.rb
  db/migrate/20200318163148_add_index_on_external_key_to_issues_table.rb
  db/migrate/20200318164448_add_external_key_to_epics_table.rb
  db/migrate/20200318165448_add_index_on_external_key_to_epics_table.rb
  db/schema.rb
  doc/user/application_security/sast/index.md
  lib/gitlab/danger/helper.rb
  spec/features/dashboard/groups_list_spec.rb
  spec/features/explore/groups_list_spec.rb
  spec/features/issues/filtered_search/visual_tokens_spec.rb
  spec/features/projects/snippets/user_updates_snippet_spec.rb
  spec/features/snippets/user_edits_snippet_spec.rb
  spec/lib/gitlab/danger/helper_spec.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/services/projects/prometheus/alerts/alert_params.rb
  app/services/projects/prometheus/alerts/create_service.rb
  app/services/projects/prometheus/alerts/destroy_service.rb
  app/services/projects/prometheus/alerts/update_service.rb
  changelogs/unreleased/fix-openapi-file-detector.yml
  doc/api/merge_requests.md
  doc/development/chatops_on_gitlabcom.md
  lib/gitlab/file_detector.rb
  lib/gitlab/import_export/relation_tree_restorer.rb
  spec/frontend/diffs/components/commit_widget_spec.js
  spec/frontend/diffs/components/diff_discussions_spec.js
  spec/frontend/diffs/components/diff_expansion_cell_spec.js
  spec/frontend/diffs/components/diff_file_spec.js
  spec/frontend/diffs/components/diff_line_note_form_spec.js
  spec/frontend/diffs/components/file_row_stats_spec.js
  spec/frontend/diffs/components/image_diff_overlay_spec.js
  spec/frontend/diffs/components/inline_diff_expansion_row_spec.js
  spec/frontend/diffs/components/inline_diff_table_row_spec.js
  spec/frontend/diffs/components/inline_diff_view_spec.js
  spec/frontend/diffs/components/parallel_diff_expansion_row_spec.js
  spec/frontend/diffs/components/parallel_diff_table_row_spec.js
  spec/frontend/diffs/components/parallel_diff_view_spec.js
  spec/frontend/diffs/mock_data/diff_file_unreadable.js
  spec/frontend/diffs/store/actions_spec.js
  spec/frontend/diffs/store/getters_spec.js
  spec/frontend/diffs/store/mutations_spec.js
  spec/frontend/diffs/store/utils_spec.js
  spec/javascripts/diffs/components/commit_widget_spec.js
  spec/javascripts/diffs/components/image_diff_overlay_spec.js
  spec/javascripts/diffs/create_diffs_store.js
  spec/javascripts/diffs/mock_data/diff_discussions.js
  spec/javascripts/diffs/mock_data/diff_file_unreadable.js
  spec/lib/gitlab/file_detector_spec.rb
  spec/lib/gitlab/import_export/relation_tree_restorer_spec.rb
  spec/services/groups/import_export/import_service_spec.rb
  spec/services/projects/prometheus/alerts/create_service_spec.rb
  spec/services/projects/prometheus/alerts/destroy_service_spec.rb
  spec/services/projects/prometheus/alerts/update_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitignore
  app/assets/javascripts/snippets/components/snippet_header.vue
  app/graphql/types/base_field.rb
  app/views/layouts/nav/sidebar/_admin.html.haml
  app/views/projects/settings/ci_cd/_form.html.haml
  app/views/users/show.html.haml
  app/workers/concerns/waitable_worker.rb
  changelogs/unreleased/211823-italicized-bio-causes-issues-with-emojis.yml
  changelogs/unreleased/docs-rename-skip-outdated-jobs.yml
  changelogs/unreleased/graphql-complexity-flag.yml
  config/sidekiq_queues.yml
  db/migrate/20200311154110_create_vulnerability_exports.rb
  db/migrate/20200316173312_add_vulnerability_export_project_foreign_key.rb
  db/migrate/20200317142110_add_vulnerability_export_user_foreign_key.rb
  db/schema.rb
  doc/administration/gitaly/praefect.md
  doc/ci/pipelines/settings.md
  doc/user/analytics/value_stream_analytics.md
  doc/user/group/roadmap/index.md
  doc/user/group/saml_sso/index.md
  lib/gitlab/polling_interval.rb
  locale/gitlab.pot
  rubocop/cop/filename_length.rb
  spec/frontend/snippets/components/snippet_header_spec.js
  spec/graphql/types/base_field_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/lib/gitlab/polling_interval_spec.rb
  spec/requests/api/graphql_spec.rb
  spec/rubocop/cop/filename_length_spec.rb
  spec/views/layouts/nav/sidebar/_admin.html.haml_spec.rb
  spec/workers/concerns/waitable_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update VERSION to 12.9.0
  VERSION
Due: none

Update VERSION to 12.10.0-pre
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  CHANGELOG-EE.md
  app/assets/javascripts/repository/components/preview/index.vue
  app/models/merge_request_diff.rb
  app/views/layouts/nav/_breadcrumbs.html.haml
  changelogs/unreleased/37995-allow-external-diffs-to-be-removed.yml
  doc/integration/saml.md
  lib/gitlab/git_access_snippet.rb
  lib/gitlab/sidekiq_cluster.rb
  lib/gitlab/sidekiq_cluster/cli.rb
  qa/qa.rb
  qa/qa/page/component/breadcrumbs.rb
  qa/qa/page/project/show.rb
  qa/qa/specs/features/browser_ui/1_manage/group/transfer_project_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/protocol_v2_push_ssh_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_http_private_token_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_http_spec.rb
  spec/bin/sidekiq_cluster_spec.rb
  spec/frontend/repository/components/preview/__snapshots__/index_spec.js.snap
  spec/lib/gitlab/git_access_snippet_spec.rb
  spec/models/merge_request_diff_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/serializers/note_user_entity.rb
  app/views/admin/application_settings/_protected_paths.html.haml
  app/views/admin/application_settings/network.html.haml
  bin/secpick
  doc/api/users.md
  doc/security/rate_limits.md
  doc/user/admin_area/settings/protected_paths.md
  doc/user/group/saml_sso/index.md
  lib/api/entities/discussion.rb
  lib/api/entities/note_with_gitlab_employee_badge.rb
  lib/api/entities/user_with_gitlab_employee_badge.rb
  locale/gitlab.pot
  spec/controllers/projects/issues_controller_spec.rb
  spec/fixtures/api/schemas/entities/user.json
  spec/support/shared_examples/requests/api/discussions_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dependency_scanning/index.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/ci/yaml/README.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/fix-openapi-file-detector.yml
  lib/gitlab/file_detector.rb
  spec/lib/gitlab/file_detector_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/ab-structuresql.yml
  config/application.rb
  danger/database/Dangerfile
  db/schema.rb
  db/structure.sql
  doc/development/database_review.md
  doc/development/omnibus.md
  doc/development/scalability.md
  doc/update/patch_versions.md
  doc/update/upgrading_from_source.md
  lib/gitlab/database/schema_cleaner.rb
  lib/gitlab/fake_application_settings.rb
  lib/tasks/gitlab/db.rake
  scripts/schema_changed.sh
  scripts/utils.sh
  spec/fixtures/gitlab/database/structure_example.sql
  spec/fixtures/gitlab/database/structure_example_cleaned.sql
  spec/lib/gitlab/danger/helper_spec.rb
  spec/lib/gitlab/database/schema_cleaner_spec.rb
  spec/migrations/active_record/schema_spec.rb
  spec/tasks/gitlab/backup_rake_spec.rb
  spec/tasks/gitlab/db_rake_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance
