Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/notes/stores/actions.js
  app/assets/javascripts/notes/stores/getters.js
  app/assets/javascripts/notes/stores/modules/index.js
  app/assets/javascripts/notes/stores/mutations.js
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
  app/services/pod_logs/elasticsearch_service.rb
  app/services/pod_logs/kubernetes_service.rb
  doc/.linting/vale/styles/gitlab/RelativeLinks.yml
  doc/administration/geo/disaster_recovery/index.md
  doc/administration/geo/replication/troubleshooting.md
  scripts/lint-doc.sh
  spec/frontend/notes/stores/getters_spec.js
  spec/frontend/notes/stores/mutation_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/.linting/vale/styles/gitlab/InternalLinkExtension.yml
  doc/api/audit_events.md
  doc/api/markdown.md
  doc/api/repository_files.md
  doc/ci/pipelines.md
  doc/development/database_review.md
  doc/development/documentation/structure.md
  doc/development/documentation/styleguide.md
  doc/development/testing_guide/frontend_testing.md
  doc/development/testing_guide/review_apps.md
  doc/ssh/README.md
  doc/user/permissions.md
  doc/user/project/deploy_tokens/index.md
  doc/user/project/integrations/prometheus.md
  doc/user/project/merge_requests/code_quality.md
  doc/user/project/pipelines/settings.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  app/assets/javascripts/blob/suggest_gitlab_ci_yml/components/popover.vue
  app/assets/javascripts/blob/suggest_gitlab_ci_yml/index.js
  app/assets/javascripts/ide/components/preview/clientside.vue
  app/assets/javascripts/ide/index.js
  app/assets/javascripts/ide/stores/state.js
  app/assets/javascripts/sidebar/components/time_tracking/sidebar_time_tracking.vue
  app/assets/javascripts/sidebar/lib/sidebar_move_issue.js
  app/controllers/concerns/clientside_preview_csp.rb
  app/controllers/ide_controller.rb
  app/helpers/blob_helper.rb
  app/helpers/ide_helper.rb
  app/models/application_setting_implementation.rb
  app/models/wiki_page.rb
  app/views/projects/blob/_editor.html.haml
  app/views/projects/blob/new.html.haml
  changelogs/unreleased/10526-smartcard_support_different_hostname.yml
  changelogs/unreleased/207623-fix-code-search-pagination.yml
  changelogs/unreleased/209761-fix-wiki-directories-with-hyphens.yml
  changelogs/unreleased/27144-gitlab-hosted-codesandbox.yml
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  package.json
  scripts/lint-doc.sh
  scripts/security-harness
  spec/features/ide/clientside_preview_csp_spec.rb
  spec/features/ide/static_object_external_storage_csp_spec.rb
  spec/features/projects/sourcegraph_csp_spec.rb
  spec/frontend/blob/suggest_gitlab_ci_yml/components/popover_spec.js
  spec/frontend/ide/components/preview/clientside_spec.js
  spec/models/wiki_page_spec.rb
  spec/support/shared_examples/csp.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/.linting/vale/styles/gitlab/Substitutions.yml
  doc/administration/instance_limits.md
  doc/ci/yaml/README.md
  doc/development/application_limits.md
  doc/development/testing_guide/review_apps.md
  doc/user/clusters/applications.md
  doc/user/project/import/index.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/project.rb
  app/models/project_services/issue_tracker_service.rb
  app/models/project_services/jira_service.rb
  app/services/issues/close_service.rb
  app/services/system_notes/issuables_service.rb
  config/initializers_before_autoloader/100_patch_omniauth_saml.rb
  doc/user/admin_area/settings/usage_statistics.md
  lib/gitlab/reference_extractor.rb
  locale/gitlab.pot
  spec/initializers/100_patch_omniauth_saml_spec.rb
  spec/lib/gitlab/reference_extractor_spec.rb
  spec/services/issues/close_service_spec.rb
  spec/services/merge_requests/merge_service_spec.rb
  spec/services/system_notes/issuables_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  GITLAB_WORKHORSE_VERSION
  app/controllers/search_controller.rb
  app/views/search/_category.html.haml
  changelogs/unreleased/199220-hide-snippet-blob-search.yml
  changelogs/unreleased/208887-optimize-project-counters-service-desk.yml
  changelogs/unreleased/37256-bump-wh-version.yml
  db/migrate/20200312163407_add_index_on_id_and_service_desk_enabled_to_projects.rb
  db/schema.rb
  doc/administration/gitaly/index.md
  doc/api/search.md
  doc/api/vulnerability_findings.md
  doc/ci/jenkins/index.md
  doc/development/github_importer.md
  doc/development/licensing.md
  doc/development/performance.md
  doc/topics/web_application_firewall/img/guide_waf_ingress_installation.png
  doc/topics/web_application_firewall/img/guide_waf_ingress_installation_v12_9.png
  doc/topics/web_application_firewall/img/guide_waf_ingress_save_changes_v12_9.png
  doc/topics/web_application_firewall/quick_start_guide.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/sast/index.md
  doc/user/clusters/applications.md
  doc/user/gitlab_com/index.md
  doc/user/project/integrations/img/prometheus_dashboard_edit_metric_link_v_12_9.png
  doc/user/project/integrations/prometheus.md
  lib/api/helpers/file_upload_helpers.rb
  lib/api/project_import.rb
  locale/gitlab.pot
  spec/controllers/search_controller_spec.rb
  spec/features/projects/snippets/create_snippet_spec.rb
  spec/features/snippets/search_snippets_spec.rb
  spec/models/concerns/bulk_insert_safe_spec.rb
  spec/requests/api/project_import_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/service.rb
  changelogs/unreleased/validate_service_project_id_nil_if_template.yml
  db/migrate/20200305151736_delete_template_project_services.rb
  spec/controllers/admin/services_controller_spec.rb
  spec/factories/services.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/migrations/delete_template_project_services_spec.rb
  spec/models/service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  Gemfile.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/clusters/applications/crossplane.rb
  changelogs/unreleased/use-default-crossplane-stack-versions.yml
  doc/api/pipelines.md
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/202008-disable-drag-from-epic-tree-dropdown-button.yml
  doc/ci/jenkins/index.md
  doc/user/group/saml_sso/index.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/CODEOWNERS
  app/assets/javascripts/labels_select.js
  app/assets/javascripts/registry/settings/components/registry_settings_app.vue
  app/assets/javascripts/related_merge_requests/components/related_merge_requests.vue
  app/assets/stylesheets/pages/issuable.scss
  app/assets/stylesheets/pages/issues.scss
  app/models/zoom_meeting.rb
  changelogs/unreleased/199998-container-expiration-policy-settings-hide-form-on-api-error-2.yml
  changelogs/unreleased/208153-add-anchor-to-related-issues-and-related-merge-requests.yml
  doc/user/admin_area/index.md
  lib/gitlab/usage_data.rb
  locale/gitlab.pot
  package.json
  spec/frontend/labels_select_spec.js
  spec/frontend/registry/settings/components/registry_settings_app_spec.js
  spec/models/zoom_meeting_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/mr_popover/queries/merge_request.query.graphql
  app/assets/javascripts/sidebar/queries/sidebarDetails.query.graphql
  app/assets/javascripts/sidebar/queries/sidebarDetailsForHealthStatusFeatureFlag.query.graphql
  app/graphql/mutations/issues/base.rb
  app/graphql/mutations/merge_requests/base.rb
  app/graphql/resolvers/issues_resolver.rb
  app/graphql/resolvers/merge_requests_resolver.rb
  app/graphql/types/ci/pipeline_type.rb
  app/graphql/types/merge_request_type.rb
  changelogs/unreleased/sh-enable-redis-key-compression.yml
  changelogs/unreleased/switch-ff-ci-dynamic-child-pipeline.yml
  config/application.rb
  config/initializers/console_message.rb
  danger/metadata/Dangerfile
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/api/releases/index.md
  doc/ci/parent_child_pipelines.md
  doc/ci/yaml/README.md
  doc/development/api_graphql_styleguide.md
  doc/development/contributing/issue_workflow.md
  doc/development/documentation/workflow.md
  doc/install/requirements.md
  doc/user/analytics/value_stream_analytics.md
  doc/user/project/releases/index.md
  lib/gitlab/ci/config/external/file/artifact.rb
  locale/gitlab.pot
  spec/lib/gitlab/diff/highlight_cache_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  app/helpers/x509_helper.rb
  app/views/projects/commit/x509/_certificate_details.html.haml
  changelogs/unreleased/fix-x509-signed-commit.yml
  lib/gitlab/middleware/multipart.rb
  lib/gitlab/x509/commit.rb
  spec/helpers/x509_helper_spec.rb
  spec/lib/gitlab/middleware/multipart_spec.rb
  spec/lib/gitlab/x509/commit_spec.rb
  spec/models/pages_domain_spec.rb
  spec/support/shared_contexts/lib/gitlab/middleware/multipart_shared_contexts.rb
  spec/workers/pages_domain_ssl_renewal_cron_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  GITALY_SERVER_VERSION
  changelogs/unreleased/fix-x509-signed-commit.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.8.7
  CHANGELOG.md
Due: none

Update VERSION to 12.8.7
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  app/models/project.rb
  app/models/repository.rb
  changelogs/unreleased/pokstad1-remove-branch-user-squash.yml
  changelogs/unreleased/sh-ensure-fresh-project-settings.yml
  doc/ci/interactive_web_terminal/index.md
  doc/development/documentation/styleguide.md
  doc/development/import_export.md
  lib/gitlab/git/repository.rb
  lib/gitlab/gitaly_client/operation_service.rb
  spec/lib/gitlab/database_importers/self_monitoring/project/create_service_spec.rb
  spec/lib/gitlab/gitaly_client/operation_service_spec.rb
  spec/models/project_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/diffs/components/diff_file_row.vue
  app/assets/javascripts/vue_shared/components/changed_file_icon.vue
  app/models/ci/pipeline.rb
  app/models/snippet.rb
  app/views/shared/notifications/_custom_notifications.html.haml
  changelogs/unreleased/205399-add-tooltip-to-file-tree-state.yml
  changelogs/unreleased/209277-introduce-a-feature-flag-for-resolve-notifications-for-when-pipeli.yml
  doc/administration/high_availability/nfs.md
  doc/ci/review_apps/index.md
  doc/development/README.md
  doc/development/experiment_guide/index.md
  doc/development/fe_guide/event_tracking.md
  doc/development/instrumentation.md
  doc/telemetry/backend.md
  doc/telemetry/frontend.md
  doc/telemetry/index.md
  doc/user/group/epics/index.md
  doc/user/group/roadmap/index.md
  doc/user/profile/notifications.md
  lib/gitlab/checks/push_file_count_check.rb
  lib/gitlab/checks/snippet_check.rb
  lib/gitlab/git_access_snippet.rb
  qa/qa/runtime/browser.rb
  spec/features/projects/show/user_manages_notifications_spec.rb
  spec/frontend/diffs/components/diff_file_row_spec.js
  spec/frontend/vue_shared/components/changed_file_icon_spec.js
  spec/lib/gitlab/checks/push_file_count_check_spec.rb
  spec/lib/gitlab/checks/snippet_check_spec.rb
  spec/lib/gitlab/git_access_snippet_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/requests/api/internal/base_spec.rb
  spec/support/capybara.rb
  spec/support/helpers/test_env.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/snippet.rb
  app/views/layouts/nav/sidebar/_project.html.haml
  app/workers/concerns/application_worker.rb
  changelogs/unreleased/fj-205646-fix-project-moved-message.yml
  changelogs/unreleased/fj-fix-snippet-url-to-repo.yml
  config/sidekiq_queues.yml
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  doc/administration/operations/puma.md
  doc/administration/packages/dependency_proxy.md
  doc/administration/pages/index.md
  doc/development/README.md
  doc/development/integrations/secure_partner_integration.md
  doc/install/installation.md
  doc/user/group/roadmap/index.md
  lib/gitlab/checks/post_push_message.rb
  lib/gitlab/checks/project_moved.rb
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_snippet.rb
  lib/gitlab/repo_path.rb
  lib/support/init.d/gitlab
  lib/support/init.d/gitlab.default.example
  locale/gitlab.pot
  spec/features/projects/navbar_spec.rb
  spec/lib/gitlab/checks/project_created_spec.rb
  spec/lib/gitlab/checks/project_moved_spec.rb
  spec/lib/gitlab/repo_path_spec.rb
  spec/models/snippet_spec.rb
  spec/services/post_receive_service_spec.rb
  spec/support/shared_examples/workers/idempotency_shared_examples.rb
  spec/workers/concerns/application_worker_spec.rb
  spec/workers/expire_job_cache_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/clusters/components/applications.vue
  app/assets/javascripts/clusters/stores/clusters_store.js
  app/assets/javascripts/pages/registrations/new/index.js
  app/models/clusters/applications/elastic_stack.rb
  app/services/git/process_ref_changes_service.rb
  changelogs/unreleased/ak-upgrade-es.yml
  config/initializers/sidekiq_cluster.rb
  doc/administration/gitaly/praefect.md
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/ci/docker/using_docker_images.md
  doc/ci/yaml/README.md
  doc/development/documentation/index.md
  doc/user/application_security/dast/index.md
  doc/user/clusters/applications.md
  lib/gitlab/ci/config.rb
  locale/gitlab.pot
  spec/lib/gitlab/ci/config_spec.rb
  spec/models/clusters/applications/elastic_stack_spec.rb
  spec/services/git/process_ref_changes_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG.md
  spec/factories/pages_domains.rb
  spec/factories/serverless/domain_cluster.rb
  spec/features/projects/pages_spec.rb
  spec/fixtures/ssl_certificate.pem
  spec/fixtures/ssl_key.pem
  spec/models/pages_domain_spec.rb
  spec/workers/pages_domain_ssl_renewal_cron_worker_spec.rb
Due: none

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
