Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rails.gitlab-ci.yml
  app/graphql/types/snippets/blob_type.rb
  app/helpers/application_settings_helper.rb
  app/models/repository.rb
  app/presenters/snippet_blob_presenter.rb
  app/services/users/destroy_service.rb
  app/uploaders/avatar_uploader.rb
  app/workers/all_queues.yml
  app/workers/project_export_worker.rb
  changelogs/unreleased/al-196720-remove-destroy_user_associations_in_batches-ff.yml
  changelogs/unreleased/fj-fix-bug-rendering-snippet-blob-markdown.yml
  changelogs/unreleased/merged-branch-names-cache-v2.yml
  changelogs/unreleased/tc-fix-38088.yml
  changelogs/unreleased/turn-on-merged-branch-cache-flag.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/development/i18n/proofreader.md
  doc/user/project/clusters/kubernetes_pod_logs.md
  lib/gitlab/redis/boolean.rb
  lib/gitlab/repository_cache_adapter.rb
  lib/gitlab/repository_hash_cache.rb
  lib/quality/test_level.rb
  locale/gitlab.pot
  scripts/review_apps/base-config.yaml
  spec/graphql/types/snippets/blob_type_spec.rb
  spec/lib/gitlab/redis/boolean_spec.rb
  spec/lib/gitlab/repository_cache_adapter_spec.rb
  spec/lib/gitlab/repository_hash_cache_spec.rb
  spec/lib/quality/test_level_spec.rb
  spec/models/repository_spec.rb
  spec/presenters/snippet_blob_presenter_spec.rb
  spec/requests/api/graphql/mutations/snippets/create_spec.rb
  spec/requests/api/graphql/mutations/snippets/update_spec.rb
  spec/services/users/destroy_service_spec.rb
  spec/support/helpers/query_recorder.rb
  spec/support_specs/helpers/active_record/query_recorder_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/helpers/avatar_helper.js
  app/controllers/boards/issues_controller.rb
  app/models/concerns/bulk_insert_safe.rb
  app/models/concerns/issuable.rb
  app/models/issue.rb
  app/models/label_link.rb
  app/models/merge_request_diff_commit.rb
  app/models/merge_request_diff_file.rb
  app/services/boards/issues/list_service.rb
  changelogs/unreleased/loadash_helpers.yml
  doc/development/feature_flags/controls.md
  locale/gitlab.pot
  qa/qa/specs/features/browser_ui/3_create/merge_request/create_merge_request_spec.rb
  spec/models/concerns/bulk_insert_safe_spec.rb
  spec/models/label_link_spec.rb
  spec/models/merge_request_diff_commit_spec.rb
  spec/models/merge_request_diff_file_spec.rb
  spec/support/shared_examples/models/concerns/bulk_insert_safe_shared_examples.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-6-stable-ee
  app/services/users/refresh_authorized_projects_service.rb
  changelogs/unreleased/202520-fix_project_auth_calculation_for_group_shares.yml
  db/post_migrate/20200204113223_schedule_recalculate_project_authorizations.rb
  db/schema.rb
  lib/gitlab/background_migration/recalculate_project_authorizations.rb
  lib/gitlab/project_authorizations.rb
  spec/factories/project_authorizations.rb
  spec/lib/gitlab/background_migration/recalculate_project_authorizations_spec.rb
  spec/lib/gitlab/project_authorizations_spec.rb
  spec/migrations/schedule_recalculate_project_authorizations_spec.rb
  spec/services/users/refresh_authorized_projects_service_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/security/gitlab@12-7-stable-ee
  CHANGELOG.md
  VERSION
  app/services/users/refresh_authorized_projects_service.rb
  changelogs/unreleased/202520-fix_project_auth_calculation_for_group_shares.yml
  db/post_migrate/20200204113223_schedule_recalculate_project_authorizations.rb
  db/schema.rb
  lib/gitlab/background_migration/recalculate_project_authorizations.rb
  lib/gitlab/project_authorizations.rb
  spec/factories/project_authorizations.rb
  spec/lib/gitlab/background_migration/recalculate_project_authorizations_spec.rb
  spec/lib/gitlab/project_authorizations_spec.rb
  spec/migrations/schedule_recalculate_project_authorizations_spec.rb
  spec/services/users/refresh_authorized_projects_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/registrations_controller.rb
  changelogs/unreleased/update_cluster-applications_v0-7-0.yml
  doc/README.md
  doc/development/sql.md
  doc/development/testing_guide/best_practices.md
  doc/development/testing_guide/review_apps.md
  doc/development/understanding_explain_plans.md
  doc/user/application_security/compliance_dashboard/img/compliance_dashboard_v12_8.png
  doc/user/application_security/compliance_dashboard/index.md
  doc/user/application_security/index.md
  doc/user/clusters/applications.md
  doc/user/gitlab_com/index.md
  lib/gitlab/ci/templates/Managed-Cluster-Applications.gitlab-ci.yml
  spec/support/shared_examples/models/concerns/bulk_insert_safe_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/ci/caching/index.md
  doc/ci/cloud_deployment/index.md
  doc/ci/docker/using_docker_build.md
  doc/ci/examples/artifactory_and_gitlab/index.md
  doc/ci/examples/devops_and_game_dev_with_gitlab_ci_cd/index.md
  doc/ci/examples/end_to_end_testing_webdriverio/index.md
  doc/ci/examples/test_phoenix_app_with_gitlab_ci_cd/index.md
  doc/ci/multi_project_pipelines.md
  doc/ci/quick_start/README.md
  doc/ci/triggers/README.md
  doc/development/fe_guide/index.md
  spec/services/projects/operations/update_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/frequent_items/components/frequent_items_list_item.vue
  app/assets/javascripts/pipelines/pipeline_details_bundle.js
  app/assets/stylesheets/pages/experimental_separate_sign_up.scss
  app/views/devise/registrations/new.html.haml
  app/views/devise/shared/_experimental_separate_sign_up_flow_box.html.haml
  app/views/layouts/devise_experimental_separate_sign_up_flow.html.haml
  app/views/layouts/header/_logo_with_title.html.haml
  changelogs/unreleased/37725-request-test-reports-on-demand.yml
  changelogs/unreleased/ak-fix-alert.yml
  changelogs/unreleased/fix_avatar_not_rendered_properly.yml
  changelogs/unreleased/georgekoltsov-add-board-lists.yml
  doc/administration/audit_events.md
  doc/api/epic_links.md
  doc/ci/yaml/README.md
  doc/user/group/epics/index.md
  lib/gitlab/import_export/group_import_export.yml
  locale/gitlab.pot
  spec/features/projects/pipelines/pipeline_spec.rb
  spec/fixtures/lib/gitlab/import_export/group_exports/complex/group.json
  spec/lib/gitlab/import_export/group_tree_restorer_spec.rb
  spec/lib/gitlab/import_export/group_tree_saver_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.6.7
  CHANGELOG.md
  changelogs/unreleased/202520-fix_project_auth_calculation_for_group_shares.yml
Due: none

Update CHANGELOG.md for 12.6.7
  CHANGELOG.md
Due: none

Update CHANGELOG.md for 12.7.6
  CHANGELOG.md
  changelogs/unreleased/202520-fix_project_auth_calculation_for_group_shares.yml
Due: none

Update CHANGELOG.md for 12.5.10
  CHANGELOG.md
Due: none

Update VERSION to 12.6.7
  VERSION
Due: none

Update VERSION to 12.7.6
  VERSION
Due: none

Update VERSION to 12.5.10
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/ci/pipeline.rb
  app/models/ci/pipeline_enums.rb
  app/models/lfs_objects_project.rb
  app/workers/build_finished_worker.rb
  app/workers/expire_pipeline_cache_worker.rb
  changelogs/unreleased/37335-conan-name-validation-fixes.yml
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  db/migrate/20200207182131_replace_conan_metadata_index.rb
  db/schema.rb
  doc/development/testing_guide/frontend_testing.md
  doc/user/project/clusters/img/kubernetes_pod_logs_v12_5.png
  doc/user/project/clusters/img/kubernetes_pod_logs_v12_8.png
  doc/user/project/clusters/kubernetes_pod_logs.md
  doc/user/project/integrations/img/download_as_csv.png
  doc/user/project/integrations/img/panel_context_menu_v12_8.png
  doc/user/project/integrations/prometheus.md
  lib/gitlab/looping_batcher.rb
  qa/qa/page/component/ci_badge_link.rb
  qa/qa/page/project/job/show.rb
  qa/qa/specs/features/browser_ui/4_verify/pipeline/create_and_process_pipeline_spec.rb
  spec/lib/gitlab/looping_batcher_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/workers/expire_pipeline_cache_worker_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-7-stable-ee
  CHANGELOG-EE.md
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@12-6-stable-ee
  CHANGELOG-EE.md
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@12-5-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  VERSION
  app/services/users/refresh_authorized_projects_service.rb
  db/post_migrate/20200204113223_schedule_recalculate_project_authorizations.rb
  db/schema.rb
  lib/gitlab/background_migration/recalculate_project_authorizations.rb
  lib/gitlab/project_authorizations.rb
  spec/factories/project_authorizations.rb
  spec/lib/gitlab/background_migration/recalculate_project_authorizations_spec.rb
  spec/lib/gitlab/project_authorizations_spec.rb
  spec/migrations/schedule_recalculate_project_authorizations_spec.rb
  spec/services/users/refresh_authorized_projects_service_spec.rb
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/ci/caching/index.md
  doc/ci/examples/deployment/composer-npm-deploy.md
  doc/ci/examples/test-and-deploy-ruby-application-to-heroku.md
  doc/ci/jenkins/index.md
  doc/ci/yaml/README.md
  doc/development/architecture.md
  doc/development/contributing/issue_workflow.md
  doc/development/diffs.md
  doc/development/integrations/secure.md
  doc/development/internal_api.md
  doc/development/logging.md
  doc/development/reactive_caching.md
  doc/development/scalability.md
  doc/development/testing_guide/end_to_end/best_practices.md
  doc/development/value_stream_analytics.md
  doc/topics/autodevops/index.md
  doc/topics/web_application_firewall/index.md
  doc/topics/web_application_firewall/quick_start_guide.md
  lib/gitlab/ci/templates/Jobs/Test.gitlab-ci.yml
  spec/lib/gitlab/ci/templates/Jobs/test_gitlab_ci_yaml_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/concerns/milestoneable.rb
  app/models/issue.rb
  app/models/issue_milestone.rb
  app/models/merge_request.rb
  app/models/merge_request_milestone.rb
  app/models/milestone.rb
  app/services/users/create_service.rb
  changelogs/unreleased/remove-multiple-milestone-mess.yml
  db/post_migrate/20200213204737_remove_unnecessary_milestone_join_tables.rb
  db/schema.rb
  doc/administration/audit_events.md
  doc/development/integrations/secure.md
  doc/user/application_security/security_dashboard/img/instance_security_dashboard_with_projects_v12_7.png
  doc/user/application_security/security_dashboard/img/instance_security_dashboard_with_projects_v12_8.png
  doc/user/application_security/security_dashboard/index.md
  doc/user/project/clusters/add_remove_clusters.md
  lib/gitlab/import_export/import_export.yml
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/concerns/milestoneable_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/refactoring-entities-file-25.yml
  doc/user/packages/npm_registry/index.md
  lib/api/entities.rb
  lib/api/entities/feature.rb
  lib/api/entities/feature_gate.rb
  lib/api/entities/impersonation_token.rb
  lib/api/entities/impersonation_token_with_token.rb
  lib/gitlab/runtime.rb
  spec/lib/gitlab/runtime_spec.rb
  spec/services/ci/stop_environments_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/refactoring-entities-file-22.yml
  lib/api/entities.rb
  lib/api/entities/pipeline.rb
  lib/api/entities/pipeline_schedule.rb
  lib/api/entities/pipeline_schedule_details.rb
  lib/api/entities/trigger.rb
  lib/api/entities/variable.rb
  locale/gitlab.pot
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/xanf-prohibit-outer-forks.yml
  locale/gitlab.pot
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/ci/pipeline.rb
  app/services/ci/create_cross_project_pipeline_service.rb
  changelogs/unreleased/drop-bridge-on-any-pipeline-errors.yml
  changelogs/unreleased/fix-upstream-bridge-stuck-when-non-pending-pipelines.yml
  changelogs/unreleased/mc-bug-fail-upstream-on-invalid-yaml.yml
  spec/models/ci/pipeline_spec.rb
  spec/services/ci/create_cross_project_pipeline_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  qa/qa/specs/features/browser_ui/4_verify/pipeline/create_and_process_pipeline_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/repository.rb
  changelogs/unreleased/search-scope-blobs-fix.yml
  lib/gitlab/file_finder.rb
  lib/gitlab/git/repository.rb
  lib/gitlab/gitaly_client/repository_service.rb
  lib/gitlab/project_search_results.rb
  spec/lib/gitlab/project_search_results_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/pin-auto-devops-dind-version.yml
  doc/user/project/settings/index.md
  lib/gitlab/ci/templates/Jobs/Browser-Performance-Testing.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Build.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Code-Quality.gitlab-ci.yml
  rubocop/rubocop.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  changelogs/unreleased/omit-previous-error-from-sidekiq-logs.yml
  config/webpack.vendor.config.js
  doc/topics/autodevops/index.md
  lib/gitlab/sidekiq_logging/structured_logger.rb
  lib/tasks/gitlab/assets.rake
  package.json
  spec/controllers/profiles/notifications_controller_spec.rb
  spec/finders/award_emojis_finder_spec.rb
  spec/finders/clusters_finder_spec.rb
  spec/finders/issues_finder_spec.rb
  spec/finders/jobs_finder_spec.rb
  spec/finders/members_finder_spec.rb
  spec/finders/merge_requests_finder_spec.rb
  spec/finders/resource_label_event_finder_spec.rb
  spec/lib/gitlab/sidekiq_logging/structured_logger_spec.rb
  spec/presenters/ci/bridge_presenter_spec.rb
  spec/presenters/ci/trigger_presenter_spec.rb
  spec/presenters/event_presenter_spec.rb
  spec/presenters/label_presenter_spec.rb
  spec/services/ci/create_pipeline_service/parent_child_pipeline_spec.rb
  spec/services/ci/pipeline_processing/atomic_processing_service/status_collection_spec.rb
  spec/services/metrics/dashboard/clone_dashboard_service_spec.rb
  yarn.lock
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
