Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rules.gitlab-ci.yml
  Gemfile
  Gemfile.lock
  app/assets/javascripts/blob/utils.js
  app/assets/javascripts/pipelines/components/stage.vue
  app/assets/javascripts/releases/components/release_block_milestone_info.vue
  app/assets/javascripts/snippet/snippet_bundle.js
  app/models/email.rb
  app/views/shared/snippets/_form.html.haml
  changelogs/unreleased/214242-remove-deprecated-buttons-in-release-page.yml
  changelogs/unreleased/215919-email-validation.yml
  changelogs/unreleased/215975-remove-monaco-snippets-flag.yml
  doc/api/vulnerability_exports.md
  doc/development/documentation/index.md
  doc/user/packages/index.md
  doc/user/permissions.md
  lib/gitlab/gon_helper.rb
  spec/controllers/profiles/emails_controller_spec.rb
  spec/features/help_pages_spec.rb
  spec/features/profiles/emails_spec.rb
  spec/features/projects/snippets/create_snippet_spec.rb
  spec/features/snippets/spam_snippets_spec.rb
  spec/features/snippets/user_creates_snippet_spec.rb
  spec/fixtures/sample_doc.md
  spec/frontend/blob/utils_spec.js
  spec/frontend/pipelines/pipelines_artifacts_spec.js
  spec/frontend/pipelines/stage_spec.js
  spec/frontend/releases/components/release_block_milestone_info_spec.js
  spec/frontend/snippet/snippet_bundle_spec.js
  spec/javascripts/pipelines/pipelines_artifacts_spec.js
  spec/javascripts/pipelines/stage_spec.js
  spec/models/email_spec.rb
  spec/models/user_spec.rb
  spec/support/shared_examples/models/email_format_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update VERSION to 13.0.0-rc20200506140558
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  Gemfile.lock
  Guardfile
  app/services/base_container_service.rb
  app/services/base_service.rb
  app/services/concerns/base_service_utility.rb
  changelogs/unreleased/update-recursive-open-struct-gem.yml
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/ci/docker/using_docker_images.md
  doc/ci/examples/test-and-deploy-python-application-to-heroku.md
  doc/ci/examples/test-and-deploy-ruby-application-to-heroku.md
  doc/ci/yaml/README.md
  doc/install/requirements.md
  doc/raketasks/cleanup.md
  doc/user/application_security/dast/index.md
  doc/user/project/integrations/mattermost_slash_commands.md
  lib/gitlab/import_export/project/base_task.rb
  lib/gitlab/import_export/project/export_task.rb
  lib/gitlab/import_export/project/import_task.rb
  locale/gitlab.pot
  spec/lib/gitlab/import_export/project/export_task_spec.rb
  spec/lib/gitlab/import_export/project/import_task_spec.rb
  spec/services/base_container_service_spec.rb
  spec/support/shared_contexts/lib/gitlab/import_export/project/rake_task_object_storage_shared_context.rb
  spec/support/shared_examples/lib/gitlab/import_export/project/rake_task_object_storage_shared_examples.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/helpers/projects/alert_management_helper.rb
  app/models/clusters/applications/knative.rb
  changelogs/unreleased/213572-drop-lm-template-support.yml
  changelogs/unreleased/216157-add-usage-ping-recording_finished_at-field.yml
  changelogs/unreleased/fix-istio-url-should-be-raw.yml
  config/initializers/1_settings.rb
  config/initializers/rack_attack.rb.example
  config/initializers/rack_attack_new.rb
  doc/administration/reference_architectures/index.md
  doc/security/rack_attack.md
  doc/user/admin_area/settings/protected_paths.md
  doc/user/project/clusters/kubernetes_pod_logs.md
  lib/gitlab/ci/templates/Auto-DevOps.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/License-Management.gitlab-ci.yml
  lib/gitlab/usage_data.rb
  qa/qa.rb
  qa/qa/page/component/project/templates.rb
  qa/qa/page/project/new.rb
  qa/qa/resource/project.rb
  spec/helpers/projects/alert_management_helper_spec.rb
  spec/lib/gitlab/throttle_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/requests/rack_attack_global_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/utils.js
  app/models/ci/pipeline.rb
  app/serializers/accessibility_error_entity.rb
  app/serializers/accessibility_reports_comparer_entity.rb
  app/serializers/accessibility_reports_comparer_serializer.rb
  changelogs/unreleased/215473-url-update-single-panel.yml
  changelogs/unreleased/add-ci-kubernetes-active-pipeline-variable.yml
  doc/administration/geo/disaster_recovery/index.md
  doc/ci/variables/predefined_variables.md
  doc/development/what_requires_downtime.md
  doc/user/application_security/index.md
  lib/gitlab/ci/parsers/accessibility/pa11y.rb
  lib/gitlab/database/migration_helpers.rb
  qa/qa/specs/features/browser_ui/3_create/repository/move_project_create_fork_spec.rb
  qa/qa/specs/features/browser_ui/3_create/web_ide/review_merge_request_spec.rb
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_dependent_relationship_spec.rb
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_independent_relationship_spec.rb
  qa/qa/specs/features/browser_ui/7_configure/kubernetes/kubernetes_integration_spec.rb
  qa/qa/specs/features/browser_ui/8_monitor/apm/dashboards_spec.rb
  spec/fixtures/api/schemas/entities/accessibility_error.json
  spec/fixtures/api/schemas/entities/accessibility_reports_comparer.json
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/utils_spec.js
  spec/lib/gitlab/ci/parsers/accessibility/pa11y_spec.rb
  spec/lib/gitlab/database/migration_helpers_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/serializers/accessibility_error_entity_spec.rb
  spec/serializers/accessibility_reports_comparer_entity_spec.rb
  spec/serializers/accessibility_reports_comparer_serializer_spec.rb
  spec/support/shared_examples/lib/gitlab/migration_helpers_shared_examples.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/monitoring/monitoring_bundle.js
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/mutation_types.js
  app/assets/javascripts/monitoring/stores/mutations.js
  app/assets/javascripts/monitoring/stores/state.js
  app/assets/javascripts/monitoring/utils.js
  app/assets/javascripts/notes/components/comment_form.vue
  app/assets/javascripts/notes/components/note_header.vue
  app/assets/javascripts/notes/components/noteable_note.vue
  app/assets/javascripts/sidebar/components/assignees/assignees_realtime.vue
  app/assets/stylesheets/pages/notes.scss
  app/controllers/projects/issues_controller.rb
  app/controllers/projects/pages_domains_controller.rb
  app/views/projects/pages_domains/_certificate.html.haml
  app/views/projects/pages_domains/_dns.html.haml
  app/views/projects/pages_domains/_form.html.haml
  app/views/projects/pages_domains/_lets_encrypt_callout.html.haml
  app/views/projects/pages_domains/new.html.haml
  app/views/projects/pages_domains/show.html.haml
  changelogs/unreleased/207471-expose-note-confidential-attribute-in-apis-and-display-on-frontend.yml
  changelogs/unreleased/216728-actionview-template-error-undefined-method-pages_domain-for-pagesd.yml
  changelogs/unreleased/jivanvl-use-metrics-url-query-param.yml
  locale/gitlab.pot
  spec/controllers/projects/pages_domains_controller_spec.rb
  spec/features/projects/pages_spec.rb
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/monitoring/store/mutations_spec.js
  spec/frontend/monitoring/utils_spec.js
  spec/frontend/notes/components/comment_form_spec.js
  spec/frontend/notes/components/note_header_spec.js
  spec/frontend/sidebar/assignees_realtime_spec.js
  spec/views/projects/pages_domains/show.html.haml_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/design_management/pages/design/index.vue
  app/assets/javascripts/design_management/utils/tracking.js
  app/controllers/projects/issues_controller.rb
  app/helpers/projects/alert_management_helper.rb
  app/models/project.rb
  app/presenters/projects/prometheus/alert_presenter.rb
  app/services/issues/build_service.rb
  changelogs/unreleased/216472-move-embeding-metrics-to-core.yml
  changelogs/unreleased/add_confidential_issue_url_param.yml
  doc/.vale/gitlab/BadgeCapitalization.yml
  doc/user/application_security/dast/index.md
  doc/user/group/epics/img/epic_view_v12.3.png
  doc/user/group/epics/img/epic_view_v13.0.png
  doc/user/group/epics/index.md
  doc/user/project/issues/managing_issues.md
  lib/gitlab/prometheus_client.rb
  lib/mattermost/client.rb
  locale/gitlab.pot
  scripts/rspec_helpers.sh
  spec/controllers/projects/issues_controller_spec.rb
  spec/frontend/design_management/router_spec.js
  spec/frontend/design_management/utils/tracking_spec.js
  spec/frontend/diffs/components/diff_content_spec.js
  spec/frontend/notebook/cells/code_spec.js
  spec/frontend/notebook/cells/markdown_spec.js
  spec/frontend/notebook/cells/output/html_sanitize_tests.js
  spec/frontend/notebook/cells/output/html_spec.js
  spec/frontend/notebook/cells/output/index_spec.js
  spec/frontend/notebook/cells/prompt_spec.js
  spec/frontend/notebook/index_spec.js
  spec/helpers/projects/alert_management_helper_spec.rb
  spec/javascripts/diffs/create_diffs_store.js
  spec/javascripts/diffs/mock_data/diff_discussions.js
  spec/javascripts/diffs/mock_data/diff_file.js
  spec/javascripts/diffs/mock_data/diff_file_unreadable.js
  spec/javascripts/diffs/mock_data/diff_with_commit.js
  spec/javascripts/diffs/mock_data/merge_request_diffs.js
  spec/javascripts/helpers/init_vue_mr_page_helper.js
  spec/presenters/projects/prometheus/alert_presenter_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/registrations_controller.rb
  app/graphql/resolvers/projects_resolver.rb
  app/graphql/types/query_type.rb
  app/models/application_setting_implementation.rb
  app/models/merge_request.rb
  app/views/projects/snippets/show.html.haml
  app/views/snippets/show.html.haml
  changelogs/unreleased/204839-registry-application-settings.yml
  changelogs/unreleased/207235-snippets-vue-ff-on-by-default.yml
  changelogs/unreleased/214583-add-ability-to-query-projects.yml
  changelogs/unreleased/215955-redirect-loop-when-logging-in-for-the-experimental-sign_up-flow.yml
  config/prometheus/common_metrics.yml
  db/migrate/20200424135319_create_nuget_dependency_link_metadata.rb
  db/migrate/20200505164958_add_registry_settings_to_application_settings.rb
  db/migrate/20200505171834_add_text_limit_to_container_registry_vendor.rb
  db/migrate/20200505172405_add_text_limit_to_container_registry_version.rb
  db/migrate/20200507221434_add_container_registry_features_to_application_settings.rb
  db/structure.sql
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/api/packages.md
  lib/gitlab/gon_helper.rb
  locale/gitlab.pot
  spec/controllers/registrations_controller_spec.rb
  spec/factories/merge_requests.rb
  spec/graphql/resolvers/projects_resolver_spec.rb
  spec/models/merge_request_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Technical Evaluation.md
  app/models/ci/freeze_period.rb
  app/models/project.rb
  app/services/ci/compare_accessibility_reports_service.rb
  app/validators/cron_freeze_period_timezone_validator.rb
  app/validators/cron_validator.rb
  changelogs/unreleased/24295-freeze-period-db-changes.yml
  changelogs/unreleased/sk-organize-package-models.yml
  db/migrate/20200408125046_create_ci_freeze_periods.rb
  db/structure.sql
  doc/administration/reference_architectures/index.md
  doc/api/README.md
  doc/development/packages.md
  doc/topics/authentication/index.md
  doc/topics/autodevops/customize.md
  doc/topics/autodevops/index.md
  doc/user/permissions.md
  doc/user/profile/personal_access_tokens.md
  doc/user/project/settings/project_access_tokens.md
  lib/gitlab/request_context.rb
  lib/gitlab/sidekiq_middleware/admin_mode/client.rb
  lib/tasks/gitlab/gitaly.rake
  spec/factories/ci/freeze_periods.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/ci/freeze_period_spec.rb
  spec/models/ci/pipeline_schedule_spec.rb
  spec/services/application_settings/update_service_spec.rb
  spec/services/ci/compare_accessibility_reports_service_spec.rb
  spec/tasks/gitlab/gitaly_rake_spec.rb
  spec/validators/cron_freeze_period_timezone_validator_spec.rb
  spec/validators/cron_validator_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/services/projects/import_service.rb
  changelogs/unreleased/sh-fix-overwrite-import-export-check.yml
  lib/gitlab/import_export/importer.rb
  spec/lib/gitlab/import_export/importer_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/api/project_import_export.md
  doc/user/project/code_owners.md
  lib/gitlab/import_export/after_export_strategies/web_upload_strategy.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/models/clusters/applications/runner.rb
  app/models/project_repository_storage_move.rb
  app/workers/project_update_repository_storage_worker.rb
  changelogs/unreleased/remove_kwargs_from_storage_move_worker.yml
  changelogs/unreleased/update-gitlab-runner-helm-chart-to-0-16-1.yml
  doc/integration/jira_development_panel.md
  doc/user/application_security/index.md
  doc/user/project/integrations/gitlab_slack_application.md
  doc/user/project/pages/custom_domains_ssl_tls_certification/dns_concepts.md
  doc/user/project/pages/custom_domains_ssl_tls_certification/index.md
  doc/user/project/pages/custom_domains_ssl_tls_certification/lets_encrypt_integration.md
  doc/user/project/pages/custom_domains_ssl_tls_certification/ssl_tls_concepts.md
  doc/user/project/pages/getting_started/fork_sample_project.md
  doc/user/project/pages/getting_started/new_or_existing_website.md
  doc/user/project/pages/getting_started/pages_bundled_template.md
  doc/user/project/pages/getting_started_part_four.md
  doc/user/project/pages/getting_started_part_one.md
  doc/user/project/pages/index.md
  doc/user/project/pages/introduction.md
  doc/user/project/pages/pages_access_control.md
  spec/models/project_repository_storage_move_spec.rb
  spec/models/project_spec.rb
  spec/workers/project_update_repository_storage_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_dependent_relationship_spec.rb
  qa/qa/specs/features/browser_ui/6_release/pipeline/parent_child_pipelines_independent_relationship_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/vue_shared/components/file_icon/file_icon_map.js
  app/views/groups/show.html.haml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/monitoring/components/dashboards_dropdown.vue
  app/finders/metrics/users_starred_dashboards_finder.rb
  app/graphql/types/alert_management/alert_type.rb
  app/models/alert_management/alert.rb
  app/models/metrics/users_starred_dashboard.rb
  app/policies/project_policy.rb
  app/services/metrics/users_starred_dashboards/create_service.rb
  changelogs/unreleased/28617-add-global-sec-prefix.yml
  changelogs/unreleased/expose-issue-iid-in-alert-management-alert-graphql.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dast/index.md
  doc/user/application_security/dependency_scanning/analyzers.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/index.md
  doc/user/application_security/sast/analyzers.md
  doc/user/application_security/sast/index.md
  doc/user/compliance/license_compliance/index.md
  doc/user/project/clusters/index.md
  doc/user/project/integrations/prometheus.md
  lib/gitlab/ci/templates/Security/Container-Scanning.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/DAST.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/Dependency-Scanning.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/License-Scanning.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/SAST.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/Secure-Binaries.gitlab-ci.yml
  lib/gitlab/usage_data_counters/web_ide_counter.rb
  locale/gitlab.pot
  spec/finders/metrics/users_starred_dashboards_finder_spec.rb
  spec/frontend/monitoring/components/dashboards_dropdown_spec.js
  spec/frontend/monitoring/mock_data.js
  spec/graphql/types/alert_management/alert_type_spec.rb
  spec/lib/gitlab/usage_data_counters/web_ide_counter_spec.rb
  spec/models/metrics/users_starred_dashboard_spec.rb
  spec/policies/project_policy_spec.rb
  spec/requests/api/graphql/project/alert_management/alerts_spec.rb
  spec/services/metrics/users_starred_dashboards/create_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/notes/components/comment_form.vue
  app/assets/javascripts/notes/components/note_header.vue
  app/assets/javascripts/notes/components/noteable_note.vue
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
  app/assets/stylesheets/pages/notes.scss
  app/controllers/projects/issues_controller.rb
  changelogs/unreleased/207471-expose-note-confidential-attribute-in-apis-and-display-on-frontend.yml
  changelogs/unreleased/217310.yml
  doc/administration/geo/replication/geo_validation_tests.md
  locale/gitlab.pot
  spec/frontend/notes/components/comment_form_spec.js
  spec/frontend/notes/components/note_header_spec.js
  spec/frontend/vue_mr_widget/stores/artifacts_list/actions_spec.js
  spec/frontend/vue_mr_widget/stores/mr_widget_store_spec.js
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance
