Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

package-and-qa:
  image: ruby:2.6-alpine
  stage: qa
  dependencies: []
  retry: 0
  script:
  - source scripts/utils.sh
  - install_gitlab_gem
  - ./scripts/trigger-build omnibus
  needs:
  - build-qa-image
  - gitlab:assets:compile pull-cache
  allow_failure: true

build-qa-image:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: prepare
  script:
  ...

review-build-cng:
  image: ruby:2.6-alpine
  stage: review-prepare
  before_script:
  - source scripts/utils.sh
  - install_api_client_dependencies_with_apk
  - install_gitlab_gem
  needs:
  - job: gitlab:assets:compile pull-cache
    artifacts: false
  script:
  ...

review-deploy:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
  environment:
  ...

review-stop-failed-deployment:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-charts-build-base
  dependencies: []
  variables:
    HOST_SUFFIX: ${CI_ENVIRONMENT_SLUG}
    DOMAIN: -${CI_ENVIRONMENT_SLUG}.${REVIEW_APPS_DOMAIN}
    GITLAB_HELM_CHART_REF: v2.5.1
    GITLAB_EDITION: ce
    GIT_DEPTH: 1
  environment:
  ...

review-qa-smoke:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
    QA_ARTIFACTS_DIR: ${CI_PROJECT_DIR}/qa
  ...

review-performance:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:gitlab-qa-alpine-ruby-2.6
  services:
  - docker:19.03.0-dind
  tags:
  - gitlab-org
  - docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    GITLAB_EDITION: ce
  stage: qa
  needs:
  - job: review-deploy
    artifacts: true
  ...

Update CHANGELOG.md for 12.6.8
  CHANGELOG.md
  changelogs/unreleased/199415-sharing_group_to_respect_member_access_level.yml
  changelogs/unreleased/36805-confidential-issue.yml
  changelogs/unreleased/enfoce-group-member-2fa.yml
  changelogs/unreleased/security-49-xss-branch-names.yml
  changelogs/unreleased/security-709-secret-traversal.yml
  changelogs/unreleased/security-badge-camo.yml
  changelogs/unreleased/security-check-mr-permissions-for-pipeline-widget.yml
  changelogs/unreleased/security-deploy-token-registry-access.yml
  changelogs/unreleased/security-deprecate-lfs-link-service.yml
  changelogs/unreleased/security-disable-pipeline-webhook-recursion.yml
  changelogs/unreleased/security-expire-confirmation-token.yml
  changelogs/unreleased/security-grafana-stored-xss.yml
  changelogs/unreleased/security-graphql-diff-refs-empty-base-sha.yml
  changelogs/unreleased/security-pb-fix-xss-dependency-link.yml
  changelogs/unreleased/security-recalculate_project_authorizations_run_2.yml
  changelogs/unreleased/security-safe-sentry-error-culprit-12-6.yml
Due: none

Update VERSION to 12.8.2
  VERSION
Due: none

Update VERSION to 12.7.7
  VERSION
Due: none

Update VERSION to 12.6.8
  VERSION
Due: none

Add latest changes from gitlab-org/security/gitlab@12-6-stable-ee
  CHANGELOG-EE.md
Due: none

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-7-stable-ee
  CHANGELOG-EE.md
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-6-stable-ee
  CHANGELOG-EE.md
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/concerns/lfs_request.rb
  app/controllers/repositories/lfs_api_controller.rb
  app/models/project.rb
  app/models/user.rb
  app/models/user_type_enums.rb
  app/workers/repository_fork_worker.rb
  changelogs/unreleased/207216-lfs-batch-upload-fix.yml
  db/migrate/20200304085423_add_user_type.rb
  db/migrate/20200304090155_add_user_type_index.rb
  db/schema.rb
  doc/api/group_clusters.md
  doc/development/geo/framework.md
  doc/install/aws/index.md
  spec/models/project_spec.rb
  spec/requests/lfs_http_spec.rb
  spec/support/shared_examples/models/concerns/blob_replicator_strategy_shared_examples.rb
  spec/workers/repository_fork_worker_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/controllers/application_controller.rb
  app/controllers/concerns/uploads_actions.rb
  changelogs/unreleased/55487-backfill-lfs-objects-v2.yml
  db/post_migrate/20200217091401_reschedule_link_lfs_objects.rb
  lib/gitlab/background_migration/link_lfs_objects.rb
  spec/controllers/application_controller_spec.rb
  spec/lib/gitlab/background_migration/link_lfs_objects_spec.rb
  spec/migrations/reschedule_link_lfs_objects_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/shared/popover.js
  app/views/clusters/clusters/_namespace.html.haml
  changelogs/unreleased/jivanvl-change-pod-logs-name.yml
  doc/development/dangerbot.md
  doc/user/admin_area/appearance.md
  doc/user/admin_area/settings/continuous_integration.md
  doc/user/analytics/productivity_analytics.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/sast/index.md
  doc/user/application_security/security_dashboard/index.md
  doc/user/group/epics/index.md
  doc/user/group/index.md
  doc/user/group/saml_sso/index.md
  doc/user/instance_statistics/user_cohorts.md
  doc/user/packages/conan_repository/index.md
  doc/user/permissions.md
  doc/user/project/import/bitbucket_server.md
  doc/user/project/issues/issue_data_and_actions.md
  doc/user/project/labels.md
  lib/api/todos.rb
  locale/gitlab.pot
  qa/qa/specs/features/browser_ui/3_create/repository/protocol_v2_push_http_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/docs.gitlab-ci.yml
  Gemfile
  Gemfile.lock
  app/assets/javascripts/clusters_list/store/actions.js
  config/initializers/9_fast_gettext.rb
  config/initializers_before_autoloader/001_fast_gettext.rb
  doc/administration/audit_events.md
  doc/administration/high_availability/object_storage.md
  doc/development/documentation/index.md
  doc/user/project/releases/index.md
  scripts/lint-doc.sh
  spec/presenters/projects/prometheus/alert_presenter_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  vendor/gitignore/C++.gitignore
  vendor/gitignore/Java.gitignore
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update GITALY_SERVER_VERSION to 12.8.3
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update CHANGELOG.md for 12.8.3
  CHANGELOG.md
  changelogs/unreleased/207837-circular-encoding.yml
  changelogs/unreleased/207857-fix-web-ide-modal-no-text.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/georgekoltsov-fix-import-export-uploader.yml
  changelogs/unreleased/lm-fix-error-query.yml
  changelogs/unreleased/ph-p207499-fixNonAsciiChars.yml
  changelogs/unreleased/revert-e0613e64.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  changelogs/unreleased/sh-optimize-broadcast-message-redis.yml
  changelogs/unreleased/use-addressable-for-asset-proxy-badge-render.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
Due: none

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  GITALY_SERVER_VERSION
  changelogs/unreleased/207837-circular-encoding.yml
  changelogs/unreleased/207857-fix-web-ide-modal-no-text.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/georgekoltsov-fix-import-export-uploader.yml
  changelogs/unreleased/lm-fix-error-query.yml
  changelogs/unreleased/ph-p207499-fixNonAsciiChars.yml
  changelogs/unreleased/revert-e0613e64.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  changelogs/unreleased/sh-optimize-broadcast-message-redis.yml
  changelogs/unreleased/use-addressable-for-asset-proxy-badge-render.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Update VERSION to 12.8.3
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  CHANGELOG.md
  app/assets/javascripts/diffs/components/diff_file.vue
  app/helpers/auth_helper.rb
  app/models/project_services/prometheus_service.rb
  app/services/projects/create_service.rb
  changelogs/unreleased/207837-circular-encoding.yml
  changelogs/unreleased/207857-fix-web-ide-modal-no-text.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/25744-optional-custom-icon-in-omniauth-login-label.yml
  changelogs/unreleased/georgekoltsov-fix-import-export-uploader.yml
  changelogs/unreleased/jdb-hide-dont-remove-collapsed-files.yml
  changelogs/unreleased/lm-fix-error-query.yml
  changelogs/unreleased/mwaw-activate_shared_services_on_project_creation.yml
  changelogs/unreleased/ph-p207499-fixNonAsciiChars.yml
  changelogs/unreleased/revert-e0613e64.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  changelogs/unreleased/sh-optimize-broadcast-message-redis.yml
  changelogs/unreleased/use-addressable-for-asset-proxy-badge-render.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
  doc/administration/auth/oidc.md
  doc/api/groups.md
  doc/development/fe_guide/vuex.md
  lib/api/projects.rb
  lib/gitlab/auth/o_auth/provider.rb
  lib/gitlab/gitaly_client.rb
  spec/controllers/projects/services_controller_spec.rb
  spec/features/merge_request/user_manages_subscription_spec.rb
  spec/helpers/auth_helper_spec.rb
  spec/javascripts/diffs/components/diff_file_spec.js
  spec/models/project_services/prometheus_service_spec.rb
  spec/services/projects/create_service_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  doc/administration/auth/README.md
  doc/administration/auth/cognito.md
  doc/integration/omniauth.md
  doc/user/group/index.md
  qa/qa/specs/features/browser_ui/7_configure/kubernetes/kubernetes_integration_spec.rb
Due: package-and-qa, build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  .gitlab/issue_templates/Feature proposal.md
  app/models/clusters/cluster.rb
  changelogs/unreleased/dblessing-add-scim-identities.yml
  changelogs/unreleased/fix-deployment-namespace-resolution.yml
  db/migrate/20200227164113_create_scim_identities.rb
  db/schema.rb
  doc/api/project_clusters.md
  doc/ci/variables/predefined_variables.md
  doc/integration/vault.md
  doc/user/gitlab_com/index.md
  doc/user/project/clusters/serverless/index.md
  lib/gitlab/ci/pipeline/seed/deployment.rb
  spec/factories/deployments.rb
  spec/lib/gitlab/ci/pipeline/seed/deployment_spec.rb
  spec/models/clusters/cluster_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/confirm_modal.js
  app/assets/javascripts/filtered_search/dropdown_utils.js
  app/assets/javascripts/filtered_search/filtered_search_dropdown_manager.js
  app/assets/javascripts/filtered_search/filtered_search_manager.js
  app/assets/javascripts/filtered_search/issuable_filtered_search_token_keys.js
  app/assets/javascripts/filtered_search/stores/recent_searches_store.js
  app/assets/javascripts/filtered_search/visual_token_value.js
  app/assets/javascripts/vue_shared/components/confirm_modal.vue
  app/models/clusters/applications/cert_manager.rb
  changelogs/unreleased/196883-repository-link-grpc-graceful-failure.yml
  changelogs/unreleased/208678-packages-project-and-group-api-will-return-processing-nuget-packag.yml
  changelogs/unreleased/ee-insert-all-for-load-balancing.yml
  changelogs/unreleased/update-cert-manager-to-0-10-1.yml
  doc/user/application_security/container_scanning/index.md
  lib/api/project_container_repositories.rb
  lib/banzai/filter/repository_link_filter.rb
  locale/gitlab.pot
  spec/frontend/helpers/dom_shims/form_element.js
  spec/frontend/helpers/dom_shims/index.js
  spec/frontend/vue_shared/components/confirm_modal_spec.js
  spec/lib/banzai/filter/repository_link_filter_spec.rb
  spec/models/clusters/applications/cert_manager_spec.rb
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Add latest changes from gitlab-org/gitlab@12-8-stable-ee
  CHANGELOG-EE.md
  CHANGELOG.md
  changelogs/unreleased/207837-circular-encoding.yml
  changelogs/unreleased/207857-fix-web-ide-modal-no-text.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/georgekoltsov-fix-import-export-uploader.yml
  changelogs/unreleased/lm-fix-error-query.yml
  changelogs/unreleased/ph-p207499-fixNonAsciiChars.yml
  changelogs/unreleased/revert-e0613e64.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  changelogs/unreleased/sh-optimize-broadcast-message-redis.yml
  changelogs/unreleased/use-addressable-for-asset-proxy-badge-render.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  CHANGELOG-EE.md
  CHANGELOG.md
  GITLAB_PAGES_VERSION
  app/assets/javascripts/editor/editor_lite.js
  changelogs/unreleased/202426-editor-lite-theme-preference.yml
  changelogs/unreleased/207837-circular-encoding.yml
  changelogs/unreleased/207857-fix-web-ide-modal-no-text.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/28085-index-options-tuning.yml
  changelogs/unreleased/georgekoltsov-fix-import-export-uploader.yml
  changelogs/unreleased/lm-fix-error-query.yml
  changelogs/unreleased/mc-feature-trigger-pipelines-project-subscriptions.yml
  changelogs/unreleased/pages-1-17.yml
  changelogs/unreleased/ph-p207499-fixNonAsciiChars.yml
  changelogs/unreleased/revert-e0613e64.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  changelogs/unreleased/sh-optimize-broadcast-message-redis.yml
  changelogs/unreleased/use-addressable-for-asset-proxy-badge-render.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
  db/migrate/20200224185814_add_project_subscriptions_to_plan_limits.rb
  db/migrate/20200225123228_insert_project_subscriptions_plan_limits.rb
  db/migrate/20200228160542_create_ci_sources_projects.rb
  db/migrate/20200304121828_add_ci_sources_project_pipeline_foreign_key.rb
  db/migrate/20200304121844_add_ci_sources_project_source_project_foreign_key.rb
  db/schema.rb
  doc/administration/instance_limits.md
  doc/ci/multi_project_pipelines.md
  doc/development/application_limits.md
  doc/development/dangerbot.md
  doc/user/project/settings/import_export.md
  locale/gitlab.pot
  spec/javascripts/editor/editor_lite_spec.js
  spec/lib/gitlab/import_export/all_models.yml
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Revert "Update CHANGELOG.md for 12.8.3"
  CHANGELOG.md
  changelogs/unreleased/207837-circular-encoding.yml
  changelogs/unreleased/207857-fix-web-ide-modal-no-text.yml
  changelogs/unreleased/208548-better-spec-test-for-error-tracking-web-ui.yml
  changelogs/unreleased/georgekoltsov-fix-import-export-uploader.yml
  changelogs/unreleased/lm-fix-error-query.yml
  changelogs/unreleased/ph-p207499-fixNonAsciiChars.yml
  changelogs/unreleased/revert-e0613e64.yml
  changelogs/unreleased/sh-disable-line-in-marginalia.yml
  changelogs/unreleased/sh-optimize-broadcast-message-redis.yml
  changelogs/unreleased/use-addressable-for-asset-proxy-badge-render.yml
  changelogs/unreleased/vs-add-credentials-option-for-apollo-link.yml
Due: none

Add latest changes from gitlab-org/gitlab@master
  CHANGELOG-EE.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md for 12.8.4
  CHANGELOG.md
Due: none

Update VERSION to 12.8.4
  VERSION
Due: none

Update GITALY_SERVER_VERSION to 12.8.5
  GITALY_SERVER_VERSION
Due: build-qa-image, review-build-cng, review-deploy, review-stop-failed-deployment, review-qa-smoke, review-performance

Path conditions:
  package-and-qa: any of: .dockerignore, qa/**/*
  build-qa-image: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-build-cng: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-deploy: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-stop-failed-deployment: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-qa-smoke: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
  review-performance: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, .dockerignore, qa/**/*
