Repository gitlabhq/gitlabhq: changes, and which GitLab CI jobs are due for each by the changed paths.
All: db:backup_and_restore, verify_lockfile

Path conditions:
  db:backup_and_restore: any of: lib/backup/**/*, lib/tasks/gitlab/backup.rake
  verify_lockfile: any of: yarn.lock

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/editor/schema/ci.json
  app/assets/javascripts/graphql_shared/constants.js
  app/assets/javascripts/issues/show/components/app.vue
  app/assets/javascripts/issues/show/components/description.vue
  app/assets/javascripts/issues/show/index.js
  app/assets/javascripts/work_items/components/work_item_detail_modal.vue
  app/assets/javascripts/work_items/graphql/create_work_item_from_task.mutation.graphql
  app/assets/javascripts/work_items/pages/create_work_item.vue
  app/presenters/ci/build_runner_presenter.rb
  config/feature_flags/development/container_security_policy_selection.yml
  config/feature_flags/development/sbom_survey.yml
  config/gitlab_loose_foreign_keys.yml
  data/deprecations/14-9-deprecate-debian-9.yml
  db/post_migrate/20220317161914_remove_ci_runners_ci_builds_runner_id_fk.rb
  db/schema_migrations/20220317161914
  db/structure.sql
  doc/administration/operations/puma.md
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
  doc/ci/yaml/artifacts_reports.md
  doc/update/deprecations.md
  doc/user/project/merge_requests/test_coverage_visualization.md
  lib/api/entities/ci/job_request/artifacts.rb
  locale/gitlab.pot
  qa/qa/specs/features/browser_ui/4_verify/pipeline/create_and_process_pipeline_spec.rb
  spec/factories/ci/builds.rb
  spec/frontend/issues/show/components/app_spec.js
  spec/frontend/issues/show/components/description_spec.js
  spec/frontend/issues/show/mock_data/mock_data.js
  spec/frontend/work_items/components/work_item_detail_spec.js
  spec/frontend/work_items/mock_data.js
  spec/frontend/work_items/pages/create_work_item_spec.js
  spec/lib/gitlab/ci/config/entry/reports/coverage_report_spec.rb
  spec/models/commit_status_spec.rb
  spec/presenters/ci/build_runner_presenter_spec.rb
  spec/requests/api/ci/runner/jobs_request_post_spec.rb
Due: none

Update VERSION files
  VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo.yml
  .rubocop_todo/layout/first_hash_element_indentation.yml
  app/controllers/admin/application_settings_controller.rb
  doc/api/settings.md
  lib/tasks/gitlab/db.rake
  qa/qa/specs/features/browser_ui/4_verify/pipeline/create_and_process_pipeline_spec.rb
  spec/controllers/admin/application_settings_controller_spec.rb
  spec/tasks/gitlab/db_rake_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/pages/projects/learn_gitlab/components/learn_gitlab.vue
  app/assets/javascripts/pages/projects/learn_gitlab/components/learn_gitlab_section_card.vue
  app/assets/javascripts/pages/projects/learn_gitlab/components/learn_gitlab_section_link.vue
  app/assets/javascripts/pages/projects/learn_gitlab/constants/index.js
  app/assets/stylesheets/page_bundles/learn_gitlab.scss
  app/controllers/projects/learn_gitlab_controller.rb
  app/experiments/video_tutorials_continuous_onboarding_experiment.rb
  app/graphql/mutations/user_preferences/update.rb
  app/graphql/resolvers/base_issues_resolver.rb
  app/graphql/resolvers/concerns/issue_resolver_arguments.rb
  app/graphql/types/issue_sort_enum.rb
  app/models/issue.rb
  config/feature_flags/experiment/video_tutorials_continuous_onboarding.yml
  doc/api/graphql/reference/index.md
  doc/operations/incident_management/incidents.md
  doc/operations/incident_management/paging.md
  doc/user/project/integrations/webhook_events.md
  locale/gitlab.pot
  spec/experiments/video_tutorials_continuous_onboarding_experiment_spec.rb
  spec/frontend/pages/projects/learn_gitlab/components/__snapshots__/learn_gitlab_section_card_spec.js.snap
  spec/frontend/pages/projects/learn_gitlab/components/__snapshots__/learn_gitlab_spec.js.snap
  spec/frontend/pages/projects/learn_gitlab/components/learn_gitlab_section_link_spec.js
  spec/graphql/resolvers/issues_resolver_spec.rb
  spec/graphql/types/issue_sort_enum_spec.rb
  spec/models/issue_spec.rb
  spec/requests/api/graphql/mutations/user_preferences/update_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/api/events.md
  doc/topics/use_gitlab.md
  doc/user/group/contribution_analytics/index.md
  doc/user/index.md
  doc/user/markdown.md
  doc/user/profile/index.md
  doc/user/project/integrations/overview.md
  doc/user/project/integrations/webhooks.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/runner/components/cells/runner_actions_cell.vue
  app/assets/javascripts/runner/components/runner_delete_button.vue
  app/assets/javascripts/runner/constants.js
  app/assets/javascripts/runner/graphql/list/group_runners.query.graphql
  locale/gitlab.pot
  spec/frontend/runner/components/cells/runner_actions_cell_spec.js
  spec/frontend/runner/components/runner_delete_button_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  qa/qa/specs/features/browser_ui/2_plan/issue/mentions_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .rubocop_todo/rspec/any_instance_of.yml
  .rubocop_todo/rspec/verified_doubles.yml
  app/controllers/oauth/jira_dvcs/authorizations_controller.rb
  app/controllers/projects/branches_controller.rb
  app/controllers/projects/commit_controller.rb
  app/workers/container_registry/migration/enqueuer_worker.rb
  config/routes.rb
  lib/backup/manager.rb
  lib/gitlab/database/migration.rb
  spec/controllers/oauth/jira_dvcs/authorizations_controller_spec.rb
  spec/controllers/projects/branches_controller_spec.rb
  spec/controllers/projects/commit_controller_spec.rb
  spec/db/migration_spec.rb
  spec/features/jira_oauth_provider_authorize_spec.rb
  spec/requests/jira_authorizations_spec.rb
Due: db:backup_and_restore

Add latest changes from gitlab-org/gitlab@master
  Gemfile
  Gemfile.lock
  data/removals/14_9/14-9-key-user_email_lookup_limit.yml
  doc/update/removals.md
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/issue.rb
  doc/api/issues.md
  lib/api/entities/issue.rb
  lib/gitlab/import_export/command_line_util.rb
  lib/tasks/ci/build_artifacts.rake
  lib/tasks/gitlab/refresh_project_statistics_build_artifacts_size.rake
  qa/spec/spec_helper.rb
  spec/fixtures/api/schemas/public_api/v4/issue.json
  spec/lib/gitlab/import_export/command_line_util_spec.rb
  spec/requests/api/issues/issues_spec.rb
  spec/tasks/gitlab/refresh_project_statistics_build_artifacts_size_rake_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@14-9-stable-ee
  CHANGELOG.md
  GITALY_SERVER_VERSION
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/review.gitlab-ci.yml
  CHANGELOG.md
  GITLAB_SHELL_VERSION
  config/feature_flags/development/enhanced_notify_css.yml
  doc/development/integrations/secure.md
  locale/gitlab.pot
  spec/fixtures/api/schemas/public_api/v4/issue_links.json
  spec/fixtures/api/schemas/public_api/v4/related_issues.json
  spec/requests/api/issue_links_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/blob/line_highlighter.js
  app/assets/javascripts/invite_members/components/group_select.vue
  app/assets/javascripts/invite_members/components/invite_groups_modal.vue
  app/assets/javascripts/vue_shared/components/line_numbers.vue
  app/assets/javascripts/vue_shared/components/source_viewer/components/chunk.vue
  app/assets/javascripts/vue_shared/components/source_viewer/components/chunk_line.vue
  app/assets/javascripts/vue_shared/components/source_viewer/constants.js
  app/assets/javascripts/vue_shared/components/source_viewer/source_viewer.vue
  app/assets/javascripts/vue_shared/components/source_viewer/utils.js
  db/migrate/20220120160625_remove_temp_index_on_id_from_vulnerability_occurrences.rb
  db/schema_migrations/20220120160625
  db/structure.sql
  doc/administration/gitaly/index.md
  doc/administration/reference_architectures/10k_users.md
  doc/administration/reference_architectures/25k_users.md
  doc/administration/reference_architectures/3k_users.md
  doc/administration/reference_architectures/50k_users.md
  doc/administration/reference_architectures/5k_users.md
  doc/development/database/database_lab.md
  doc/development/event_store.md
  doc/user/discussions/index.md
  doc/user/profile/notifications.md
  lib/backup/manager.rb
  spec/features/groups/members/manage_groups_spec.rb
  spec/features/projects/blobs/blob_line_permalink_updater_spec.rb
  spec/features/projects/members/invite_group_spec.rb
  spec/frontend/invite_members/components/group_select_spec.js
  spec/frontend/vue_shared/components/line_numbers_spec.js
  spec/frontend/vue_shared/components/source_viewer/components/chunk_line_spec.js
  spec/frontend/vue_shared/components/source_viewer/components/chunk_spec.js
  spec/frontend/vue_shared/components/source_viewer/source_viewer_spec.js
  spec/frontend/vue_shared/components/source_viewer/utils_spec.js
  spec/lib/backup/manager_spec.rb
  spec/support/helpers/features/invite_members_modal_helper.rb
  spec/support/shared_examples/lib/gitlab/event_store_shared_examples.rb
  spec/tasks/gitlab/backup_rake_spec.rb
  spec/workers/merge_requests/update_head_pipeline_worker_spec.rb
  spec/workers/namespaces/update_root_statistics_worker_spec.rb
Due: db:backup_and_restore

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/vue_shared/components/markdown/header.vue
  app/assets/stylesheets/framework/markdown_area.scss
  app/views/groups/_import_group_from_another_instance_panel.html.haml
  config/routes.rb
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/administration/compliance.md
  doc/administration/geo/replication/version_specific_updates.md
  doc/administration/index.md
  doc/administration/packages/container_registry.md
  doc/administration/raketasks/maintenance.md
  doc/administration/reference_architectures/10k_users.md
  doc/administration/reference_architectures/25k_users.md
  doc/administration/reference_architectures/2k_users.md
  doc/administration/reference_architectures/3k_users.md
  doc/administration/reference_architectures/50k_users.md
  doc/administration/reference_architectures/5k_users.md
  doc/api/graphql/reference/index.md
  doc/api/index.md
  doc/development/service_ping/index.md
  doc/development/spam_protection_and_captcha/graphql_api.md
  doc/development/spam_protection_and_captcha/index.md
  doc/development/spam_protection_and_captcha/rest_api.md
  doc/development/spam_protection_and_captcha/web_ui.md
  doc/subscriptions/bronze_starter.md
  doc/tools/email.md
  doc/user/admin_area/email_from_gitlab.md
  doc/user/admin_area/img/email1.png
  doc/user/admin_area/img/email2.png
  doc/user/packages/dependency_proxy/index.md
  doc/user/profile/notifications.md
  doc/user/project/deploy_tokens/index.md
  doc/user/project/settings/import_export.md
  lib/gitlab/ci/status/build/manual.rb
  locale/gitlab.pot
  spec/frontend/vue_shared/components/markdown/header_spec.js
  spec/lib/gitlab/ci/status/build/manual_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/models/concerns/sensitive_serializable_hash.rb
  app/views/admin/application_settings/service_usage_data.html.haml
  config/feature_flags/development/prevent_sensitive_fields_from_serializable_hash.yml
  config/feature_flags/development/show_report_validation_warnings.yml
  config/webpack.config.js
  db/post_migrate/20220315211043_add_index_to_vulnerability_reads.rb
  db/schema_migrations/20220315211043
  db/structure.sql
  doc/api/merge_request_approvals.md
  doc/ci/variables/predefined_variables.md
  doc/development/chatops_on_gitlabcom.md
  doc/user/clusters/agent/gitops.md
  doc/user/project/issues/managing_issues.md
  lib/gitlab/ci/parsers/security/common.rb
  package.json
  spec/lib/gitlab/ci/parsers/security/common_spec.rb
  spec/models/concerns/sensitive_serializable_hash_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  app/finders/ci/jobs_finder.rb
  app/models/project_setting.rb
  config/feature_flags/development/convert_diff_to_utf8_with_replacement_symbol.yml
  data/deprecations/14-8-ci-build-variables.yml
  db/post_migrate/20220321025720_alter_constraint_remote_import_url.rb
  db/schema_migrations/20220321025720
  db/structure.sql
  doc/ci/variables/where_variables_can_be_used.md
  doc/development/contributing/merge_request_workflow.md
  doc/development/merge_request_concepts/index.md
  doc/update/deprecations.md
  doc/user/group/settings/group_access_tokens.md
  doc/user/project/settings/project_access_tokens.md
  lib/gitlab/encoding_helper.rb
  lib/gitlab/git/diff.rb
  qa/qa/page/project/settings/services/jenkins.rb
  qa/qa/specs/features/browser_ui/3_create/jenkins/jenkins_build_status_spec.rb
  qa/qa/support/page_error_checker.rb
  qa/qa/vendor/jenkins/page/configure_job.rb
  scripts/review_apps/base-config.yaml
  spec/finders/ci/jobs_finder_spec.rb
  spec/graphql/resolvers/project_jobs_resolver_spec.rb
  spec/lib/gitlab/git/diff_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/lib/utils/confirm_via_gl_modal/confirm_modal.vue
  data/deprecations/14-8-ci-build-variables.yml
  doc/api/graphql/reference/index.md
  doc/update/deprecations.md
  doc/user/application_security/dast/checks/598.2.md
  doc/user/application_security/dast/checks/index.md
  qa/qa/page/component/confirm_modal.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  doc/administration/pages/index.md
  doc/development/database/multiple_databases.md
  doc/user/group/saml_sso/scim_setup.md
  package.json
  spec/factories/ci/job_artifacts.rb
  spec/models/ci/deleted_object_spec.rb
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/assets/javascripts/projects/default_project_templates.js
  app/services/ci/register_job_service.rb
  app/services/web_hook_service.rb
  app/views/shared/hook_logs/_content.html.haml
  app/views/shared/runners/_runner_type_alert.html.haml
  doc/api/remote_mirrors.md
  doc/user/project/integrations/overview.md
  lib/api/remote_mirrors.rb
  lib/gitlab/project_template.rb
  locale/gitlab.pot
  package.json
  qa/qa/specs/features/browser_ui/3_create/merge_request/create_merge_request_via_template_spec.rb
  qa/qa/specs/features/browser_ui/3_create/merge_request/revert/revert_commit_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/file/create_file_via_web_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/file/edit_file_via_web_spec.rb
  qa/qa/specs/features/browser_ui/3_create/snippet/create_project_snippet_with_multiple_files_spec.rb
  spec/lib/gitlab/project_template_spec.rb
  spec/requests/api/remote_mirrors_spec.rb
  spec/services/ci/register_job_service_spec.rb
  spec/services/web_hook_service_spec.rb
  vendor/project_templates/middleman.tar.gz
  vendor/project_templates/sse_middleman.tar.gz
  yarn.lock
Due: verify_lockfile

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/incidents/components/incidents_list.vue
  app/assets/javascripts/incidents/constants.js
  app/serializers/issue_entity.rb
  app/serializers/merge_request_noteable_entity.rb
  doc/user/application_security/api_fuzzing/index.md
  doc/user/application_security/dast_api/index.md
  doc/user/project/integrations/harbor.md
  qa/qa/fixtures/script_extensions/test.html
  qa/qa/runtime/browser.rb
  qa/qa/runtime/env.rb
  qa/qa/runtime/script_extensions/interceptor.js
  qa/qa/support/page_error_checker.rb
  qa/qa/support/wait_for_requests.rb
  qa/spec/runtime/script_extensions/interceptor_spec.rb
  qa/spec/support/page_error_checker_spec.rb
  spec/frontend/incidents/components/incidents_list_spec.js
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/rules.gitlab-ci.yml
  app/assets/javascripts/issues/show/components/description.vue
  app/assets/javascripts/work_items/pages/create_work_item.vue
  app/assets/stylesheets/pages/issues.scss
  app/controllers/application_controller.rb
  app/controllers/concerns/sessionless_authentication.rb
  app/graphql/mutations/environments/canary_ingress/update.rb
  app/models/environment_status.rb
  db/post_migrate/20220315181125_remove_issues_work_item_type_id_index.rb
  db/post_migrate/20220315181130_add_temporary_issue_type_index_for_work_item_types.rb
  db/post_migrate/20220315181136_backfill_work_item_type_id_on_issues.rb
  db/schema_migrations/20220315181125
  db/schema_migrations/20220315181130
  db/schema_migrations/20220315181136
  db/structure.sql
  doc/api/graphql/reference/index.md
  doc/user/admin_area/license_file.md
  lib/gitlab/background_migration/backfill_work_item_type_id_for_issues.rb
  locale/gitlab.pot
  scripts/merge-simplecov
  spec/controllers/graphql_controller_spec.rb
  spec/db/schema_spec.rb
  spec/frontend/issues/show/components/description_spec.js
  spec/graphql/mutations/environments/canary_ingress/update_spec.rb
  spec/lib/gitlab/background_migration/backfill_work_item_type_id_for_issues_spec.rb
  spec/migrations/backfill_work_item_type_id_on_issues_spec.rb
  spec/models/environment_status_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  app/assets/javascripts/boards/boards_util.js
  app/assets/javascripts/pages/import/bulk_imports/history/components/bulk_imports_history_app.vue
  app/assets/javascripts/pages/import/history/components/import_error_details.vue
  app/controllers/groups/runners_controller.rb
  app/controllers/projects/artifacts_controller.rb
  app/controllers/projects/merge_requests_controller.rb
  app/controllers/projects/pipelines/tests_controller.rb
  app/controllers/projects/pipelines_controller.rb
  app/controllers/projects_controller.rb
  app/mailers/emails/merge_requests.rb
  app/services/notification_service.rb
  app/views/notify/push_to_merge_request_email.html.haml
  config/feature_flags/development/geo_token_user_authentication.yml
  doc/ci/yaml/index.md
  lib/api/ci/job_artifacts.rb
  locale/gitlab.pot
  spec/controllers/groups/runners_controller_spec.rb
  spec/controllers/projects_controller_spec.rb
  spec/frontend/boards/boards_util_spec.js
  spec/mailers/notify_spec.rb
  spec/services/notification_service_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@14-9-stable-ee
  app/controllers/admin/application_settings_controller.rb
  data/deprecations/14-9-background-upload.yml
  data/deprecations/14-9-deprecate-debian-9.yml
  data/deprecations/14-9-global-search-deprecate-user-email-lookup-limit.yml
  doc/administration/geo/replication/version_specific_updates.md
  doc/api/graphql/reference/index.md
  doc/api/settings.md
  doc/update/deprecations.md
  lib/backup/manager.rb
  spec/controllers/admin/application_settings_controller_spec.rb
  spec/factories/ci/job_artifacts.rb
  spec/models/ci/deleted_object_spec.rb
Due: db:backup_and_restore

Add latest changes from gitlab-org/gitlab@master
  GITALY_SERVER_VERSION
  app/models/ci/secure_file.rb
  doc/administration/packages/index.md
  doc/api/secure_files.md
  doc/tutorials/how_git_works.md
  doc/tutorials/img/branches_dropdown_v14_10.png
  doc/tutorials/img/clone_project_v14_9.png
  lib/api/ci/secure_files.rb
  lib/gitlab/usage_data_queries.rb
  lib/tasks/gitlab/usage_data.rake
  locale/gitlab.pot
  spec/fixtures/lib/gitlab/usage/sql_metrics_queries.json
  spec/lib/gitlab/usage_data_queries_spec.rb
  spec/requests/api/ci/secure_files_spec.rb
Due: none

Add latest changes from gitlab-org/gitlab@master
  .gitlab/ci/frontend.gitlab-ci.yml
  Dangerfile
  Gemfile
  Gemfile.lock
  Rakefile
  app/controllers/oauth/authorizations_controller.rb
  app/helpers/webpack_helper.rb
  app/models/suggestion.rb
  app/policies/suggestion_policy.rb
  app/services/suggestions/apply_service.rb
  config/feature_flags/development/omniauth_login_minimal_scopes.yml
  config/initializers/static_files.rb
  danger/Dangerfile-bundle_size
  danger/ci_templates/Dangerfile
  danger/database/Dangerfile
  danger/feature_flag/Dangerfile
  danger/specialization_labels/Dangerfile
  danger/specs/Dangerfile
  danger/z_metadata/Dangerfile
  db/post_migrate/20220315171027_add_tmp_index_to_support_leaky_regex_cleanup.rb
  db/post_migrate/20220315171129_cleanup_draft_data_from_faulty_regex.rb
  db/schema_migrations/20220315171027
  db/schema_migrations/20220315171129
  db/structure.sql
  doc/api/graphql/reference/index.md
  doc/development/documentation/styleguide/word_list.md
  doc/integration/gitlab.md
  doc/user/project/merge_requests/reviews/suggestions.md
  lefthook.yml
  lib/gitlab/background_migration/cleanup_draft_data_from_faulty_regex.rb
  lib/gitlab/suggestions/commit_message.rb
  lib/gitlab/suggestions/suggestion_set.rb
  lib/tasks/gitlab_danger.rake
  spec/lib/gitlab/background_migration/cleanup_draft_data_from_faulty_regex_spec.rb
  spec/lib/gitlab/suggestions/commit_message_spec.rb
  spec/lib/gitlab/suggestions/suggestion_set_spec.rb
  spec/migrations/20220315171129_cleanup_draft_data_from_faulty_regex_spec.rb
  spec/tooling/danger/project_helper_spec.rb
  tooling/danger/project_helper.rb
Due: none
